# Open Justice Broker configuration file 

# This file contains properties that are used by camel contexts in the OJB.

##########################################################
####  Warrant Issued Reporting Service Configuration ####
##########################################################

#CXF Logging
warrantIssuedReporting.cxfLogging=true

warrantIssuedReportingIntermediaryEndpoint=/intermediary/warrantIssuedReportingService

warrantIssuedReportingAdapterEndpoint=https://localhost:8443/OJB/adapter/warrantIssuedReportingService

# Modify this variable to specify routes to call in a derived bundle
# Typically you will perform a directvm call to a route in a derived bundle.
# This is not required and only used for implementer extensions

warrantIssuedReporting.camelEndpointsToCall=direct:callWarrantIssuedReportingAdapter

#################################################
####     Certificate Configuration           ####
#################################################

warrantIssuedReportingService.keystoreCertificateAlias=demo-intermediary-key
warrantIssuedReportingService.keyPassword=demo-intermediary-key
warrantIssuedReportingService.keystoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-keystore.jks
warrantIssuedReportingService.keystorePassword=demo-intermediary-keystore