#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<!DOCTYPE html>
<script type="text/javascript">

 	/* Custom filtering function which will hide or show records based on the values selected in the filtered column input fields */
	$.fn.dataTable.ext.search.push(
	    function( settings, data, dataIndex ) {
	    	var showArchivedOnly = $('#showArchivedOnly').is(":checked");
	    	var hideArchived = $('#hideArchived').is(":checked");
	        var status = data[4] ; // use data for the status column
	    	
	    	if ( showArchivedOnly ){
	    		if ( status ==='Archived'){
	    			return true; 
	    		}
	    		else{
	    			return false; 
    			}
	    	}
	    	
	    	if ( hideArchived ){
	    		if ( status ==='Archived'){
	    			return false; 
	    		}
	    		else{
	    			return true; 
    			}
	    	}
	    	
	    	return true;
	    }
	);
 
	$(function() {
	  
		$( document ).tooltip();
		
		optTable = {
			"pagingType": "full_numbers",
			"pageLength": 50,
			"order": [[ 1, "asc" ]],
			stateSave: true, 
			colReorder: true,
			"language": {
        		"emptyTable": "No criminal identification record available"
   			 },
			"columnDefs": [{
				targets: [ 5 ],
			    searchable: false, 
			    sortable: false
			} ]
        };
		
		var oTable = $("#searchResultsTable").DataTable( optTable);

		$('#filterColumn').on("change", '#showArchivedOnly', function() {
			if ($('#showArchivedOnly').is(":checked")){
				$('#hideArchived').attr('checked', false);
			}
        	oTable.draw();
    	} );

		$('#filterColumn').on("change", '#hideArchived', function() {
			if ($('#hideArchived').is(":checked")){
				$('#showArchivedOnly').attr('checked', false);
			}
        	oTable.draw();
    	} );
    	
    	$('#searchResultsTable').on('click', 'a.archive',function() {
    		$.get("#springUrl('/rapbacks/archive')", {transactionNumber: $(this).attr("id")}, function(data) {
				if (data === 'success'){
					refreshSearchResultsTable();
				}
				else{
					showErrorMessage(data);
				}	
																      
			}).fail(ojbc.displayFailMessage);
    	});
    	
    	function showErrorMessage(data){
			if ( $( "#informationMessages" ).length ) {
			    $( "#informationMessages" ).html(data);
			}
			else {
				$( "#searchResultsTable_wrapper" ).prepend( '<span class="error" id="informationMessages" >'+data+'</span>' );
			}
    	}
    	
    	function refreshSearchResultsTable(){
    		$.post("#springUrl('/rapbacks/criminalIdentificationsResults')", function(data) {
				$('#portalContent').html(data);	
			}).fail(ojbc.displayFailMessage);
							    
			return false;
    	}
    	
    	$('#searchResultsTable').on('click', 'a.initialResults',function() {
            var url = this.href;
            var dialog = $('<div style="display:none"  title="Identification Initial Results" ><div style="display:none" id="personInformationInModal"/><div id="modalIframeSpinner"/><iframe id="modalIframe" src="" style="border:0;overflow:hidden;height:100%;width:99%" scrolling="no"  frameBorder="0" /></div>' ).appendTo('body');
			var dlgWidth = $(document).width() * .8;
			var dlgHeight = $(window).height() * .8;
            dialog.dialog({
                width: dlgWidth,
                height: dlgHeight,
                close: function(event, ui) {
                    $('#modalIframe').attr('src', '');
                    dialog.remove();
                },
                open: function(event,ui){
					$("#modalIframeSpinner").height($("#modalIframe").height() * .5);
					$("#modalIframeSpinner").width($("#modalIframe").width());
					$("#modalIframeSpinner").show();

		     		$("#modalIframe").load( function() {
		     			//alert("Load event fired");
						$("#modalIframeSpinner").hide();				
												
					});
		     		
                 	$('#modalIframe').attr('src', url);		     		

                },
                position: {
                           my: "center",
                           at: "center",
                           of: window
                          },
                modal: true
            });

            return false;
        });
    	
		$('#returnToSearchSubmitButton').click (function(){
	  		$.get("#springUrl('/rapbacks/criminalIdentificationSearchForm')",function(data) {
	  			$('#portalContent').html(data);
		    }).fail(ojbc.displayFailMessage)
	  	}); 
		
		$('#newSearchSubmitButton').click (function(){
			ojbc.clearSearchPurposeFields();
			ojbc.clearSearchResultsFilterFields();
	  		$.get("#springUrl('/rapbacks/criminalIdentificationSearchForm?resetForm=true')",function(data) {
			      $('#portalContent').html(data);
			    }).fail(ojbc.displayFailMessage)
		});

	});
</script>
	
	
<div id="searchResultsContainer" class="contentBox">

    <div id="searchResultsHeader"> 
        <p id="search-results-title">MANAGE CRIMINAL IDENTIFICATION</p>
        <div style="float:right" >
            <a id="returnToSearchSubmitButton" class="grayButton" >
                <img style="position:relative; top:4px; margin-right:6px;"src="#springUrl('/static/images/Search%20Results/icon-back.png')" alt="Search Icon"/>
                RETURN TO SEARCH
            </a>
            <a id="newSearchSubmitButton" class="grayButton" >
                <img style="position:relative; top:4px; margin-right:6px;"src="#springUrl('/static/images/Search%20Form/icon-search.png')" alt="Search Icon"/>
                NEW SEARCH
            </a>
        </div>
        
    </div>
    
    <div style="padding:10px">
		#if($informationMessages && $informationMessages!='')
			<span class="error">
				$informationMessages
			</span><br/>
		#end
		$searchContent								
    </div>
    
</div>




