#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<script type="text/javascript">
  $(function() {
    //to prevent IE from caching search forms, this has the effect that the input values are not remembered
    $.ajaxSetup({ cache: false });
	ojbc.handleEsc();
	ojbc.handlePlaceholders(); 
    	  
    $( ".datePicker" ).datepicker({
       showOn: "both",
       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",
       buttonImageOnly: true,
       shortYearCutoff: "+10",
       dateFormat: 'mm/dd/yy',
       onClose: function(dateText, inst) {
  		$(this).datepicker('option', 'dateFormat', 'mm/dd/yy');      
       }
    });
    
	$('#advanceSearchSubmitButton').click (function(){
    	ojbc.clearPlaceholders();
        var formData = $('#advancedSearchForm').serialize();
    
       	xhr = $.post("#springUrl('/rapbacks/criminalIdentificationAdvancedSearch')",formData,function(data) {
	        $('#portalContent').html(data);
        }).fail(ojbc.displayFailMessage);
	});

   $("a[href='\\#advancedSearchTab']").click (function(){
       $("#search-tab-title").html("ADVANCED SEARCH: RAP BACK");
   });
   
    $('#advanceSearchClearButton').click (function(event){
	  ojbc.clearSearchPurposeFields();
	  ojbc.clearSearchResultsFilterFields();
	  $.get("#springUrl('/rapbacks/criminalIdentificationSearchForm?resetForm=true')", function(data) {
	    $('#portalContent').html(data);
	    
	  }).fail(ojbc.displayFailMessage)
  	});

	//This allows the input fields on the search form to submit form with enter key
	$('#advancedSearchTab input').keyup(function(e) {
	    if (e.keyCode == 13) {
	        $('#advanceSearchSubmitButton').click();
	    }
	});

	//This allows the select fields on the search form to submit form with enter key			
	$('#advancedSearchTab select').keyup(function(e) {
	    if (e.keyCode == 13) {
	        $('#advanceSearchSubmitButton').click();
	    }
	});			
	
  });
</script>
<div class="card" id="searchTabs">
	<div class="card-header">
		<div class="pl-0" id="search-results-title">
	    	ADVANCED SEARCH: CRIMINAL IDENTIFICATION
	    </div>
	</div>
	<div class="card-body" id="advancedSearchTab">
  	    <form id='advancedSearchForm' >
            #if($errors.hasGlobalErrors())
                #foreach( $globalError in $errors.globalErrors )
                    <div class="error"> $globalError.defaultMessage </div>
                #end
            #end
			<input type="hidden" name="${status.expression}" value="ADVANCED" />
	  		<div class='row'>
  				<div class='col'>
				    <p class="searchSubHeader"> NAME</p>
			        <div>#springFormInput("criminalIdentificationSearchRequest.firstName" "placeholder='First Name' class='form-control form-control-sm'") </div>
			        <div>#springFormInput("criminalIdentificationSearchRequest.lastName" "placeholder='Last Name' class='form-control form-control-sm'")</div>
			        <div>#springFormInput("criminalIdentificationSearchRequest.otn" "placeholder='OTN' class='form-control form-control-sm'")</div>
				        
		        	<p class="searchSubHeader mt-4">Reported Date Range</p>
		        	<div class="form-group">
		        		#springFormInput("criminalIdentificationSearchRequest.reportedDateStartDate" "class='datePicker mdate' placeholder='FROM'" )
		        		#springFormInput("criminalIdentificationSearchRequest.reportedDateEndDate"  "class='datePicker mdate' placeholder='TO'")
		        		#springBind("criminalIdentificationSearchRequest.reportedDateStartDate")
	        		</div>
		        </div>
				<div class='col'>
					<p class="searchSubHeader"> Identification Result Status</p>
					
					<div class="form-check-inline">
				  		<label class="form-check-label form-control-sm">
				    		#springFormCheckboxes("criminalIdentificationSearchRequest.identificationTransactionStatus" $criminalIdentificationStatusCodeMap "" "class='form-check-input'" )
				  		</label>
					</div>
					<p class="searchSubHeader mt-4"> Criminal Identification Reason Code</p>
					<div class="form-check-inline">
				  		<label class="form-check-label form-control-sm">
				    		#springFormCheckboxes("criminalIdentificationSearchRequest.criminalIdentificationReasonCodes" $criminalIdentificationReasonCodeMap "" "class='form-check-input'" )
				  		</label>
					</div>
		        </div>
	        </div>
	    </form>
	</div>
	<div class="card-footer text-muted">
    	<button id="advanceSearchSubmitButton" class="btn btn-sm btn-primary" >SEARCH</button>
    	<button id="advanceSearchClearButton" class="btn btn-sm btn-secondary ml-1">CLEAR</button>
	</div>
</div>