#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2015 Open Justice Broker Consortium
 *#
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/jquery-ui/css/search-theme/jquery-ui-base.css')">
        <link rel="stylesheet" type="text/css"  src="#springUrl('/static/js/jquery-ui/css/search-theme/jquery-ui-1.10.0.custom.min.css')" />
        <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/style.css')">
        <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/modal-frame.css')">
        
        <script src="#springUrl('/static/js/jquery-ui/js/jquery-1.9.0.js')"></script>
        <script src="#springUrl('/static/js/jquery-ui/js/jquery.validate.min.js')"></script>
        <script src="#springUrl('/static/js/jquery-ui/js/jquery-ui-1.10.0.custom.min.js')"></script>
    </head>
    <body id="searchDetailsFrame">
        <script type="text/javascript">
			$(function () {
				$('#initialResultsDetailTabs').tabs({
					create: function( event, ui ) {
						var modalIframe = $("#modalIframe", parent.document);
						modalIframe.height(modalIframe.contents().find("body").height() + 20);
					},
					activate: function( event, ui ) {
						var modalIframe = $("#modalIframe", parent.document);
						modalIframe.height(modalIframe.contents().find("body").height() + 20);
					}
				});
			});
		</script>

		<div id="initialResultsDetailTabs">
			<ul>
				<li>
					<a href="#stateInitialResultTab">State Initial Results</a>
				</li>
				<li>
					<a href="#fbiInitialResultTab">FBI Initial Results</a>
				</li>
			</ul>

			<div id="stateInitialResultTab">
				<p styel="font-size:small">$identificationResultsQueryResponse.stateSearchResultFile</p>
				#foreach($item in $identificationResultsQueryResponse.stateCriminalHistoryRecordDocuments)
					<p><pre>$item</pre></p>
				#end
			</div>
			<div id="fbiInitialResultTab">
				<p>$identificationResultsQueryResponse.fbiSearchResultFile</p>
				#foreach($item in $identificationResultsQueryResponse.fbiIdentityHistorySummaryDocuments)
					<p><pre>$item</pre></p>
				#end
			</div>
		</div>
        
    </body>
</html>