#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<!DOCTYPE html>
<script type="text/javascript">
	/* Custom filtering function which will hide or show records based on the values selected in the filtered column input fields */
	$.fn.dataTable.ext.search.push(
	    function( settings, data, dataIndex ) {
	    	var showArchivedOnly = $('#showArchivedOnly').is(":checked");
	        var status = data[5] ; // use data for the status column
	    	
	    	var result = true; 
	    	if ( showArchivedOnly ){
	    		if ( status ==='Archived'){
	    			result = true; 
	    		}
	    		else{
	    			result = false; 
    			}
	    	}
	    	
	    	var hasRapBackNotificationsChecked = $('#hasRapBackNotifications').is(":checked");
	 		if (hasRapBackNotificationsChecked && jQuery.isEmptyObject(data[6]) ) {
	 			result = false;
	 		}
	 		
	        var filter = $('#rapbacksFilter').val();
	        if ( ( !filter || filter ==='') ||
	             ( filter != status )){
	            result = result && true;
	        }
	        else {
	        	result = false;
	        }
	        
	        return result;
	    }
	);
	
	$(function() {
		$('#searchBarButtonDiv').hide();
		$.fn.dataTable.moment( 'MM/DD/YYYY' );
		$('[data-toggle="tooltip"]').tooltip();
		$('.modal-dialog').draggable({
        	handle: ".modal-header"
      	});
		
		if ($("#searchResultsTable")){
			numCols = $("#searchResultsTable").find('tr')[0].cells.length;
			
			optTable = {
				"pagingType": "full_numbers",
				"pageLength": 50,
				stateSave: true,
				colReorder: true, 
				"order": [[ 1, "asc" ]],
				"language": {
	        		"emptyTable": "No rapback record available"
	   			 },
				"columnDefs": [
				{
					targets: [ numCols -1 ],
				    searchable: false, 
				    sortable: false
				}
				]
	        };
		
			var oTable = $("#searchResultsTable").DataTable(optTable);
			
			$('#portalContent').on("change", '#rapbacksFilter', function() {
    	    	oTable.draw();
    		} );
	  		
			$('#portalContent').on("click", '#clearFilterButton', function() {
				$('#rapbacksFilter').val('');
	        	oTable.draw();
	    	} );
    	
			$('#portalContent').on("change", '#hasRapBackNotifications', function() {
	        	oTable.draw();
	    	} );
    	
			$('#portalContent').on("change", '#showArchivedOnly', function() {
				if ($('#showArchivedOnly').is(":checked")){
					$('#rapbacksFilter').val('');
				}
	        	oTable.draw();
	    	} );
	    	
		}
		
    	$('#searchResultsTable').on('click', 'a.subscribe',function() {
    		clearErrorMessage();
    		$.post("#springUrl('/rapbacks/subscribe')", {transactionNumber: $(this).attr("id")}, function(data) {
    		
				if (data === 'success'){
					refreshSearchResultsTable();
				}
				else{
					showErrorMessage(data);
				}	
																      
			}).fail(ojbc.displayFailMessage);
    	});
    	
    	$('#searchResultsTable').on('click', 'a.archive',function() {
    		clearErrorMessage();
    		$.get("#springUrl('/rapbacks/archive')", {transactionNumber: $(this).attr("id")}, function(data) {
				if (data === 'success'){
					refreshSearchResultsTable();
				}
				else{
					showErrorMessage(data);
				}	
																      
			}).fail(ojbc.displayFailMessage);
    	});
    	
    	$('#searchResultsTable').on('click', 'a.unarchive',function() {
    		clearErrorMessage();
    		$.get("#springUrl('/rapbacks/unarchive')", {transactionNumber: $(this).attr("id")}, function(data) {
				if (data === 'success'){
					refreshSearchResultsTable();
				}
				else{
					showErrorMessage(data);
				}	
																      
			}).fail(ojbc.displayFailMessage);
    	});
    	
    	function showErrorMessage(data){
			if ( $( "#informationMessages" ).length ) {
			    $( "#informationMessages" ).html(data);
			}
			else {
				$( "#searchResultsTable_wrapper" ).prepend( '<span class="error" id="informationMessages" >'+data+'</span>' );
			}
    	}
    	
    	function clearErrorMessage(){
			if ( $( "#informationMessages" ).length ) {
			    $( "#informationMessages" ).html('');
			}
    	}
    	
    	function refreshSearchResultsTable(message){
    		$.post("#springUrl('/rapbacks/rapbackResults')", function(data) {
				$('#portalContent').html(data);
				
				if (message){	
					showErrorMessage(message);
				}
			}).fail(ojbc.displayFailMessage);
							    
			return false;
    	}
    	
    	$('#searchResultsTable').on('click', 'a.unsubscribe',function() {
    		clearErrorMessage();
			unsubscribe($(this).attr("id")) ;
    	});
    	
    	$('#searchResultsTable').on('click', 'a.validate',function() {
    		clearErrorMessage();
			var row = $(this).parent().parent();
			var id = $(this).attr("id");
			var reasonCode = $(this).attr("data-reason-code"); 	
    		bootpopup({
			    title: "Are you authorized?",
			    content: [
			        '<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>You are required to review this subscription and determine whether you are still authorized to receive criminal history record information on this individual.</p>',
			        { p: {text: 'If the individual is still employed by, licensed by, or volunteering with your agency you may select "Validate". '}},
			        { p: {text: "If the person is no longer employed by, licensed by or volunteering with your agency, you must cancel the subscription."}}
			    ],
			    validate: function(data,e) { 			        	
		    		$.get("#springUrl('/rapbacks/validate')", {'subscriptionId': id, 'reasonCode': reasonCode}, function(data) {
						if (data === 'success'){
							refreshSearchResultsTable("Validation Successful");	
						}
						else{
							showErrorMessage(data);
						}	
					}).fail(ojbc.displayFailMessage);
 				},
			    cancel: function(data) {}
			});
    	});
    	    	
    	$('#searchResultsTable').on('click', 'a.initialResults',function() {
          	$('#detailModal .modal-title').html('IDENTIFICATION INITIAL RESULTS');
			ojbc.showDetailModal(this.href);
			return false;
			
        });
        
    	$('#searchResultsTable').on('click', 'a.getStateRapsheet',function() {
          	$('#detailModal .modal-title').html('IDENTIFICATION RAP SHEETS');
			ojbc.showDetailModal(this.href);
			return false;
        });
            	
    	$('#searchResultsTable').on('click', 'a.subsequentResultConfirmation',function() {
    		clearErrorMessage();
    		var recordStatus = $(this).parent().prev().text();
    		var subsequentResultButton = $(this).next();
    		var subscriptionId = $(this).attr("id");
    		var row = $(this).parent().parent();
    		
    		bootpopup({
			    title: "Are you authorized?",
			    content: [
			        '<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>I certify that to the best of my knowledge this individual is still employed, licensed, or volunteering with my agency/organization and that I am still authorized to review criminal history record information relating to this individual.</p>'
			    ],
			    yes: function(data,e) { 			        	
			    	$.post("#springUrl('/rapbacks/userAcknowledgement')/true/" + subscriptionId);
			        subsequentResultButton.click();
 				},
			    no: function(data) {
			    	$.post("#springUrl('/rapbacks/userAcknowledgement')/false/" + subscriptionId);
			    	if (recordStatus !== "Archived" && recordStatus !=="Available for Subscription"){
	            		bootpopup({
						    title: "Unsubscribe?",
						    content: [
						        '<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You have indicated that you are no longer authorized to view criminal history for this individual; your subscription will now be cancelled.</p>'
						    ],
						    cancel: function(data) {},
						    ok: function(data,e) { unsubscribe(subscriptionId); }
						});
			    	}
			    }
			});
    		
    	});
    	
    	$('#searchResultsTable').on('click', 'a.viewRapsheetConfirmation',function() {
    		clearErrorMessage();
    		
    		var recordStatus = $(this).parent().prev().text();
    		var viewRapsheetButton = $(this).next();
    		var subscriptionId = $(this).attr("id");
    		var row = $(this).parent().parent();
    		
    		bootpopup({
			    title: "Are you authorized?",
			    content: [
			        '<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>I certify that to the best of my knowledge this individual is still employed, licensed, or volunteering with my agency/organization and that I am still authorized to review criminal history record information relating to this individual.</p>'
			    ],
			    yes: function(data,e) { 			        	
			    	$.post("#springUrl('/rapbacks/userAcknowledgement')/true/" + subscriptionId);
			        viewRapsheetButton.click();
 				},
			    no: function(data) {
			    	$.post("#springUrl('/rapbacks/userAcknowledgement')/false/" + subscriptionId);
			    	if (recordStatus !== "Archived" && recordStatus !=="Available for Subscription"){
	            		bootpopup({
						    title: "Unsubscribe?",
						    content: [
						        '<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>You are required to review this subscription and determine whether you are still authorized to receive criminal history record information on this individual.</p>',
						        { p: {text: "Insert image info here:"}},
						    ],
						    cancel: function(data) {},
						    ok: function(data,e) { unsubscribe(subscriptionId); }
						});
			    	}
			    }
			});
    	});
    	
    	$('#searchResultsTable').on('click', 'a.subsequentResults',function() {
          	$('#detailModal .modal-title').html('IDENTIFICATION SUBSEQUENT RESULTS');
			ojbc.showDetailModal(this.href);
        });
    	
		function unsubscribe(id){
    		$.get("#springUrl('/rapbacks/unsubscribe')", {subscriptionId: id}, function(data) {
				if (data === 'success'){
					refreshSearchResultsTable();
				}
				else{
					showErrorMessage(data);
				}	
																      
			}).fail(ojbc.displayFailMessage);
		}
		
		$('#returnToSearchSubmitButton').click (function(){
	  		$.get("#springUrl('/rapbacks/searchForm')",function(data) {
	  			$('#portalContent').html(data);
		    }).fail(ojbc.displayFailMessage)
	  	}); 
		
		$('#newSearchSubmitButton').click (function(){
			ojbc.clearSearchPurposeFields();
			ojbc.clearSearchResultsFilterFields();
	  		$.get("#springUrl('/rapbacks/searchForm?resetForm=true')",function(data) {
			      $('#portalContent').html(data);
			    }).fail(ojbc.displayFailMessage)
		});
		
	}); 
</script>
	
	
<div id="searchResultsContainer" class="contentBox">
	<div class="card"> 
		<div class="card-header container-fluid">
		  <div class="row ml-1 h-100">
		    <div class="my-auto font-weight-bold" id="search-results-title">
		      MANAGE RAP BACK
		    </div>
		    <div class="ml-auto mr-3">
		      <button id="returnToSearchSubmitButton" class="btn btn-sm btn-primary">RETURN TO SEARCH</button>
		      <button id="newSearchSubmitButton" class="btn btn-sm btn-secondary ml-auto" >NEW SEARCH</button>
		     </div>
		  </div>
		</div>
		<div class="card-body">
			<div class="breadcrumb" id="filterColumn">
				<div id="checkbox-subsequentReuslts" class="col-3">
					<input type="checkbox" name="hasRapBackNotifications" id="hasRapBackNotifications" value="hasRapBackNotifications"><span class="fieldText pl-2" >Only Show Rap Back Notifications</span>
				</div>
				<div id="checkbox-show-archived-only" class="col-3">
					<input type="checkbox" name="showArchivedOnly" id="showArchivedOnly" value="showArchivedOnly"><span class="fieldText pl-2" >Show Archived Only</span>
				</div>
			</div>
		
			#if($informationMessages && $informationMessages!='')
				<span class="error" id="informationMessages" >
					$informationMessages
				</span><br/>
			#end
			$rapbackSearchContent								
		</div>
	</div>
</div>

<div class="modal fade ojbc-modal" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	  	<h5 class="modal-title"></h5>
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">
	  	<div id="modalIframeSpinner"/>
	    <iframe id="modalIframe" src="" style="border:0;overflow:hidden;height:auto;width:99%" scrolling="no"  frameBorder="0" />
      </div>
	</div>
  </div>
</div>				    



