#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="#springUrl('/static/js/jquery-ui/css/search-theme/jquery-ui-base.css')">
        <link rel="stylesheet" type="text/css"  src="#springUrl('/static/js/jquery-ui/css/search-theme/jquery-ui-1.10.0.custom.min.css')" />
        <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/style.css')">
        <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/print-tabs.css')" media="print">
        <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/modal-frame.css')">
        
        <script src="#springUrl('/static/js/jquery-ui/js/jquery-1.9.0.js')"></script>
        <script src="#springUrl('/static/js/jquery-ui/js/jquery.validate.min.js')"></script>
        <script src="#springUrl('/static/js/jquery-ui/js/jquery-ui-1.10.0.custom.min.js')"></script>
    </head>
    <body id="searchDetailsFrame">
        <script type="text/javascript">
			$(function () {
				$('#tabs').tabs({
					create: function( event, ui ) {
						var modalIframe = $("#modalIframe", parent.document);
						modalIframe.height(modalIframe.contents().find("body").height() + 20);
					},
					activate: function( event, ui ) {
						var modalIframe = $("#modalIframe", parent.document);
						modalIframe.height(modalIframe.contents().find("body").height() + 20);
					},
				    beforeLoad: function( event, ui ) {
				    	var tempDiv = '<div style="height: 50"> <div id="modalIframeSpinner" style="height:50%;width:100%; top:50; left:0;"/></div>';
				    	ui.panel.html(tempDiv);
				        ui.jqXHR.fail(function(e) {
				          ui.panel.html(
				            "Couldn't load this tab. Please report the error to the IT department or try again later. ");
				        });
				    }
				});
				
				$("#printButton").button();
				
				$("#printButton").on("click", function(){

					var activeTabIdx = $('#tabs').tabs('option','active');

					// ID OF ACTIVE TAB
					// make sure to change #tabs to your selector for tabs
					var selector = '#tabs > ul > li';
					var activeTabID = $(selector).eq(activeTabIdx).attr('id');

					$.post("#springUrl('/rapbacks/auditRapsheetPrint')", { messageId: $(this).attr('messageId'), activeTab: activeTabID} );					

					window.print();
				}); 
			});
		</script>

		<div id="tabs">

			<ul>
				<li id="State Rap Sheet">
					<a href="#stateRapsheetTab">State Rap Sheet</a>
				</li>
				
				#if( "$!rapsheetQueryRequest.hasFbiRapsheet" == 'true' ) 
					#set( $url = "#springUrl('/rapbacks/fbiRapsheet/')" + $!rapsheetQueryRequest.transactionNumber )
					<li id="FBI Rap Sheet">
						<a href="$url">FBI Rap Sheet</a>
					</li>
				#end
				<button id="printButton" style="float:right;" messageId="$!detailsRequest.federatedQueryId">Print</button>
			</ul>

			<div id="stateRapsheetTab">
				<!--A better way of checking String is not null or empty--> 
				<!-- http://wiki.apache.org/velocity/CheckingForNull -->
				#if( "$!stateRapsheet" != "" ) 
   					<div><pre>$stateRapsheet</pre></div> 
				#end
			</div>
		</div>
        
    </body>
</html>