#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<!DOCTYPE html>
<script type="text/javascript">
 
	/* Custom filtering function which will hide or show records based on the values selected in the filtered column input fields */
	$.fn.dataTable.ext.search.push(
	    function( settings, data, dataIndex ) {
	    	var showArchivedOnly = $('#showArchivedOnly').is(":checked");
	        var status = data[5] ; // use data for the status column
	    	
	    	var result = true; 
	    	if ( showArchivedOnly ){
	    		if ( status ==='Archived'){
	    			result = true; 
	    		}
	    		else{
	    			result = false; 
    			}
	    	}
	    	
	    	var hasSubsequentResultsChecked = $('#hasSubsequentResults').is(":checked");
	 		var className = settings.aoData[dataIndex].nTr.className;
	 		if (hasSubsequentResultsChecked && className.indexOf("subsequentResults") === -1) {
	 			result = false;
	 		}
	 		
	        var filter = $('#rapbacksFilter').val();
	        if ( ( !filter || filter ==='') ||
	             ( filter != status )){
	            result = result && true;
	        }
	        else {
	        	result = false;
	        }
	        
	        return result;
	    }
	);
	
	$(function() {
		$( document ).tooltip();
		
		numCols = $("#searchResultsTable").find('tr')[0].cells.length;
		optTable = {
			"pagingType": "full_numbers",
			"pageLength": 50,
			stateSave: true, 
			"order": [[ 1, "asc" ]],
			"language": {
        		"emptyTable": "No rapback record available"
   			 },
			"columnDefs": [{
				targets: [ numCols -1 ],
			    searchable: false, 
			    sortable: false
			} ]
        };
		
		var oTable = $("#searchResultsTable").DataTable( optTable);
		
		$('#filterColumn').on("change", '#rapbacksFilter', function() {
        	oTable.draw();
    	} );
	  		
		$('#filterColumn').on("click", '#clearFilterButton', function() {
			$('#rapbacksFilter').val('');
        	oTable.draw();
    	} );
    	
		$('#filterColumn').on("change", '#hasSubsequentResults', function() {
        	oTable.draw();
    	} );
    	
		$('#filterColumn').on("change", '#showArchivedOnly', function() {
			if ($('#showArchivedOnly').is(":checked")){
				$('#rapbacksFilter').val('');
			}
        	oTable.draw();
    	} );
    	
    	$('#searchResultsTable').on('click', 'a.subscribe',function() {
    		$.get("#springUrl('/rapbacks/subscribe')", {transactionNumber: $(this).attr("id")}, function(data) {
    		
				if (data === 'success'){
					refreshSearchResultsTable();
				}
				else{
					showErrorMessage(data);
				}	
																      
			}).fail(ojbc.displayFailMessage);
    	});
    	
    	$('#searchResultsTable').on('click', 'a.archive',function() {
    		$.get("#springUrl('/rapbacks/archive')", {transactionNumber: $(this).attr("id")}, function(data) {
				if (data === 'success'){
					refreshSearchResultsTable();
				}
				else{
					showErrorMessage(data);
				}	
																      
			}).fail(ojbc.displayFailMessage);
    	});
    	
    	function showErrorMessage(data){
			if ( $( "#informationMessages" ).length ) {
			    $( "#informationMessages" ).html(data);
			}
			else {
				$( "#searchResultsTable_wrapper" ).prepend( '<span class="error" id="informationMessages" >'+data+'</span>' );
			}
    	}
    	
    	function refreshSearchResultsTable(){
    		$.post("#springUrl('/rapbacks/rapbackResults')", function(data) {
				$('#portalContent').html(data);	
			}).fail(ojbc.displayFailMessage);
							    
			return false;
    	}
    	
    	$('#searchResultsTable').on('click', 'a.unsubscribe',function() {
			unsubscribe($(this).attr("id")) ;
    	});
    	
    	$('#searchResultsTable').on('click', 'a.validate',function() {
    		$.get("#springUrl('/rapbacks/validate')", {subscriptionId: $(this).attr("id")}, function(data) {
    		
				if (data === 'success'){
					refreshSearchResultsTable();				
				}
				else{
					showErrorMessage(data);
				}	
																      
			}).fail(ojbc.displayFailMessage);
    	});
    	
    	$('#searchResultsTable').on('click', 'a.initialResults',function() {
            var url = this.href;
            var dialog = $('<div style="display:none"  title="Identification Initial Results" ><div style="display:none" id="personInformationInModal"/><div id="modalIframeSpinner"/><iframe id="modalIframe" src="" style="border:0;overflow:hidden;height:100%;width:99%" scrolling="no"  frameBorder="0" /></div>' ).appendTo('body');
			var dlgWidth = $(document).width() * .8;
			var dlgHeight = $(window).height() * .8;
            dialog.dialog({
                width: dlgWidth,
                height: dlgHeight,
                close: function(event, ui) {
                    $('#modalIframe').attr('src', '');
                    dialog.remove();
                },
                open: function(event,ui){
					$("#modalIframeSpinner").height($("#modalIframe").height() * .5);
					$("#modalIframeSpinner").width($("#modalIframe").width());
					$("#modalIframeSpinner").show();

		     		$("#modalIframe").load( function() {
		     			//alert("Load event fired");
						$("#modalIframeSpinner").hide();				
												
					});
		     		
                 	$('#modalIframe').attr('src', url);		     		

                },
                position: {
                           my: "center",
                           at: "center",
                           of: window
                          },
                modal: true
            });

            return false;
        });
    	
    	$('#searchResultsTable').on('click', 'a.subsequentResultConfirmation',function() {
    		var recordStatus = $(this).parent().prev().text();
    		var subsequentResultButton = $(this).next();
    		var subscriptionId = $(this).attr("id");
    		var row = $(this).parent().parent();
		    $( "#dialog-confirm-authorization" ).dialog({
		    	  position: { my: "center center", at: "center center", of: row },
			      resizable: true,
			      width:400,
			      height:150,
			      modal: true,
			      buttons: {
			        "Yes": function() {
			        	subsequentResultButton.click();
				        $( this ).dialog( "close" );
			        },
			        "No": function() {
		            	if (recordStatus === "Archived" || recordStatus ==="Available for Subscription"){
		            		 $( this ).dialog( "close" );
		            	}
		            	else{
						    $( "#dialog-confirm-unsubscribe" ).dialog({
						    	 position: { my: "center center", at: "center center", of: row },
							     resizable: true,
							     width:500,
							     height:150,
							     modal: true,
							     buttons: {
							         "Continue": function() {
							              unsubscribe(subscriptionId);
								          $( this ).dialog( "close" );
							         },
		            				 "Cancel" : function(){
		            					  $( this ).dialog( "close" );
		            				 }
		            			 }
							});		            		
	            			$( this ).dialog( "close" );
		            	}
			        }
			     }
		    });   		
    	});
    	
    	
    	$('#searchResultsTable').on('click', 'a.subsequentResults',function() {
            var url = this.href;
            var dialog = $('<div style="display:none"  title="Identification Subsequent Results" ><div style="display:none" id="personInformationInModal"/><div id="modalIframeSpinner"/><iframe id="modalIframe" src="" style="border:0;overflow:hidden;height:100%;width:99%" scrolling="no"  frameBorder="0" /></div>' ).appendTo('body');
			var dlgWidth = $(document).width() * .8;
			var dlgHeight = $(window).height() * .6;
            dialog.dialog({
                width: dlgWidth,
                height: dlgHeight,
                close: function(event, ui) {
                    $('#modalIframe').attr('src', '');
                    dialog.remove();
                },
                open: function(event,ui){
					$("#modalIframeSpinner").height($("#modalIframe").height() * .5);
					$("#modalIframeSpinner").width($("#modalIframe").width());
					$("#modalIframeSpinner").show();

		     		$("#modalIframe").load( function() {
		     			//alert("Load event fired");
						$("#modalIframeSpinner").hide();				
												
						$(this).css('height', $(this).contents().find("body").height() + 16);
					});
		     		
                 	$('#modalIframe').attr('src', url);		     		

                },
                position: {
                           my: "center",
                           at: "center",
                           of: window
                          },
                modal: true
            });

            return false;
        });

		function unsubscribe(id){
    		$.get("#springUrl('/rapbacks/unsubscribe')", {subscriptionId: id}, function(data) {
    		
				if (data === 'success'){
					refreshSearchResultsTable();
				}
				else{
					showErrorMessage(data);
				}	
																      
			}).fail(ojbc.displayFailMessage);
		}
		
		$('#returnToSearchSubmitButton').click (function(){
	  		$.get("#springUrl('/rapbacks/searchForm')",function(data) {
	  			$('#portalContent').html(data);
		    }).fail(ojbc.displayFailMessage)
	  	}); 
		
		$('#newSearchSubmitButton').click (function(){
			ojbc.clearSearchPurposeFields();
			ojbc.clearSearchResultsFilterFields();
	  		$.get("#springUrl('/rapbacks/searchForm?resetForm=true')",function(data) {
			      $('#portalContent').html(data);
			    }).fail(ojbc.displayFailMessage)
		});

		
	});
</script>
	
	
<div id="searchResultsContainer" class="contentBox">

    <div id="searchResultsHeader"> 
        <p id="search-results-title">MANAGE RAP BACK</p>
        <div style="float:right" >
            <a id="returnToSearchSubmitButton" class="grayButton" >
                <img style="position:relative; top:4px; margin-right:6px;"src="#springUrl('/static/images/Search%20Results/icon-back.png')" alt="Search Icon"/>
                RETURN TO SEARCH
            </a>
            <a id="newSearchSubmitButton" class="grayButton" >
                <img style="position:relative; top:4px; margin-right:6px;"src="#springUrl('/static/images/Search%20Form/icon-search.png')" alt="Search Icon"/>
                NEW SEARCH
            </a>
        </div>
        
    </div>
    
    <div style="padding:10px">
		#if($informationMessages && $informationMessages!='')
			<span class="error" id="informationMessages" >
				$informationMessages
			</span><br/>
		#end
		$rapbackSearchContent								
    </div>
    
</div>

<div id="dialog-confirm-authorization" title="Are you authorized?" class="hidden">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you still authorized to view criminal history details for this individual?</p>
</div>
<div id="dialog-confirm-unsubscribe" title="Unsubsribe?" class="hidden">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
  You have indicated that you are no longer authorized to view criminal history for this individual, your subscription will now be cancelled.</p>
</div>


