#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
	  $(function() {
	      //to prevent IE from caching search forms, this has the effect that the input values are not remembered
          $.ajaxSetup({ cache: false });
 		  ojbc.handlePlaceholders(); 
 		  ojbc.handleEsc();
		    $( ".datePicker" ).datepicker({
		       showOn: "both",
		       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",
		       buttonImageOnly: true,
		       shortYearCutoff: "+10",
		       dateFormat: 'mm/dd/yy',
		       onClose: function(dateText, inst) {
		  		$(this).datepicker('option', 'dateFormat', 'mm/dd/yy');      
		       }
		    });
		    
			$('#advanceSearchSubmitButton').click (function(){
	        	ojbc.clearPlaceholders();
	            var formData = $('#advancedSearchForm').serialize();
	        
	  	       	xhr = $.post("#springUrl('/rapbacks/rapbackAdvancedSearch')",formData,function(data) {
			        $('#portalContent').html(data);
		        }).fail(ojbc.displayFailMessage);
			});
		
		   $("a[href='\\#advancedSearchTab']").click (function(){
		       $("#search-tab-title").html("ADVANCED SEARCH: RAP BACK");
		   });
           
	        $('#advanceSearchClearButton').click (function(event){
			  ojbc.clearSearchPurposeFields();
			  ojbc.clearSearchResultsFilterFields();
			  $.get("#springUrl('/rapbacks/searchForm?resetForm=true')", function(data) {
			    $('#portalContent').html(data);
			    
			  }).fail(ojbc.displayFailMessage)
	      	});
	
			//This allows the input fields on the search form to submit form with enter key
			$('#advancedSearchTab input').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#advanceSearchSubmitButton').click();
			    }
			});
	
			//This allows the select fields on the search form to submit form with enter key			
			$('#advancedSearchTab select').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#advanceSearchSubmitButton').click();
			    }
			});			
	
	  });
  </script>
  
	<div class="card" id="searchTabs">
		<div class="card-header">
			<div class="pl-0" id="search-results-title">
		    	ADVANCED SEARCH: RAP BACK
		    </div>
		</div>
		<div class="card-body" id="advancedSearchTab">
	  	    <form id='advancedSearchForm' >
	            #if($errors.hasGlobalErrors())
	                #foreach( $globalError in $errors.globalErrors )
	                    <div class="error"> $globalError.defaultMessage </div>
	                #end
	            #end
				<input type="hidden" name="${status.expression}" value="ADVANCED" />
	    	  		<div class="row">
		  				<div class="col">
						    <div class="form-group">
						        <label class="searchSubHeader"> NAME</label>
						        #springFormInput("rapbackSearchRequest.firstName" "placeholder='FIRST NAME' class='form-control form-control-sm'")
					        </div>
					        <div class="form-group">
						        	#springFormInput("rapbackSearchRequest.lastName" "placeholder='LAST NAME' class='form-control form-control-sm'")
						    </div>
			        		<label class="searchSubHeader">Reported Date </label>
					        <div class="form-group">
				        		<lable class="labelText">From:</label> #springFormInput("rapbackSearchRequest.reportedDateStartDate" "class='datePicker mdate form-control-sm' style='width: 25%;'" )
				        		&nbsp;To:&nbsp;#springFormInput("rapbackSearchRequest.reportedDateEndDate"  "class='datePicker mdate form-control-sm' style='width: 25%;'")
				        		#springBind("rapbackSearchRequest.reportedDateStartDate")
                            	#springShowErrors( "<br/>" "error pl-2" )
					        </div>
							<label class="searchSubHeader">Identification Result Status</label>
							<div class="form-check-inline">
				  				<label class="form-check-label form-control-sm">
									#springFormCheckboxes("rapbackSearchRequest.identificationTransactionStatus" $identificationResultStatusCodeMap " " "")
								</label>
							</div>
						</div>    				        
			        	<div class="col">
						    <label class="searchSubHeader">IDENTIFIERS</label>
						    <div class="form-group">
						       #springFormInput("rapbackSearchRequest.sid" "placeholder='SID #' class='form-control form-control-sm'")
						       #springShowErrors( "<br/>" "error pl-2" )
						    </div>
						    <div class="form-group">
						  	  #springFormInput("rapbackSearchRequest.ucn" "placeholder='UCN #' class='form-control form-control-sm'")
						  	  #springShowErrors( "<br/>" "error pl-2" ) 
						    </div>
					        <div>#springFormInput("rapbackSearchRequest.otn" "placeholder='OTN' class='form-control form-control-sm'")</div>
							<label class="searchSubHeader mt-2">Civil Identification Reason Code</label>
					        <div class="form-group">
								<label class="form-check-label form-control-sm">
									#springFormCheckboxes("rapbackSearchRequest.civilIdentificationReasonCodes" $civilIdentificationReasonCodeMap "<br>" "")
								</lavel>
					        </div>
			            </div>
	    	       </div>
		     </form>
		</div>
		<div class="card-footer text-muted">
	    	<a id="advanceSearchSubmitButton" class="blueButton" ><img style="position:relative; top:4px; margin-right:6px;"src="#springUrl('/static/images/Search%20Form/icon-search.png')" alt="Search Icon"/> SEARCH</a>
	    	<a id="advanceSearchClearButton" class="grayButton"  >CLEAR</a>
  		</div>
	</div>
  