#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
 
  $(function() {
  });
    
</script>
	
<div style="padding:10px">
	<table class="searchResultsTable table table-striped table-bordered" style="width:100%" id="personSearchResultsTable">
		<thead>
			<tr>
				<th>SYSTEM NAME</th>
				<th>RESULTS COUNT</th>
				<th>ERROR INDICATOR</th>
				<th>ERROR TEXT</th>
				<th>TIMEOUT INDICATOR</th>
				<th>ACCESS DENIED INDICATOR</th>
				<th>TIMESTAMP</th>
				<th>MESSAGE ID</th>
			</tr>
		</thead>
		<tbody>
	        #foreach($personSearchResult in $personSearchResults)
		        <tr title='$!personSearchResults.personSearchResultssId'>
		        	<td>$!personSearchResult.systemName</td>
		        	<td>$!personSearchResult.searchResultsCount</td>
		        	<td>$!personSearchResult.searchResultsErrorIndicator</td>
		        	<td>$!personSearchResult.searchResultsErrorText</td>
		        	<td>$!personSearchResult.searchResultsTimeoutIndicator</td>
		        	<td>$!personSearchResult.searchResultsAccessDeniedIndicator</td>
		        	<td>$!personSearchResult.timestamp.format($dateTimeformatter)</td>
		        	<td>$!personSearchResult.messageId</td>
	        	</tr>
	        #end
		</tbody>
	</table> 								
</div>

