#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
 
  $(function() {
    oTable = $(".queryRequestsTable").first().DataTable({
		 "pagingType": "full_numbers",
		 "pageLength": 25,
		 stateSave: true,
		 fixedHeader: true,
		 "language": {
      		"emptyTable": "No User Query Requests Found"
    	 } 
	});
	
	$(".queryRequestsTable:not(:first)").DataTable({
		 "pagingType": "full_numbers",
		 "pageLength": 25,
		 stateSave: true,
		 "language": {
      		"emptyTable": "No User Query Requests Found"
    	 } 
	});
  
	$('.queryRequestsTable').on('dblclick', 'tr.clickable',function(event) {
		event.preventDefault();
 		var queryRequestId = $(this).attr("title");
 		var rowData = oTable.row($(this)).data(); 
 		var identificationSourceText = rowData[1]; 
 		var requestData = {
            'queryRequestId': $(this).attr("title"),
            'identificationSourceText': identificationSourceText
        };
 		
 		
		var row = $(this).closest('tr'); 
		row.siblings().removeClass("selected");
	    row.addClass("selected");
		
 		var personQueryResponseUrl = encodeURI("#springUrl('/auditLogs/personQueryResponse')");
  		$.post( personQueryResponseUrl, $.param(requestData), function(data) {
			$('#personQueryResponseModalContent').html(data);
			$('#personQueryResponseModal').modal('show');
     	}).fail(ojbc.displayFailMessage); ;	
  		
  		return false;		  					  					  		                                                     
 	}); 
 		
  });
    
</script>
	
<div style="padding:10px">
	<div id="queryRequestAccordion">
		#foreach($entry in $clickableQueryRequestListMap.entrySet())		
		  <div class="card">
		    <div class="card-header" id="heading$entry.getKey()">
		        <button class="btn btn-link" data-toggle="collapse" data-target="#$entry.getKey()" aria-expanded="true" aria-controls="$entry.getKey()">
		          $queryRequestAccordionHeaderMap.get($$entry.getKey())
		        </button>
		      </h5>
		    </div>
		
			#if ($foreach.index != 0)
		    	<div id="$entry.getKey()" class="collapse" aria-labelledby="$entry.getKey()" data-parent="#queryRequestAccordion">
		    #else
		    	<div id="$entry.getKey()" class="collapse show" aria-labelledby="$entry.getKey()" data-parent="#queryRequestAccordion">
		    #end
		      <div class="card-body">
		      	<div class="alert alert-info" role="alert">
  					Double click on the rows to retrieve query response.
				</div>
				<table class="searchResultsTable table table-striped table-bordered queryRequestsTable" style="width:100%">
					<thead>
						<tr>
							<th>IDENTIFICATION</th>
							<th>IDENTIFICATION SOURCE TEXT</th>
							<th>TIMESTAMP</th>
							<th>MESSAGE ID</th>
						</tr>
					</thead>
					<tbody>
				        #foreach($queryRequest in $entry.getValue())
					        <tr title='$!queryRequest.queryRequestId' class="clickable">
					        	<td>$!queryRequest.identificationId</td>
					        	<td>$!queryRequest.identificationSourceText</td>
					        	<td>$!queryRequest.timestamp.format($dateTimeformatter)</td>
					        	<td>$!queryRequest.messageId</td>
				        	</tr>
				        #end
					</tbody>
				</table> 								
		      </div>
		    </div>
		  </div>
		#end
		#foreach($entry in $nonClickableQueryRequestListMap.entrySet())		
		  <div class="card">
		    <div class="card-header" id="heading$entry.getKey()">
		        <button class="btn btn-link" data-toggle="collapse" data-target="#$entry.getKey()" aria-expanded="true" aria-controls="$entry.getKey()">
		          $queryRequestAccordionHeaderMap.get($$entry.getKey())
		        </button>
		      </h5>
		    </div>
		
		    <div id="$entry.getKey()" class="collapse" aria-labelledby="$entry.getKey()" data-parent="#queryRequestAccordion">
		      <div class="card-body">
				<table class="searchResultsTable table table-striped table-bordered queryRequestsTable" style="width:100%">
					<thead>
						<tr>
							<th>IDENTIFICATION</th>
							<th>IDENTIFICATION SOURCE TEXT</th>
							<th>TIMESTAMP</th>
							<th>MESSAGE ID</th>
						</tr>
					</thead>
					<tbody>
				        #foreach($queryRequest in $entry.getValue())
					        <tr title='$!queryRequest.queryRequestId'>
					        	<td>$!queryRequest.identificationId</td>
					        	<td>$!queryRequest.identificationSourceText</td>
					        	<td>$!queryRequest.timestamp.format($dateTimeformatter)</td>
					        	<td>$!queryRequest.messageId</td>
				        	</tr>
				        #end
					</tbody>
				</table> 								
		      </div>
		    </div>
		  </div>
		#end
	</div>
</div>

<div class="modal fade ojbc-modal" id="personQueryResponseModal" tabindex="-1" role="dialog" aria-labelledby="personQueryResponseModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="personQueryResponseModalTitle">PERSON QUERY RESPONSE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="personQueryResponseModalContent">
        ...
      </div>
    </div>
  </div>
</div>				    
