#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
 
  $(function() {
  	$('#searchBarButtonDiv').hide();    		
  	
    var oTable = $("#queryRequestsTable").DataTable({
		 "pagingType": "full_numbers",
		 "pageLength": 25,
		 stateSave: true,
		 responsive: true, 
		 colReorder: true,
		 "language": {
      		"emptyTable": "No User Query Requests Found"
    	 } 
	});
	
	new $.fn.dataTable.FixedHeader( oTable );
	
	$('#searchResultsTable').on('dblclick', 'tbody tr',function(event) {
		event.preventDefault();
 		var userInfoId = $(this).attr("title");
 		var userActivitiesUrl = encodeURI("#springUrl('/auditLogs/userActivities?userInfoId=')"+ userInfoId);
 		
		var row = $(this).closest('tr'); 
		row.siblings().removeClass("selected");
	    row.addClass("selected");
		
  		$.get(userActivitiesUrl, function(data){
  			$('#portalContent').html(data);
  		}).fail(ojbc.displayFailMessage);	
  		
  		return false;		  					  					  		                                                     
 	}); 
 	  		 
  });
    
</script>
	
<div style="padding:10px">

	<table class="searchResultsTable table table-striped table-bordered nowrap" style="width:100%" id="queryRequestsTable">
		<thead>
			<tr>
				<th>IDENTIFICATION ID</th>
				<th>IDENTIFICATION SOURCE TEXT</th>
				<th>MESSAGE ID</th>
				<th>TIMESTAMP</th>
			</tr>
		</thead>
		<tbody>
	        #foreach($queryRequest in $queryRequests)
		        <tr title='$!queryRequest.queryRequestId'>
		        	<td>$!queryRequest.identificationId</td>
		        	<td>$!queryRequest.identificationSourceText</td>
		        	<td>$!queryRequest.messageId</td>
		        	<td>$!queryRequest.timestamp.format($dateTimeformatter)</td>
	        	</tr>
	        #end
		</tbody>
	</table> 								
</div>
