#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
 
  $(function() {
	if (oTable !== undefined && oTable.fixedHeader !== undefined){
		oTable.fixedHeader.disable();
		oTable.destroy();
	}    	    	
  });
    
</script>
	
<div style="padding:10px">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href=context + 'portal/index')">Home</a></li>
			<li class="breadcrumb-item"><a href="#" class="personSearchAuditLink">Person Search Logs Search Form</a></li>
			<li class="breadcrumb-item active" aria-current="page">User Person Search Activities</li>
		</ol>
	</nav>

	<table class="table table-striped table-bordered" style="width:100%" id="auditPersonSearchRequestTable">
		<thead>
			<tr>
            	<th>FIRST NAME</th>
            	<th>MIDDLE NAME</th>
    	        <th>LAST NAME</th>
	            <th>SEARCH START TIME</th>
	            <th>SEARCH END TIME</th>
            </tr>
		</thead>
		<tbody>
			<tr>
				<td>$!auditPersonSearchRequest.personFirstName</td> 
				<td>$!auditPersonSearchRequest.personMiddleName</td>
				<td>$!auditPersonSearchRequest.personLastName</td>
				<td>$!auditPersonSearchRequest.startTime.format($dateTimeformatter)</td>
				<td>$!auditPersonSearchRequest.endTime.format($dateTimeformatter)</td>
            </tr>
		</tbody>
	</table>
	
	<div class="card">
	  <div class="card-header">
	    PERSON SEARCH REQUESTS
	  </div>
	  <div class="card-body">
		#parse("auditLogs/_userPersonSearchRequestsWithUserInfo.vm")
	  </div>
	</div>
</div>
