# Open Justice Broker configuration file

# This file contains properties that are used by camel contexts in the OJB.
# Mostly it is used to define endpoint URLs

# This is a test version of the file that will be referenced by the consuming project via classpath

personHealth.dbAuditLog=true

###########################################
####  Person Health Endpoints  ####
###########################################

personHealth.timeout=10000
personHealth.cxflogging=true

# Person Health Request Endpoint - hosted by this intermediary, called by connector/consumer
personHealth.intermediaryRequestEndpoint=/intermediary/PersonHealthSearchService

# Person Health Adapter Request Endpoint - hosted by adapter, called by this intermediary
personHealth.adapterRequestEndpoint=https://localhost:8443/OJB/adapter/PersonHealthSearchService

# Person Health Response Handler Endpoint - hosted by this intermediary - called by adapter
personHealth.intermediaryResultsEndpoint=/intermediary/PersonHealthSearchResultsHandlerService

# Deliver Person Health Results Endpoint - (hosted by consumer, maybe connector)
personHealth.clientResultsHandlerEndpoint=https://localhost:8443/OJB/connector/PersonHealthSearchResultsHandlerService

#Keystore used to sign messages
personHealth.keystoreCertificateAlias=demo-intermediary-key
personHealth.keyPassword=demo-intermediary-key
personHealth.keystoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-keystore.jks
personHealth.keystorePassword=demo-intermediary-keystore

#Trust configuration for SSL connections
personHealth.truststorePassword=demo-intermediary-truststore
personHealth.truststoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-truststore.jks

personHealth.testFileInputDir=/tmp/ojb/demo/personHealth