#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="#springUrl('/webjars/bootstrap/4.3.1/css/bootstrap.min.css')" />
        <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/jquery-ui-themes-1.12.1/themes/smoothness/jquery-ui.css')">
        <link rel="stylesheet" type="text/css" href="#springUrl('/static/css/style.css')">

    	<script src="#springUrl('/webjars/jquery/3.3.1/jquery.min.js')"></script>
    	<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
        <script src="#springUrl('/static/js/jquery-ui-1.12.1/jquery-ui.js')"></script>

        <title>OJBC One-Time Password Authentication</title>
       
		 <script type="text/javascript">
			  $(function() {
					$( "#accordion" ).accordion();
					$('#submitOtpButton').click (function(){
						$('#otpForm').attr('action', "#springUrl("/otp/submitOtp")").submit();
					});
					
					
					$('#requestOtpSubmitButton').click (function(){
						$('#otpForm').attr('action', "#springUrl("/otp/requestOtp")").submit();
					
					});
					
					$('#otpForm').on('keypress', 'input', function(e){
						if (e.keyCode == 13) {
							$('#otpForm').attr('action', "#springUrl('/otp/submitOtp')").submit();
						}	
					});
			 })
		</script>   		
     </head>
    <body>
    	<header>
		    <div class="banner">
	        	#parse("common/_stateBanner.vm")
		    </div>
    	</header>
    	<div id="pageRoot" class="container pt-2">
	        <div id="mainContent">
				<div class="card">
					<div class="card-header font-weight-bold" id="search-results-title">
					      OJBC ONE-TIME PASSWORD AUTHENTICATION
					</div>
					<div class="card-body" style="font-size: 12px;color: #333333; padding: 1.5em; ">
						<form method="post" id="otpForm">
							<p>Enter the One-Time Password Sent to your email address:</p>
							<div class="labelText">
								#springFormInput("otpFormCommand.otpRequest.oneTimePassword" "placeholder='One-Time Password' autocomplete='off' ")
							</div>	
							#if($otpInfoMessage)
								<div class="text-info">$otpInfoMessage</div>
							#end	
							
							#if($otpInfoMessageError)
								<div class="error">$otpInfoMessageError</div>
							#end
							<div class="mt-5">	
								<button id="submitOtpButton" class="btn btn-sm btn-primary" >SUBMIT OTP</button>
								<button id="requestOtpSubmitButton" alt="Request OTP" class="ml-1 btn btn-sm btn-secondary">REQUEST NEW OTP</button>
							</div> 
						</form>
					</div>
				</div>
			 </div>
		 </div>
	</body>
</html>				

