I# Open Justice Broker configuration file - ojb_policy_decision_point_service.cfg

# This file contains properties that are used by camel contexts in the OJB.
# Mostly it is used to define endpoint URLs

# When two endpoints share a port number, they must be deployed in the same bundle

# This will be referenced by the consuming project via classpath

################################################
###   OJB Policy Decision Point Endpoints    ###
################################################

pdp.dbAuditLog=false

#Port number that service are hosted on

pdp.federatedQueryTimeout=5000

pdp.cxflogging=true

# Access Control Request Endpoint - OJB Intermediary. Hosted by intermediary.
pdp.accessControlRequestEndpoint=/AccessControlRequestService

# Access Control Response Endpoint - OJB Intermediary. Hosted by intermediary.
pdp.accessControlResponseEndpoint=/AccessControlResponseService

# Access Control Request Endpoint - Policy Acknowledgement, called by intermediary
pdp.accessControlRequestPolicyAcknowledgementEndpoint=https://localhost:8443/OJB/PolicyAccessControlRequestService

# Access Control Response Endpoint - OJB Intermediary, called by intermediary, hosted by webapp
pdp.accessControlResponsePolicyAcknowledgementEndpoint=https://localhost:18311/OJB/WebApp/AccessControlResponseService

# Access Control Response system name. 
system.name=OJB PDP Service

################################
###   Security Configuration ###
################################

#Keystore used to sign messages
pdp.keystoreCertificateAlias=hijis-intermediary-key
pdp.keyPassword=hijis-intermediary-key
pdp.keystoreLocation=${user.home}/dev/certs/ojbc/HIJIS/intermediary/hijis-intermediary-keystore.jks
pdp.keystorePassword=hijis-intermediary-keystore

#Trust configuration for SSL connections
pdp.truststorePassword=hijis-intermediary-truststore
pdp.truststoreLocation=${user.home}/dev/certs/ojbc/HIJIS/intermediary/hijis-intermediary-truststore.jks
