<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<html>
	<head>
		#parse("common/_head.vm")
	</head>
	<body data-spy="scroll" data-target=".navbar">
		<header>
	        <div class="banner mt-5 pt-1">
	          <div class="text-white pl-3">
	            <img src="#springUrl('/static/images/banner/oklahoma_logo.png')" height="75px" /> 
	            <span class="initials align-bottom" aria-hidden="true">NIBRS</span>
	            <span class="fullname align-middle">Record of NIBRS Submissions</span>
	          </div>
	        </div>
	      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav mr-auto text-white">
	            <li class="nav-item active">
	              <a class="nav-link" th:href="@{/}" id="home">Home <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="#" id="incidents">Incidents</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link uploadToValidate" href="#" id="upload">Validate/Upload</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link uploadToValidate" href="#" id="errors">Errors</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="#" id="submitToFbi">Submit to FBI</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="#" id="summaryReportInputForm">Summary Reports</a>
	            </li>
	          </ul>
	          
	          <ul class="navbar-nav flex-row ml-md-auto d-md-flex" sec:authorize="isAuthenticated()">
              <li class="nav-item dropdown">
	              <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          <i class="fas fa-user-circle fa-lg"></i>
		            </a>
			          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
			            <a class="dropdown-item disabled"><span class="small font-italic pr-2 text-secondary">Signed in as <strong th:text="${#authentication.getPrincipal().getUsername()}"></strong></span></a>
			            <div class="dropdown-divider"></div>
			            <a class="dropdown-item" th:href="@{/logout}"><span class="small font-italic pr-2">Sign Out</span> <i class="fas fa-sign-out-alt"></i></a>
			          </div>
              </li>
            </ul>
	        </div>
	      </nav>
		</header>
	    <!-- Begin page content -->
	    
	    <div class="container-fluid small">
		    <div id="loadingAjaxPane"></div>
		    <div id="portalContent">
		      <div>Welcome to the new portal</div>
		    </div>
	    </div>
		<footer class="footer">
			<div class="container" align="center">
				<span class="text-muted small">OJBC Portal Footer</span>
			</div>
		</footer>	
		<!-- /.container -->
		#parse("common/_javascripts.vm")
	</body>
</html>
