#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<html>
	<head>
		#parse("common/_head.vm")
	</head>
	<body data-spy="scroll" data-target=".navbar">
		#parse("common/_header.vm")
	    <!-- Begin page content -->
	    
	    <div class="container-fluid small">
		    <div id="loadingAjaxPane"></div>
		    <div id="mainContent" class="row">
			    <div id="filterColumn" class="col-2 d-none">
			    		    
			      #set($homePage=$stateSpecificHomePage['thisHomePage'])		    
			      
			      #if($homePage=="landingPage")
	              	#parse("common/_landingLeftBar.vm")
			      
			      #elseif($homePage=="query")
			         #parse("common/_leftBar.vm")
			      #end
			      
			    </div>
			    <div id="portalContent" class="col">
			      <div>Welcome to the new portal</div>
			    </div>
		    </div>
	    </div>
	    
	    #if( $sensitiveInfoAlert )
			<div class="d-none">
				<div id="dialog-warning" title="NOTICE TO USERS">
					<p id="dialog-warning-p">  
						<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 0 0;"></span>
						$sensitiveInfoAlertMessage
					</p>
				</div>
			</div>
		#end
	    
		<footer class="footer">
			<div class="container" align="center">
				<span class="text-muted small">OJBC Portal Footer</span>
			</div>
		</footer>	
		<!-- /.container -->
		
		#parse("common/_javascripts.vm")
		
		<script>

			var idleTime;
			
			$(function(){
				#if( $inactivityTimeout )
			        reloadPage();
			        $('html').on('mousemove click mouseup mousedown keydown keypress keyup submit change mouseenter scroll resize dblclick', function () {
			            clearTimeout(idleTime);
			            reloadPage();
			        });
		        #end
		        
		    	$(".navbar-nav .nav-link").on("click", function(){
		    	  $(this).parent().siblings().removeClass('show');
		    	  $(this).parent().addClass('active').siblings().removeClass('active');
	    		});
		        
				$("#demogFilterInfo").hide();
				
			 	$(document).ajaxStart(function(){
			 	     		
<!--			 		if( $("#addSubscriptionDialog").dialog("isOpen") === true){-->	
<!--			 			$("#modalIframeSpinner").height($("#addSubscriptionDialog").height())-->	
<!--			 			$("#modalIframeSpinner").width($("#addSubscriptionDialog").width())-->	
<!--						$("#modalIframeSpinner").show();-->	
<!--			-->	
<!--			 		}-->	
<!--			 		else if ($("#editSubscriptionDialog").dialog("isOpen") === true){-->	
<!--			 			$("#modalIframeSpinner").height($("#editSubscriptionDialog").height())-->	
<!--			 			$("#modalIframeSpinner").width($("#editSubscriptionDialog").width())-->	
<!--						$("#modalIframeSpinner").show();-->	
<!--			 		}-->	
<!--			 		else{ -->
			     		var loadingDiv =  $("#loadingAjaxPane");
			     		var mainContentDiv = $("#mainContent");
						
			     		loadingDiv.height(mainContentDiv.height());
			     		loadingDiv.width(mainContentDiv.width());
			     		
			          	$("#loadingAjaxPane").show();          	
<!--			 		}     	-->	     	
			      }).ajaxStop(function() {
			    	  $("#loadingAjaxPane").hide();                
			      	  $("#modalIframeSpinner").hide();
			      });
			      
				#if( $sensitiveInfoAlert )      
				    $("#dialog-warning").dialog({
				      modal: true,
				      width: 500,
			          closeOnEscape: false,
				      buttons: {
				        Ok: function() {
			        		$.post("#springUrl('/portal/negateSenstiveInfoAlert')", function() {
							})
							
							$( this ).dialog( "close" );
				        }
				      },
				      open: function (e, ui) {
			        	$(".ui-dialog-titlebar-close").hide();
			    	  }
				    });
			    #end
	    			    
			    $('#homeLink').click (function() {		 
					 		     
				    #set($homePage=$stateSpecificHomePage['thisHomePage'])
				      
				    #if($homePage=="landingPage")
				    
						$('#searchBarButtonDiv').css("display", "none");
				    	$('#filterColumn').css('visibility', 'visible');
				    
				    	//TODO likely needs refactor(2 jquery ajax asynch calls in a row)
						ojbc.populateLeftBarContentFromUrl("#springUrl('/portal/landingLeftBar')");
				    	ojbc.populatePortalContentFromUrl("#springUrl('/portal/landingPage')");
				    
				    #elseif($homePage=="query")	
				    	 
						$('#searchBarButtonDiv').css("display", "block");
				    		    
						// TODO cleanup these nested jquery ajax calls to make them easier to read		    		    			    		    
						$.post("#springUrl('/portal/leftBar')", function(data) {
							    		    			
			    			$('#filterColumn').html(data);	 
			    			
			    			$("#demogFilterInfo").hide();
			    			
			    			$('#filterColumn').css('visibility', 'visible');    				    			 
			    			
							$.get("#springUrl('/people/searchForm')", function(data) {		
										
							      $('#portalContent').html(data);
							      
							}).fail(ojbc.displayFailMessage);	    				    				    			
			    			
			    		}).fail(ojbc.displayFailMessage);	
			    		
			    	#elseif($homePage=="subscriptions")
			    	
			    		xhr = $.post("#springUrl('/subscriptions/subscriptionResults')", function(data) {
			    		
							$('#portalContent').html(data);	
																	
							$.post("#springUrl('/portal/subscriptionsLeftBar')", function(data) {
								    	
				    			$('#filterColumn').html(data);
				    			$('#filterColumn').css('visibility', 'visible');
				    			 
				    		}).fail(ojbc.displayFailMessage);
																			      
						}).fail(ojbc.displayFailMessage);								    
			    			    			    		
				    #else
						alert('Error: unknown page cannot be displayed');
				    #end
		
				    return false;
				})
		
				//note some members may not be using this help id(which is being listened to here) 
				// but rather they may be using a different help id (which is not listened to here)
				$('#helpLink').click (function() {  
											
					$('#searchBarButtonDiv').css("display", "none");
				    $('#filterColumn').css('visibility', 'visible');
		
				    ojbc.populateLeftBarContentFromUrl("#springUrl('/help/helpLeftBar')");
		
				    ojbc.populatePortalContentFromUrl("#springUrl('/help/introduction')");
							    
				    return false;							       	        	
				})
		
				$('#peopleSearchLink').click (function() {
					$(this).parent().toggleClass('show');
					// TODO cleanup these nested jquery ajax calls to make them easier to read		    		    			    		    
					$.post("#springUrl('/portal/leftBar')", function(data) {
						    		    			
		    			$('#filterColumn').html(data);	 
		    			
		    			$("#demogFilterInfo").hide();
		    			
		    			$('#filterColumn').removeClass('d-none');    				    			 
		    			
						$.get("#springUrl('/people/searchForm')", function(data) {		
									
						      $('#portalContent').html(data);
						      
						}).fail(ojbc.displayFailMessage);	    				    				    			
		    			
		    		}).fail(ojbc.displayFailMessage);			    
				    					   
				    return false;
				});
		    		 
		    	$('#incidentSearchLink').click (function() {
    				return ojbc.populatePortalContentFromUrl("#springUrl('/incidents/searchForm')");
    			});
    		 
	        	$('#vehicleSearchLink').click (function() {
    				return ojbc.populatePortalContentFromUrl("#springUrl('/vehicles/searchForm')");
    			});
    		 
	    		$('#firearmSearchLink').click (function() {
    				return ojbc.populatePortalContentFromUrl("#springUrl('/firearms/searchForm')");
    			});
		    		 
				$('#leftMenu').on("click", "#subscriptionsLink", function() {	  
			  				  				  					  					    			    	
					xhr = $.post("#springUrl('/subscriptions/subscriptionResults')", function(data) {
						$('#portalContent').html(data);
					}).done(function(){	
																
						$.post("#springUrl('/portal/subscriptionsLeftBar')", function(data) {
							    	
			    			$('#filterColumn').html(data);
			    			$('#filterColumn').css('visibility', 'visible');
			    			 
			    		}).fail(ojbc.displayFailMessage);
																		      
					}).fail(ojbc.displayFailMessage);
					
					return false;
				});
		    		 
				$('#rapbackLink').click(function() {	  
			  				  				  					  					    			    	
		    		xhr = $.post("#springUrl('/rapbacks/rapbackDefaultSearch')", function(data) {
		    			$('#filterColumn').addClass('d-none');
						$('#portalContent').html(data);	
					}).fail(ojbc.displayFailMessage);
									    
					return false;
				});
				
				$('#criminalIdLink').click(function() {	  
		    		xhr = $.post("#springUrl('/rapbacks/criminalIdentificationDefaultSearch')", function(data) {
		    		
						$('#portalContent').html(data);	
													
					}).done(function(){
					    $.post("#springUrl('/portal/criminalIdentificationLeftBar')", function(data) {
							    	
			    			$('#filterColumn').html(data);
			    			$('#filterColumn').css('visibility', 'visible');
			    		}).fail(ojbc.displayFailMessage);
					}).fail(ojbc.displayFailMessage);
									    
					return false;
				});
				
				$('#faqLink').click (function() {	  
				  		
				    $('#searchBarButtonDiv').css("display", "none");
				    $('#filterColumn').css('visibility', 'visible');
		
					//TODO possible refactor to avoid 2 ansync jquery ajax calls in a row
				    ojbc.populateLeftBarContentFromUrl("#springUrl('/portal/landingLeftBar')");
		
				    ojbc.populatePortalContentFromUrl("#springUrl('/portal/faq')");
							    
				    return false;
				});
		    		 
				$('#suggestionFormLink').click (function() {	    
						
				    $('#searchBarButtonDiv').css("display", "none");
				    $('#filterColumn').css('visibility', 'visible');
		
					//TODO possible refactor to avoid 2 ansync jquery ajax calls in a row
				    ojbc.populateLeftBarContentFromUrl("#springUrl('/portal/landingLeftBar')");
		
				    ojbc.populatePortalContentFromUrl("#springUrl('/suggestion/suggestionForm')");
							    
				    return false;
				})
		    		 
				$('#adminLink').click (function() {	    
						
				    $('#searchBarButtonDiv').css("display", "none");
		
		    		xhr = $.get("#springUrl('/subscriptions/admin/landingPage')", function(data) {
						$('#portalContent').html(data);	
					}).done(function(){
						$.post("#springUrl('/portal/subscriptionsLeftBar')", function(data) {
										    	
			    			$('#filterColumn').html(data);
			    			$('#filterColumn').css('visibility', 'visible');
			    		}).fail(ojbc.displayFailMessage);
					}).fail(ojbc.displayFailMessage);
									    					    
				    return false;
				})
    		 
			    
			});
		
			#foreach($entry in $stateSpecificHomePage.entrySet())
			 	#set($homePage="$entry.getValue()")
			#end
			  
			#if($homePage=="landingPage")
			
				$("#searchBarButtonDiv").hide();
				$.get("#springUrl('/portal/landingPage')", function(data) {
					$('#portalContent').html(data);
				}).fail(function(data) {$('#portalContent').html(data); });
			
			#elseif($homePage=="query")
			
				$.get("#springUrl('/people/searchForm')", function(data) {
					$('#portalContent').html(data);
				}).fail(function(data) {$('#portalContent').html(data); });
			
			#elseif($homePage=="subscriptions")
			
				$("#searchBarButtonDiv").hide();
			
				$.post("#springUrl('/subscriptions/subscriptionResults')", function(data) {
				
					$('#portalContent').html(data);	
															
					$.post("#springUrl('/portal/subscriptionsLeftBar')", function(data) {
						    	
		    			$('#filterColumn').html(data);
		    			$('#filterColumn').css('visibility', 'visible');
		    			 
		    		}).fail(ojbc.displayFailMessage);
																	      
				}).fail(ojbc.displayFailMessage);	
			#end
			
			function reloadPage() {
			    clearTimeout(idleTime);
			    idleTime = setTimeout(function () {
			        window.location.assign("#springUrl('/portal/performLogout')");
			    }, $inactivityTimeoutInSeconds * 1000);
			}
			
		</script>
		
	</body>
</html>
