#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<html lang="en">
	<head>
		#parse("common/_head.vm")
	</head>
	<body>
		<header>
	        <div class="banner pt-1">
	        	#parse("common/_stateBanner.vm")
	        </div>
		</header>	
		<div id="mainContent">
		 	<div id="content" class="container">
	 			<div class="jumbotron text-center">
					<h3> You've been logged out successfully. </h3>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container" align="center">
				<span class="text-muted small">OJBC Portal Footer</span>
			</div>
		</footer>	
		<!-- /.container -->
		#parse("common/_javascripts.vm")
	</body>
</html>