#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2015 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
	  $(function() {
 	
 		    $('#emailFormSubmitButton').click (function(){
                
                var isValidate=$("#reportForm").valid();
                if(!isValidate){
                    alert("There are errors in your inputs, please correct them and try again");
                }else {
                    var formData = $("#reportForm").serialize();

                    xhr = $.post("#springUrl('/suggestion/submitEmail')",formData,function(data) {
				        $('#portalContent').html(data);
			        }).fail(ojbc.displayFailMessage);
			    }
                
    		});
    	})
</script>    		
 
 
<div id="landingPageContent">
<h1>Suggestions/Report a Problem Form</h1>
<form action="suggestionConfirmation.vm" method="post" id="reportForm" enctype="multipart/form-data" onsubmit="return validateFields();">

	<table border ="0">
		<tr>
			<td>
				The area that my Suggestion/Problem best relates to:
			</td>
			<td>
				#springFormSingleSelect("suggestionFormCommand.suggestionFormRequest.suggestionProblem" $suggestionProblemList "" ) 
			</td>
			</td>
		</tr>

		<tr>
			<td>
				The urgency of my issue is:
			</td>
			<td colspan="2">
				#springFormSingleSelect("suggestionFormCommand.suggestionFormRequest.urgency" $urgencyList "" ) 
			</td>
		</tr>

		<tr>
			<td>
				Suggestion/Problem Explanation:
			</td>
			<td colspan="2">
				<p>
					1. Please include step-by-step process of how you arrived at this issue</br>
					2. Expected functionality (what you expected but did not get)</br>
				</p>
				#springFormTextarea("suggestionFormCommand.suggestionFormRequest.userFeedback" "class='defaultTextArea'")
			</td>
		</tr>

		<tr>
			<td>
				User Name:
			</td>
			<td colspan="2">
				#springFormInput("suggestionFormCommand.suggestionFormRequest.userName" "placeholder='Name'")
			</td>
		</tr>
		<tr>
			<td>
				User Agency:
			</td>
			<td colspan="2">
				#springFormInput("suggestionFormCommand.suggestionFormRequest.userAgency" "placeholder='Agency'")
			</td>
		</tr>
		<tr>
			<td>
				User Email Address:
			</td>
			<td colspan="2">
				#springFormInput("suggestionFormCommand.suggestionFormRequest.userEmail" "placeholder='Email'")
			</td>
		</tr>
		<tr>
			<td>
				User Phone Number:
			</td>
			<td colspan="2">
				#springFormInput("suggestionFormCommand.suggestionFormRequest.userPhone" "placeholder='Phone Number'")
			</td>
		</tr>
		<tr>
			<td>
				<!-- Disabling submit until we get email functionality in place
				<input type="submit" name="Submit" value="Email administrator"/>
				-->
				<a id="emailFormSubmitButton" class="blueButton" ><img style="position:relative; top:4px; margin-right:6px;"src="#springUrl('/static/images/Search%20Form/icon-search.png')" alt="Search Icon"/> SUBMIT</a>
			<td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	</table>
		
</form>
</div>
