#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<script type="text/javascript">
	$(function() {
	    $('#emailFormSubmitButton').click (function(){
	        var isValidate=$("#reportForm").valid();
	        if(!isValidate){
	            bootpopup.alert("There are errors in your inputs, please correct them and try again", "ERROR");
	        }else {
	            var formData = $("#reportForm").serialize();
	
	            xhr = $.post(context + 'suggestion/submitEmail')",formData,function(data) {
			        $('#portalContent').html(data);
		        }).fail(ojbc.displayFailMessage);
		    }
	        
		});
	})
</script>    		
 
 
<div id="landingPageContent">
<div class="card" id="searchTabs">
	<div class="card-header">
		<div class="pl-0" id="search-results-title">
	    	SUGGESTIONS/REPORT A PROBLEM FORM
	    </div>
	</div>
	<div class="card-body" id="advancedSearchTab">
  	    <form action="suggestionConfirmation.vm" method="post" id="reportForm" enctype="multipart/form-data" onsubmit="return validateFields();">
			<table border ="0">
				<tr>
					<td>
						The area that my Suggestion/Problem best relates to:
					</td>
					<td>
						#springFormSingleSelect("suggestionFormCommand.suggestionFormRequest.suggestionProblem" $suggestionProblemList "" ) 
					</td>
					</td>
				</tr>
		
				<tr>
					<td>
						The urgency of my issue is:
					</td>
					<td colspan="2">
						#springFormSingleSelect("suggestionFormCommand.suggestionFormRequest.urgency" $urgencyList "" ) 
					</td>
				</tr>
		
				<tr>
					<td>
						Suggestion/Problem Explanation:
					</td>
					<td colspan="2">
						<p>
							1. Please include step-by-step process of how you arrived at this issue</br>
							2. Expected functionality (what you expected but did not get)</br>
						</p>
						#springFormTextarea("suggestionFormCommand.suggestionFormRequest.userFeedback" "class='defaultTextArea'")
					</td>
				</tr>
		
				<tr>
					<td>
						User Name:
					</td>
					<td colspan="2">
						#springFormInput("suggestionFormCommand.suggestionFormRequest.userName" "placeholder='Name'")
					</td>
				</tr>
				<tr>
					<td>
						User Agency:
					</td>
					<td colspan="2">
						#springFormInput("suggestionFormCommand.suggestionFormRequest.userAgency" "placeholder='Agency'")
					</td>
				</tr>
				<tr>
					<td>
						User Email Address:
					</td>
					<td colspan="2">
						#springFormInput("suggestionFormCommand.suggestionFormRequest.userEmail" "placeholder='Email'")
					</td>
				</tr>
				<tr>
					<td>
						User Phone Number:
					</td>
					<td colspan="2">
						#springFormInput("suggestionFormCommand.suggestionFormRequest.userPhone" "placeholder='Phone Number'")
					</td>
				</tr>
			</table>
	    </form>
	</div>
	<div class="card-footer">
		<button id="emailFormSubmitButton" class="btn btn-sm btn-primary" >SUBMIT</button>
	</div>
</div>
</div>
