<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home Page</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <!-- Begin page content -->
   <div th:fragment="homepageContent">
    <h3>Welcome to the Oklahoma State Bureau of Investigation (OSBI) RAPUP tool.</h3>  
    <p>Complete and accurate criminal history records are a critical component in ensuring citizen safety and fairness, 
    not only within Oklahoma but throughout our entire country.  All too often, incomplete criminal history records 
    lead to mis-informed decisions related to sentencing, employment, licensure, firearm purchases and 
    other similar activities. </p>
    <p> Through this tool, agencies can identify arrests, in their jurisdiction, that are missing dispositions in OSBI’s 
    criminal history records system. Agencies can then add dispositional information to such arrests.  Agencies can also 
    modify details of cases with deferred dispositions. </p>
    <p> If a given arrest already has a disposition in the OSBI criminal history system, that arrest may not be viewable 
    through this tool.  You can request the ability to view and edit such arrest records using the "Arrest Lookup" feature. </p> 
    <p>Please contact Felicia Jackson (<a href="mailto:Felicia.Jackson@osbi.ok.gov">Felicia.Jackson@osbi.ok.gov</a>) 
    with any questions or suggestions.</p>  
    <script th:inline="javascript">
    </script>
  </div>
  </body>
</html>
