# Open Justice Broker configuration file 

# This file contains properties that are used by camel contexts in the OJB.

###############################################################
####  Behavior Health Eval Reporting Service Configuration ####
###############################################################

#CXF Logging
behaviorHealthEvalReport.cxfLogging=true

behaviorHealthEvalReportIntermEndpoint=/intermediary/behaviorHealthEvalReportingService

behaviorHealthEvalReportAdapterEndpoint=https://localhost:8443/OJB/adapter/behaviorHealthEvalReportingService

behavioralHealthEvalReport.callBehavioralAdapter=true

# Modify this variable to specify routes to call in a derived bundle
# Typically you will perform a directvm call to a route in a derived bundle.
# This is not required and only used for implementer extensions

behaviorHealthEvalReporting.camelEndpointsToCall=log:org.ojbc.bundles.intermediaries.behaviorreporting


#################################################
####     Certificate Configuration           ####
#################################################

behaviorHealthEvalReportingService.keystoreCertificateAlias=demo-intermediary-key
behaviorHealthEvalReportingService.keyPassword=demo-intermediary-key
behaviorHealthEvalReportingService.keystoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-keystore.jks
behaviorHealthEvalReportingService.keystorePassword=demo-intermediary-keystore

behaviorHealthEvalReportingService.truststorePassword=demo-intermediary-truststore
behaviorHealthEvalReportingService.truststoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-truststore.jks