Disclaimer: If you believe you have found a discrepancy with any information accessed via the Portal, please contact the owner of the source system. By using the HIJIS Portal, you have read and agreed to the HIJIS and your agency's privacy policy(s).