#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2015 Open Justice Broker Consortium
 *#
	<select id="opts" name="opts" onchange="showFormDynamic()">
	  <option value="0">Select an Option</option>
	  <option value="1">Portal</option>
	  <option value="2">Query</option>
	  <option value="3">Subscription/Notification</option>
	</select>
</td>
<td>
	<div id="1" style="display:none";left-margin:10px>
			<select id="opts1" name="opts1" onchange="showFormDynamic()">
				<option value="Portal:Announcements">Announcements</option>
				<option value="Portal:Navigation">Navigation</option>
			</select>
	</div>

	<div id="2" style="display:none";left-margin:10px>
			<select id="opts2" name="opts2" onchange="showFormDynamic()">
				<option value="Query:Criminal History">Criminal History</option>
				<option value="Query:Warrants">Warrants</option>
				<option value="Query:Firearms">Firearms</option>
			</select>
	</div>

	<div id="3" style="display:none";left-margin:10px>
			<select id="opts3" name="opts3" onchange="showFormDynamic()">
				<option value="S/N:Missing Notification">Missing Notification</option>
				<option value="S/N:Inaccurate Notification">Inaccurate Notification</option>
				<option value="S/N:Creating a Subscription">Creating a Subscription</option>
				<option value="S/N:Modifying a Subscription">Modifying a Subscription</option>
			</select>
	</div>
