<script type="text/javascript">
  $(function(){
     $('#manageSubscriptionsButton').click (function() {

        $.post("#springUrl('/subscriptions/subscriptionResults')", 
        function(data) {
           $('#portalContent').html(data);					      
        }).fail(ojbc.displayFailMessage);
  
        return false;
     });

     $('#performQueryButton').click (function() {
	 $('#searchBarButtonDiv').css("display", "block");
	 $('#filterColumn').css('visibility', 'visible');

	 ojbc.populateLeftBarContentFromUrl("#springUrl('/portal/leftBar')");

	 ojbc.populatePortalContentFromUrl("#springUrl('/people/searchForm')");
					    
	 return false;
     });

  })
</script>

<td class = "button" width = "40%">
    <h1>
	<a id="performQueryButton" class="largeButton" href="#" >Perform a Query</a>
    </h1>
    Authorized users can perform a search against multiple systems simultaneously and receive consolidated results here.
</td>
<td width = "15%">
    &nbsp;
</td>
<td class = "button" width = "40%">
    <h1>
	<a id="manageSubscriptionsButton" class="largeButton" href="#">Manage My Subscriptions</a>
    </h1>
    Authorized users can add, delete, or modify their subscriptions here.
</td>
<td width = "15%">
    &nbsp;
</td>
