# Open Justice Broker configuration file

# This file contains properties that are used by camel contexts in the OJB.
# Mostly it is used to define endpoint URLs

# This is a test version of the file that will be referenced by the consuming project via classpath

personQuery.warrants.dbAuditLog=true

###########################################
####  Person Query Warrants Endpoints  ####
###########################################

# Note: Person Query Request is the flow that obtains the detail for one selected person record

personQuery.warrants.personQueryIntermediaryFederatedQueryTimeout=10000
personQuery.warrants.personQueryIntermediaryCxflogging=true

# Person Query Request Endpoint - OJB Intermediary (called by query application)
federatedQuery.warrants.personQueryEndpoint=/intermediary/PersonQueryServiceWarrants

# Person Query Request Endpoints - Adapters (Mocks or hosted at partner agencies - called by Intermediary)
federatedQuery.warrants.personQueryWarrantsEndpoint=https://localhost:8443/OJB/adapter/PersonQueryServiceWarrantsService

# Person Query Response Handler Endpoints - OJB Intermediary (callback, called by Adapters)
federatedQuery.warrants.personQueryResultsHandlerWarrantsEndpoint=/intermediary/PersonQueryResultsHandlerServiceWarrantsService

# Present Person Query Results Endpoint - (adapter, typically a web portal)
federatedQuery.warrants.presentPersonQueryResultsEndpoint=https://localhost:18311/OJB/WebApp/PersonQueryResultsHandlerServiceWarrantsService

#Keystore used to sign messages
federatedQuery.warrants.keystoreCertificateAlias=demo-intermediary-key
federatedQuery.warrants.keyPassword=demo-intermediary-key
federatedQuery.warrants.keystoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-keystore.jks
federatedQuery.warrants.keystorePassword=demo-intermediary-keystore

#Trust configuration for SSL connections
federatedQuery.warrants.truststorePassword=demo-intermediary-truststore
federatedQuery.warrants.truststoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-truststore.jks