
connector.intermediaryCxflogging=true

connector.portNumber=18200

connectorFileDirectory=/tmp/ojb/sampleConnector

accessControl.accessControlRequestEndpoint=https://0.0.0.0:18305/OJB/AccessControlRequestService

accessControl.keystoreCertificateAlias=ojbc-portal-key

connector.deleteInputFiles=false

# Trust configuration for SSL connections
connector.truststorePassword=ojbc-portal-truststore
connector.truststoreLocation=${user.home}/dev/certs/ojbc/portal/ojbc-portal-truststore.jks

# Keystore used to sign messages (also needs trusted certs of intermediary for sig verification)
connector.keystoreCertificateAlias=ojbc-portal-key
connector.keyPassword=ojbc-portal-key
connector.keystoreLocation=${user.home}/dev/certs/ojbc/portal/ojbc-portal-keystore.jks
connector.keystorePassword=ojbc-portal-keystore


