<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Person Search Result</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
  </head>
  <body>
    <!-- Begin page content -->
    <th:block th:fragment="criminalIdentificationResultsContent">
		<div id="searchResultsContainer" class="contentBox">
		    <div class="card">
		        <div class="card-header container-fluid">
		          <div class="row ml-1 h-100">
		            <div class="my-auto font-weight-bold" id="search-results-title">
		              MANAGE CRIMINAL IDENTIFICATION
		            </div>
		            <div class="ml-auto mr-3">
		              <button id="returnToSearchSubmitButton" class="btn btn-sm btn-secondary small">RETURN TO SEARCH</button>
		              <button id="newSearchSubmitButton" class="btn btn-sm btn-secondary ml-auto small" >NEW SEARCH</button>
		             </div>
		          </div>
		        </div>
		        <div class="card-body">
		            <div class="breadcrumb" id="filterColumn">
		                <div id="checkbox-hideArchived" class="col-3">
		                    <input type="checkbox" name="hideArchived" id="hideArchived" value="hideArchived" checked><span class="fieldText pl-2" >Hide Archived</span>
		                </div>
		                <div id="checkbox-show-archived-only" class="col-3">
		                    <input type="checkbox" name="showArchivedOnly" id="showArchivedOnly" value="showArchivedOnly"><span class="fieldText pl-2" >Show Archived Only</span>
		                </div>
		            </div>
		        
                    <div class="alert alert-warning" role="alert" id="informationMessages" 
                         th:unless="${#strings.isEmpty(informationMessages)}" th:utext="${informationMessages}">
                        informationMessages
                    </div>
                    <th:block th:utext="${searchContent}"></th:block> 
		        </div>
		    </div>
		
		</div>
		
		<div class="modal fade ojbc-modal" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal" aria-hidden="true">
		  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div id="modalIframeSpinner"></div>
		        <iframe id="modalIframe" src="" style="border:0;overflow:hidden;height:auto;width:99%" scrolling="no"  frameBorder="0" ></iframe>
		      </div>
		    </div>
		  </div>
		</div>                  

		<script th:inline="javascript">
	        /*<![CDATA[*/
		        var context = [[@{/}]];
		        var singleClickForDetail = [[${singleClickForDetail}]];
                var _csrf_token = /*[[${_csrf.token}]]*/ '';
                var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
	        /*]]>*/
		    /* Custom filtering function which will hide or show records based on the values selected in the filtered column input fields */
		    $.fn.dataTable.ext.search.push(
		        function( settings, data, dataIndex ) {
		            var showArchivedOnly = $('#showArchivedOnly').is(":checked");
		            var hideArchived = $('#hideArchived').is(":checked");
		            var status = data[4] ; // use data for the status column
		            
		            console.log("status: " + status); 
		            if ( showArchivedOnly ){
		                if ( status ==='Archived'){
		                    return true; 
		                }
		                else{
		                    return false; 
		                }
		            }
		            
		            if ( hideArchived ){
		                if ( status ==='Archived'){
		                    return false; 
		                }
		                else{
		                    return true; 
		                }
		            }
		            
		            return true;
		        }
		    );
		 
		    $(function() {
		      
		        $( document ).tooltip();
		        $.fn.dataTable.moment( 'MM/DD/YYYY' );
		        optTable = {
		            "pagingType": "full_numbers",
		            "pageLength": 50,
		            "order": [
		            	[ 1, "asc" ]
	            	],
		            stateSave: true,
		            responsive: true, 
		            colReorder: true,
		            "language": {
		                "emptyTable": "No criminal identification record available"
		             },
		            "columnDefs": [{
		                targets: [ 5 ],
		                searchable: false, 
		                sortable: false
		            }]
		        };
		        
		        var oTable = $("#searchResultsTable").DataTable( optTable);
		        
		        new $.fn.dataTable.FixedHeader( oTable );
		        
		        $('.modal-dialog').draggable({
		            handle: ".modal-header"
		        });
		
		        $('#portalContent').on("change", '#showArchivedOnly', function() {
		            if ($('#showArchivedOnly').is(":checked")){
		                $('#hideArchived').attr('checked', false);
		            }
		            oTable.draw();
		        } );
		
		        $('#portalContent').on("change", '#hideArchived', function() {
		            if ($('#hideArchived').is(":checked")){
		                $('#showArchivedOnly').attr('checked', false);
		            }
		            oTable.draw();
		        } );
		        
		        $('#searchResultsTable').on('click', 'a.archive',function() {
		            $.get(context + 'rapbacks/archive', {transactionNumber: $(this).attr("id")}, function(data) {
		                if (data === 'success'){
		                    refreshSearchResultsTable();
		                }
		                else{
		                    showErrorMessage(data);
		                }   
		                                                                      
		            }).fail(ojbc.displayFailMessage);
		        });
		        
		        function showErrorMessage(data){
		            if ( $( "#informationMessages" ).length ) {
		                $( "#informationMessages" ).html(data);
		            }
		            else {
		                $( "#searchResultsTable_wrapper" ).prepend( '<span class="error" id="informationMessages" >'+data+'</span>' );
		            }
		        }
		        
		        function refreshSearchResultsTable(){
		            $.get(context + 'rapbacks/criminalIdentificationsResults', function(data) {
		                $('#portalContent').html(data); 
		            }).fail(ojbc.displayFailMessage);
		                                
		            return false;
		        }
		        
		        $('#searchResultsTable').on('click', 'a.initialResults',function() {
		            $('#detailModal .modal-title').html('IDENTIFICATION INITIAL RESULTS');
		            ojbc.showDetailModal(this.href);
		            return false;
		        });
		        
		        $('#returnToSearchSubmitButton').click (function(){
		            $.get(context + 'rapbacks/criminalIdentificationSearchForm',function(data) {
		                $('#portalContent').html(data);
		            }).fail(ojbc.displayFailMessage)
		        }); 
		        
		        $('#newSearchSubmitButton').click (function(){
		            ojbc.clearSearchPurposeFields();
		            ojbc.clearSearchResultsFilterFields();
		            $.get(context + 'rapbacks/criminalIdentificationSearchForm?resetForm=true',function(data) {
		                  $('#portalContent').html(data);
		                }).fail(ojbc.displayFailMessage)
		        });
		
		    });

		</script>
    </th:block>
  </body>
</html>
