<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Initial Results Details</title>
    <link rel="stylesheet" type="text/css" th:href='@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}' />
    <link rel="stylesheet" type="text/css" th:href='@{/css/style.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/css/print.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/css/modal-frame.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/webjars/jquery-ui-themes/1.13.0/smoothness/jquery-ui.min.css}'>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.20/css/dataTables.bootstrap4.min.css}" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />
    
    <script th:src='@{/webjars/jquery/3.6.0/jquery.min.js}'></script>
    <script th:src="@{/webjars/jquery-migrate/3.3.2/jquery-migrate.min.js}"></script>
    <script th:src='@{/webjars/jquery-ui/1.13.0/jquery-ui.min.js}'></script>
    <script th:src='@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}'></script>
    <script th:src='@{/webjars/popper.js/1.14.7/umd/popper.min.js}'></script>
    <script th:src='@{/webjars/datatables/1.10.20/js/jquery.dataTables.min.js}'></script>
    <script th:src='@{/webjars/datatables/1.10.20/js/dataTables.bootstrap4.min.js}'></script>
    <script type="text/javascript" th:src='@{/webjars/datatables-responsive/2.2.3/js/dataTables.responsive.js}'></script>
    <script type="text/javascript" th:src='@{/webjars/datatables-responsive/2.2.3/js/responsive.bootstrap4.js}'></script>
    
    
    <script th:src='@{/js/ojb-web-portal.js}'></script>
        
  </head>
  <body id="searchDetailsFrame">
        <div id="tabs">

            <ul>
                <li id="State Initial Results">
                    <a href="#stateInitialResultTab">State Initial Results</a>
                </li>
                <li id="FBI Initial Results">
                    <a href="#fbiInitialResultTab">FBI Initial Results</a>
                </li>
                
                <li id="NSOR Results" th:if="${identificationResultsQueryResponse.nsorDemographicsDocuments ne null and #lists.size(identificationResultsQueryResponse.nsorDemographicsDocuments) > 0 
                    or identificationResultsQueryResponse.nsorSearchResultsDocuments ne null and #lists.size(identificationResultsQueryResponse.nsorSearchResultsDocuments) > 0}">
                    <a href="#nsorResultTab">NSOR Results</a>
                </li>
                
                <button id="printButton" class="greyButton" style="float:right;" th:messageId="${identificationResultsQueryResponse.messageId}">Print</button>
            </ul>

            <div id="stateInitialResultTab">
                <!--A better way of checking String is not null or empty--> 
                <!-- http://wiki.apache.org/velocity/CheckingForNull -->
                <div th:if="${identificationResultsQueryResponse.stateSearchResultFile} != ''">
                   <pre th:utext="${identificationResultsQueryResponse.stateSearchResultFile}"> State Search Result File</pre>
                </div> 
                <div class="rapsheet" th:each="item : ${identificationResultsQueryResponse.stateCriminalHistoryRecordDocuments}">
                    <pre th:utext="${item}">State Criminal History Record Documents</pre>
                </div>
            </div>
            <div id="fbiInitialResultTab">
                <div th:if="${identificationResultsQueryResponse.fbiSearchResultFile} != ''">
                    <pre th:utext="${identificationResultsQueryResponse.fbiSearchResultFile}">FBI Search Result File </pre>
                </div>
                <div class="rapsheet" th:each="item : ${identificationResultsQueryResponse.fbiIdentityHistorySummaryDocuments}">
                    <pre th:utext="${item}">FBI Criminal History Record Documents</pre>
                </div>
            </div>
            <div id="nsorResultTab">
                <div class="rapsheet" th:each="item : ${identificationResultsQueryResponse.nsorDemographicsDocuments}">
                    <pre th:utext="${item}">NSOR Demographics Documents</pre>
                </div>
                <div class="rapsheet" th:each="item : ${identificationResultsQueryResponse.nsorSearchResultsDocuments}">
                    <pre th:utext="${item}">NSOR Search Results Documents</pre>
                </div>
            </div>          
            
        </div>
    <script th:inline="javascript">
	    /*<![CDATA[*/
		    var context = /*[[@{/}]]*/ '';
            var _csrf_token = /*[[${_csrf.token}]]*/ '';
            var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
	    /*]]>*/
	    $(function () {
	        $('#tabs').tabs({
	            create: function( event, ui ) {
	                var modalIframe = $("#modalIframe", parent.document);
	                modalIframe.height(modalIframe.contents().find("body").height() + 20);
	            },
	            activate: function( event, ui ) {
	                var modalIframe = $("#modalIframe", parent.document);
	                modalIframe.height(modalIframe.contents().find("body").height() + 20);
	            }
	        });
	        
	        $("#printButton").button();
	        
	        $("#printButton").on("click", function(){
	
	            var activeTabIdx = $('#tabs').tabs('option','active');
	
	            // ID OF ACTIVE TAB
	            // make sure to change #tabs to your selector for tabs
	            var selector = '#tabs > ul > li';
	            var activeTabID = $(selector).eq(activeTabIdx).attr('id');
                var requestData = {
                        'messageId': $(this).attr('messageId'),
                        'activeTab': activeTabID
                     };
                requestData[_csrf_param_name] = _csrf_token;
	            $.post(context + 'rapbacks/auditPrintResults', requestData );                 
	
	            window.print();
	        }); 
	    });
    </script>
  </body>
</html>
