<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Rap Sheets Details</title>
    <link rel="stylesheet" type="text/css" th:href='@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}' />
    <link rel="stylesheet" type="text/css" th:href='@{/css/style.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/css/print.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/css/modal-frame.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/webjars/jquery-ui-themes/1.13.0/smoothness/jquery-ui.min.css}'>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.20/css/dataTables.bootstrap4.min.css}" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />
    
    <script th:src='@{/webjars/jquery/3.6.0/jquery.min.js}'></script>
    <script th:src="@{/webjars/jquery-migrate/3.3.2/jquery-migrate.min.js}"></script>
    <script th:src='@{/webjars/jquery-ui/1.13.0/jquery-ui.min.js}'></script>
    <script th:src='@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}'></script>
    <script th:src='@{/webjars/popper.js/1.14.7/umd/popper.min.js}'></script>
    <script th:src='@{/webjars/datatables/1.10.20/js/jquery.dataTables.min.js}'></script>
    <script th:src='@{/webjars/datatables/1.10.20/js/dataTables.bootstrap4.min.js}'></script>
    <script type="text/javascript" th:src='@{/webjars/datatables-responsive/2.2.3/js/dataTables.responsive.js}'></script>
    <script type="text/javascript" th:src='@{/webjars/datatables-responsive/2.2.3/js/responsive.bootstrap4.js}'></script>
    
    
    <script th:src='@{/js/ojb-web-portal.js}'></script>
        
  </head>
  <body id="searchDetailsFrame">
    <div id="tabs">

        <ul class="nav nav-tabs">
            <li id="State Rap Sheet">
                <a href="#stateRapsheetTab">State Rap Sheet</a>
            </li>
            
            <li id="FBI Rap Sheet" th:if="${rapsheetQueryRequest.hasFbiRapsheet == 'true'}">
                <a th:href="@{/rapbacks/fbiRapsheet/} + ${rapsheetQueryRequest.transactionNumber}">FBI Rap Sheet</a>
            </li>
            <li class="ml-auto">
                <button id="printButton" class="grayButton" style="float:right;" th:messageId="${detailsRequest.federatedQueryId}">Print</button>
            </li>
        </ul>

        <div id="stateRapsheetTab">
            <!--A better way of checking String is not null or empty--> 
            <!-- http://wiki.apache.org/velocity/CheckingForNull -->
            <div th:if="${stateRapsheet != ''}"><pre th:utext="${stateRapsheet}">State Rapsheet</pre></div> 
        </div>
    </div>
    <script th:inline="javascript">
	    /*<![CDATA[*/
		    var context = /*[[@{/}]]*/ '';
            var _csrf_token = /*[[${_csrf.token}]]*/ '';
            var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
	    /*]]>*/
        $(function () {
            $('#tabs').tabs({
                create: function( event, ui ) {
                    var modalIframe = $("#modalIframe", parent.document);
                    modalIframe.height(modalIframe.contents().find("body").height() + 20);
                },
                activate: function( event, ui ) {
                    var modalIframe = $("#modalIframe", parent.document);
                    modalIframe.height(modalIframe.contents().find("body").height() + 20);
                },
                beforeLoad: function( event, ui ) {
                    var tempDiv = '<div style="height: 50"> <div id="modalIframeSpinner" style="height:50%;width:100%; top:50; left:0;"/></div>';
                    ui.panel.html(tempDiv);
                    ui.jqXHR.fail(function(e) {
                      ui.panel.html(
                        "The FBI's NGI system has not responded.  Please try again later.");
                    });
                }
            });
            
            $("#printButton").button();
            
            $("#printButton").on("click", function(){

                var activeTabIdx = $('#tabs').tabs('option','active');

                // ID OF ACTIVE TAB
                // make sure to change #tabs to your selector for tabs
                var selector = '#tabs > ul > li';
                var activeTabID = $(selector).eq(activeTabIdx).attr('id');
                var requestData = {
                        'messageId': $(this).attr('messageId'),
                        'activeTab': activeTabID
                     };
                requestData[_csrf_param_name] = _csrf_token;

                $.post(context + 'rapbacks/auditRapsheetPrint', requestData);                    

                window.print();
            }); 
        });
    </script>
  </body>
</html>
