<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>OJBC Portal</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
  </head>
  <body data-spy="scroll" data-target=".navbar">
    <header>
      <div class="banner" >
        <div th:replace="fragments/general.html :: bannerContent"></div>
      </div> 
    </header>
      <!-- Begin page content -->
    <main role="main" class="container pt-4">
      <div id="portalContent">
        <div id="loadingAjaxPane" ></div>
        <div class="card">
          <div class="card-header font-weight-bold" id="search-results-title">
                TIMED ONE-TIME PASSWORD REGISTRATION
          </div>
          <div class="card-body" style="font-size: 12px;color: #333333; padding: 1.5em; ">
            <form method="post" id="otpForm" th:object="${otpFormCommand}" th:with="currentDate=${#dates.createNow()}">
              <p>Please scan the QR code using Microsoft or Google Authenticator App to sign up the secondary token:</p>
              <img th:src="@{/code/generate/} + ${userName} + '/' + ${#dates.millisecond(currentDate)}"/>
              
              <div class="alert alert-primary mt-3" role="alert">When you are done scanning, click 
                <a class="btn btn-primary" role="button" href="#" id="scanningConfirmation">Continue</a> 
                to login with the one-time password</div>
            </form>
          </div>
        </div>
      </div>
    </main>
  
    <footer th:replace="fragments/general.html :: footer"></footer> 
    <!-- /.container -->
    <th:block th:include="fragments/general.html :: javascripts"></th:block>
    <script th:inline="javascript">
      /*<![CDATA[*/
        var context = /*[[@{/}]]*/ '';
      /*]]>*/
      $(function(){
    	
        $('#scanningConfirmation').click (function(){
        	var homeButton = $(this).next();
        	
            bootpopup({
                title: "Have you scanned the QR code?",
                content: [
                    '<div class="alert alert-warning"><i class="fas fa-exclamation-circle mr-2"></i>Please confirm that you have scanned the QR code successfully. The QR code will not show up again on your confirmation.</div>'
                ],
                yes: function(data,e) { 
                	window.location = context;
                },
                no: function(data) {
                }
            });
        });
            
      });
    </script>
  </body>
</html>
