#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<!DOCTYPE html>
 <script type="text/javascript">
	  $(function() {	    	  
    		        
    	   //refresh when page displayed in case there's a default sub type value set already        
    	   refreshDisplayFromSubType();
    		    		
    		$('#addSubModalSaveLink').click(
    			function(){    			
				  					  					  					  	
				  	var subTypeTxt = $('#topic option:selected').text().trim();
				  						
					if(subTypeTxt == 'Arrest'){	
															
						saveArrestSubscritption();
																																	
					}else if(subTypeTxt == 'Incident'){
												
						saveIncidentSubscription();
						
					}else if(subTypeTxt == 'ATN Assignment'){
					
						saveChCycleSubscription();
										  						
					} else if(subTypeTxt == 'Person Vehicle Crash'){
						
						savePersonVehicleCrashSubscription();
					 
					}else{
						alert('Subscription type must be specified');
					}    			    			    											    				    						  				  					
    			}
    		)
    		
    		$('#addSubModalCancelLink').click(
    			function(){
    				$("#addSubscriptionDialog").dialog('close');
    			}
    		)
	  });	
	  
	  
	  function saveChCycleSubscription(){
	  	  	  	
	  	var firstName = $('#firstName').val();	  	
	  	
	  	var lastName = $('#lastName').val();
	  	
	  	// note we don't have a full name field, so just concatenate first & last with a space
	  	var fullName = firstName + ' ' + lastName;
	  		  
		var formData = $('#subscriptionForm').serialize() + "&fullName=" + fullName;    		
					
  		$.get("#springUrl('/subscriptions/saveSubscription')", 
  			formData,
  			function(data){		
  				handleDisplayAfterSave(data);  														  						  						  				  			
  			},
  			"text"
  		).fail(ojbc.displayFailMessage);		  
	  }	  	  
	  	  
	  function savePersonVehicleCrashSubscription(){
	  	  	  	
	  	var firstName = $('#firstName').val();	  	
	  	
	  	var lastName = $('#lastName').val();
	  	
	  	// note we don't have a full name field, so just concatenate first & last with a space
	  	var fullName = firstName + ' ' + lastName;
	  		  
		var formData = $('#subscriptionForm').serialize() + "&fullName=" + fullName;    		
					
  		$.get("#springUrl('/subscriptions/saveSubscription')", 
  			formData,
  			function(data){		
  				handleDisplayAfterSave(data);  														  						  						  				  			
  			},
  			"text"
  		).fail(ojbc.displayFailMessage);		  
	  }	  	  	  	  
	  	  
	  function saveArrestSubscritption(){	  
			    				    				
		var personNameVal = $('#personNameSelect').val();
		
		var formData = $('#subscriptionForm').serialize() + "&fullName=" + personNameVal;    				
		
  		$.get("#springUrl('/subscriptions/saveSubscription')", 
  			formData,
  			function(data){		  					  		  			  	
				handleDisplayAfterSave(data);  					  		  									  						  						  				  			
  			},
  			"text"
  		).fail(ojbc.displayFailMessage);				  				  									  	  
	  }
	  
	  
	  function handleDisplayAfterSave(subscriptionResponse){
	  		
	  
	  		var parsedData = JSON.parse(subscriptionResponse);
	  
	  		var messagesJson = parsedData.errorMsgsWarnMsgsJson;
	  		var sourcePage = parsedData.sourcePage;
	  
	  		var messagesJsFromSubscribeJson = ''; 
			var errorsArray = '';
			var warningsArray = '';
			var displayMessage = '';  					  		  	
				  		  	
			if(messagesJson != null && messagesJson != ''){  				  				
			  messagesJsFromSubscribeJson = JSON.parse(messagesJson);  					  					  					
			}				
			if(messagesJsFromSubscribeJson != null && messagesJsFromSubscribeJson != ''){
			  errorsArray = messagesJsFromSubscribeJson.errors;
			  warningsArray = messagesJsFromSubscribeJson.warnings;	
			}								
			if(errorsArray != null && errorsArray != ''){
				$.each(errorsArray, function( index, value ) {												
				  displayMessage += '\n ' + value;																											
				});
				
				alert(displayMessage);				                            
			}else{				
			  if(warningsArray != null && warningsArray != ''){
				    $.each(warningsArray, function( index, value ) {												
				    	displayMessage += '\n ' + value;																											
				  	});
				  	alert(displayMessage);
			   }	
			   if (sourcePage === 'personSearch')
			   {		
			   		$("#addSubscriptionDialog").dialog('close');
					alert("Your subscription was saved successfully. Click the subscriptions link to view it.");
			   }
			   else
			   {			
			   		refreshAfterSaveSubscription();
			   }	
			}		  	  
	  }
	  
	  
	  function saveIncidentSubscription(){
	  	  	  	
	  	var firstName = $('#firstName').val();	  	
	  	
	  	var lastName = $('#lastName').val();
	  	
	  	// note we don't have a full name field, so just concatenate first & last with a space
	  	var fullName = firstName + ' ' + lastName;
	  		  
		var formData = $('#subscriptionForm').serialize() + "&fullName=" + fullName;    		
					
  		$.get("#springUrl('/subscriptions/saveSubscription')", 
  			formData,
  			function(data){		
  				handleDisplayAfterSave(data);														  						  						  				  			
  			},
  			"text"
  		).fail(ojbc.displayFailMessage);		  
	  }
	  
	  
	  function refreshAfterSaveSubscription(){
	  
  		$("#addSubscriptionDialog").dialog('close');
  		
  		// redisplay subscription results having the new subscription 
		$.post("#springUrl('/subscriptions/subscriptionResults')", 
			function(data) {										
		      $('#portalContent').html(data);					      
			}
		).fail(ojbc.displayFailMessage);	  
	  }
	  
	  
	  function refreshDisplayFromSubType(){	  
	  	
	  	var subTypeTxt = $("#topic option:selected").text().trim();
	  			
		if(subTypeTxt == 'Arrest'){						
			
	  		$.post("#springUrl('/subscriptions/arrestForm')", 
	  			function(data){		  			
	  				$('#subModalDynamicContents').html(data);			  						  				  				
	  			}
	  		).fail(ojbc.displayFailMessage);				
															
		}else if(subTypeTxt == 'Incident'){		
						
	  		$.post("#springUrl('/subscriptions/incidentForm')", 
	  			function(data){		  			
	  				$('#subModalDynamicContents').html(data);			  						  				  				
	  			}
	  		).fail(ojbc.displayFailMessage);
	  		
	  	}else if(subTypeTxt == 'ATN Assignment'){
	  	
	  		$.post("#springUrl('/subscriptions/chCycleForm')", 
	  			function(data){		  			
	  				$('#subModalDynamicContents').html(data);			  						  				  				
	  			}
	  		).fail(ojbc.displayFailMessage);	  	
	  						
		}else if(subTypeTxt == 'Person Vehicle Crash'){
	  	
	  		$.post("#springUrl('/subscriptions/vehicleCrashForm')", 
	  			function(data){		  			
	  				$('#subModalDynamicContents').html(data);			  						  				  				
	  			}
	  		).fail(ojbc.displayFailMessage);	  	
	  						
		}else{
			$('#subModalDynamicContents').html('');
		} 		
	  }

</script>


<div style="width:230px;height:440px;" id="modalIframeSpinner"></div>

<!-- TODO see why w/h style was ignored when in css file, had to put it in html -->
<div style="width:230px;height:440px;" id="subFormDiv">
	<form id="subscriptionForm">  	  
		<div>
			#springFormSingleSelect("subscription.topic" $subscriptionTypeValueToLabelMap "onChange='refreshDisplayFromSubType()'")		
		</div>			
		
		<div id="subModalDynamicContents"/>
		
		<input type="hidden" id="sourcePage" name="sourcePage" value="${sourcePage}"/>	 	    	        
	</form>
</div>
  
<div style="vertical-align:bottom" id="subscriptionModalButtonBar" >         
 	<div id="subModalButtonDiv">
        <a  id="addSubModalCancelLink" class="grayButton" href="#">CANCEL</a>
        <a  id="addSubModalSaveLink" class="blueButton" href="#">SAVE</a>
    </div>            
</div>	  
