#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<!DOCTYPE html>
 <script type="text/javascript">
	  $(function() {	    	  
    		
    		$('#idLookupLink').click(
    			function(){
    				alert('Coming Soon');
    			}
    		)
    		    	  		    			
    		// note hacked beforeShow property is a function to return false (ignores clicks and prevents 
    		// displaying DatePicker - due to DatePicker limitation that doesn't honor readonly property.  DatePicker
    		// allows being disabled but that prevents the html field value from being sent to the server when the form 
    		// is serialized	    	   		    			
    	    $(".disabledDatePicker").datepicker({
    	       showOn: "both",
    	       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",    	  
    	       buttonImageOnly: true,
    	       beforeShow: function(i) {  return false; } 
    	    });	
    	        	        	   
    	    $(".enabledDatePicker").datepicker({
    	       showOn: "both",
    	       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",
    	       buttonImageOnly: true,
    	       shortYearCutoff: "+10",
    	       dateFormat: 'mm/dd/yy',
      	       onClose: function(dateText, inst) {
          		$(this).datepicker('option', 'dateFormat', 'mm/dd/yy');      
    	       }
    	    });
	  });	

</script>

<div>
	#springFormInput("subscription.firstName" "placeholder='First Name'")
</div>

<div>
	#springFormInput("subscription.lastName" "placeholder='Last Name'")
</div>



<table style="white-space:nowrap;">
	<tr>
		<td style="text-align:right;vertical-align:middle;">
			<label>DOB:</label>
		</td>
		<td>
			#springFormInput("subscription.dateOfBirth" "style='width:110px' class='enabledDatePicker' placeholder='DOB'")
		</td>
	</tr>

	<tr>
		<td style="text-align:right;vertical-align:middle;">
			<label>Start Date:</label>
		</td>
		<td>
			#if( ${isStartDateEditable} )
				#springFormInput("subscription.subscriptionStartDate" "style='width:110px' class='enabledDatePicker' placeholder='From'")
			#else
				#springFormInput("subscription.subscriptionStartDate" "style='width:110px' class='disabledDatePicker' placeholder='From' readonly='readonly' ")
			#end
		</td>
	</tr>
	
	<tr>
		<td style="text-align:right;vertical-align:middle;">
			<label>End Date:</label>
		</td>
		<td>
			#if( ${isEndDateEditable} )
				#springFormInput("subscription.subscriptionEndDate" "style='width:110px' class='enabledDatePicker' placeholder='No End Date'")
			#else
				#springFormInput("subscription.subscriptionEndDate" "style='width:110px' class='disabledDatePicker' placeholder='No End Date' readonly='readonly' ")
			#end							
		</td>
	</tr>			
</table>



<div>
	#springFormInput("subscription.emailList[0]" "placeholder='Email Address 1'")
</div>

<div>
	#springFormInput("subscription.emailList[1]" "placeholder='Email Address 2'")
</div>

<div>
	#springFormInput("subscription.emailList[2]" "placeholder='Email Address 3'")
</div>


		        