<p><b>SEARCH PARAMETERS</b></p>

The HIJIS Query allows users to conduct a variety of searches. These sub-topics will cover the valid parameters for each type of search. Use the sidebar navigation to learn more about the different types of searches.
<br/>
<br/>
<br/>