<p><b>FIREARMS:</b></p>

The Maui County firearms registration database allows users to search for person(s) with registration records or for specific firearms registered in the County of Maui.
<br/>
<br/>
<br/>