# Open Justice Broker configuration file - Demo State Web Application- ojb-web-portal.cfg

# This file contains properties that are used by ojb-web-portal running on the Tomcat.

# This is a sample version of the file that will be referenced by the consuming project via classpath

#Flag that says whether or not to allow queries with a SAML token
webapplication.allowQueriesWithoutSAMLToken=true

#Whether or not to show Validate button on subscription search result page.
#default to false.
validateSubscriptionButton=true

#Whether or not to include secondaryOptionDisplay.js and formValidation.js
#default to false.
secondaryOptionsDisplay=true

#Whether or not to show juvenile search tab on the person search form.
#Right now it should be true for demostate only.
showJuvenileSearchTab=true

showSubscriptionPurposeDropDown=true

showCaseIdInput=true

#Beans
#vehicleSearchRequestProcessorBean=vehicleSearchMockImpl
#rapbackSearchRequestProcessorBean=rapbackSearchMockImpl
#identificationResultsModificationRequestProcessorBean=identificationResultsModificationMockImpl
#personSearchRequestProcessorBean=personSearchMockImpl
#personSearchDetailsQueryBean=detailsQueryInterfaceMockImpl

#Decide when will the validation button show on the rapback search result page.
#30 means the button shows when validation due date is within less than 30 days away from
#current-date()
rapbackValidationButtonShowingPeriod=30

#Decide the rapback subscription end date.
#1 means the end date is 1 year from current-date()
rapbackSubscriptionPeriod=1

#Default profiles
spring.activeProfiles=person-search,incident-search,vehicle-search,firearms-search,person-vehicle-to-incident-search,warrants-query,criminal-history-query,firearms-query,incident-report-query,subscriptions,policy-acknowledgement,access-control,ojb-web-connector-extension-beans,juvenile-query,rapback-search,initial-results-query,identification-results-modification,person-to-court-case-search,court-case-query,person-to-custody-search,custody-query,vehicle-crash-query,firearms-purchase-prohibition-query,suggestionForm
