#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
	  $(function() {
	      	//to prevent IE from caching search forms, this has the effect that the input values are not remembered
          	$.ajaxSetup({ cache: false });
          
			if (oTable !== undefined && oTable.fixedHeader !== undefined){
				console.log("oTable: " + oTable); 
				oTable.fixedHeader.disable();
				oTable.destroy();
			}    	    	
		  	ojbc.handlePlaceholders(); 
    	  
    		$('#advanceSearchSubmitButton').click (function(){
            	ojbc.clearPlaceholders();
                var formData = $('#searchForm').serialize()+"&advanceSearch.sourceSystems="+ojbc.collectAllCheckBoxValues()
            
	  	       	xhr = $.post("#springUrl('/vehicles/advanceSearch')",formData,function(data) {
	  	       	    if (!data.includes('id="advancedSearchTab"')){
		  	       		$('#filterColumn').addClass('d-none');
	  	       		}
			        $('#portalContent').html(data);
		        }).fail(ojbc.displayFailMessage);
		  	});
    		
			$('#sourceSystemsCheckBoxes').html($('#sourceSystems').html());
			$('#sourceSystemsCheckBoxesDisabled').html($('#sourceSystemsDisabled').html());
			
			$('#sourceSystemsCheckBoxes input').each (function(){
	        	this.checked = true
	            }
	        );
	        
	        #foreach($selectedSourceSystem in $vehicleSearchCommand.advanceSearch.sourceSystems)
	            $("#sourceSystemsCheckBoxes input[value='$selectedSourceSystem']").prop('checked',true);
	        #end
	        
            $('#advanceSearchClearButton').click (function(event){
                  ojbc.clearSearchPurposeFields();
                  $.get("#springUrl('/vehicles/searchForm?resetForm=true&activeSearchTab=advancedSearchTab')", function(data) {
                    $('#portalContent').html(data);
                  }).fail(ojbc.displayFailMessage)
              });

			//This allows the input fields on the search form to submit form with enter key
			$('#advancedSearchTab input').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#advanceSearchSubmitButton').click();
			    }
			});

			//This allows the select fields on the search form to submit form with enter key			
			$('#advancedSearchTab select').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#advanceSearchSubmitButton').click();
			    }
			});	
       				    	    
	  });
  </script>
  
<div id="sourceSystems" style="display: none;">
	#parse('common/_systemsToQuery.vm')
</div>
<div id="sourceSystemsDisabled" style="display: none;">
	#parse('common/_systemsToQuery_disabled.vm')
</div>

<div class="card" id="searchTabs">
	<div class="card-header">
		<div class="pl-0" id="search-results-title">
	    	ADVANCED SEARCH: VEHICLE
	    </div>
	</div>
	<div class="card-body" id="advancedSearchTab">
	    <form id='searchForm' >
	        #if($errors.hasGlobalErrors())
	            #foreach( $globalError in $errors.globalErrors )
	                <div class="alert alert-danger" role="alert"> $globalError.defaultMessage </div>
	            #end
	        #end
	 
	  		<div class='row'>
	  			<div class='col-12 col-sm-6'>
			        <div>#springFormSingleSelect("vehicleSearchCommand.advanceSearch.vehicleMake" $makes "class='form-control form-control-sm'" ) </div>
			        
			        <div>#springFormInput("vehicleSearchCommand.advanceSearch.vehicleModel" "placeholder='Model' class='form-control form-control-sm'") </div>
			        
		        </div>
	  			<div class='col'>
	  				<div>#springFormSingleSelect("vehicleSearchCommand.advanceSearch.vehicleColor" $colors "class='form-control form-control-sm'" ) </div>
			  		<div>
			  			#springFormInput("vehicleSearchCommand.advanceSearch.vehiclePlateNumber" "placeholder='Plate #' class='form-control form-control-sm'")
			  		    #springShowErrors( "<br/>" "error pl-2" )
			  		</div>
	        	</div>
	        </div>
	        <div class='row'>
		        <div class="labelText col-12 col-xl-6" >
		        	Year Range: 
		        		#springFormInput("vehicleSearchCommand.advanceSearch.vehicleYearRangeStart" "placeholder='From' class='year'")
		        		#springFormInput("vehicleSearchCommand.advanceSearch.vehicleYearRangeEnd" "placeholder='To' class='year'")
		        		## #springBind("vehicleSearchCommand.advanceSearch.incidentDateRangeStart")
                     #springShowErrors( "<br/>" "error pl-2" )
		        </div>
		  		<div class="col col-sm-6">
		  			#springFormInput("vehicleSearchCommand.advanceSearch.vehicleVIN" "placeholder='VIN' class='form-control form-control-sm'")
		  		    #springShowErrors( "<br/>" "error pl-2" )
		  		</div>        			  		
	        </div>
	    </form>
	</div>
	<div class="card-footer text-muted">
    	<button id="advanceSearchSubmitButton" class="btn btn-sm btn-primary">SEARCH</button>
    	<button id="advanceSearchClearButton" class="btn btn-sm btn-secondary">CLEAR</button>
	</div>
</div>
