<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Federal Rapback Subscription Detail</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
  </head>
  <body>
      <!-- Begin page content -->
    <th:blcok th:fragment="federalRapbackSubscriptionDetailContent">
        <table class="detailsTable">
	        <tr>
	            <td class="detailsLabel" style="width:40%">UCN exists in CJIS HI</td>
	            <td style="width:10%" th:text="${subscription.fbiId}? Yes:No">
	            </td>
	            <td class="detailsLabel" style="width:40%">FBI Subscription Request Sent</td>
	            <td style="width:10%" th:text="${federalRapbackSubscriptionDetail?.fbiSubscriptionSent}? Yes: No "></td>
	        </tr>
	        <tr>
	            <td class="detailsLabel">FBI Subscription Created</td>
	            <td th:text="${federalRapbackSubscriptionDetail?.fbiSubscriptionCreated}? Yes:No"></td>
	            <td class="detailsLabel">RBMNT sent to FBI</td>
	            <td th:text="${federalRapbackSubscriptionDetail?.fbiRapbackMaintenanceSent}? Yes:No"></td>
	        </tr>
	        <tr>
	            <td class="detailsLabel">RBMNT confirmed by FBI</td>
	            <td th:text="${federalRapbackSubscriptionDetail?.fbiRapbackMaintenanceConfirmed}? Yes:No"></td>
	            <td class="detailsLabel"></td>
	            <td></td>
	        </tr>
	    </table>
	  
	    <table class="searchResultsTable display" id="fbiSubscriptionActivitiesTable" 
	           th:unless="${#lists.isEmpty(federalRapbackSubscriptionDetail.federalRapbackSubscriptions)}">
	        <thead>
	            <tr>
	                <th style="width:25%" class="pl-2">REQUEST SENT</th>
	                <th style="width:25%" class="pl-2">RESPONSE RECEIVED</th>
	                <th style="width:20%" class="pl-2">TRANSACTION TYPE</th>
	                <th style="width:30%" class="pl-2">TRANSACTION STATUS</th>
	            </tr>
	        </thead>
	        <tbody>
                <tr th:each="federalRapbackSubscription : ${federalRapbackSubscriptionDetail.federalRapbackSubscriptions}">
                    <td class="pl-2" th:text="${#strings.isEmpty(federalRapbackSubscription.requestSentTimestamp)}? 'NA' :  ${#dates.format(federalRapbackSubscription.requestSentTimestamp, 'yyyy-MM-dd HH:mm:ss')}">No Timestamp</td>
                    <td class="pl-2" th:text="${#strings.isEmpty(federalRapbackSubscription.responseRecievedTimestamp)}? 'NA' :  ${#dates.format(federalRapbackSubscription.responseRecievedTimestamp, 'yyyy-MM-dd HH:mm:ss')}">No Timestamp</td>
                    <td class="pl-2" th:text="${#strings.defaultString(federalRapbackSubscription.transactionCategoryCodeResponse, 'NA')}">No response</td>
                    <td class="pl-2" th:text="${#strings.defaultString(federalRapbackSubscription.transactionStatusText, 'NA')}"></td>
                </tr>
	        </tbody>
	    </table>                                
        <script th:inline="javascript">
	        $(function(){
	            $("#fbiSubscriptionActivitiesTable").DataTable({
	                "dom": 'rt<"clear">', 
	                "pageLength": 25,
	                stateSave: true,
	                colReorder: true,
	                "language": {
	                   "emptyTable": "No Federal Rapback Activities found"
	                } 
	           });
	        });
                                
        </script>   
    </th:block>
  </body>
</html>
