# Open Justice Broker configuration file 

# This file contains properties that are used by camel contexts in the OJB.

########################################################
####  Charge Referral Service Adapter Configuration ####
########################################################

#CXF Logging
chargeReferral.cxflogging=true

# Charge Referral Service Endpoint
chargeReferralAdapterEndpoint=/Adapter/ChargeReferralService

#################################################
####     Certificate Configuration           ####
#################################################
chargeReferral.keystoreCertificateAlias=demo-adapter-key
chargeReferral.keyPassword=demo-adapter-key
chargeReferral.keystoreLocation=${user.home}/ojb-certs/adapter/demo-adapter-keystore.jks
chargeReferral.keystorePassword=demo-adapter-keystore

#Truststore information
chargeReferral.truststoreLocation=${user.home}/ojb-certs/adapter/demo-adapter-truststore.jks
chargeReferral.truststorePassword=demo-adapter-truststore