<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="headerfiles">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
  <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<!--   <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" /> -->
  <!-- <link href="https://cdn.datatables.net/fixedcolumns/3.2.6/css/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />
 -->
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
</head>
<body>
	    <header th:fragment="header">
        <div class="banner mt-5 pt-1" th:fragment="banner">
          <div class="text-white pl-3">
            <img th:src="@{/images/oklahoma_logo.png}" height="75px" />
            <span class="initials align-bottom" aria-hidden="true">RAPUP</span>
            <span class="fullname align-middle">Record of Arrest and Prosecution Update Portal</span>
          </div>
        </div>
	      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" sec:authorize="isAuthenticated()">
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav mr-auto text-white">
	            <li class="nav-item active">
	              <a class="nav-link" th:href="@{/}" id="home">Home <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('AUTHZ_MUNI', 'AUTHZ_DA', 'AUTHZ_AUDIT') ">
	              <a class="nav-link dropdown-toggle" th:href="@{/}" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
	              <div class="dropdown-menu" aria-labelledby="dropdown09">
	                <a sec:authorize="hasAuthority('AUTHZ_MUNI')" class="dropdown-item" href="#" id="muniArrest">Municipal Arrests</a>
	                <a sec:authorize="hasAuthority('AUTHZ_DA')" class="dropdown-item" href="#" id="daArrest">DA Arrests</a>
	                <a class="dropdown-item" href="#" id="arrestLookup">Arrest Lookup</a>
	              </div>
	            </li>
	            <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('AUTHZ_AUDIT') ">
	              <a class="nav-link dropdown-toggle" th:href="@{/}" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
	              <div class="dropdown-menu" aria-labelledby="dropdown09">
	                <a class="dropdown-item" href="#" id="auditLogs">Audit Logs</a>
	                <a class="dropdown-item" href="#" id="users">Users</a>
	              </div>
	            </li>
	          </ul>
	          
	          <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
					    <li class="nav-item dropdown">
  				      <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          <i class="fas fa-user-circle fa-lg"></i>
				        </a>
				        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item disabled"><span class="small font-italic pr-2 text-secondary">Signed in as <strong th:text="${#authentication.getPrincipal().getUsername()}"/></span></a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" th:href="@{/logout}"><span class="small font-italic pr-2">Sign Out</span> <i class="fas fa-sign-out-alt"></i></a>
				        </div>
              </li>
            </ul>
	        </div>
	      </nav>
      </header>
	    <p>Go to the next page to see fragments in action</p>
	    <footer class="footer" th:fragment="footer">
	      <div class="container" align="center">
	        <span class="text-muted">OSBI RAPUP tool</span>
	      </div>
	    </footer>
    
    <div th:fragment="javascripts">
   	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
			<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
		  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
		  <script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
	    <script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
	    <script type="text/javascript" th:src="@{/webjars/datatables-fixedheader/3.1.4/js/dataTables.fixedHeader.js}"></script>
	    <script type="text/javascript" th:src="@{/webjars/datatables-responsive/2.2.3/js/dataTables.responsive.js}"></script>
	    <script type="text/javascript" th:src="@{/webjars/font-awesome/5.2.0/js/all.js}"></script>
	    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
		  <script type="text/javascript" th:src="@{/js/plugins/jquery.mask.min.js}"></script> 
		  <script type="text/javascript" th:src="@{/js/plugins/bootpopup.js}"></script> 
		  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script> 
		  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script> 
		  <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script> 
		  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script> 
		  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script> 
		  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script> 
		  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script> 
		  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script> 
	    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script> 
<!-- 		  <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script> 
 -->		  
		  <script th:inline="javascript">
	      /*<![CDATA[*/
	          var context = [[@{/}]];
	      /*]]>*/
	      $(function(){
	          $('#daArrest').click(function() {   
                $(this).parent().toggleClass('show');

	              xhr = $.get(context + 'daArrests', function(data) {
	                 $('#portalContent').html(data); 
	               }).fail(ojbc.displayFailMessage);
	              return false; 
	          });
	          $('#muniArrest').click(function() {   
                $(this).parent().toggleClass('show');

	              xhr = $.get(context + 'muniArrests', function(data) {
	                 $('#portalContent').html(data); 
	               }).fail(ojbc.displayFailMessage);
	              return false; 
	          });
	          
	          $('#arrestLookup').click(function() {   
                $(this).parent().toggleClass('show');

	              xhr = $.get(context + 'arrests/lookupForm', function(data) {
	                 $('#portalContent').html(data); 
	               }).fail(ojbc.displayFailMessage);
	              return false; 
	          });
	          
	          $('#auditLogs').click(function() {   
                $(this).parent().toggleClass('show');

	              xhr = $.get(context + 'audit/searchForm', function(data) {
	                 $('#portalContent').html(data); 
	               }).fail(ojbc.displayFailMessage);
	              return false; 
	          });
	          
	          $('#users').click(function() {   
                $(this).parent().toggleClass('show');

	              xhr = $.get(context + 'audit/users', function(data) {
	                 $('#portalContent').html(data); 
	               }).fail(ojbc.displayFailMessage);
	              return false; 
	          });
	          
 	          $(document).ajaxStart(function(){
              if( $(".ojbc-modal").is(':visible')){
            	  var visibleOjbcModal = $(".ojbc-modal:visible");
            	  var modalDialog = visibleOjbcModal.children(".modal-dialog"); 
                var loadingDiv = visibleOjbcModal.children(".modalIframeSpinner");
                
                console.log("modalDialog.height():" + modalDialog.height()); 
                console.log("modalDialog.height() + parseInt( modalDialog.css('margin-top'), 10):" + modalDialog.height() + parseInt( modalDialog.css("margin-top"), 10)); 
                console.log("modalDialog.css('margin-top'):" + modalDialog.css("margin-top")); 
                console.log("visibleOjbcModal.width():" + visibleOjbcModal.width()); 
                loadingDiv.height(modalDialog.height() + parseInt( modalDialog.css("margin-top"), 10));
                loadingDiv.width(visibleOjbcModal.width());
	              
                loadingDiv.show();           
	          
              }
              else{
                var loadingDiv =  $("#loadingAjaxPane");
                var portalContentDiv = $("#portalContent");
              
                loadingDiv.height(portalContentDiv.height());
                loadingDiv.width(portalContentDiv.width());
                
                 $("#loadingAjaxPane").show();           
              }               
             }).ajaxStop(function() {
               $("#loadingAjaxPane").hide();                
               $(".modalIframeSpinner").hide();
             });
 	          
 	           $('[data-toggle="popover"]').popover(); 
 	          
	      });
	      
        ojbc = {
	          displayFailMessage : function(jqXHR, textStatus, errorThrown) {
	            if (jqXHR.status == 500) {
	              var errorHeader = "A server-side error occurred while processing your request. Please contact the IT department or try again later.";
	              bootpopup.alert(errorHeader, "Error");   
	            } else if (jqXHR.status == 0) {
	              if (jqXHR.textStatus != "aborted"){
	                window.location.reload();
	              }
	            } else if (jqXHR.status == 403) {
                bootpopup.alert("Access is denied. Please check if you have the access right for the item.", "Error");
              } else {
	          	  bootpopup.alert("Unable to talk to Server.  Please try again later.", "Error");
	            }
	         }
         };
              

      </script>
		  
	  </div>		
    
</body>
</html>