<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" />

	<link rel="stylesheet" th:href="@{/css/style.css}"
		href="../../css/style.css" />
</head>
<body>
	    <header th:fragment="header">
	      <!-- Fixed navbar -->
	      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
	        <a class="navbar-brand" href="#"><img th:src="@{/images/search.png}" height="50px"/></a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav mr-auto">
	            <li class="nav-item active">
	              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item dropdown">
	              <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Query</a>
	              <div class="dropdown-menu" aria-labelledby="dropdown09">
	                <a class="dropdown-item" th:href="@{/dispositions}">Disposition</a>
	                <a class="dropdown-item" href="#">Arrest</a>
	              </div>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link disabled" href="#">Disabled</a>
	            </li>
	            <li class="nav-item dropdown">
	              <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
	              <div class="dropdown-menu" aria-labelledby="dropdown09">
	                <a class="dropdown-item" href="#">Action</a>
	                <a class="dropdown-item" href="#">Another action</a>
	                <a class="dropdown-item" href="#">Something else here</a>
	              </div>
	            </li>
	          </ul>
	        </div>
	      </nav>
	    </header>
    <p>Go to the next page to see fragments in action</p>
    <footer class="footer" th:fragment="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
    
    <div th:fragment="javascripts">
   	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</div>		
    
</body>
</html>