#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 
<script type="text/javascript">
 
	$(function() {
	  	$('#searchBarButtonDiv').hide();    		
  	
    	var reStyleButtonsBasedOnSelection = function() {
    			// Make the selected search button blue, and the others gray
    	        $('#adminButtons .blueButton').addClass('grayButton').removeClass('blueButton');
				$(this).removeClass('grayButton').addClass('blueButton');
    	};
	
		$('#adminButtons a:not(.ui-state-disabled):not(.dropbtn):not(.dropdown-content a)').click (reStyleButtonsBasedOnSelection);
		
    	$('#portalContent').on('click', '#advancedAdminSearch', function() { 
			return adminPage.populateSubsAdminContentContentFromUrl("#springUrl('/subscriptions/admin/adminSearchForm')")
	    });
	    
    	$('#expiringSubscriptions').click (function() { 
    		$('.dropdown-content').removeClass("show");
    		$('#adminButtons .blueButton').addClass('grayButton').removeClass('blueButton');
			$('#reportsButton').removeClass('grayButton').addClass('blueButton');
    		
 			return adminPage.populateSubsAdminContentContentFromUrl("#springUrl('/subscriptions/admin/expiringSubscriptionsForm')")
	    });
	    
    	$('#expiredSubscriptions').click (function() { 
    		$('.dropdown-content').removeClass("show");
    		$('#adminButtons .blueButton').addClass('grayButton').removeClass('blueButton');
			$('#reportsButton').removeClass('grayButton').addClass('blueButton');
    		
 			return adminPage.populateSubsAdminContentContentFromUrl("#springUrl('/subscriptions/admin/expiredSubscriptionsForm')")
	    });
	    
    	$('#activeErrorsSearch').click (function() { 
 			return adminPage.populateSubsAdminContentContentFromUrl("#springUrl('/subscriptions/admin/federalRapbackSubscriptionErrors')")
	    });
	    
    	$('#notifications').click (function() { 
 			return adminPage.populateSubsAdminContentContentFromUrl("#springUrl('/subscriptions/admin/notifications')")
	    });
	    
	    $("#searchResultsTable").DataTable({
			 "order": [[ 3, "asc" ]],
			 "pagingType": "full_numbers",
			 "pageLength": 25,
			 stateSave: true,
			 colReorder: true,
			 "language": {
	      		"emptyTable": "No subscriptions found"
	    	 }, 
		     "aoColumns": [
			      { "bSortable": false, "bSearchable":false },
			      { "bSortable": false, "bSearchable":false },
				      null, null,null, null, null, null, null, null, null
			    ] 
		});
	
		$("#subscriptionButtons").appendTo("#searchResultsTable_length");	  		
		$("#subscriptionStatusFilter").prependTo("#searchResultsTable_filter");	  		

		function getCheckedValues() {
		
			var checkedValues = $('input:checkbox:checked').map(function() {
				var id = JSON.parse(this.value).id;
			    return '"' + id +'":' + this.value;
			}).get();
			
			if (!String(checkedValues)) {
				return null; 
			}
			else {
				return	'{' + checkedValues + '}';
			}	  		
		}
	
		$('#subscriptionButtons').on('click', '#unsubscribeLink',function() {
			var checkedValues = getCheckedValues();	
			
			if(!checkedValues){
				alert('No subscriptions selected');
				return false;
			}
			
			//console.log("checkedValues: " + checkedValues);
									
			var confirmUnsubscribe = confirm("Are you sure you want to unsubscribe?");				
			
			if(confirmUnsubscribe == true){
																			
				var urlRequest = encodeURI('../subscriptions/unsubscribe?subIdToSubDataJson=' + checkedValues);					
				
				//call the unsubscribe operation and refresh the current page with the subscription search results returned				 
				$.get(urlRequest, function(data) {										
				      $("#subsAdminContent").html(data);					      
				}).fail(ojbc.displayFailMessage);
					
				return false;
														 																		 
			}else{
			  return false;
			}
			
	    });
		
		// listener for click on any editSubscriptionLink button
		$('#searchResultsTable').on('click', 'a[id^="editSubscriptionLink"]',function() {
			var editMvcUrl = encodeURI(this + "&admin=true&editSourcePage=adminLanding");
			var dlgHeight = $(window).height() * .9;
				 	    		    			
	  		$.get(editMvcUrl, 
	  			function(data){			  			
	    			 var vSubDialog = $('<div style="display:none;" class="contentBox" id="editSubscriptionDialog" title="EDIT SUBSCRIPTION"/>').appendTo('body');
	    			 vSubDialog.dialog({                    
			                position: { my: "center center", at: "center center", of: window},
			                modal:true,
					        maxWidth:800,
					        height:dlgHeight,
					        open:function(event,ui){
					        	$('#editSubscriptionDialog').html(data);
					        },
					        close: function(event, ui){
					        	$(this).dialog("close");
					        	$('#editSubscriptionDialog').remove();
					        }    	                                  
	                    }).css({height:dlgHeight, overflow:"auto"}); 			  						  				  				
	  			}
	  		).fail(ojbc.displayFailMessage);	
	  		
	  		//prevent default browser navigation to link<a> href url, because we're using the url 
	  		// as a spring mvc call
	  		return false;		  					  					  		                                                     
	 	});   		 
	    
	    
	});
	
	adminPage = {
		populateSubsAdminContentContentFromUrl : function(url) {
			$.get(url, function(data) {	
				$("#subsAdminContent").html(data);
			}).fail(ojbc.displayFailMessage);
			return false;
		}
	}
	
	function myFunction() {
    	document.getElementById("myDropdown").classList.toggle("show");
	}

	// Close the dropdown if the user clicks outside of it
	window.onclick = function(event) {
	  if (!event.target.matches('.dropbtn')) {
	
	    var dropdowns = document.getElementsByClassName("dropdown-content");
	    var i;
	    for (i = 0; i < dropdowns.length; i++) {
	      var openDropdown = dropdowns[i];
	      if (openDropdown.classList.contains('show')) {
	        openDropdown.classList.remove('show');
	      }
	    }
	  }
	}
</script>

<style>
.dropbtn {
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding:0; margin:0; 
}

.dropdown-content {
	padding-top: 6px;
	padding-left:6px;
    display: none;
    font-size:small !important;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:first-child{
	padding-top: 18px; 
}
 
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}
</style>

<div class="card"> 
	<div class="card-header container-fluid">
	  <div class="row ml-1 h-100">
	    <div class="my-auto" id="search-results-title">
	      SUBSCRIPTIONS ADMIN
	    </div>
        <div id="adminButtons" class="ml-auto mr-3">
            <a id="advancedAdminSearch" class="grayButton" >
                ADVANCED SEARCH
            </a>
            <a id="activeErrorsSearch" class="grayButton" >
                ERRORS
            </a>
            <a id="notifications" class="grayButton" >
                Notifications
            </a>
         	<div class="dropdown">
				<a onclick="myFunction()" class="dropbtn grayButton" id="reportsButton">Reports</a>
				<div id="myDropdown" class="dropdown-content">
				    <a id="expiringSubscriptions">Expiring Subscriptions</a>
				    <a id="expiredSubscriptions">Expired Subscriptions</a>
				</div>
			</div>
            <a id="modifySubsOwnerInfo" class="grayButton ui-state-disabled" >
                MODIFY OWNER INFO
            </a>
        </div>
	  </div>
	</div>
	<div class="card-body" id="subsAdminContent">
		#parse("common/_subscriptionsLeftBar.vm")
		#if($informationMessages && $informationMessages!='')
			<div class="alert alert-danger fade in alert-dismissible show" id="informationMessages" >
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<i class="fas fa-times" aria-hidden="true"></i>
				</button>    
				$informationMessages
			</div>
		#end
		
		$subscriptionsContent 
	</div>
</div>