#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
 
  $(function() {
  	$('#searchBarButtonDiv').hide();    		
  	
	$('#demogFilterInfo').on('click', '#filterClear', function(){    		
		ojbc.clearSearchResultsFilterFields();
		
  		$.post("#springUrl('/subscriptions/clearFilter')",function(data) {
		      $('#portalContent').html(data);
	    }).fail(ojbc.displayFailMessage);
	
	});  

    $("#searchResultsTable").DataTable({
		 "order": [[ 3, "asc" ]],
		 "pagingType": "full_numbers",
		 "pageLength": 25,
		 stateSave: true,
		 colReorder: true,
		 "language": {
      		"emptyTable": "No subscriptions found"
    	 }, 
	     "aoColumns": [
		      { "bSortable": false, "bSearchable":false },
		      { "bSortable": false, "bSearchable":false },
			      null, null,null, null, null, null, null
		    ] 
	});
	
	$("#subscriptionButtons").appendTo("#searchResultsTable_length");
	
	$('#subscriptionButtons').on('click', '#unsubscribeLink',function() {
		var checkedValues = getCheckedValues();	
		
		if(!checkedValues){
			alert('No subscriptions selected');
			return false;
		}
		
		console.log("checkedValues: " + checkedValues);
								
		var confirmUnsubscribe = confirm("Are you sure you want to unsubscribe?");				
		
		if(confirmUnsubscribe == true){
																		
			var urlRequest = encodeURI('../subscriptions/unsubscribe?subIdToSubDataJson=' + checkedValues);					
			
			//call the unsubscribe operation and refresh the current page with the subscription search results returned				 
			$.get(urlRequest, function(data) {										
			      $("#subsAdminContent").html(data);					      
			}).fail(ojbc.displayFailMessage);
				
			return false;
													 																		 
		}else{
		  return false;
		}
		
    });
		
	function getCheckedValues() {
	
		var checkedValues = $('input:checkbox:checked').map(function() {
			var id = JSON.parse(this.value).id;
		    return '"' + id +'":' + this.value;
		}).get();
		
		if (!String(checkedValues)) {
			return null; 
		}
		else {
			return	'{' + checkedValues + '}';
		}	  		
	}
		  		
	// listener for click on any editSubscriptionLink button
	$('#searchResultsTable').on('click', 'a[id^="editSubscriptionLink"]',function() {
		var editMvcUrl = encodeURI(this + "&admin=true");
			 	    		    			
  		$.get(editMvcUrl, 
  			function(data){			  			
    			 var vSubDialog = $('<div style="display:none;overflow:auto" class="contentBox" id="editSubscriptionDialog" title="EDIT SUBSCRIPTION"/>').appendTo('body');
    			 var dlgHeight = $(window).height() * .95;	
    			 vSubDialog.dialog({                    
		                position: {
                           my: "left top",
                           at: "left top",
                           of: $("#stateBanner")
		                },
		                modal:true,
				        maxWidth:800,
		    			maxHeight:90%,		    			
				        height:dlgHeight,
				        resizable:false,
				        open:function(event,ui){
				        	$('#editSubscriptionDialog').html(data);
				        },
				        close: function(event, ui){
				        	$(this).dialog("close");
				        	$('#editSubscriptionDialog').remove();
				        }    	                                  
                    }).css({overflow:"auto"}); 			  						  				  				
  			}
  		).fail(ojbc.displayFailMessage);	
  		
  		//prevent default browser navigation to link<a> href url, because we're using the url 
  		// as a spring mvc call
  		return false;		  					  					  		                                                     
 	});   		 
	    
    
  });
    
</script>
	
<div style="padding:10px">
	#if($informationMessages && $informationMessages!='')
		<span class="error">
			$informationMessages
		</span><br/>
	#end
	$subscriptionsContent								
</div>
