#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
 
  $(function() {
  	$.fn.dataTable.moment( 'MM/DD/YYYY' );
  	$('#searchBarButtonDiv').hide();    		
  	
    var table = $("#searchResultsTable").DataTable({
		 "order": [[ 3, "asc" ]],
		 "pagingType": "full_numbers",
		 "pageLength": 25,
		 stateSave: true,
		 responsive: true, 
		 colReorder: true,
		 "language": {
      		"emptyTable": "No subscriptions found"
    	 }, 
	     columnDefs: [
           {
               "targets":[3], 
               "type":"name"
           },
         ],
	     "aoColumns": [
		      { "bSortable": false, "bSearchable":false },
		      { "bSortable": false, "bSearchable":false },
			      null, null,null, null, null, null, null, null, null
		    ] 
	});
	
	new $.fn.dataTable.FixedHeader( table );
	
	$("#subscriptionButtons").appendTo("#searchResultsTable_length");
	$("#subscriptionStatusFilter").prependTo("#searchResultsTable_filter");	  		
	
	$('#subscriptionButtons').on('click', '#unsubscribeLink',function() {
		var checkedValues = getCheckedValues();	
		
		if(!checkedValues){
			bootpopup.alert('No subscriptions selected', 'ERROR');
			return false;
		}
		
		//console.log("checkedValues: " + checkedValues);
								
		bootpopup.confirm("Are you sure you want to unsubscribe?" , "", function(ans) { 
		    if(ans){
				var urlRequest = encodeURI('../subscriptions/unsubscribe?subIdToSubDataJson=' + checkedValues);					
				
				//call the unsubscribe operation and refresh the current page with the subscription search results returned				 
				$.get(urlRequest, function(data) {										
				      $("#subsAdminContent").html(data);					      
				}).fail(ojbc.displayFailMessage);
			} 
			return false;
		}); 
		
    });
		
	function getCheckedValues() {
	
		var checkedValues = $('input:checkbox:checked').map(function() {
			var id = JSON.parse(this.value).id;
		    return '"' + id +'":' + this.value;
		}).get();
		
		if (!String(checkedValues)) {
			return null; 
		}
		else {
			return	'{' + checkedValues + '}';
		}	  		
	}

	// listener for click on any editSubscriptionLink button
	$('#searchResultsTable').on('click', '.viewDetails',function(event) {
		event.preventDefault();
		var editMvcUrl = encodeURI(this.href + "&admin=true&editSourcePage=adminAdvancedSearch");
		var row = $(this).closest('tr'); 
		row.siblings().removeClass("selected");
	    row.addClass("selected");
		
		var topic = jQuery.parseJSON(row.find('input:checkbox').val()).topic;
		if (topic !== '{http://ojbc.org/wsn/topics}:person/rapback'){
			$('#subscriptionModal .modal-dialog').removeClass('modal-lg').addClass('modal-sm'); 
		}
		else{
			$('#subscriptionModal .modal-dialog').removeClass('modal-sm').addClass('modal-lg'); 
		}
		
  		$.get(editMvcUrl, function(data){
  			$('#subscriptionModal .modal-body').html(data);
  			$('#subscriptionModal').modal('show');
  		}).fail(ojbc.displayFailMessage);	
  		
  		return false;		  					  					  		                                                     
 	});   		 
    
  });
    
</script>
	
<div class="card-body" id="subscriptionsContent">
	#parse("common/_subscriptionsLeftBar.vm")
	#if($informationMessages && $informationMessages!='')
		#if ($informationMessages == 'Operation Successful')
			#set( $divClass = "alert alert-success fade in alert-dismissible show" )
		#else
			#set( $divClass = "alert alert-danger fade in alert-dismissible show" )
		#end
		<div class="$divClass" id="informationMessages" >
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<i class="fas fa-times" aria-hidden="true"></i>
			</button>    
			$informationMessages
		</div>
	#end
	
	$subscriptionsContent 
</div>

<div class="modal fade ojbc-modal" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
	  <div id="modalIframeSpinner"/>
	  <div class="modal-header">
	  	<h5 class="modal-title">EDIT SUBSCIPTION</h5>
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div> 
     </div>
	</div>
  </div>
</div>				    

