# Open Justice Broker configuration file - Demostate Firearm Query firearm_registration_query_request_service_intermediary.cfg

# This file contains properties that are used by camel contexts in the OJB.
# Mostly it is used to define endpoint URLs

# When two endpoints share a port number, they must be deployed in the same bundle

federatedQuery.firearms.dbAuditLog=true

################################################
####  Firearm Registration Query Endpoints  ####
################################################

# Note: Firearm Query Request is the flow that obtains the detail for one selected person record

firearmQuery.registration.firearmQueryIntermediaryFederatedQueryTimeout=10000
firearmQuery.registration.firearmQueryIntermediaryCxflogging=true

federatedQuery.firearms.firearmRegistrationQueryPort=18604

# Person Query Request Endpoint - OJB Intermediary (called by query application)
federatedQuery.firearms.firearmRegistrationQueryOJBEndpoint=https://localhost:${federatedQuery.firearms.firearmRegistrationQueryPort}/OJB/FirearmRegistrationQueryRequestService

# Person Query Request Endpoints - Adapters (Mocks or hosted at partner agencies - called by Intermediary)
federatedQuery.firearms.firearmRegistrationQueryStateEndpoint=https://localhost:18102/OJB/PersonQueryServiceFirearmService

# Person Query Response Handler Endpoints - OJB Intermediary (callback, called by Adapters)
federatedQuery.firearms.firearmRegistrationQueryResultsHandlerEndpoint=https://localhost:${federatedQuery.firearms.firearmRegistrationQueryPort}/OJB/FirearmRegistrationQueryResultsHandlerService

# Present Person Query Results Endpoint - (adapter)
federatedQuery.firearms.presentFirearmRegistrationQueryResultsEndpoint=https://localhost:18311/OJB/WebApp/FirearmQueryResultsHandlerService

#Keystore used to sign messages
federatedQuery.firearms.keystoreCertificateAlias=hijis-intermediary-key
federatedQuery.firearms.keyPassword=hijis-intermediary-key
federatedQuery.firearms.keystoreLocation=${user.home}/dev/certs/ojbc/HIJIS/intermediary/hijis-intermediary-keystore.jks
federatedQuery.firearms.keystorePassword=hijis-intermediary-keystore

#Trust configuration for SSL connections
federatedQuery.firearms.truststorePassword=hijis-intermediary-truststore
federatedQuery.firearms.truststoreLocation=${user.home}/dev/certs/ojbc/HIJIS/intermediary/hijis-intermediary-truststore.jks