<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Person Search Form</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
  </head>
  <body>
      <!-- Begin page content -->
    <div th:fragment="personSearchFormContent" id="personSearchFormContent">
		<div id="sourceSystems" style="display: none;" 
		  th:replace="common/systemsToQuery::sourceSystemsContent">
		</div>
		<div id="sourceSystemsDisabled" style="display: none;" 
		  th:replace="common/systemsToQuery::sourceSystemsDisabledContent">
		</div>
		
 		<div id="searchTabs" class="py-3">
		    <div class="row">
		        <div class="col-12 mx-auto">
		            <ul class="nav nav-tabs small justify-content-end" role="tablist" id="personSearchTabs">
		                <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#simpleSearchTab">SIMPLE SEARCH</a></li>
		                <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#advancedSearchTab">ADVANCED SEARCH</a></li>
	                    <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#juvenileSearchTab" th:if="${showJuvenileSearchTab}">JUVENILE SEARCH</a></li>
		            </ul>
		            <div class="tab-content">
		                <div th:replace="people/simpleSearchTab::simpleSearchTabContent"></div>
		                
		                <div id="advancedSearchTab" class="tab-pane" role="tabpanel" >
 		                    <div class="card">
		                        <div class="card-body">
		                            <form id='advancedSearchForm' th:object="${personSearchCommand}">
					                   <th:block th:if="${errors?.hasGlobalErrors()}">
					                       <div class="alert alert-danger" role="alert" th:each="globalError: ${errors.globalErrors}" th:text="${globalError.defaultMessage}">Global error message</div>
					                   </th:block>
		                         
		                                <input type="hidden" th:field="*{searchType}" value="ADVANCED" /><br>
		                                <div class='row'>
		                                    <div class='col-12 col-md-6'>
		                                        <p class="searchSubHeader"> NAME</p>
		                                        <div>
                                                    <input type="text" th:field="*{advanceSearch.personGivenName}" class="form-control form-control-sm" placeholder="First Name" th:errorclass="is-invalid"/>
                                                    <div th:if="${#fields.hasErrors('advanceSearch.personGivenName')}" th:errors="*{advanceSearch.personGivenName}" class="invalid-feedback d-block error pl-2">First Name error message</div>
	                                            </div>
		                                        <div class="form-check-inline">
		                                          <label class="form-check-label form-control-sm">
					                                <th:block th:each="metadata : ${T(org.ojbc.web.SearchFieldMetadata).values()}" th:unless="${metadata.metadata == 'Partial'}">
					                                    <input type="radio" th:field="*{advanceSearch.personGivenNameMetaData}" th:value="${metadata}" class="form-check-input">
					                                    <span class="form-check-label form-control-sm col-form-label" th:for="${#ids.prev('advanceSearch.personGivenNameMetaData')}" th:text="${metadata.metadata}">metadata</span>
					                                </th:block>
		                                          </label>
		                                        </div>
		                                        <div>
	                                              <input type="text" th:field="*{advanceSearch.personMiddleName}" class="form-control form-control-sm" placeholder="Middle Name" th:errorclass="is-invalid"/>
	                                              <div th:if="${#fields.hasErrors('advanceSearch.personMiddleName')}" th:errors="*{advanceSearch.personMiddleName}" class="invalid-feedback d-block error pl-2">Middle Name error message</div>
		                                        </div>
		                                        <div>
		                                          <input type="text" th:field="*{advanceSearch.personSurName}" class="form-control form-control-sm" placeholder="Last Name" th:errorclass="is-invalid"/>
                                                  <div th:if="${#fields.hasErrors('advanceSearch.personSurName')}" th:errors="*{advanceSearch.personSurName}" class="invalid-feedback d-block error pl-2">Last Name error message</div>
	                                            </div>
		                                        <div class="form-check-inline">
		                                          <label class="form-check-label form-control-sm">
					                                <th:block th:each="metadata : ${T(org.ojbc.web.SearchFieldMetadata).values()}" th:unless="${metadata.metadata == 'Partial'}">
					                                    <input type="radio" th:field="*{advanceSearch.personSurNameMetaData}" th:value="${metadata}" class="form-check-input">
					                                    <span class="form-check-label form-control-sm col-form-label" th:for="${#ids.prev('advanceSearch.personSurNameMetaData')}" th:text="${metadata.metadata}">metadata</span>
					                                </th:block>
		                                          </label>
		                                        </div>
		                                        
		                                        <div class="labelText" >
					                                DOB
					                                <input type="text" th:field="*{advanceSearch.personDateOfBirthRangeStart}" class="mdate ml-2" placeholder="From"/>
					                                <input type="text" th:field="*{advanceSearch.personDateOfBirthRangeEnd}" class="mdate ml-2" placeholder="End"/>
					                                <div th:if="${#fields.hasErrors('advanceSearch.personDateOfBirthRangeStart')}" th:errors="*{advanceSearch.personDateOfBirthRangeStart}" class="invalid-feedback d-block error pl-2">DOB From error message</div>
					                                <div th:if="${#fields.hasErrors('advanceSearch.personDateOfBirthRangeEnd')}" th:errors="*{advanceSearch.personDateOfBirthRangeEnd}" class="invalid-feedback d-block error pl-2">DOB End error message</div>
		                                        </div>
		                                        <div class="labelText" >
		                                            Age Range
		                                            <input type="text" th:field="*{ageRangeStart}" class="shortDigit ml-2" placeholder="Min"/> to 
		                                            <input type="text" th:field="*{ageRangeEnd}" class="shortDigit" placeholder="Max"/> to 
                                                    <div th:if="${#fields.hasErrors('ageRangeStart')}" th:errors="*{ageRangeStart}" class="invalid-feedback d-block error pl-2">Age Min error message</div>
		                                        </div>
		                                        <p class="searchSubHeader" >DEMOGRAPHICS</p>
		                                        <div>
					                                <select th:field="*{advanceSearch.personRaceCode}" class="form-control form-control-sm mb-2" data-placeholder="All">
					                                  <option th:each="item: ${races}" th:value="${item.key}" th:text="${item.value}" />
					                                </select>
	                                            </div>
		                                        <div>
					                                <select th:field="*{advanceSearch.personSexCode}" class="form-control form-control-sm mb-2" data-placeholder="All">
					                                  <option th:each="item: ${genders}" th:value="${item.key}" th:text="${item.value}" />
					                                </select>
				                                </div>
		                                        <div>
					                                <select th:field="*{advanceSearch.personEyeColor}" class="form-control form-control-sm mb-2" data-placeholder="All">
					                                  <option th:each="item: ${eyeColors}" th:value="${item.key}" th:text="${item.value}" />
					                                </select>
	                                            </div>
		                                        <div>
                                                    <select th:field="*{advanceSearch.personHairColor}" class="form-control form-control-sm mb-2" data-placeholder="All">
                                                      <option th:each="item: ${hairColors}" th:value="${item.key}" th:text="${item.value}" />
                                                    </select>
		                                        </div>
		                                        
		                                        <div class="labelText" >
		                                            Height <input type="text" th:field="*{heightInFeet}" class="shortDigit ml-2"/>' <input type="text" th:field="*{heightInInches}" class="shortDigit" placeholder="Inches"/>" +/-<input type="text" th:field="*{heightTolerance}" class="shortDigit"/>" 
		                                            &nbsp;
		                                            Weight <input type="text" th:field="*{advanceSearch.personWeight}" class="shortDigit"/>+/-<input type="text" th:field="*{weightTolerance}" class="shortDigit"/>
		                                        </div>
		                                    </div>
		                                    <div class='col-12 col-md-6'>
		                                          <p class="searchSubHeader" >IDENTIFIERS</p>
		                                          <div>
		                                              <input type="text" th:field="*{advanceSearch.personSID}" class="form-control form-control-sm" placeholder='SID #'/>
		                                              <div th:if="${#fields.hasErrors('advanceSearch.personSID')}" th:errors="*{advanceSearch.personSID}" class="invalid-feedback d-block error pl-2">SID error message</div>
		                                          </div>
		                                          <div>
                                                      <input type="text" th:field="*{advanceSearch.personFBINumber}" class="form-control form-control-sm" placeholder='FBI #'/>
                                                      <div th:if="${#fields.hasErrors('advanceSearch.personFBINumber')}" th:errors="*{advanceSearch.personFBINumber}" class="invalid-feedback d-block error pl-2">FBI # error message</div>
		                                          </div>
		                                          <div>
                                                      <input type="text" th:field="*{advanceSearch.personSocialSecurityNumber}" class="ssn form-control form-control-sm" placeholder='SSN (XXX-XX-XXXX)'/>
                                                      <div th:if="${#fields.hasErrors('advanceSearch.personSocialSecurityNumber')}" th:errors="*{advanceSearch.personSocialSecurityNumber}" class="invalid-feedback d-block error pl-2">SSN error message</div>
		                                          </div>
		                                          <div>
                                                      <input type="text" th:field="*{advanceSearch.personDriversLicenseNumber}" class="form-control form-control-sm" placeholder='DL/ID #'/>
                                                      <div th:if="${#fields.hasErrors('advanceSearch.personDriversLicenseNumber')}" th:errors="*{advanceSearch.personDriversLicenseNumber}" class="invalid-feedback d-block error pl-2">DL/ID error message</div>
		                                          </div>
		                                          <div>
                                                      <input type="text" th:field="*{advanceSearch.personDriversLicenseIssuer}" class="form-control form-control-sm" placeholder='Issuer'/>
                                                      <div th:if="${#fields.hasErrors('advanceSearch.personDriversLicenseIssuer')}" th:errors="*{advanceSearch.personDriversLicenseNumber}" class="invalid-feedback d-block error pl-2">Issuer error message</div>
		                                          </div>
		                                    </div>
		                                </div>
		                            </form>
		                        </div>
		                        <div class="card-footer">
		                            <button id="advanceSearchSubmitButton" class="btn btn-sm btn-primary">SEARCH</button>
		                            <button id="advanceSearchClearButton" class="btn btn-sm btn-secondary">CLEAR</button>
		                        </div>
		                    </div>
		                </div>
		                <div th:replace="people/juvenileSearchTab::juvenileSearchTabContent" th:if="${showJuvenileSearchTab}"></div>
		            </div>
		        </div>
		    </div>
		</div>
        <script th:inline="javascript">
	        /*<![CDATA[*/
		        var context = [[@{/}]];
		        var sourceSystems = [[${personSearchCommand.advanceSearch.sourceSystems}]];
	            var _csrf_token = /*[[${_csrf.token}]]*/ '';
	            var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
	        /*]]>*/
	        $(function() {
	            //to prevent IE from caching search forms, this has the effect that the input values are not remembered
	            $.ajaxSetup({ cache: false });
	            ojbc.handlePlaceholders(); 
/*                 if (!!oTable && !!oTable.fixedHeader ){
                    oTable.fixedHeader.disable();
                    oTable.destroy();
                }               
 */                 
                $('html, body').animate({scrollTop:$('#banner').position().top}, 'slow');
                $('#personSearchTabs a[href="#${activeSearchTab}"]').tab('show')
                $(".chosen-select").chosen();
                $( ".datePicker" ).datepicker({
                   showOn: "both",
                   buttonImage: context + 'static/images/Search Form/icon-calendar.png',
                   buttonImageOnly: true,
                   shortYearCutoff: "+10",
                   dateFormat: 'mm/dd/yy'
                });
                
                $('#advanceSearchSubmitButton').click (function(){
                    ojbc.clearPlaceholders();
                    var formData = $('#advancedSearchForm').serialize()+"&advanceSearch.sourceSystems="+ojbc.collectAllCheckBoxValues()+"&advanceSearch.purpose="+$('#purposeSelect').val()+"&advanceSearch.onBehalfOf="+$('#onBehalfOf').val()
                
                    xhr = $.post(context + "people/advanceSearch",formData,function(data) {
                        if (data.indexOf('id="advancedSearchTab"') === -1){
                            $('#filterColumn').addClass('d-none');
                        }
                        $('#portalContent').html(data);
                    }).fail(ojbc.displayFailMessage);
                });
    
                $('#juvenileSearchSubmitButton').click (
                    function(){
                        ojbc.clearPlaceholders();
                        var formData = $('#juvenileSearchForm').serialize()+"&advanceSearch.sourceSystems="+ojbc.collectAllCheckBoxValues()+"&advanceSearch.purpose="+$('#purposeSelect').val()+"&advanceSearch.onBehalfOf="+$('#onBehalfOf').val();
                    
                        xhr = $.post(context + "people/advanceSearch",formData,function(data) {
                            if (data.indexOf('id="advancedSearchTab"') === -1){
                                $('#filterColumn').addClass('d-none');
                            }
                            $('#portalContent').html(data);
                        }).fail(ojbc.displayFailMessage);
                    }
                );
                    
                $('#simpleSearchSubmitButton').click (function(){
                    ojbc.clearPlaceholders();
                    $("#searchType").val("SIMPLE");
                    var formData = $('#simpleSearchForm').serialize()+"&advanceSearch.sourceSystems="+ojbc.collectAllCheckBoxValues()+"&advanceSearch.purpose="+$('#purposeSelect').val()+"&advanceSearch.onBehalfOf="+$('#onBehalfOf').val(); 
                    
                    formData += '&'+_csrf_param_name+'='+_csrf_token;

                    console.log("formData: " + formData); 
                    xhr = $.post(context + "people/simpleSearch",formData, function(data) {
                        if (data.indexOf('id="advancedSearchTab"') === -1){
                            $('#filterColumn').addClass('d-none');
                        }
                        $('#portalContent').html(data);
                    }).fail(ojbc.displayFailMessage);
                });
              
               $("a[href='\\#advancedSearchTab']").click (function(){
                   $("#search-tab-title").html("ADVANCED SEARCH: PERSON");
               });
               
               $("a[href='\\#simpleSearchTab']").click (function(){
                   $("#search-tab-title").html("SIMPLE SEARCH: PERSON");
               }); 
                
               $("a[href='\\#juvenileSearchTab']").click (function(){
                   $("#search-tab-title").html("ADVANCED SEARCH: JUVENILE");
               });
                
                $('#sourceSystemsCheckBoxes').html($('#sourceSystems').html());
                $('#sourceSystemsCheckBoxesDisabled').html($('#sourceSystemsDisabled').html());
                
                if( sourceSystems ){
                    $('#sourceSystemsCheckBoxes input').prop("checked", false); 
                    
                    sourceSystems.forEach(function(selectedSourceSystem){
                    	console.log("selectedSourceSystem:" + selectedSourceSystem);
                    	$("#sourceSystemsCheckBoxes input[value='" + selectedSourceSystem + "']").prop('checked',true);
                    });
                }
                else{
                	$('#sourceSystemsCheckBoxes input').prop("checked", true);
                }
                            
                $('#juvenileSearchClearButton').click (function(event){
                  ojbc.clearSearchPurposeFields();
                  ojbc.clearSearchResultsFilterFields();
                  $.get(context + 'people/searchForm?resetForm=true&activeSearchTab=juvenileSearchTab', function(data) {
                    $('#portalContent').html(data);
                    
                    
                  }).fail(ojbc.displayFailMessage)
                });
                  
                $('#advanceSearchClearButton').click (function(event){
                  ojbc.clearSearchPurposeFields();
                  ojbc.clearSearchResultsFilterFields();
                  $.get(context + 'people/searchForm?resetForm=true&activeSearchTab=advancedSearchTab', function(data) {
                    $('#portalContent').html(data);
                    
                    
                  }).fail(ojbc.displayFailMessage)
                });
    
                $('#simpleSearchClearButton').click (function(event){
                      
                      ojbc.clearSearchPurposeFields();
                      ojbc.clearSearchResultsFilterFields();
                      $.get(context + 'people/searchForm?resetForm=true', function(data) {
                        $('#portalContent').html(data);
                        
                        
                      }).fail(ojbc.displayFailMessage)
                  });
                  
                  
                $("#simpleSearchForm").submit(function(event){
                    event.preventDefault();
                    $('#simpleSearchSubmitButton').click();
                });
                
                //This allows the input fields on the search form to submit form with enter key
                $('#advancedSearchTab input').keyup(function(e) {
                    if (e.keyCode == 13) {
                        $('#advanceSearchSubmitButton').click();
                    }
                });
    
                //This allows the select fields on the search form to submit form with enter key            
                $('#advancedSearchTab select').keyup(function(e) {
                    if (e.keyCode == 13) {
                        $('#advanceSearchSubmitButton').click();
                    }
                });         
                //This allows the input fields on the search form to submit form with enter key
                $('#juvenileSearchTab input').keyup(function(e) {
                    if (e.keyCode == 13) {
                        $('#juvenileSearchSubmitButton').click();
                    }
                });
    
                //This allows the select fields on the search form to submit form with enter key            
                $('#juvenileSearchTab select').keyup(function(e) {
                    if (e.keyCode == 13) {
                        $('#juvenileSearchSubmitButton').click();
                    }
                });         
    
                $('#demogFilterInfo').hide();                   
                $('#sourceSystemsCheckBoxes > p > input').attr('disabled', false);
                $('#sourceSystemsCheckBoxes > p > span').removeClass("lightgrayX");         
                $('#sourceSystemsCheckBoxes > p > span').addClass("fieldText");                     
                                    
          });
      </script>
        
    </div>
  </body>
</html>
