<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Person Search Details</title>
    <link rel="stylesheet" type="text/css" th:href='@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}' />
    <link rel="stylesheet" type="text/css" th:href='@{/css/style.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/css/print.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/css/modal-frame.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/webjars/jquery-ui-themes/1.13.0/smoothness/jquery-ui.min.css}'>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.20/css/dataTables.bootstrap4.min.css}" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />
    
    <script th:src='@{/webjars/jquery/3.6.0/jquery.min.js}'></script>
    <script th:src="@{/webjars/jquery-migrate/3.3.2/jquery-migrate.min.js}"></script>
    <script th:src='@{/webjars/jquery-ui/1.13.0/jquery-ui.min.js}'></script>
    <script th:src='@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}'></script>
    <script th:src='@{/webjars/popper.js/1.14.7/umd/popper.min.js}'></script>
    <script th:src='@{/webjars/datatables/1.10.20/js/jquery.dataTables.min.js}'></script>
    <script th:src='@{/webjars/datatables/1.10.20/js/dataTables.bootstrap4.min.js}'></script>
    <script type="text/javascript" th:src='@{/webjars/datatables-responsive/2.2.3/js/dataTables.responsive.js}'></script>
    <script type="text/javascript" th:src='@{/webjars/datatables-responsive/2.2.3/js/responsive.bootstrap4.js}'></script>
    
    
    <script th:src='@{/js/ojb-web-portal.js}'></script>
        
  </head>
    <body id="searchDetailsFrame">
        <th:block th:if="${showPrintButton}">
            <div class="print-only">
                <p style="font-weight: bold;">Information provided by the Open Justice Broker and is retrieved from multiple systems.  Please validate information with submitting agencies before taking action.</p>
                <p style="font-weight: bold;"> 
                    Printed by: $userLogonInfo.userName  <br/>
                    Agency: $userLogonInfo.employer<br/>
                    Printed Date and Time: $date.get('yyyy-M-d H:m:s')<br/>
                </p> 
            </div>   
            <div id="buttonPane" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix no-print">
                <div class="ui-dialog-buttonset">
                    <button id="printButton" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                        <span class="ui-button-text">Print</span></button>
                </div>
            </div>
        </th:block>
        
        <th:block th:if="${searchContent != 'error'}" th:utext="${searchContent}"></th:block>
        <th:block th:unless="${searchContent != 'error'}"> 
            <table class="detailsTable screenOnly" id="errorTable">
                <tr>
                    <td class="detailsTitle">UNABLE TO VIEW DETAILS</td>
                </tr>
                <tr>
                    <td><span class="error">A server-side error occurred. Please close this dialog and try again. If problem persists, contact your IT department.</span></td>
                </tr>
            </table>
        </th:block>   
		<script th:inline="javascript">
	        /*<![CDATA[*/
		        var context = /*[[@{/}]]*/ '';
	        /*]]>*/
	        $(function() {
	            $( document ).ajaxStart(function() {
	                $( "#modalIframeSpinner" ).show();
	            }).ajaxStop(function() {
	                $("#modalIframeSpinner").hide();
	            });
	        
	            if ($.trim(window.parent.$("#personInformationInModal").html())!=''){
	                if ($("#buttonPane").length){
	                    $("#buttonPane").after(window.parent.$("#personInformationInModal"));
	                }
	                else{
	                    $("#searchDetailsFrame").prepend(window.parent.$("#personInformationInModal"));
	                }
	                $("#personInformationInModal").show();
	            }
	            else if ($("#errorTable").length && $("#buttonPane").length){
	                $("#buttonPane").hide();
	            }
	            
	            $('#searchDetailsFrame').on('click', 'a', function(){           
	                $("#modalIframeSpinner").show();
	            });
	                        
	            $( document ).ajaxStart(function() {
	              $( "#loading" ).show();
	            });
	                
	            $("#printButton").on("click", function(){
	                window.print();
	            }); 
	            
	        });
		</script>
  </body>
</html>
