<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Person Search Result</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
  </head>
  <body>
    <!-- Begin page content -->
    <div th:fragment="personSearchResultContent" id="personSearchResultContent">
		<div>
		    <nav aria-label="breadcrumb">
		        <ol class="breadcrumb">
		            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
		            <li class="breadcrumb-item"><a href="#" class="peopleSearchLink">Person Search Form</a></li>
		            <li class="breadcrumb-item active" aria-current="page">Person Search Results</li>
		        </ol>
		    </nav>
		    <div th:utext="${searchContent}"></div>
		</div>
		
		
		<div class="modal fade ojbc-modal" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal" aria-hidden="true">
		  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div id="modalIframeSpinner"></div>
		        <div id='personInformationInModal'></div>
		        <iframe id="modalIframe" src="" style="border:0;overflow:hidden;height:auto;width:99%" ></iframe>
		      </div>
		    </div>
		  </div>
		</div>                  
		<div class="modal fade ojbc-modal" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div id="modalIframeSpinner"></div>
		      <div class="modal-header">
		        <h5 class="modal-title">ADD SUBSCIPTION</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      </div>
		      <div class="modal-footer">
		      </div> 
		     </div>
		    </div>
	    </div>
		<script th:inline="javascript">
	        /*<![CDATA[*/
		        var context = /*[[@{/}]]*/ '';
		        var singleClickForDetail = /*[[${singleClickForDetail}]]*/ false;
	        /*]]>*/
		    $(function() {
		
		        //to prevent IE from caching search forms, this has the effect that the input values are not remembered
		        $.ajaxSetup({ cache: false });
		        $('html, body').animate({scrollTop:$('#banner').position().top}, 'slow');
		        $.fn.dataTable.moment( 'MM/DD/YYYY' );
		        oTable = $("#personSearchResultsTable").DataTable({
		             pagingType: "full_numbers",
		             pageLength: 50,
		             stateSave: true,
		             fixedHeader:true,
		             responsive: true, 
		             "columnDefs": [ 
		                { targets: [ 0 ],  orderData: [ 0, 1 ]}
		             ]
		        });
		        
		        $('#demogFilterInfo').on('click', '#filterClear', function(){           
		            ojbc.clearSearchResultsFilterFields();
		            
		            $.get(context + 'people/clearFilter',function(data) {
		                  $('#portalContent').html(data);
		            }).fail(ojbc.displayFailMessage);
		            
		        });
		                    
		        $('#returnToSearchSubmitButton').click (function(){
		            $.get(context + 'people/searchForm?activeSearchTab=' + activeSearchTab ,function(data) {
		                $('#portalContent').html(data);
		            }).fail(ojbc.displayFailMessage)
		        }); 
		        
		        $('#newSearchSubmitButton').click (function(){
		            ojbc.clearSearchPurposeFields();
		            ojbc.clearSearchResultsFilterFields();
		            $.get(context + 'people/searchForm?resetForm=true' ,function(data) {
		                  $('#portalContent').html(data);
		                }).fail(ojbc.displayFailMessage)
		        });
		        
		        $('#personSearchResultsTable').on('click', '#personSearchSubButton',function() {
		            // call the spring controller method we need by this GET URL request,
		            // that method populates the mvc model map with objects needed that 
		            // are used by the html in the modal velocity template file
		            
		            var firstName = ($(this).attr('firstName'));
		            var lastName = ($(this).attr('lastName'));
		            var dob = ($(this).attr('dob'));
		            var sid = ($(this).attr('sid'));
		            
		            var subscription = "firstName=" +  firstName + "&lastName=" + lastName +  "&dob=" + dob + "&sid=" + sid + "&sourcePage=personSearch";
		            
		            var sourcePage="personSearch";      
		
		            $.post(context + 'subscriptions/addSubscription', subscription,
		                function(data){
		                $('#subscriptionModal .modal-dialog').addClass('modal-sm'); 
		                $('#subscriptionModal .modal-title').html('ADD Subsciption');               
		                $('#subscriptionModal .modal-body').html(data);
		                $('#subscriptionModal .modal-footer').html('');
		                $('#subscriptionModal').modal('show');
		            }).fail(ojbc.displayFailMessage);
		            return false;                                                                                             
		
		        });         
		
		        if(singleClickForDetail){
		            $("#personSearchResultsTable").on('click', 'tbody tr', function(){
		                $(this).find("a.viewDetails").click();
		            });
		        }
		        else{
		            $("#personSearchResultsTable").on('dblclick', 'tbody tr', function(){
		                $(this).find("a.viewDetails").click();
		            });
		        } 
		 
		        $("#personSearchResultsTable tbody tr").on('mouseenter', function(){
		             $(this).addClass("incidentHover");
		        }).on('mouseleave', function () {
		             $(this).removeClass("incidentHover");
		        });
		 
		        $('#personSearchResultsTable').on('click', 'a.viewDetails',function() {
		            var url = encodeURI(this.href);
		            var title = $(this).attr('searchName');
		            $('#detailModal .modal-title').html(title);
		            
		            var appendPersonDataDivId = $(this).attr('appendpersondata');
		            //console.log("appendPersonDataDivId: "  + appendPersonDataDivId);
		            var personDataDiv = $('div#'+appendPersonDataDivId);
		            
		            //console.log("personDataDiv.text().length: "  + personDataDiv.text().length); 
		            //console.log("$('div#'+appendPersonDataDivId).html(): "  + $('div#'+appendPersonDataDivId).html()); 
		            if(personDataDiv.text().length > 0){
		                if($("#personInformationInModal").length === 0 ){
		                    $( "<div id='personInformationInModal'/>" ).insertAfter($('#detailModal .modal-body #modalIframeSpinner'));
		                }
		                $('#personInformationInModal').html($('div#'+appendPersonDataDivId).html());
		            }
		            
		            //console.log("about to call showDetailModal"); 
		            ojbc.showDetailModal(url, 250);
/* 		            console.log("iframeHeight after shown: "
		                + $("#modalIframe")[0].contentWindow.document.body.scrollHeight > 0? $("#modalIframe")[0].contentWindow.document.body.scrollHeight:0); 
 */		            
		            return false;
		        });
		        
		        if($("#search-results-title").text().indexOf("PERSON") > 0) {
		            $('#demogFilterInfo').show();
		            $('#sourceSystemsCheckBoxes > p > input').attr('disabled', true);
		            $('#sourceSystemsCheckBoxes > p > span').removeClass("fieldText");                  
		            $('#sourceSystemsCheckBoxes > p > span').addClass("lightgrayX");        
		        }
		            
		        $('.modal-dialog').draggable({
		            handle: ".modal-header"
		        });
		
		  });
		</script>
    </div>
  </body>
</html>
