<!DOCTYPE html>
 <script type="text/javascript">
	  $(function() {	    	  
    		
    		$('#idLookupLink').click(
    			function(){
    				alert('Coming Soon');
    			}
    		)
    		    	  		    			
    		// note hacked beforeShow property is a function to return false (ignores clicks and prevents 
    		// displaying DatePicker - due to DatePicker limitation that doesn't honor readonly property.  DatePicker
    		// allows being disabled but that prevents the html field value from being sent to the server when the form 
    		// is serialized	    	   		    			
    	    $(".disabledDatePicker").datepicker({
    	       showOn: "both",
    	       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",    	  
    	       buttonImageOnly: true,
    	       beforeShow: function(i) {  return false; } 
    	    });	
    	        	        	   
    	    $(".enabledDatePicker").datepicker({
    	       showOn: "both",
    	       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",
    	       buttonImageOnly: true,
    	    });	 
	  });	

</script>

<div>
	#springFormInput("subscriptionAddCommand.subscriptionAddRequest.firstName" "placeholder='First Name'")
</div>

<div>
	#springFormInput("subscriptionAddCommand.subscriptionAddRequest.lastName" "placeholder='Last Name'")
</div>



<table style="white-space:nowrap;">
	<tr>
		<td style="text-align:right;vertical-align:middle;">
			<label for="subscriptionAddRequest.dateOfBirth">DOB:</label>
		</td>
		<td>
			#springFormInput("subscriptionAddCommand.subscriptionAddRequest.dateOfBirth" "style='width:110px' class='enabledDatePicker' placeholder='DOB'")
		</td>
	</tr>

	<tr>
		<td style="text-align:right;vertical-align:middle;">
			<label for="subscriptionAddRequest.subscriptionStartDate">Start Date:</label>
		</td>
		<td>
			#if( ${isStartDateEditable} )
				#springFormInput("subscriptionAddCommand.subscriptionAddRequest.subscriptionStartDate" "style='width:110px' class='enabledDatePicker' placeholder='From'")
			#else
				#springFormInput("subscriptionAddCommand.subscriptionAddRequest.subscriptionStartDate" "style='width:110px' class='disabledDatePicker' placeholder='From' readonly='readonly' ")
			#end
		</td>
	</tr>
	
	<tr>
		<td style="text-align:right;vertical-align:middle;">
			<label for="subscriptionAddRequest.subscriptionEndDate">End Date:</label>
		</td>
		<td>
			#if( ${isEndDateEditable} )
				#springFormInput("subscriptionAddCommand.subscriptionAddRequest.subscriptionEndDate" "style='width:110px' class='enabledDatePicker' placeholder='No End Date'")
			#else
				#springFormInput("subscriptionAddCommand.subscriptionAddRequest.subscriptionEndDate" "style='width:110px' class='disabledDatePicker' placeholder='No End Date' readonly='readonly' ")
			#end							
		</td>
	</tr>			
</table>



<div>
	#springFormInput("subscriptionAddCommand.subscriptionAddRequest.emailList[0]" "placeholder='Email Address 1'")
</div>

<div>
	#springFormInput("subscriptionAddCommand.subscriptionAddRequest.emailList[1]" "placeholder='Email Address 2'")
</div>

<div>
	#springFormInput("subscriptionAddCommand.subscriptionAddRequest.emailList[2]" "placeholder='Email Address 3'")
</div>


		        