#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
	  $(function() {
	      //to prevent IE from caching search forms, this has the effect that the input values are not remembered
          $.ajaxSetup({ cache: false });
 		  ojbc.handlePlaceholders(); 
 		  ojbc.handleEsc();
    	  
		    $( ".datePicker" ).datepicker({
		       showOn: "both",
		       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",
		       buttonImageOnly: true,
		       shortYearCutoff: "+10",
		       dateFormat: 'mm/dd/yy',
		       onClose: function(dateText, inst) {
		  		$(this).datepicker('option', 'dateFormat', 'mm/dd/yy');      
		       }
		    });
		    
			$('#advanceSearchSubmitButton').click (function(){
	        	ojbc.clearPlaceholders();
	        	var formData = $('#advancedSearchForm').serialize();
	  	       	xhr = $.post("#springUrl('/subscriptions/search')",formData,function(data) {
	  	       	  if (data.indexOf("id='advancedSearchForm'") > 0){
		       	  	$('#subscriptionsContent').html(data);
		       	  }
		       	  else{
			       	$("#portalContent").html(data);
		       	  }
		        }).fail(ojbc.displayFailMessage);
			});
		
	        $('#advanceSearchClearButton').click (function(event){
			  $.get("#springUrl('/subscriptions/searchForm?resetForm=true')", function(data) {
			    $('#subscriptionsContent').html(data);
			  }).fail(ojbc.displayFailMessage)
	      	});
	
			//This allows the input fields on the search form to submit form with enter key
			$('#searchTabs input').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#advanceSearchSubmitButton').click();
			    }
			});
	
			//This allows the select fields on the search form to submit form with enter key			
			$('#searchTabs select').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#advanceSearchSubmitButton').click();
			    }
			});			
	
	  });
  </script>

<div id="searchTabs">
    <form id='advancedSearchForm' >
	    #if($errors.hasGlobalErrors())
	        #foreach( $globalError in $errors.globalErrors )
	            <div class="alert alert-danger" role="alert"> $globalError.defaultMessage </div>
	        #end
	    #end
		#springFormHiddenInput("subscriptionSearchRequest.adminSearch")
  		<div class='row'>
  			<div class='col col-md-6 col-lg-4 pl-4'>
		        <p class="searchSubHeader"> SUBJECT</p>
		        <div>#springFormInput("subscriptionSearchRequest.subjectFirstName" "placeholder='First Name' class='form-control form-control-sm'")</div>
		        <div>#springFormInput("subscriptionSearchRequest.subjectLastName" "placeholder='Last Name' class='form-control form-control-sm'")</div>
		        <div>#springFormInput("subscriptionSearchRequest.sid" "placeholder='SID' class='form-control form-control-sm'")
		        	#springShowErrors( "<br/>" "error pl-2" ) 
		        </div>
		        <div>#springFormInput("subscriptionSearchRequest.ucn" "placeholder='UCN' class='form-control form-control-sm'")
		        	#springShowErrors( "<br/>" "error pl-2" ) 
		        </div>
				<div class="labelText">
					<p class="searchSubHeader"> SUBSCRIPTION PURPOSE</p>
					#springFormCheckboxes("subscriptionSearchRequest.subscriptionCategories" $subscriptionPurposeMap " &nbsp;" "")
				</div>    				        
        	</div>
        </div>
        <div class="mx-2 mt-4">
        	<a id="advanceSearchSubmitButton" class="btn btn-primary btn-sm" href="#" role="button">SEARCH</a>
        	<a id="advanceSearchClearButton" class="btn btn-secondary btn-sm" href="#" role="button">CLEAR</a>
        </div>
    </form>
</div>
