#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
 
  $(function() {
  	$('#searchBarButtonDiv').hide();    	
  		
  	$.fn.dataTable.moment( 'MM/DD/YYYY' );
	var table = $("#searchResultsTable").DataTable({
		 "order": [[ 3, "asc" ]],
		 "pagingType": "full_numbers",
		 "pageLength": 25,
		 stateSave: true,
		 colReorder: true,
		 "language": {
      		"emptyTable": "No subscriptions found"
    	 }, 
	     "aoColumns": [
		      { "bSortable": false, "bSearchable":false },
		      { "bSortable": false, "bSearchable":false },
			      null, null,null, null, null, null, null
		    ]
		     
	});
	var reStyleButtonsBasedOnSelection = function() {
			// Make the selected search button blue, and the others gray
	        $('#subscriptionTopButtons .blueButton').addClass('grayButton').removeClass('blueButton');
			$(this).removeClass('grayButton').addClass('blueButton');
	};
	$('#subscriptionTopButtons a').click (reStyleButtonsBasedOnSelection);
			
	$("#subscriptionButtons").appendTo("#searchResultsTable_length");	  		
	$("#subscriptionStatusFilter").prependTo("#searchResultsTable_filter");	  		
	
	function getCheckedValues() {
	
		var checkedValues = $('input:checkbox:checked').map(function() {
			//console.log("value:" + this.value);
			var id = JSON.parse(this.value).id;
		    return '"' + id +'":' + this.value;
		}).get();
		
		if (!String(checkedValues)) {
			return null; 
		}
		else {
			return	'{' + checkedValues + '}';
		}	  		
	}

	$('#advancedSearch').click (function() { 
		$.get("#springUrl('/subscriptions/searchForm')", function(data) {	
			$("#subscriptionsContent").html(data);
			$("#searchCancelSection").appendTo
		}).fail(ojbc.displayFailMessage);
		return false;
	});

	$('#subscriptionButtons').on('click', '#validateLink',function() {
		var checkedValues = getCheckedValues();	
																																	
		if( !checkedValues ){
			alert('No subscriptions selected');
			return false;
		}

		var row = $(this).parent();	
			    
	    $( "#dialog-confirm-validate" ).dialog({
	    	  position: { my: "center center", at: "center center", of: window },
		      resizable: true,
		      modal: true,
		      buttons: {
		        "Validate": function() {
					var urlRequest = encodeURI('../subscriptions/validate?subIdToSubDataJson=' + checkedValues);
				
					//call spring controller and refresh the current page with the subscription search results returned				 
					$.post(urlRequest, function(data) {										
					      $('#portalContent').html(data);					      
						}
					).fail(ojbc.displayFailMessage);
					
			        $( this ).dialog( "close" );
		        },
		        "Close": function() {
	            		 $( this ).dialog( "close" );
            	}
		     }
	    });   		
		    				    
			
		return false;
	});	  
	
	$('#subscriptionButtons').on('click', '#unsubscribeLink',function() {
		var checkedValues = getCheckedValues();	
		
		if(!checkedValues){
			alert('No subscriptions selected');
			return false;
		}
		
		//console.log("checkedValues: " + checkedValues);
								
		var confirmUnsubscribe = confirm("Are you sure you want to unsubscribe?");				
		
		if(confirmUnsubscribe == true){
																		
			var urlRequest = encodeURI('../subscriptions/unsubscribe?subIdToSubDataJson=' + checkedValues);					
			
			//call the unsubscribe operation and refresh the current page with the subscription search results returned				 
			$.get(urlRequest, function(data) {										
			      $('#portalContent').html(data);					      
				}
			).fail(ojbc.displayFailMessage);
				
			return false;
													 																		 
		}else{
		  return false;
		}
		
    });
	
	// listener for click on any editSubscriptionLink button
	$('#searchResultsTable').on('click', 'a[id^="editSubscriptionLink"]',function() {
		var editMvcUrl = encodeURI(this);
		var dlgHeight = $(window).height() * .9;
		var row = $(this).closest("tr");	    		    			
  		$.get(editMvcUrl, function(data){
			 var vSubDialog = $('<div style="display:none;overflow:hidden" class="contentBox" id="editSubscriptionDialog" title="EDIT SUBSCRIPTION"/> ').appendTo('body');
        	 
			 vSubDialog.dialog({  
			 		position: { my: "center center", at: "center center", of: window},                  
	                modal:true,
					resizable:false,
					create:function(){
			        	 $('#editSubscriptionDialog').html(data);
					},
			        close: function(event, ui){
			        	$(this).dialog("close");
			        	$('#editSubscriptionDialog').remove();
			        }    	                                  
                }).css({height:"auto", overflow:"auto"}); 			  						  				  				
  		}).fail(ojbc.displayFailMessage);	
  		
  		//prevent default browser navigation to link<a> href url, because we're using the url 
  		// as a spring mvc call
  		return false;		  					  					  		                                                     
 	});   		 
    
	$('#subscriptionResultsContainer').on('click', '#addSubLink',function() {
		// call the spring controller method we need by this GET URL request,
		// that method populates the mvc model map with objects needed that 
		// are used by the html in the modal velocity template file
		var dlgHeight = $(window).height() * .9;
  		$.post("#springUrl('/subscriptions/addSubscription')", 
  			function(data){			  			
  							  			
    			 var vSubDialog = $('<div style="display:none;overflow:hidden" class="contentBox" id="addSubscriptionDialog" title="ADD SUBSCRIPTION"></div>').appendTo('body');			    			
    			 $('#addSubscriptionDialog').html(data);
    			 
    			 vSubDialog.dialog({                    
						position: { my: "center center", at: "center center", of: window},
		                modal:true,
				        maxWidth:480,
				        maxHeight:dlgHeight,
				        resizable:false,
				        open:function(event,ui){							        							        	
				        	$('#modalIframeSpinner').hide();
				        },
				        close: function(event, ui){
				        	$(this).dialog("close");
				        	$('#addSubscriptionDialog').remove();
				        }    	                                  
                    }).css({height:"auto", overflow:"auto"});; 			  						  				  				
  			}
  		).fail(ojbc.displayFailMessage);
  		return false;			  					  		                                                      
  	}); 

  });
  
</script>
	
	
<div class="card" id="subscriptionsCard"> 
	<div class="card-header container-fluid">
	  <div class="row ml-1 h-100">
	    <div class="my-auto" id="search-results-title">
	      MANAGE SUBSCRIPTIONS
	    </div>
	    <div class="ml-auto">
        	<a id="addSubLink" class="grayButton" href="#"><span id="subImgSpan"/>ADD SUBSCRIPTION</a>
        	<a id="advancedSearch" class="grayButton" href="#">ADVANCED SEARCH</a>
		</div>
	  </div>
	</div>
	<div class="card-body" id="subscriptionsContent">
    	#parse("common/_subscriptionsLeftBar.vm")
		#if($informationMessages && $informationMessages!='')
			<div class="alert alert-danger fade in alert-dismissible show">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<i class="fas fa-times" aria-hidden="true"></i>
				</button>    
				$informationMessages
			</div>
		#end
		$subscriptionsContent								
	</div>
</div>

<div id="dialog-confirm-validate" title="Are you authorized?" class="hidden" style="width:400px;height:auto;">
	<div style="margin:7px;padding:7px;">
		<p><i class="fas fa-exclamation-triangle mr-2 mb-4 float-left"></i>You are required to review this subscription and determine whether you are still authorized to receive criminal history record information on this individual. </p>
		<p>If the individual is still under court-ordered supervision or authorized law enforcement investigation with your agency you may select "Validate".</p>
		<p>If the person is no longer under court-ordered supervision or authorized law enforcement investigation with your agency, you must cancel the subscription.</p>
	</div>
</div>
    
