#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
 
  $(function() {
  	$('#searchBarButtonDiv').hide();    	
  		
  	$.fn.dataTable.moment( 'MM/DD/YYYY' );
	var table = $("#searchResultsTable").DataTable({
		 "order": [[ 3, "asc" ]],
		 "pagingType": "full_numbers",
		 "pageLength": 25,
		 stateSave: true,
		 colReorder: true,
		 "language": {
      		"emptyTable": "No subscriptions found"
    	 }, 
	     "aoColumns": [
		      { "bSortable": false, "bSearchable":false },
		      { "bSortable": false, "bSearchable":false },
			      null, null,null, null, null, null, null
		    ]
		     
	});
	var reStyleButtonsBasedOnSelection = function() {
			// Make the selected search button blue, and the others gray
	        $('#subscriptionTopButtons .blueButton').addClass('grayButton').removeClass('blueButton');
			$(this).removeClass('grayButton').addClass('blueButton');
	};
	$('#subscriptionTopButtons a').click (reStyleButtonsBasedOnSelection);
			
	$("#subscriptionButtons").appendTo("#searchResultsTable_length");	  		
	$("#subscriptionStatusFilter").prependTo("#searchResultsTable_filter");	  		
	
	function getCheckedValues() {
	
		var checkedValues = $('input:checkbox:checked').map(function() {
			//console.log("value:" + this.value);
			var id = JSON.parse(this.value).id;
		    return '"' + id +'":' + this.value;
		}).get();
		
		if (!String(checkedValues)) {
			return null; 
		}
		else {
			return	'{' + checkedValues + '}';
		}	  		
	}

	$('#advancedSearch').click (function() { 
		$.get("#springUrl('/subscriptions/searchForm')", function(data) {	
			$("#subscriptionsContent").html(data);
			$("#searchCancelSection").appendTo
		}).fail(ojbc.displayFailMessage);
		return false;
	});

	$('#subscriptionButtons').on('click', '#validateLink',function() {
		var checkedValues = getCheckedValues();	
																																	
		if( !checkedValues ){
			bootpopup.alert('No subscriptions selected');
			return false;
		}

		var row = $(this).parent();
			
		bootpopup({
		    title: "Are you authorized?", 
		    size: "large",
		    showclose: false,
		    content: [
	    		  '<p><i class="fas fa-exclamation-triangle mr-2 mb-4 float-left"></i>You are required to review this subscription and determine whether you are still authorized to receive criminal history record information on this individual. </p>',
		          { p: {text: 'If the individual is still under court-ordered supervision or authorized law enforcement investigation with your agency you may select "Validate". '}},
		          { p: {text: "If the person is no longer under court-ordered supervision or authorized law enforcement investigation with your agency, you must cancel the subscription."}}
		          ], 
		    cancel: function() {},
		    validate: function(data, array, event) {  
				var urlRequest = encodeURI('../subscriptions/validate?subIdToSubDataJson=' + checkedValues);
			
				//call spring controller and refresh the current page with the subscription search results returned				 
				$.post(urlRequest, function(data) {										
				      $('#portalContent').html(data);					      
					}
				).fail(ojbc.displayFailMessage);
		    },
		});
			    
		return false;
	});	  
	
	$('#subscriptionButtons').on('click', '#unsubscribeLink',function() {
		var checkedValues = getCheckedValues();	
		
		if(!checkedValues){
			bootpopup.alert('No subscriptions selected', 'ERROR');
			return false;
		}
		
		//console.log("checkedValues: " + checkedValues);
								
        bootpopup.confirm("Are you sure you want to unsubscribe?" , "", function(ans) { 
		    if(ans){
				var urlRequest = encodeURI('../subscriptions/unsubscribe?subIdToSubDataJson=' + checkedValues);					
				
				//call the unsubscribe operation and refresh the current page with the subscription search results returned				 
				$.get(urlRequest, function(data) {										
				      $('#portalContent').html(data);					      
					}
				).fail(ojbc.displayFailMessage);
			} 
			return false;
		}); 
    });
		
	// listener for click on any editSubscriptionLink button
	$('#searchResultsTable').on('click', '.viewDetails',function(event) {
		event.preventDefault();
		var editMvcUrl = encodeURI(this.href);
		var row = $(this).closest('tr'); 
		row.siblings().removeClass("selected");
	    row.addClass("selected");
		
		var topic = jQuery.parseJSON(row.find('input:checkbox').val()).topic;
		if (topic !== '{http://ojbc.org/wsn/topics}:person/rapback'){
			$('#subscriptionModal .modal-dialog').addClass('modal-sm'); 
		}
		else{
			$('#subscriptionModal .modal-dialog').removeClass('modal-sm'); 
		}
		
  		$.get(editMvcUrl, function(data){
			$('#subscriptionModal .modal-title').html('EDIT SUBSCIPTION');	  			
  			$('#subscriptionModal .modal-body').html(data);
  			$('#subscriptionModal .modal-footer').html(
  				' <button id="editSubModalCancelLink" class="btn btn-sm btn-secondary">CANCEL</button>' + 
  				' <button id="editSubModalSaveLink" class="btn btn-sm btn-primary">SAVE</button>');
  			$('#subscriptionModal').modal('show');
  		}).fail(ojbc.displayFailMessage);	
  		
  		return false;		  					  					  		                                                     
 	});   		 
	
	$('#subscriptionResultsContainer').on('click', '#addSubLink',function() {
		// call the spring controller method we need by this GET URL request,
		// that method populates the mvc model map with objects needed that 
		// are used by the html in the modal velocity template file
  		$.post("#springUrl('/subscriptions/addSubscription')", 
  			function(data){
  			$('#subscriptionModal .modal-dialog').addClass('modal-sm'); 
			$('#subscriptionModal .modal-title').html('ADD SUBSCIPTION');	  			
  			$('#subscriptionModal .modal-body').html(data);
  			$('#subscriptionModal .modal-footer').html('');
  			$('#subscriptionModal').modal('show');
  		}).fail(ojbc.displayFailMessage);
  		return false;			  					  		                                                      
  	}); 

  });
  
</script>
	
	
<div class="card" id="subscriptionResultsContainer"> 
	<div class="card-header container-fluid">
	  <div class="row ml-1 h-100">
	    <div class="my-auto" id="search-results-title">
	      MANAGE SUBSCRIPTIONS
	    </div>
	    <div class="ml-auto">
        	<a id="addSubLink" class="grayButton" href="#"><span id="subImgSpan"/>ADD SUBSCRIPTION</a>
        	<a id="advancedSearch" class="grayButton" href="#">ADVANCED SEARCH</a>
		</div>
	  </div>
	</div>
	<div class="card-body" id="subscriptionsContent">
    	#parse("common/_subscriptionsLeftBar.vm")
		#if($informationMessages && $informationMessages!='')
			#if ($informationMessages == 'Operation Successful')
				#set( $divClass = "alert alert-success fade in alert-dismissible show" )
			#else
				#set( $divClass = "alert alert-danger fade in alert-dismissible show" )
			#end
			<div class="$divClass" id="informationMessages" >
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<i class="fas fa-times" aria-hidden="true"></i>
				</button>    
				$informationMessages
			</div>
		#end
		$subscriptionsContent								
	</div>
</div>

<div class="modal fade ojbc-modal" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
	  <div id="modalIframeSpinner"/>
	  <div class="modal-header">
	  	<h5 class="modal-title">Edit Subsciption</h5>
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div> 
     </div>
	</div>
  </div>
</div>				    
    
