# Open Justice Broker configuration file 

# This file contains properties that are used by camel contexts in the OJB.

###############################################################
####  Prosecution Decision Reporting Service Configuration ####
###############################################################

#CXF Logging
prosecutionDecisionReporting.cxflogging=true

# Prosecution Decision Reporting Service Endpoint - Prosecution Decision Reporting Service Intermediary
prosecutionDecisionReporting.caseFilingDecisionReportingServiceEndpoint=/intermediary/CaseFilingDecisionReportingService

#These endpoints are just place holders
prosecutionDecisionReporting.prosecutionDecisionFilingAdapterEndpoint=http://localhost/prosecutionDecisionFiling
prosecutionDecisionReporting.courtCaseFilingServiceAdapterEndpoint=http://localhost/courtCaseFiling

#Modify this variable to specify routes to call in a derived bundle
#For an example, we show a logging endpoint here.  
#Typically you will perform a directvm call to a route in a derived bundle.
#This is not required and only used for implementer extensions
prosecutionDecisionReporting.camelEndpointsToCall=log:org.ojbc.intermediaries.prosecution_decision_reporting?level=INFO

#Modify this variable to specify routes to call in a derived bundle to enrich content
#This is not required and only used for implementer extensions
#You can use this to call an XSLT, bean, directvm endpoint etc.
prosecutionDecisionReporting.enrichContentURI=log:org.ojbc.intermediaries.prosecution_decision_reporting?level=INFO

#Specific whether to call the core capability, the court case filing service
callProsecutionDecisionFiling=true

#Specific whether to call the core capability, the charge filing filing service
callCourtCaseFiling=true

#################################################
####     Certificate Configuration           ####
#################################################
prosecutionDecisionReporting.keystoreCertificateAlias=demo-intermediary-key
prosecutionDecisionReporting.keyPassword=demo-intermediary-key
prosecutionDecisionReporting.keystoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-keystore.jks
prosecutionDecisionReporting.keystorePassword=demo-intermediary-keystore

#Truststore information
prosecutionDecisionReporting.truststoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-truststore.jks
prosecutionDecisionReporting.truststorePassword=demo-intermediary-truststore