<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>OJBC Web Portal</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    <!-- Begin page content -->
	    <div th:fragment="resultsPage">
	      <div id="loadingAjaxPane" ></div>
        <h3>Audit Search</h3>
        <form action="#" th:replace="audit/auditSearchForm.html :: auditSearchForm"/>
        <hr/>
        
        <div id="searchResultsList" th:fragment="resultsList" >
          <p th:utext="${auditSearchContent}" ></p>
          <script th:inline="javascript">
              $(function(){
                  $.fn.dataTable.moment( 'MM/DD/YYYY - HH/mm' );

                  var table = $('#searchResultsTable').DataTable({
                	  responsive: true, 
                	  fixedHeader: {header: true}, 
                    buttons: [
                        {
                            extend: 'csvHtml5',
                            title:'RAPUP Tool Audit Logs',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            title:'RAPUP Tool Audit Logs',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'print',
                            title:'RAPUP Tool Audit Logs',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis'
                    ],
                    "columnDefs": [
                        { "orderable": false, "targets": 7 },
                        {
                            "targets":[6], 
                            "type":"datetime"
                        },
                      ]
                  });
                  
                   table.buttons().container()
                    .appendTo( '#searchResultsTable_length' ).addClass("mr-5");
                  
                  $('#searchResultsTable').on('click', 'a.requestPayload',function() {
                	   table.$('tr.selected').removeClass('selected');
               	     $(this).closest("tr").addClass('selected');  
                     $('div.modal-body').html($(this).next("div.auditRequestPayload").html());
                     $('#requestPayloadModal').modal('show');
                  }); 

              });
          </script>
        </div>
        <div id="modalDiv">
           <!-- The Modal -->
           <div class="modal" id="requestPayloadModal">
             <div id="modalIframeSpinner" ></div>
             <div class="modal-dialog modal-lg">
               <div class="modal-content">
           
                 <!-- Modal Header -->
                 <div class="modal-header">
                   <h4 class="modal-title">Request Payload</h4>
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>
           
                 <!-- Modal body -->
                 <div class="modal-body">
                   modal body
                 </div>
         
                 <!-- Modal footer -->
                 <div class="modal-footer">
                 </div>
           
               </div>
            </div>
           </div>
        </div>
        
        <script th:inline="javascript">
            /*<![CDATA[*/
              var _csrf_token = /*[[${_csrf.token}]]*/ '';
              var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';

            /*]]>*/
             $(function(){
                 $('.date').mask('99/99/9999');
                 $('#auditDateRangeStartDate').datepicker({
                     uiLibrary: 'bootstrap4', size: 'small'
                 });
                 $('#auditDateRangeEndDate').datepicker({
                     uiLibrary: 'bootstrap4', size: 'small'
                 });
                 $(".chosen-select").chosen(); 
                 $('#searchForm input').keypress(function (e) {
                   
                 if (e.which == 13) {
                     $('#submit').click();
                     return false;    
                   }
                 });
                 
                 $('#submit').click (function(){
                   var requestData = {
                       'auditDateRangeStartDate': $('#auditDateRangeStartDate').val(),
                       'auditDateRangeEndDate': $('#auditDateRangeEndDate').val(),
                       'firstName': $('#firstName').val(),
                       'lastName': $('#lastName').val(),
                       'ori': $('#ori').val(),
                       'firstNameExactMatch': $('#firstNameExactMatch1').is(":checked"),
                       'lastNameExactMatch': $('#lastNameExactMatch1').is(":checked"),
                       'activityTypeId':$('#activityTypeId').val(),
                       'activityTypeDescription':$('#activityTypeId option:selected').html()
                   };
                   requestData[_csrf_param_name] = _csrf_token;
                   xhr = $.post(context + "audit/auditLogs",requestData,function(data) {
                     $('#searchResultsList').replaceWith(data);
                   }).fail();
                 });

             });
        </script>
	    </div>
	
	</body>
</html>
