<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>OJBC Web Portal</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
     <!-- Begin page content -->
     <div th:fragment="auditSearchForm">
     
	     <div id="loadingAjaxPane" ></div>
	     <h3 class="mt-5">Audit Search</h3>
	     
	     <form action="#" th:object="${auditSearchRequest}" id="searchForm" method="post">
	       <div class="form-row">
           <div class="col-9">
	              <div class="form-group row">
		              <label class="col-2 col-form-label">Audit Date </label>
		              <div class="col-sm-10">
			              <input type="text" th:field="*{auditDateRangeStartDate}" class="date" width="250" placeholder="From"/>
			              <input type="text" th:field="*{auditDateRangeEndDate}" class="date" width="250" placeholder="To"/>
			              <div th:if="${#fields.hasErrors('auditDateRangeStartDate')}" th:errors="*{auditDateRangeStartDate}">Audit Date error message</div>
		              </div>
	              </div>
                <div class="form-group row">
		              <label for="firstName" class="col-2 col-form-label">First Name </label>
		              <div class="col-sm-10">
			              <input type="text" th:field="*{firstName}" width="250" placeholder="First Name"/>
	                  <input type="checkbox" th:field="*{firstNameExactMatch}" th:value="${firstNameExactMatch}" />
	                    Exact Match
		              </div>
	              </div>
                <div class="form-group row">
		              <label for="lastName" class="col-2 col-form-label">Last Name </label>
                  <div class="col-sm-10">
			              <input type="text" th:field="*{lastName}" width="250" placeholder="Last Name"/>
	                  <input type="checkbox" th:field="*{lastNameExactMatch}" th:value="${lastNameExactMatch}" />
	                   Exact Match
		              </div>
		            </div>
                <div class="form-group row">
		              <label for="ori" class="col-2 col-form-label">Agency</label>
                  <div class="col-sm-10">
	  		            <select th:field="*{ori}" class="form-control chosen-select" th:errorclass="is-invalid">
				                <option value="" >Please select ...</option>
				                <option th:each="item: ${agencyOriMapping}" th:value="${item.key}" th:text="${item.value}" />
	 		              </select>
 		              </div>
                 </div>
	           </div>
	           <div class="col-3" style="text-align:right;">
	                 <button type="button" class="btn-primary" id="submit">Refresh Search</button>
	                 <button type="reset" class="btn-secondary">Reset</button>
	           </div>
	       </div>
	      </form>
      </div>
	</body>
</html>
