<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <title>OJBC Web Portal</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
     <!-- Begin page content -->
     <div th:fragment="arrestLookupForm">
       <div id="loadingAjaxPane" ></div>
       <h3 class="mt-5">Arrest Lookup</h3>
       
       <div id="arrestLookUpResponse"></div>
	     <form action="#" id="arrestLookupForm" method="post">
          <div class="col-3">
           <table>
             <tr>
               <td>OTN *</td>
               <td><input type="text" id="otn" name="otn" width="250" placeholder="OTN"/></td>
             </tr>
           </table>
          </div>
          <div class="col-3" style="text-align:right;">
                <button type="button" class="btn-primary" id="submit">Submit</button>
                <button type="reset" class="btn-secondary">Reset</button>
                <sec:csrfInput/>
          </div>
	      </form>
        <script th:inline="javascript">
          /*<![CDATA[*/
            var context = [[@{/}]];
            var _csrf_token = /*[[${_csrf.token}]]*/ '';
            var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
          /*]]>*/

          $(function(){
              
              $('#arrestLookupForm input').keypress(function (e) {
                if (e.which == 13) {
                  $('#submit').click();
                  return false;    
                }
              });
              
              $('#submit').click (function(){
            	  if ($("#otn").val()){
	                var requestData = {
	                	'otn': $("#otn").val(),
	                };
	                requestData[_csrf_param_name] = _csrf_token;
	                
	                xhr = $.post(context + "arrests/lookup", requestData, function(data) {
	                  $('#arrestLookUpResponse').html(data);
	                }).fail(ojbc.displayFailMessage);
            	  }
	              else{
	            	  bootpopup.alert("Please enter an OTN to lookup", "Error");
	              }
              });
              
            }); 
  
          </script>
	      
      </div>
  </body>
</html>
