<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <title>OJBC Web Portal</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
     <!-- Begin page content -->
     <div th:fragment="arrestLookupForm">
       <div id="loadingAjaxPane" ></div>
       <h3 class="mt-4">Arrest Lookup
          <a href="#" data-toggle="popover" data-trigger="hover" 
             data-content="This screen allows users to request that a specific arrest record be made available for viewing or editing through this tool">
             <i class="fas fa-info-circle"></i></a>
       </h3>
       
	     <form action="#" id="arrestLookupForm" method="post" >
	       <div class="form-row">
					  <div class="form-group input-group col-8" id="otnDiv">
					    <input type="text" class="form-control" id="otn" placeholder="OTN" required autofocus>
					    <div class="invalid-feedback">Please provide a valid OTN</div>
	            <div id="arrestLookUpResponse"></div>
					  </div>
	          <div class="col-4">
              <button type="button" class="btn-primary" id="submit">Submit</button>
              <button type="reset" class="btn-secondary" id="reset">Reset</button>
	          </div>
				 </div>
	      </form>
        <script th:inline="javascript">
          /*<![CDATA[*/
            var context = [[@{/}]];
            var _csrf_token = /*[[${_csrf.token}]]*/ '';
            var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
          /*]]>*/

          $(function(){
        	    $('[data-toggle="popover"]').popover();
              $('#arrestLookupForm input').keypress(function (e) {
                if (e.which == 13) {
                  $('#submit').click();
                  return false;    
                }
              });
              
              $('#submit').click (function(){
                $('#arrestLookUpResponse').removeClass().html("");
            	  if ($("#otn").val()){
	                var requestData = {
	                	'otn': $("#otn").val()
	                };
	                requestData[_csrf_param_name] = _csrf_token;
                  $("#otn").removeClass("is-invalid").addClass("is-valid");
	                
	                xhr = $.post(context + "arrests/lookup", requestData, function(data) {
	                	if (data === 'true'){
	                		  $('#arrestLookUpResponse').addClass("valid-feedback").html("Retrieval of the arrest has been requested, please check back shortly to view the arrest");
	                	}
	                	else{
	                		  $("#otn").removeClass("is-valid").addClass("is-invalid");
	                      $('#arrestLookUpResponse').addClass("invalid-feedback").html("Unable to locate OTN, please try another OTN");
	                	}
	                }).fail(ojbc.displayFailMessage);
            	  }
	              else{
	            	  $("#otn").removeClass("is-valid").addClass("is-invalid");
	              }
                 
              });

              $('#reset').click (function(){
            	  $("#otn").val("").removeClass("is-valid is-invalid");
                $('#arrestLookUpResponse').removeClass().html("");
              });
           });
   
              
          </script>
	      
      </div>
  </body>
</html>
