<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>OJBC Web Portal</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
     <!-- Begin page content -->
     <form action="#" th:object="${arrestSearchRequest}" id="searchForm" method="post">
       <div class="row" th:fragment="arrestSearchFormContent">
           <div class="col-9">
	          <table>
	            <tr>
	              <td>Arrest Date </td>
	              <td><input type="text" th:field="*{arrestDateRangeStartDate}" class="date" width="250" placeholder="From"/></td>
	              <td><input type="text" th:field="*{arrestDateRangeEndDate}" class="date" width="250" placeholder="To"/></td>
	              <td th:errors="*{arrestDateRangeStartDate}">Arrest Date error message</td>
	            </tr>
	            <tr>
	              <td>First Name </td>
	              <td><input type="text" th:field="*{firstName}" width="250" placeholder="First Name"/></td>
	              <td>
                   <input type="checkbox" th:field="*{firstNameExactMatch}" th:value="${firstNameExactMatch}" />
                   Exact Match
	              </td>
	              <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name error message</td>
	            </tr>
	            <tr>
	              <td>Last Name </td>
	              <td><input type="text" th:field="*{lastName}" width="250" placeholder="Last Name"/></td>
	              <td>
                   <input type="checkbox" th:field="*{lastNameExactMatch}" th:value="${lastNameExactMatch}" />
                   Exact Match
	              </td>
	              <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name error message</td>
	            </tr>
	            <tr>
	              <td/>
	              <td><input type="text" th:field="*{ssn}" width="250" placeholder="SSN"/></td>
	              <td th:if="${#fields.hasErrors('ssn')}" th:errors="*{ssn}">SSN error message</td>
	              <td><input type="text" th:field="*{dob}" class="date" width="250" placeholder="Date of Birth"/></td>
	              <td th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">DOB error message</td>
	            </tr>
	            <tr>
	              <td/>
	              <td><input type="text" th:field="*{otn}" width="250" placeholder="OTN"/></td>
	              <td th:if="${#fields.hasErrors('otn')}" th:errors="*{otn}">OTN error message</td>
	              <td><input type="text" th:field="*{arrestIdentification}" width="250" placeholder="Arrest ID"/></td>
	              <td th:if="${#fields.hasErrors('arrestIdentification')}" th:errors="*{arrestIdentification}">Arrest ID error message</td>
	            </tr>
	            <tr>
	              <td/>
	              <td>
	                 <input type="checkbox" th:field="*{arrestWithDeferredDispositions}" th:value="${arrestWithDeferredDispositions}" />
	                 Arrests With Deferred Dispositions 
                 </td>
	              <td colspan="2">
	                 <input type="checkbox" th:field="*{includeHiddenArrestIndicator}" th:value="${includeHiddenArrestIndicator}" />
	                 Include Hidden Arrests
                 </td>
	            </tr>
	          </table>
           </div>
           <div class="col-3" style="text-align:right;">
                 <button type="button" class="btn-primary" id="submit">Refresh Search</button>
                 <button type="reset" class="btn-secondary">Reset</button>
           </div>
       </div>
      </form>
	</body>
</html>
