<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>OJBC Web Portal</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    <!-- Begin page content -->
	    <div th:fragment="resultsPage">
	      <div id="loadingAjaxPane" ></div>
	      
        <h3 class="mt-5">Arrest Search Results</h3>
        <form action="#" th:action="@{/arrests/advancedSearch}" th:object="${arrestSearchRequest}" id="searchForm" method="post">
	        <div class="row">
	            <div class="col-9">
			          <table>
			            <tr>
			              <td>Arrest Date </td>
			              <td><input type="text" th:field="*{arrestDateRangeStartDate}" width="250" placeholder="From"/></td>
			              <td><input type="text" th:field="*{arrestDateRangeEndDate}" width="250" placeholder="To"/></td>
			              <td th:errors="*{arrestDateRangeStartDate}">Arrest Date error message</td>
			            </tr>
			            <tr>
			              <td>First Name </td>
			              <td><input type="text" th:field="*{firstName}" width="250" placeholder="First Name"/></td>
			              <td>
			                 <span th:each="metaData : ${searchFieldMetaData}">
			                   <input type="radio" th:field="*{firstNameSearchMetadata}" th:value="${metaData}" />
			                   <label th:for="${#ids.prev('firstNameSearchMetadata')}" th:text="${metaData}">Wireframe</label>
			                 </span>
			              </td>
			              <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name error message</td>
			            </tr>
			            <tr>
			              <td>Last Name </td>
			              <td><input type="text" th:field="*{lastName}" width="250" placeholder="Last Name"/></td>
			              <td>
			                  <span th:each="metaData : ${searchFieldMetaData}">
			                    <input type="radio" th:field="*{lastNameSearchMetadata}" th:value="${metaData}" />
			                    <label th:for="${#ids.prev('lastNameSearchMetadata')}" th:text="${metaData}">Wireframe</label>
			                  </span>
			              </td>
			              <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name error message</td>
			            </tr>
			            <tr>
			              <td/>
			              <td><input type="text" th:field="*{ssn}" width="250" placeholder="SSN"/></td>
			              <td th:if="${#fields.hasErrors('ssn')}" th:errors="*{ssn}">SSN error message</td>
			              <td><input type="text" th:field="*{dob}" width="250" placeholder="Date of Birth"/></td>
			              <td th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">DOB error message</td>
			            </tr>
			            <tr>
			              <td/>
			              <td><input type="text" th:field="*{otn}" width="250" placeholder="OTN"/></td>
			              <td th:if="${#fields.hasErrors('otn')}" th:errors="*{otn}">OTN error message</td>
			              <td><input type="text" th:field="*{arrestIdentification}" width="250" placeholder="Arrest ID"/></td>
			              <td th:if="${#fields.hasErrors('arrestIdentification')}" th:errors="*{arrestIdentification}">Arrest ID error message</td>
			            </tr>
			          </table>
	            </div>
	            <div class="col-3" style="text-align:right;">
                   <button type="button" class="btn-primary" id="submit">Refresh Search</button>
                   <button type="reset" class="btn-secondary">Reset</button>
	            </div>
	        </div>
        </form>
        <hr/>
        
        <div id="searchResultsList" th:fragment="resultsList" >
	        <p th:utext="${arrestSearchContent}" ></p>
	        <script th:inline="javascript">
              $(function(){
                  $('#searchResultsTable').DataTable({
                      "columnDefs": [
                          { "orderable": false, "targets": 6 }
                        ]
                  });
                  $('[data-toggle="tooltip"]').tooltip(); 
                  
                  $('#searchResultsTable').on('click', 'a.editArrest',function() {
                      xhr = $.get( context +"arrests/" + $(this).closest("tr").attr("id"), function(data) {
                        $('#portalContent').html(data);
                      }).fail(ojbc.displayFailMessage);
                  });
                  $('#searchResultsTable tbody').on('click', 'a.hideArrest',function() {
                      xhr = $.get( context +"arrests/" + $(this).closest("tr").attr("id") + "/hide", function(data) {
                        $("#searchResultsList").replaceWith(data);
                      }).fail(ojbc.displayFailMessage);
                  });
                  $('#searchResultsTable tbody').on('click', 'a.referArrest',function() {
                      xhr = $.get( context +"arrests/" + $(this).closest("tr").attr("id") + "/refer", function(data) {
                        $("#searchResultsList").replaceWith(data);
                      }).fail(ojbc.displayFailMessage);
                  });
             });
          </script>
        </div>
 		    <script th:inline="javascript">
	        /*<![CDATA[*/
            var context = [[@{/}]];
 	        /*]]>*/

	        $(function(){
	              
              $('#arrestDateRangeStartDate').datepicker({
                    uiLibrary: 'bootstrap4', size: 'small'
              });
              $('#arrestDateRangeEndDate').datepicker({
                    uiLibrary: 'bootstrap4', size: 'small'
              });
              $('#dob').datepicker({
                    uiLibrary: 'bootstrap4', size: 'small'
              });

              $('#submit').click (function(){
                var formData = $('#searchForm').serialize();
                 
                xhr = $.post(context + "arrests/advancedSearch",formData,function(data) {
              	  $('#searchResultsList').replaceWith(data);
             	  }).fail();
              });
              
            }); 
	
	        </script>
	    </div>
	
	</body>
</html>
