<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>OJBC Web Portal</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    <!-- Begin page content -->
	    <div th:fragment="resultsPage">
	      <div id="loadingAjaxPane" ></div>
        <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
             <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
             <li class="breadcrumb-item active" aria-current="page">Municipal Charges</li>
           </ol>
        </nav>
        <form action="#" th:action="@{/muniArrests/advancedSearch}" th:object="${arrestSearchRequest}" id="muniSearchForm" method="post" th:fragment="arrestSearchForm">
	        <div class="row" th:replace="arrest/arrestSearchForm.html :: arrestSearchFormContent"></div>
        </form>
        <hr/>
        
        <div id="searchResultsList" th:fragment="resultsList" >
	        <p th:utext="${arrestSearchContent}" ></p>
          <div id="modalDiv">
            <!-- The Modal -->
            <div class="modal ojbc-modal" id="referralModal" aria-hidden="true">
              <div class="modalIframeSpinner" ></div>
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
            
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Refer Arrest</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
            
                  <!-- Modal body -->
                  <div class="modal-body">
                  </div>
          
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <div id="referralButtons">
					            <button type="button" class="btn btn-primary" id="submitReferral" disabled>Submit</button>
					            <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                    </div>
                  </div>
            
                </div>
             </div>
            </div>
          </div>
	        
	        <script th:inline="javascript">
            /*<![CDATA[*/
	            var _csrf_token = /*[[${_csrf.token}]]*/ '';
	            var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
            /*]]>*/
            $(function(){
          	    $('[data-toggle="popover"]').prop('tabIndex', -1).popover(); 
                $.fn.dataTable.moment( 'MM/DD/YYYY' );
                
                if ( $.fn.dataTable.isDataTable( '#muniSearchResultsTable' ) ) {
                  table = $('#muniSearchResultsTable').DataTable();
                }
                else {
	                table = $('#muniSearchResultsTable').DataTable({
	             	    responsive: true, 
	             	    fixedHeader: { header: true },
	             	    order: [ [ 4, "desc" ] ],
	                  columnDefs: [
	                       { "orderable": false, "targets": 6 },
	                       {
	                           "targets":[2, 4], 
	                           "type":"date"
	                       },
	                     ]
	                });
                }
                
                $('[data-toggle="tooltip"]').tooltip({
                    trigger : 'hover'
                });   
 
                  
                $('#muniSearchResultsTable').off('click', 'a.editArrest').on('click', 'a.editArrest',function(event) {
              	  var selectedRow = $(this).closest("tr"); 
              		var chargeIds = selectedRow.find(".chargeIds").text();  
                  xhr = $.get( context +"muniArrests/" + $(this).closest("tr").attr("id") + "/charges/" + chargeIds, function(data) {
                    $('#portalContent').html(data);
                  }).fail(ojbc.displayFailMessage);
                });
                $('#muniSearchResultsTable tbody').off('click', 'a.hideArrest').on('click', 'a.hideArrest',function(event) {
                  var selectedRow = $(this).closest("tr"); 
               	  var arrestId = selectedRow.attr("id"); 
               	  var chargeIds = selectedRow.find(".hideableChargeIds").text();
                    bootpopup({
                        title: "", 
                        size: "large",
                        showclose: false,
                        content: [
                              { p: {text: "Hiding an arrest will remove it from your list for 30 days. You will still be able to search for this arrest.  "}},
                              { p: {text: "Do you want to hide this arrest?"}}
                              ], 
                        cancel: function() {},
                        ok: function(data, array, event) {  
                      	  xhr = $.get( context +"muniArrests/" + arrestId + "/charges/" + chargeIds + "/hide", function(data) {
                                $("#searchResultsList").replaceWith(data);
                              }).fail(ojbc.displayFailMessage); 
                        },
                    });
                });
                $('#muniSearchResultsTable tbody').off('click', 'a.unhideArrest').on('click', 'a.unhideArrest',function(event) {
                	  $(this).off(event);
                    var selectedRow = $(this).closest("tr"); 
                    var arrestId = selectedRow.attr("id"); 
                    var chargeIds = selectedRow.find(".unhideableChargeIds").text();
                    xhr = $.get( context +"muniArrests/" + arrestId + "/charges/" + chargeIds + "/unhide", function(data) {
                        $("#searchResultsList").replaceWith(data);
                    }).fail(ojbc.displayFailMessage);
                });
                  
                $('#muniSearchResultsTable tbody').off('click', 'a.referArrest').on('click', 'a.referArrest',function(event) {
                	$(this).off(event);
              	  var selectedRow = $(this).closest("tr"); 
                  var arrestId = selectedRow.attr("id"); 
                  var chargeIds = selectedRow.find(".chargeIds").text();  

                  xhr = $.get( context +"arrests/arrestReferralForm", {
                        arrestIdentification: arrestId,
                        arrestChargeIds:chargeIds},  
                        function(data) {
                     $('#referralModal .modal-body').html(data);
                     $('#referToMuniRow').addClass('d-none');
                     $('#referralModal').modal('show');
                  }).fail(ojbc.displayFailMessage);
                });
                  
                $('#referralModal').one('click', '#submitReferral', function(event){
                	$(this).off(event);
                  var requestData = {
                     'arrestIdentification': $('#arrestIdentification').val(),
                     'arrestChargeIds': $('#arrestChargeIds').val(),
                     'targetOwnerType': $('input[name=targetOwnerType]:checked').val(),
                     'targetOri':$('#targetOri').val()
                  };

                  bootpopup.confirm("Please confirm that you would like to refer this arrest.", "",
                    function(ans) { 
                      if(ans){
                    	   requestData[_csrf_param_name] = _csrf_token;
                         xhr = $.post(context + "muniArrests/referArrest",requestData,function(data) {
                           $("#referralModal .close").click();
                           $('#searchResultsList').replaceWith(data); 
                         }).fail(ojbc.displayFailMessage);
                      } 
                    });
                });      
             });
          </script>
        </div>
 		    <script th:inline="javascript">
	        /*<![CDATA[*/
            var context = [[@{/}]];
            var _csrf_token = /*[[${_csrf.token}]]*/ '';
            var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
 	        /*]]>*/

	        $(function(){
	        	  initSearchForm();
              $('#portalContent').off('keypress', '#muniSearchForm input').on('keypress', '#muniSearchForm input',function (event) {
            	  if (event.which == 13) {
            	    $('#submit').click();
            	    return false;    
            	  }
            	});
              
              $('#portalContent').off('click', '#muniSearchForm #submit').on('click', '#muniSearchForm #submit', function(event){
                var formData = $('#muniSearchForm').serialize();
                formData = formData + '&'+_csrf_param_name+'='+_csrf_token;
                xhr = $.post(context + "muniArrests/advancedSearch",formData,function(data) {
                	if (data.includes('div id="searchResultsList"')){
                		$('#portalContent').html(data);
                	}
                	else{
                		$('#muniSearchForm').replaceWith(data);
                    initSearchForm();
                	}
             	  }).fail();
              });
              
              $('#portalContent').off('click', '#muniSearchForm #reset').on('click', '#muniSearchForm #reset', function(){
            	  xhr = $.get(context + "muniArrests/resetSearchForm", function(data) {
            		  $('#muniSearchForm').replaceWith(data);
            		  initSearchForm();
                }).fail();
              });
              
            }); 
	
	          function initSearchForm(){
	              $(".chosen-select").chosen(); 

	              $('#arrestDateRangeStartDate').datepicker({
	                    uiLibrary: 'bootstrap4', size: 'small'
	              }).focus();
	              $('#arrestDateRangeEndDate').datepicker({
	                    uiLibrary: 'bootstrap4', size: 'small'
	              });
	              $('#dob').datepicker({
	                    uiLibrary: 'bootstrap4', size: 'small'
	              });
	              $('.date').mask('99/99/9999');
	          }
	        </script>
	    </div>
	
	</body>
</html>
