<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>OJBC Web Portal</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
     <!-- Begin page content -->
     <form action="#" th:object="${arrestSearchRequest}" id="searchForm" method="post">
       <div th:fragment="arrestSearchFormContent">
           <div class="form-row">
             <label class="col-2 col-form-label font-weight-bold text-right">Arrest Date </label>
             <div class="col-sm-3"><input type="text" th:field="*{arrestDateRangeStartDate}" class="date" width="250" placeholder="From"/></div>
             <label class="col-1 col-form-label font-weight-bold text-right">To </label>
             <div class="col-sm-3">
                <input type="text" th:field="*{arrestDateRangeEndDate}" class="date" width="250" placeholder="To"/>
		            <div th:if="${#fields.hasErrors('arrestDateRangeStartDate')}" th:errors="*{arrestDateRangeStartDate}">Arrest Date error message</div>
             </div>
           </div>
           <div class="form-row">
	           <label for="lastName" class="col-2 col-form-label font-weight-bold text-right">Last Name </label>
	           <div class="col-sm-3">
	             <input type="text" th:field="*{lastName}" width="250" placeholder="Last Name"/>
	           </div>
	           <label for="firstName" class="col-1 col-form-label font-weight-bold text-right">First Name </label>
	           <div class="col-sm-3">
	              <input type="text" th:field="*{firstName}" width="250" placeholder="First Name"/>
	           </div>
           </div>
           <div class="form-row">
             <label for="ssn" class="col-2 col-form-label font-weight-bold text-right">SSN </label>
             <div class="col-sm-3"><input type="text" th:field="*{ssn}" width="250" placeholder="SSN"/></div>
             <label for="dob" class="col-1 col-form-label font-weight-bold text-right">DOB </label>
             <div class="col-sm-3"><input type="text" th:field="*{dob}" class="date" width="250" placeholder="Date of Birth"/></div>
           </div>
           <div class="form-row">
             <label for="otn" class="col-2 col-form-label font-weight-bold text-right">OTN </label>
             <div class="col-sm-3"><input type="text" th:field="*{otn}" width="250" placeholder="OTN"/></div>
           </div>
           <div class="form-row">
             <div class="col-2"/>
             <div class="col-sm-3">
                <input type="checkbox" th:field="*{arrestWithDeferredDispositions}" th:value="${arrestWithDeferredDispositions}" />
                <span class="font-weight-bold ">Arrests With Deferred Dispositions</span> 
             </div>
             <div class="col-1"/>
             <div class="col-sm-3">
                <input type="checkbox" th:field="*{includeHiddenArrestIndicator}" th:value="${includeHiddenArrestIndicator}" />
                <span class="font-weight-bold ">Include Hidden Arrests</span>
             </div>
           </div>
           <div class="form-row mt-2">
             <div class="col-2"/>
             <div class="col-sm-3">
                 <button type="button" class="btn-primary" id="submit">Search</button>
                 <button type="reset" class="btn-secondary">Reset</button>
	           </div>
           </div>
       </div>
      </form>
	</body>
</html>
