<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Charge Refer Form</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    <!-- Begin page content -->
		  <div th:fragment="chargeReferralForm">
		    
		    <form action="#" th:action="@{/arrests/charges/referral}" th:object="${chargeReferral}" id="chargeReferralForm" method="post">
		      <input type="hidden" th:field="*{arrestIdentification}" />
		      <input type="hidden" th:field="*{arrestChargeIdentification}" />
          <div class="form-row" id="referToDaRow">
            <div class="col-2"/>
            <div class="col-sm-3">
               <input type="checkbox" th:field="*{targetOwnerType}" th:value="DA" />
               <span class="font-weight-bold ">Refer to DA</span> 
            </div>
          </div>
          <div class="form-row" id="referToMuniRow">
            <div class="col-2"/>
            <div class="col-sm-3">
               <input type="checkbox" th:field="*{targetOwnerType}" th:value="MUNI" />
               <span class="font-weight-bold ">Refer to MUNI</span> 
            </div>
          </div>
          <div class="row">
				    <div class="col"><hr></div>
				    <div class="col-auto">OR</div>
				    <div class="col"><hr></div>
          </div>
          <div class="form-row">
            <label for="ori" class="col-2 col-form-label font-weight-bold text-right">Refer to Agency</label>
            <div class="col-sm-7">
              <select th:field="*{targetOri}" class="form-control chosen-select" th:errorclass="is-invalid">
                <option value="" >Please select ...</option>
                <option th:each="item: ${agencyOriMapping}" th:value="${item.key}" th:text="${item.value}" />
              </select>
            </div>
          </div>
	      </form>
		    <script th:inline="javascript">
			      $(function(){
              $('[data-toggle="popover"]').popover(); 
 			    	  $('#dispositionDate').datepicker({
		                  uiLibrary: 'bootstrap4', size: 'small'
		          });
							$('.date').mask('99/99/9999');
							
		          $('#expungeDispositionForm input').keypress(function (e) {
		              if (e.which == 13) {
		                $('#expungeDisposition').click();
		                return false;    
		              }
		          });
		        });
		    </script>
		  </div>
	</body>
</html>
