<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Disposition Form</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    <!-- Begin page content -->
  <div th:fragment="dispositionForm">
    
    <form action="#" th:action="@{/arrests/saveDisposition}" th:object="${disposition}" id="dispositionForm" method="post">
      <input type="hidden" th:field="*{arrestIdentification}" />
      <input type="hidden" th:field="*{arrestChargeIdentification}" />
      <input type="hidden" th:field="*{dispositionIdentification}" />
      <div class="form-row">
            <div class="col-md-3 mb-2">
             <label>Disposition Date *</label>
             <input type="text" th:field="*{dispositionDate}" placeholder="mm/dd/yyyy" class="date form-control" th:errorclass="is-invalid"/>
             <div th:if="${#fields.hasErrors('dispositionDate')}" th:errors="*{dispositionDate}" class="invalid-feedback">Disposition Date error message</div>
           </div>
           <div class="col-md-6 mb-4">
             <label for="dispositionCode">Disposition Code *</label>
             <select th:field="*{dispositionCode}" class="form-control chosen-select" th:errorclass="is-invalid">
                <option value="" >Please select ...</option>
						    <option th:each="item: ${dispoCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
             </select>
             <div th:if="${#fields.hasErrors('dispositionCode')}" th:errors="*{dispositionCode}" class="invalid-feedback">Disposition Code error message</div>
           </div>
               <div class="col-md-3 mb-2">
                 <label>Court Case Number </label>
                 <input type="text" th:field="*{courtCaseNumber}" class="form-control" th:errorclass="is-invalid"/>
                 <div th:if="${#fields.hasErrors('courtCaseNumber')}" th:errors="*{courtCaseNumber}" class="invalid-feedback">Court Case Number error message</div>
               </div>
          </div>
             <div class="form-row">
               <div class="col-md-6 mb-4">
                 <label>Filed Charge *</label>
		             <select th:field="*{filedCharge}" class="form-control chosen-select" th:errorclass="is-invalid">
		                <option value="" >Please select ...</option>
		                <option th:each="item: ${muniFiledChargeCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
		             </select>
                 <div th:if="${#fields.hasErrors('filedCharge')}" th:errors="*{filedCharge}" class="invalid-feedback">Filed charge error message</div>
               </div>
               <div class="col-md-6 mb-4">
                 <label>Amended Charge</label>
                 <select th:field="*{amendedCharge}" class="form-control chosen-select" th:errorclass="is-invalid" disabled>
                    <option value="" >Please select ...</option>
                    <option th:each="item: ${muniAmendedChargeCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
                 </select>
                 <div th:if="${#fields.hasErrors('amendedCharge')}" th:errors="*{amendedCharge}" class="invalid-feedback">Amended charge error message</div>
               </div>
             </div>
             <div class="form-row">
               <div class="col-md-6 mb-4">
                 <label>Fine Amount</label>
                 <input type="text" th:field="*{fineAmount}" width="250" class="money form-control" th:errorclass="is-invalid"/>
                 <div th:if="${#fields.hasErrors('fineAmount')}" th:errors="*{fineAmount}" class="invalid-feedback">Fine amount error message</div>
               </div>
               <div class="col-md-6 mb-4">
                 <label>Fine Suspended</label>
                 <input type="text" th:field="*{fineSuspended}" width="250" class="money form-control" th:errorclass="is-invalid"/>
                 <small id="fineSuspendedHelp" class="form-text text-muted">&le; Fine Amount</small>
                 <div th:if="${#fields.hasErrors('fineSuspended')}" th:errors="*{fineSuspended}" class="invalid-feedback">Fine suspended error message</div>
               </div>
             </div>
             <div class="form-row">
               <div class="col-md-2 mb-2">
                 <label>Jail Years</label>
                 <input type="number" min="1" max="1" th:field="*{jailYears}" width="1" class="form-control" th:errorclass="is-invalid"/>
                 <small id="jailYearsHelp" class="form-text text-muted">blank or 1</small>
                 <div th:if="${#fields.hasErrors('jailYears')}" th:errors="*{jailYears}" class="invalid-feedback">Jail years error message</div>
               </div>
               <div class="col-md-2 mb-2">
                 <label>Jail Days</label>
                 <input type="number" min="1" max="359" th:field="*{jailDays}" width="3" class="form-control" th:errorclass="is-invalid"/>
                 <small id="jailDaysHelp" class="form-text text-muted">blank or up to 359</small>
                 <div th:if="${#fields.hasErrors('jailDays')}" th:errors="*{jailDays}" class="invalid-feedback">Jail days error message</div>
               </div>
               <div class="col-md-2 mb-2">
                 <label>Suspended Years</label>
                 <input type="number" min="1" max="1" th:field="*{suspendedYears}" width="1" class="form-control" th:errorclass="is-invalid" disabled/>
                 <small id="suspendedYearsHelp" class="form-text text-muted">blank or 1</small>
                 <div th:if="${#fields.hasErrors('suspendedYears')}" th:errors="*{suspendedYears}" class="invalid-feedback">Suspended years error message</div>
               </div>
               <div class="col-md-2 mb-2">
                 <label>Suspended Days</label>
                 <input type="number" min="1" max="359" th:field="*{suspendedDays}" width="3" class="form-control" th:errorclass="is-invalid"/>
                 <small id="suspendedDaysHelp" class="form-text text-muted">&le; Jail Days</small>
                 <div th:if="${#fields.hasErrors('suspendedDays')}" th:errors="*{suspendedDays}" class="invalid-feedback">Suspended days error message</div>
               </div>
               <div class="col-md-2 mb-2">
                 <label>Deferred Years</label>
                 <input type="number" min="1" max="1" th:field="*{deferredYears}" width="1" class="form-control" th:errorclass="is-invalid"/>
                 <small id="deferredYearsHelp" class="form-text text-muted">blank or 1</small>
                 <div th:if="${#fields.hasErrors('deferredYears')}" th:errors="*{deferredYears}" class="invalid-feedback">Deferred years error message</div>
               </div>
               <div class="col-md-2 mb-2">
                 <label>Deferred Days</label>
                 <input type="number" min="1" max="359" th:field="*{deferredDays}" width="3" class="form-control" th:errorclass="is-invalid"/>
                 <small id="deferredDaysHelp" class="form-text text-muted">blank or up to 359</small>
                 <div th:if="${#fields.hasErrors('deferredDays')}" th:errors="*{deferredDays}" class="invalid-feedback">Deferred days error message</div>
               </div>
             </div>
             <div class="form-row">
               <div class="col-md-6 mb-4">
                 <label>Restitution</label>
                 <input type="text" th:field="*{restitution}" width="10" class="money form-control" th:errorclass="is-invalid"/>
                 <div th:if="${#fields.hasErrors('restitution')}" th:errors="*{restitution}" class="invalid-feedback">Restitution error message</div>
               </div>					                
               <div class="col-md-6 mb-4">
                 <label>Alternate Sentence</label>
	               <select th:field="*{alternateSentence}" class="form-control chosen-select" th:errorclass="is-invalid">
	                  <option value="" >Please select ...</option>
	                  <option th:each="item: ${muniAlternateSentenceMapping}" th:value="${item.key}" th:text="${item.value}" />
	               </select>
                 <div th:if="${#fields.hasErrors('alternateSentence')}" th:errors="*{alternateSentence}" class="invalid-feedback">Alternate sentence error message</div>
               </div>		
             </div>			                
             <div class="form-group">
               <label>Reason For Dismissal</label>
	             <select th:field="*{reasonForDismissal}" class="form-control chosen-select" th:errorclass="is-invalid" disabled>
	                <option value="" >Please select ...</option>
	                <option th:each="item: ${muniReasonsForDismissalMapping}" th:value="${item.key}" th:text="${item.value}" />
	             </select>
               <div th:if="${#fields.hasErrors('reasonForDismissal')}" th:errors="*{reasonForDismissal}" class="invalid-feedback">Reason for dismissal error message</div>
             </div>					                
             <div class="form-group">
               <label>Provision</label>
	             <select th:field="*{provisionCode}" class="form-control chosen-select" th:errorclass="is-invalid">
	                <option value="" >Please select ...</option>
	                <option th:each="item: ${provisionCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
	             </select>
               <div th:if="${#fields.hasErrors('provisionCode')}" th:errors="*{provisionCode}" class="invalid-feedback">Provision error message</div>
             </div>					                
            </table>
      </form>
    <script th:inline="javascript">
	      $(function(){
	    	  $('#dispositionDate').datepicker({
                  uiLibrary: 'bootstrap4', size: 'small'
          });
	    	  $(".chosen-select").chosen();  
					$('.date').mask('99/99/9999');
					$('.money').mask('0,000,000,000,000', {reverse: true});
					
					//348 - Found guilty of different charge
					//376 - pled guilty of other charge
					//520 - Nolo contendere to different charge
					var dispoCodesForAmendedCharge = ['348', '376', '520'];
					var dispoCodesForDismissalReason = ['305']; //305-charge dismissal
					
					console.log($('#dispositionCode').val());
					if (dispoCodesForAmendedCharge.includes($('#dispositionCode').val())){
					 $('#amendedCharge').prop('disabled', false).trigger("chosen:updated");
					}
	     	   
					if (dispoCodesForDismissalReason.includes($('#dispositionCode').val())){
					 $('#reasonForDismissal').prop('disabled', false).trigger("chosen:updated");
					}
	     	  
					toggleSentenceInfo();
					
					if ($('#jailYears').val() === '1'){
					 	$('#suspendedYears').prop('disabled', false); 
            $('#deferredYears').val(''); 
            $('#deferredDays').val(''); 
					 	$('#deferredYears').prop('disabled', true); 
					 	$('#deferredDays').prop('disabled', true); 
					}
					
					if ($('#jailDays').val() > 0){
            $('#suspendedDays').prop('disabled', false); 
            $('#deferredYears').val(''); 
            $('#deferredDays').val(''); 
            $('#deferredYears').prop('disabled', true); 
            $('#deferredDays').prop('disabled', true); 
					}
					
          $("#dispositionForm").on("change", "#jailYears", function(){
              if ($('#jailYears').val() > '0'){
                  $('#suspendedYears').prop('disabled', false); 
                  $('#suspendedDays').prop('disabled', false); 
                  $('#deferredYears').val(''); 
                  $('#deferredDays').val(''); 
                  $('#deferredYears').prop('disabled', true); 
                  $('#deferredDays').prop('disabled', true); 
              }
              else{
                  $('#suspendedYears').val(''); 
                  $('#suspendedYears').prop('disabled', true); 
                  toggleDefferredYearsDays();              }
          });
					
          $("#dispositionForm").on("change", "#jailDays", function(){
              if ($('#jailDays').val() > 0){
                  $('#suspendedDays').prop('disabled', false); 
                  $('#deferredYears').val(''); 
                  $('#deferredYears').prop('disabled', true); 
                  $('#deferredDays').val(''); 
                  $('#deferredDays').prop('disabled', true); 
              }
              else{
                  $('#suspendedDays').val(''); 
                  $('#suspendedDays').prop('disabled', true); 
                  
                  toggleDefferredYearsDays();
              }
          });
					
		  	  $("#dispositionForm").on("change", "#dispositionCode", function(){
		          if (dispoCodesForAmendedCharge.includes($('#dispositionCode').val())){
		            $('#amendedCharge').prop('disabled', false).trigger("chosen:updated");
	            }
		          else{
		        	  $('#amendedCharge').val('');
		        	  $('#amendedCharge').prop('disabled', true).trigger("chosen:updated");
		          }
		          
		          if (dispoCodesForDismissalReason.includes($('#dispositionCode').val())){
		        	  $('#reasonForDismissal').prop('disabled', false).trigger("chosen:updated");
		          }
		          else{
		        	  $('#reasonForDismissal').val('');
		        	  $('#reasonForDismissal').prop('disabled', true).trigger("chosen:updated");
		          }
		          
/*           var dispoCodesWithoutSentence = ['301', '305', '326', '377', '331', '538', '398'];
	           var dispoCodesWithoutDeferredYearsDays = ['380', '388'];
 */           toggleSentenceInfo();
		  	  });
		  	  
          $('#dispositionForm input').keypress(function (e) {
              if (e.which == 13) {
                $('#saveDisposition').click();
                return false;    
              }
          });


        });
	      
	      function toggleDefferredYearsDays(){
	          var dispoCodesWithoutDeferredYearsDays = ['380', '388'];

            if (dispoCodesWithoutDeferredYearsDays.includes($('#dispositionCode').val())){
                $('#deferredYears').val('');
                $('#deferredYears').prop('disabled', true);
                $('#deferredDays').val('');
                $('#deferredDays').prop('disabled', true);
            }
            else{
                $('#deferredYears').prop('disabled', false);
                $('#deferredDays').prop('disabled', false);
            }
	      }
	      
	      function toggleSentenceInfo(){
	          var dispoCodesWithoutSentence = ['301', '305', '326', '377', '331', '538', '398'];

            if (dispoCodesWithoutSentence.includes($('#dispositionCode').val())){
                $('#fineAmount').val('');
                $('#fineAmount').prop('disabled', true);
                $('#fineSuspended').val('');
                $('#fineSuspended').prop('disabled', true);
                $('#jailYears').val('');
                $('#jailYears').prop('disabled', true);
                $('#jailDays').val('');
                $('#jailDays').prop('disabled', true);
                $('#suspendedYears').val('');
                $('#suspendedYears').prop('disabled', true);
                $('#suspendedDays').val('');
                $('#suspendedDays').prop('disabled', true);
                $('#deferredYears').val('');
                $('#deferredYears').prop('disabled', true);
                $('#deferredDays').val('');
                $('#deferredDays').prop('disabled', true);
                $('#restitution').val('');
                $('#restitution').prop('disabled', true);
                $('#alternateSentence').val('');
                $('#alternateSentence').prop('disabled', true).trigger("chosen:updated");
                $('#provisionCode').val('');
                $('#provisionCode').prop('disabled', true).trigger("chosen:updated");
          }
          else{
                $('#fineAmount').prop('disabled', false);
                $('#fineSuspended').prop('disabled', false);
                $('#jailYears').prop('disabled', false);
                $('#jailDays').prop('disabled', false);
                $('#suspendedDays').prop('disabled', false);
                toggleDefferredYearsDays();
                $('#restitution').prop('disabled', false);
                $('#alternateSentence').prop('disabled', false).trigger("chosen:updated");
                $('#provisionCode').prop('disabled', false).trigger("chosen:updated");
          }

      }
    </script>
  </div>
	</body>
</html>
