# Open Justice Broker configuration file - custody_analytical_data_store_persistence_adapter.cfg

# This file contains properties that are used by camel contexts in the OJB.
# Mostly it is used to define endpoint URLs

#####################################################
####  Analytical Data Store Persistence Adapter  ####
#####################################################

#Port number that service are hosted on
custody.stagingAdapter.cxflogging=true

# Analytics Web Service Endpoints - Adapters (Mocks or hosted at partner agencies - called by Intermediary)
custody.stagingAdapter.bookingReportServiceAdapterEndpoint=/adapter/custodyStagingAdapter/bookingReportingService
custody.stagingAdapter.custodyReleaseReportServiceAdapterEndpoint=/adapter/custodyStagingAdapter/custodyReleaseReportingService
custody.stagingAdapter.custodyStatusChangeReportServiceAdapterEndpoint=/adapter/custodyStagingAdapter/custodyStatusChangeReportingService

custody.stagingAdapter.inputDirectory=/tmp/ojb/adapter/analytics
custody.stagingAdapter.codeTableExcelFilePath=
################################
####  Security Configuration ###
################################

#Keystore used to sign messages
custody.stagingAdapter.keystoreCertificateAlias=demo-adapter-key
custody.stagingAdapter.keyPassword=demo-adapter-key
custody.stagingAdapter.keystoreLocation=${user.home}/ojb-certs/adapter/demo-adapter-keystore.jks
custody.stagingAdapter.keystorePassword=demo-adapter-keystore

################################
####  Database Configuration ###
################################

custody.stagingAdapter.dataSource.driverClass=net.sourceforge.jtds.jdbc.Driver
custody.stagingAdapter.dataSource.jdbcUrl=jdbc:jtds:sqlserver://server-name:1433/instance-name
custody.stagingAdapter.dataSource.user=xxxx
custody.stagingAdapter.dataSource.password=xxxxxx
custody.stagingAdapter.dataSource.minPoolSize=5
custody.stagingAdapter.dataSource.maxPoolSize=20