###################################################
####  Incident Reporting Service Configuration ####
###################################################

#CXF Logging
incidentReportingService.incidentReportingServiceIntermediaryCxflogging=true

incidentReportingService.portNumber=18020

# Incident Reporting Service Endpoint - Incident Reporting Service Intermediary (called by incident reporting service connector(s))
incidentReportingService.incidentReportingServiceEndpoint=https://localhost:${incidentReportingService.portNumber}/OJB/IncidentReportingService

# NDEx Reporting Service Endpoint - NDEx Intermediary (called by Incident Reporting Service Intermediary)
NDExSubmission.N-DexSubmissionServiceEndpoint=https://localhost:18051/OJB/N-DexSubmissionService

# Root folder to put documents that have failed
incidentReportingService.intermediaryFailed=/tmp/ojb/demo/intermediary/incidentreporting/failed

#Modify this variable to specify routes to call in a derived bundle
#For an example, we show a logging endpoint here.  
#Typically you will perform a directvm call to a route in a derived bundle.
#This is not required and only used for implementer extensions
incidentReportingService.camelEndpointsToCall=log:org.ojbc.intermediaries.bundles.intermediaries.incidentreporting?level=INFO


####################################################
####     Re-delivery Policy Settings            ####
####################################################
redeliveryDelay=300
maximumRedeliveries=3

####################################################
####  E-mail Notification of Failed Delivery    ####
####################################################

# SMTP properties for notifying of failed delivery
smtpServerURI=smtp://localhost:25/?password=test&from=testimap@localhost&username=testimap@localhost&contentType=text/html

NDExSubmission.emailNotificationRecipient=testimap@localhost
NDExSubmission.emailNotificationSubject=N-DEx Intermediary Submission Failure
incidentReportingService.emailNotificationRecipient=testimap@localhost
incidentReportingService.emailNotificationSubject=Charge Referral Adapter Submission Failure

####################################################
####  List of Authorized ORIs   ####
####################################################
#This is a comma-separated list of ORIs that are authorized to submit to N-DEx or Charge Referral
ndexAuthorizedORIList=XX1234567, ME0030600
chargeReferralAuthorizedORIList=

incidentReportingService.intermediaryKeystoreLocation=${user.home}/dev/certs/ojbc/HIJIS/intermediary/hijis-intermediary-keystore.jks
incidentReportingService.intermediaryKeyPassword=hijis-intermediary-key
incidentReportingService.intermediaryKeystorePassword=hijis-intermediary-keystore
incidentReportingService.intermediarykeystoreCertificateAlias=hijis-intermediary-key


#Trust configuration for outbound SSL connections
incidentReportingService.truststorePassword=hijis-intermediary-truststore
incidentReportingService.truststoreLocation=${user.home}/dev/certs/ojbc/HIJIS/intermediary/hijis-intermediary-truststore.jks
