#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2015 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
	  $(function() {

	    //to prevent IE from caching search forms, this has the effect that the input values are not remembered
	    $.ajaxSetup({ cache: false });
	  
	  	$("#searchResultsTable").DataTable({
  			 "pagingType": "full_numbers",
  			 "pageLength": 50,
    		 stateSave: true, 
			 "columnDefs": [{
		            targets: [ 8 ],
		            searchable: false, 
		            sortable: false
		        } ]
  		});
	  
	  	#if($singleClickForDetail){
			$("#searchResultsTable").on('click', 'tbody tr', function(){
				$(this).find("a.viewDetails").click();
			});}
		#else{
			$("#searchResultsTable").on('dblclick', 'tbody tr', function(){
				$(this).find("a.viewDetails").click();
			});}
		#end 
		
		$('#returnToSearchSubmitButton').click (function(){
	  		$.get("#springUrl('/incidents/searchForm')",function(data) {
			      $('#portalContent').html(data);
			    }).fail(ojbc.displayFailMessage)
		  	}
		)
		
		$('#newSearchSubmitButton').click (function(){
			ojbc.clearSearchPurposeFields();
	  		$.get("#springUrl('/incidents/searchForm?resetForm=true')",function(data) {
			      $('#portalContent').html(data);
			    }).fail(ojbc.displayFailMessage)
		  	}
		)
		
		 $('#searchResultsTable').on('click', 'a.viewDetails',function() {
            var url = this.href;
            var title = $(this).attr('searchName');
            var dialog = $('<div style="display:none"  title="' + title + '" ><div style="display:none" id="personInformationInModal"/><div id="modalIframeSpinner"/><iframe id="modalIframe" src="" style="border:0;overflow:hidden;height:100%;width:99%" scrolling="no"  frameBorder="0" /></div>' ).appendTo('body');
			var dlgWidth = $(document).width() * .6;
			var dlgHeight = $(window).height() * .4;
            dialog.dialog({
                width: dlgWidth,
                height: dlgHeight,
                close: function(event, ui) {
                    $('#modalIframe').attr('src', '');
                    dialog.remove();
                },
                open: function(event,ui){
					$("#modalIframeSpinner").height($("#modalIframe").height() * .5);
					$("#modalIframeSpinner").width($("#modalIframe").width());
					$("#modalIframeSpinner").show();

		     		$("#modalIframe").load( function() {
		     			//alert("Load event fired");
						$("#modalIframeSpinner").hide();				
												
						var incidentsSummary = $("#modalIframe").contents().find("#incidentsSummary");
						if (incidentsSummary.val() != null) {
							$(this).css('height', incidentsSummary.height() + 200);
						} else {
							$(this).css('height', $(this).contents().find("body").height() + 16);
						}
					});
		     		
                 	$('#modalIframe').attr('src', url);		     		

                },
                position: {
                           my: "center",
                           at: "center",
                           of: window
                          },
                modal: true
            });

            //if there are personal information to display then display in in the modal
            var appendPersonDataDivId = $(this).attr('appendPersonData');
            var persionDataDiv = $('div#'+appendPersonDataDivId);
            if(persionDataDiv.text().length > 0){
                $("#personInformationInModal").append($('div#'+appendPersonDataDivId).html());
                $("#personInformationInModal").show();
            }
            return false;
        });
        
	  });
	  
 		
	  if($("#search-results-title").text().indexOf("INCIDENT") > 0) {
        $('#sourceSystemsCheckBoxes > p > input').attr('disabled', true);
		$('#sourceSystemsCheckBoxes > p > span').removeClass("fieldText");     				
    	$('#sourceSystemsCheckBoxes > p > span').addClass("lightgrayX"); 	    
	    
	  }	

	  
  </script>
<div id="searchResultsContainer" class="contentBox" >
    <div id="searchResultsHeader" > 
        <p id="search-results-title">SEARCH RESULTS: INCIDENT</p>
        <div style="float:right" >
            <a id="returnToSearchSubmitButton" class="grayButton" >
                <img style="position:relative; top:4px; margin-right:6px;" src="#springUrl('/static/images/Search%20Results/icon-back.png')" alt="Search Icon"/>
                RETURN TO SEARCH
            </a>
            <a id="newSearchSubmitButton" class="grayButton" >
                <img style="position:relative; top:4px; margin-right:6px;" src="#springUrl('/static/images/Search%20Form/icon-search.png')" alt="Search Icon"/>
                NEW SEARCH
            </a>
        </div>
    </div>
    <div style="padding: 10px">
        $searchContent
    </div>
</div>