<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Landing Page</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
  </head>
  <body>
      <!-- Begin page content -->
    <div th:fragment="leftBarContent" id="leftBarDiv" class="pt-2 pl-2">
        <th:block th:if="${showReasonsForSearch}">
           <p class="headerText">REASONS FOR SEARCH </p>
           <p class="instructionalText"> Enter Search Criteria Here:</p>
           
           <div class='row'>
               <div class='col-12'>
                   <select id="purposeSelect" class="form-control form-control-sm"> 
                       <option th:each="entry: ${searchPurposes.entrySet()}" 
                            th:value="${entry.key}" class="small" th:text="${entry.value}">option description</option>
                   </select>
               </div>
           </div>
           <div class='row'>
               <div class='col-9'>
                   <input id="onBehalfOf" type="text" class="form-control form-control-sm" placeholder="On behalf of"/>
               </div>
           </div>
        </th:block> 
        <div class="horizontalDivide"> </div>
        <p class="headerText">SYSTEMS AVAILABLE FOR QUERY</p>
        <p class="instructionalText"> Select all that apply.</p>
        <div id="sourceSystemsCheckBoxes">
            <!-- This is a placeholder that will be filled in via the search forms -->
        </div>
        <div id="sourceSystemsCheckBoxesDisabled">
            <!-- This is a placeholder that will be filled in via the search forms -->
        </div>

    </div>
  </body>
</html>
