# Open Justice Broker configuration file 

# This file contains properties that are used by camel contexts in the OJB.

###################################################
####  Consent Management Adapter Configuration ####
###################################################

#CXF Logging
consentManagement.cxflogging=true

# Booking Reporting Service Endpoint - Booking Reporting Service Intermediary (called by connector)
consentManagement.bookingReportingServiceEndpoint=/adapter/ConsentManagement

#################################################
####     Certificate Configuration           ####
#################################################

consentManagement.keystoreCertificateAlias=demo-adapter-key
consentManagement.keyPassword=demo-adapter-key
consentManagement.keystoreLocation=${user.home}/ojb-certs/adapter/demo-adapter-keystore.jks
consentManagement.keystorePassword=demo-adapter-keystore