<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>OJBC Web Portal</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
	</head>
	<body>
		<header th:replace="fragments/general.html :: header"> </header>
	    <!-- Begin page content -->
    <main role="main" class="container">
      <div id="portalContent">
        <div id="loadingAjaxPane" ></div>
        <h1 class="mt-5">Home page content</h1>
      </div>
    </main>
	
		<footer th:replace="fragments/general.html :: footer"></footer>	
		<!-- /.container -->
		<th:block th:include="fragments/general.html :: javascripts"></th:block>
	</body>
</html>
