<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>OJBC Web Portal</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
	</head>
	<body>
		<header th:replace="fragments/general.html :: header"> </header>
	    <!-- Begin page content -->
	    <main role="main" class="container">
	      <h1 class="mt-5">Sticky footer with fixed navbar</h1>
	      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
	      <p><span th:text="'Message: ' + ${message}"></span></p>
	    </main>
	
		<footer th:replace="fragments/general.html :: footer"></footer>	
		<!-- /.container -->
		<th:block th:include="fragments/general.html :: javascripts"></th:block>
	</body>
</html>
