h3 {
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 7px;
	border-bottom: solid 2px;
}

#main-container {
	padding-left: 10%;
	padding-right: 10%;
}

#form-container {
	background-color: #cbccd1;
}

.tablediv * {
	font-size: 12;
}