#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<header>
	<header>
	    <div class="banner mt-5 pt-4">
        	#parse("common/_stateBanner.vm")
	    </div>
	  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top small">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarCollapse">
	      <ul class="navbar-nav mr-auto text-white">
	        <li class="nav-item active">
	          <a class="nav-link" href="#springUrl('/portal/index')" id="home">Home <span class="sr-only">(current)</span></a>
	        </li>
			#foreach($entry in $leftMenuLinks.entrySet())
				#if( $entry.getKey() != "subscriptionsLink" && $entry.getKey() != "rapbackLink" && $entry.getKey() != "criminalIdLink" 
					&& $entry.getKey() != "queryLink" && $entry.getKey() != "adminLink" 
					|| ($entry.getKey() == "subscriptionsLink" && $sec.allGranted("AUTHZ_CRIMINAL_SUBSCRIPTION")) 
					|| $entry.getKey() == "rapbackLink" && $sec.allGranted("AUTHZ_CIVIL_SUBSCRIPTION") 
					|| $entry.getKey() == "criminalIdLink" && $sec.allGranted("AUTHZ_CRIMINAL_ID_RESULTS")
					|| $entry.getKey() == "adminLink" && $sec.allGranted("AUTHZ_ADMIN"))
			        <li class="nav-item">
					  <a class="nav-link" id="$entry.getKey()" href="$entry.getValue()">$leftMenuLinkTitles[$entry.getKey()] </a> 
			        </li>
		        #elseif($entry.getKey() == "queryLink" && $sec.allGranted("AUTHZ_QUERY"))
			        <li class="nav-item dropdown">
			        	<a class="nav-link dropdown-toggle" href="#" id="dropdownQuery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">$leftMenuLinkTitles[$entry.getKey()]</a>
			        	<div class="dropdown-menu" aria-labelledby="dropdownQuery">
			                $searchLinksHtml
			            </div>
			        </li>
				#end
						
			#end		
	      </ul>
	      
	      <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
	      	<li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          <i class="fas fa-user-circle fa-lg"></i>
	            </a>
		          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
		            <a class="dropdown-item disabled"><span class="small font-italic pr-2 text-secondary">Signed in as <strong>$!currentUserName</strong></span></a>
		            <div class="dropdown-divider"></div>
		            <a class="dropdown-item" href="#springUrl('/portal/performLogout')"><span class="small font-italic pr-2">Sign Out</span> <i class="fas fa-sign-out-alt"></i></a>
		          </div>
	      	</li>
		  </ul>
	    </div>
	  </nav>
	</header>
</header>
