#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<html>
    <head>
    	#if( $inactivityTimeout )
	    	<meta http-equiv="refresh" content="$inactivityTimeoutInSeconds;URL='#springUrl("/j_spring_security_logout")'">
        #end
        
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" type="text/css"  src="#springUrl('/static/js/jquery-datatable/css/jquery.dataTables.css')" />
		<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/jqueryui/dataTables.jqueryui.css">
        <link rel="stylesheet" type="text/css" href="#springUrl($themePath)">
        <!--<link rel="stylesheet" type="text/css" href="#springUrl('/static/css/font-awesome-4.3.0/css/font-awesome.min.css')">-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		
        <!--<script src="#springUrl('/static/js/jquery-ui/js/jquery-1.9.0.js')"></script>-->
        <script src="#springUrl('/static/js/jquery-ui/js/jquery.validate.min.js')"></script>
        <script src="#springUrl('/static/js/jquery-ui/js/jquery-ui-1.10.0.custom.min.js')"></script>
        <!--<script src="#springUrl('/static/js/jquery-datatable/js/jquery.dataTables.js')"></script>-->
        <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/jqueryui/dataTables.jqueryui.js"></script>
        <script src="#springUrl('/static/js/jquery.maskinput.js')"></script>
        <script src="#springUrl('/static/js/ojb-web-portal.js')"></script>
        #if( $secondaryOptionsDisplay)
			<script src="#springUrl('/static/js/secondaryOptionsDisplay.js')"></script>
			<script src="#springUrl('/static/js/formValidation.js')"></script>
		#end

		#if( $customStyleCssPath != "" )
	        <link rel="stylesheet" type="text/css" href="#springUrl($customStyleCssPath)">
		#end
		
        <title>OJBC Portal</title>
    </head>
    <body>
        <div id="pageRoot">
        <table cellpadding="0" cellspacing="0" style="height:100%">
            <tr >
                <td id="leftMenuTd">
                    #parse("common/_leftMenu.vm")
                </td>
                <td id="leftBarTd">
		    
		    <div id="filterColumn">
		    		    
		      #set($homePage=$stateSpecificHomePage['thisHomePage'])		    
		      
		      #if($homePage=="landingPage")
              	#parse("common/_landingLeftBar.vm")
		      
		      #elseif($homePage=="query")
		         #parse("common/_leftBar.vm")
		         
		      #elseif($homePage=="subscriptions")	
		      		      
		      	#* displayed elsewhere *#		      		      	      	      	 		      	 	      		      	    			         		         
		      #end
		      
		    </div>
                </td>
                <td>
			<div id="mainContent">
			     <div id="stateBanner">
			     	  #parse("common/_stateBanner.vm")
			     </div>
                        
			     <div id="searchBar">
			     	  #parse("common/_searchBar.vm")
			     </div>

			     <div id="searchContent">
