#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<script src="#springUrl('/webjars/jquery/3.3.1/jquery.min.js')"></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
<script src="#springUrl('/webjars/popper.js/1.14.7/umd/popper.min.js')"></script>
<script src="#springUrl('/webjars/bootstrap/4.3.1/js/bootstrap.min.js')"></script>
<script src="#springUrl('/static/js/jquery-ui/js/jquery.validate.min.js')"></script>  
<script src="#springUrl('/webjars/datatables/1.10.20/js/jquery.dataTables.min.js')"></script>
<script type="text/javascript" src="#springUrl('/webjars/datatables/1.10.20/js/dataTables.bootstrap4.min.js')"></script>
<script type="text/javascript" src="#springUrl('/webjars/datatables-fixedheader/3.1.4/js/dataTables.fixedHeader.js')"></script>
<script type="text/javascript" src="#springUrl('/webjars/datatables-responsive/2.2.3/js/dataTables.responsive.js')"></script>
<script type="text/javascript" src="#springUrl('/webjars/datatables-responsive/2.2.3/js/responsive.bootstrap4.js')"></script>
<script type="text/javascript" src="#springUrl('/webjars/font-awesome/5.12.0/js/all.js')"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
<script src="#springUrl('/static/js/jquery-datatable/js/dataTables.colReorder.min.js')"></script>


<script src="#springUrl('/static/js/jquery.maskinput.js')"></script>
<script type="text/javascript" src="#springUrl('/static/js/plugins/bootpopup.js')"></script> 

<script src="#springUrl('/static/js/jquery-ui-1.12.1/jquery-ui.js')"></script>
<script src="#springUrl('/static/js/ojb-web-portal.js')"></script>
<script src="#springUrl('/static/js/jquery.lwMultiSelect.js')"></script>

#if( $secondaryOptionsDisplay)
	<script src="#springUrl('/static/js/secondaryOptionsDisplay.js')"></script>
	<script src="#springUrl('/static/js/formValidation.js')"></script>
#end
