#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2015 Open Justice Broker Consortium
 *#
<script type="text/javascript">
        
	$(function(){
        
		$('#homeLink').click (function() {		 
					 		     
		    #set($homePage=$stateSpecificHomePage['thisHomePage'])
		      
		    #if($homePage=="landingPage")
		    
				$('#searchBarButtonDiv').css("display", "none");
		    	$('#filterColumn').css('visibility', 'visible');
		    
		    	//TODO likely needs refactor(2 jquery ajax asynch calls in a row)
				ojbc.populateLeftBarContentFromUrl("#springUrl('/portal/landingLeftBar')");
		    	ojbc.populatePortalContentFromUrl("#springUrl('/portal/landingPage')");
		    
		    #elseif($homePage=="query")	
		    	 
				$('#searchBarButtonDiv').css("display", "block");
		    		    
				// TODO cleanup these nested jquery ajax calls to make them easier to read		    		    			    		    
				$.post("#springUrl('/portal/leftBar')", function(data) {
					    		    			
	    			$('#filterColumn').html(data);	 
	    			
	    			$("#demogFilterInfo").hide();
	    			
	    			$('#filterColumn').css('visibility', 'visible');    				    			 
	    			
					$.get("#springUrl('/people/searchForm')", function(data) {		
								
					      $('#portalContent').html(data);
					      
					}).fail(ojbc.displayFailMessage);	    				    				    			
	    			
	    		}).fail(ojbc.displayFailMessage);	
	    		
	    	#elseif($homePage=="subscriptions")
	    	
	    		xhr = $.post("#springUrl('/subscriptions/subscriptionResults')", function(data) {
	    		
					$('#portalContent').html(data);	
															
					$.post("#springUrl('/portal/subscriptionsLeftBar')", function(data) {
						    	
		    			$('#filterColumn').html(data);
		    			$('#filterColumn').css('visibility', 'visible');
		    			 
		    		}).fail(ojbc.displayFailMessage);
																	      
				}).fail(ojbc.displayFailMessage);								    
	    			    			    		
		    #else
				alert('Error: unknown page cannot be displayed');
		    #end

		    return false;
		})

		//note some members may not be using this help id(which is being listened to here) 
		// but rather they may be using a different help id (which is not listened to here)
		$('#helpLink').click (function() {  
									
			$('#searchBarButtonDiv').css("display", "none");
		    $('#filterColumn').css('visibility', 'visible');

		    ojbc.populateLeftBarContentFromUrl("#springUrl('/help/helpLeftBar')");

		    ojbc.populatePortalContentFromUrl("#springUrl('/help/introduction')");
					    
		    return false;							       	        	
		})

		$('#queryLink').click (function() {
				
		    $('#searchBarButtonDiv').css("display", "block");
				   
			// TODO cleanup these nested jquery ajax calls to make them easier to read		    		    			    		    
			$.post("#springUrl('/portal/leftBar')", function(data) {
				    		    			
    			$('#filterColumn').html(data);	 
    			
    			$("#demogFilterInfo").hide();
    			
    			$('#filterColumn').css('visibility', 'visible');    				    			 
    			
				$.get("#springUrl('/people/searchForm')", function(data) {		
							
				      $('#portalContent').html(data);
				      
				}).fail(ojbc.displayFailMessage);	    				    				    			
    			
    		}).fail(ojbc.displayFailMessage);			    
		    					   
		    return false;
		})
    		 
		$('#subscriptionsLink').click(function() {	  
	  				  				  					  					    			    	
			xhr = $.post("#springUrl('/subscriptions/subscriptionResults')", function(data) {
    		
				$('#portalContent').html(data);	
														
				$.post("#springUrl('/portal/subscriptionsLeftBar')", function(data) {
					    	
	    			$('#filterColumn').html(data);
	    			$('#filterColumn').css('visibility', 'visible');
	    			 
	    		}).fail(ojbc.displayFailMessage);
																      
			}).fail(ojbc.displayFailMessage);
			
			return false;
		})
    		 
		$('#rapbackLink').click(function() {	  
	  				  				  					  					    			    	
    		xhr = $.post("#springUrl('/rapbacks/rapbackResults')", function(data) {
				$('#portalContent').html(data);	
			}).done(function(){
				$.post("#springUrl('/portal/rapbackLeftBar')", function(data) {
								    	
	    			$('#filterColumn').html(data);
	    			$('#filterColumn').css('visibility', 'visible');
	    		}).fail(ojbc.displayFailMessage);
			}).fail(ojbc.displayFailMessage);
							    
			return false;
		});
		
		$('#criminalIdLink').click(function() {	  
    		xhr = $.post("#springUrl('/rapbacks/criminalIdentificationsResults')", function(data) {
    		
				$('#portalContent').html(data);	
											
			}).done(function(){
			    $.post("#springUrl('/portal/criminalIdentificationLeftBar')", function(data) {
					    	
	    			$('#filterColumn').html(data);
	    			$('#filterColumn').css('visibility', 'visible');
	    		}).fail(ojbc.displayFailMessage);
			}).fail(ojbc.displayFailMessage);
							    
			return false;
		});
		
		$('#faqLink').click (function() {	  
		  		
		    $('#searchBarButtonDiv').css("display", "none");
		    $('#filterColumn').css('visibility', 'visible');

			//TODO possible refactor to avoid 2 ansync jquery ajax calls in a row
		    ojbc.populateLeftBarContentFromUrl("#springUrl('/portal/landingLeftBar')");

		    ojbc.populatePortalContentFromUrl("#springUrl('/portal/faq')");
					    
		    return false;
		})
    		 
		$('#suggestionFormLink').click (function() {	    
				
		    $('#searchBarButtonDiv').css("display", "none");
		    $('#filterColumn').css('visibility', 'visible');

			//TODO possible refactor to avoid 2 ansync jquery ajax calls in a row
		    ojbc.populateLeftBarContentFromUrl("#springUrl('/portal/landingLeftBar')");

		    ojbc.populatePortalContentFromUrl("#springUrl('/portal/suggestionForm')");
					    
		    return false;
		})
    		 
	})
	        
</script>

<div id="leftMenu">
	#foreach($entry in $leftMenuLinks.entrySet())
		#if( $entry.getKey() != "subscriptionsLink" && $entry.getKey() != "rapbackLink" && $entry.getKey() != "criminalIdLink")
			<a id="$entry.getKey()" class="leftMenuLink" href="$entry.getValue()" target="_blank"><div></div>$leftMenuLinkTitles[$entry.getKey()] </a>
		#elseif	( $entry.getKey() == "subscriptionsLink" && $sec.allGranted("AUTHZ_CRIMINAL_SUBSCRIPTION"))
			<a id="$entry.getKey()" class="leftMenuLink" href="$entry.getValue()" target="_blank"><div></div>$leftMenuLinkTitles[$entry.getKey()] </a>
		#elseif( $entry.getKey() == "rapbackLink" && $sec.allGranted("AUTHZ_CIVIL_SUBSCRIPTION"))
			<a id="$entry.getKey()" class="leftMenuLink" href="$entry.getValue()" target="_blank"><div></div>$leftMenuLinkTitles[$entry.getKey()] </a>
		#elseif( $entry.getKey() == "criminalIdLink" && $sec.allGranted("AUTHZ_CRIMINAL_ID_RESULTS"))
			<a id="$entry.getKey()" class="leftMenuLink" href="$entry.getValue()" target="_blank"><div></div>$leftMenuLinkTitles[$entry.getKey()] </a>
		#end		
	#end		
</div>
 
 
 
