#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<div id="leftBarDiv">
    <script type="text/javascript">
        $(function(){
            ojbc.initializeInputWithDefaultValue('#onBehalfOf','On behalf of');
        
            $("#filterForm").validate({
                rules: {
                    "filterAgeRangeStart": {
                        digits: true
                    },
                    "filterAgeRangeEnd": {
                        digits: true
                    },
                    "filterHeightInFeet": {
                        digits: true
                    },
                    "filterHeightInInches": {
                        digits: true
                    },
                    "filterHeightTolerance": {
                        digits: true
                    },
                    "filterWeight": {
                        digits: true
                    },
                    "filterWeightTolerance": {
                        digits: true
                    }
                }
            });   
            
        
	       	// following to allow 'new' button returning on ajax to be assigned to this handler
	       	$('#demogFilterInfo').on('click', '#filterSearchResults', function(){
				$('#demogErrors').html("");    			
				var isValidate=$("#filterForm").valid();
				
	            if(!isValidate){
	                alert("There are errors in your inputs, please correct them and try again");
	            }else {    			
			
	         	var form = $("#filterForm").serialize();
		  		xhr = $.post("#springUrl('/people/filter')",form,function(data) {
			  			if (data.indexOf("DEMOGRAPHICS") > 40 && data.indexOf("DEMOGRAPHICS") < 60) {
			  				$('#demogFilterInfo').html(data); 	    		  				
			  			}
			  			else
			  			{
					       	$('#portalContent').html(data);	    				         
				       } 				       
				    }).fail(ojbc.displayFailMessage)
				 }
		  	});
        });
    		
    </script>
    
	<p class="headerText">REASONS FOR SEARCH </p>
	<p class="instructionalText"> Enter Search Criteria Here:</p>
	
	<select id="purposeSelect"> 
		#foreach($entry in $searchPurposes.entrySet())
			<option value="$entry.getKey()">$entry.getValue()</>
		#end
	</select>
	<input id="onBehalfOf" type="text" />
	
	<div class="horizontalDivide"> </div>
	<p class="headerText">SYSTEMS AVAILABLE FOR QUERY</p>
	<p class="instructionalText"> Select all that apply.</p>
	<div id="sourceSystemsCheckBoxes">
		<!-- This is a placeholder that will be filled in via the search forms -->
	</div>
	<div id="sourceSystemsCheckBoxesDisabled">
		<!-- This is a placeholder that will be filled in via the search forms -->
	</div>
		
	<div class="horizontalDivide"> </div>	
	<div id="demogFilterInfo">	
		#parse("people/_searchFilter.vm")
	</div>

</div>

