#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<script type="text/javascript">
        $(function(){
        	var reStyleButtonsBasedOnSelection = function() {
        			// Make the selected search button blue, and the others gray
        			
        	        $(this).siblings().addClass('grayButton').removeClass('blueButton');
        	        $(this).siblings().find('div').removeClass('activeSearchLink');
    				$(this).removeClass('grayButton').addClass('blueButton');
    				$(this).find('div').addClass('activeSearchLink');
        	};
        	
        	$('#searchBar a:not(#signOut)').click (reStyleButtonsBasedOnSelection);
        	
        	$('#peopleSearchLink').click (function() { 
		    		return ojbc.populatePortalContentFromUrl("#springUrl('/people/searchForm')")
		    	}
    		 )
    		 
    		$('#incidentSearchLink').click (function() {
    				return ojbc.populatePortalContentFromUrl("#springUrl('/incidents/searchForm')");
    			}
    		 )
    		 
        	$('#vehicleSearchLink').click (function() {
    				return ojbc.populatePortalContentFromUrl("#springUrl('/vehicles/searchForm')");
    			}
    		 )
    		 
    		$('#firearmSearchLink').click (function() {
    				return ojbc.populatePortalContentFromUrl("#springUrl('/firearms/searchForm')");
    			}
    		 )
    		     		 
    		$('#peopleSearchLinkDisabled, #incidentSearchLinkDisabled, #vehicleSearchLinkDisabled, #firearmSearchLinkDisabled').click (function() {
    				return ojbc.populatePortalContentFromUrl("#springUrl('/static/html/comingSoon.html')");
    			}
    		 )
        })
        

</script>

<div id="searchBar" >
	<div style="float:right" id="loggedInUserInfo">
		<i class="fa fa-user" aria-hidden="true" style="color: black"></i> Welcome, $!currentUserName
		#if ($showSignOutButton)
			&nbsp;| <a title="Sign out" href="#springUrl('/portal/performLogout')" id="signOut"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></a></i>
		#end
	</div>
	<div style="float: left" id="searchBarButtonDiv">
		<!-- do not add spaces between <a> tags -->
		<!-- <a id="peopleSearchLink" class="blueButton" href="#"><div class="activeSearchLink"></div>PERSON SEARCH</a><a id="incidentSearchLink" class="grayButton" href="#"><div></div>INCIDENT SEARCH</a><a id="vehicleSearchLink" class="grayButton" href="#"><div></div>VEHICLE SEARCH</a><a id="firearmSearchLink" class="grayButton" href="#"><div></div>FIREARM SEARCH</a>-->
		$searchLinksHtml
	</div>
</div>
