#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<div id="subscriptionsLeftBarDiv">

	<script type="text/javascript">
	
		$(function(){
		 							         								
			$('#subResultsFilterButton').click(function() {	
																		
				var formData = $('#filterSubscriptionForm').serialize();
								             	
		  		$.post("#springUrl('/subscriptions/filter')",  	
		  			formData,	  		
		  			function(data) {		  			
    					$('#portalContent').html(data);	        									         					        				      
					}
				).fail(ojbc.displayFailMessage);				
			});
			
			
			$('#subResultsFilterClearButton').click (function() {	

				var formData = 'subscriptionStatus=All';
								             	
		  		$.post("#springUrl('/subscriptions/filter')",  	
		  			formData,	  		
		  			function(data) {		  			
    					$('#portalContent').html(data);	        									         					        				      
					}
				).fail(ojbc.displayFailMessage);
			});
								         		         		        
		});
	            
	</script>   
    
        
  #set($showSubFilter=$subscriptionFilterProperties['displaySubscriptionFilter'])		    
  
  #if($showSubFilter=="true")
  		
	<form id="filterSubscriptionForm">
			  	  
		<p class="headerText">SUBSCRIPTIONS FILTER</p>
		<p class="instructionalText"> Enter Filter Criteria Here:</p>			

		<div>
			#springFormSingleSelect("subscriptionFilterCommand.subscriptionStatus" $subscriptionFilterValueToLabelMap "")
		</div>					
		 	    	        
	</form>
	
	<input type="button" id="subResultsFilterButton" style="margin:4px" class="blueButton" value="FILTER RESULTS"></input>
	<input type="button" id="subResultsFilterClearButton" style="margin:4px" class="blueButton" value="CLEAR"></input>
  
  #end 		    
		      
</div>