		#foreach( $entry in $systemsToQuery.keySet())
			<p id="checkbox-$entry"><input  type="checkbox" value="$systemsToQuery.get($entry)" checked="checked" ><span class="fieldText" >$entry</span></p>
		#end