
# Hosted by this intermediary.  Called by requester
chConsolidate.hostedchConsolidateServiceEndpoint=/intermediary/ChConsolidationService

chConsolidate.subNotifyChConsolidateReportEndpoint=https://


chConsolidate.rapBackChConsolidateReportSecureEndpoint=https://

chConsolidate.cxfLogging=true

chConsolidate.keyPassword=demo-intermediary-key
chConsolidate.keystorePassword=demo-intermediary-keystore
chConsolidate.keystoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-keystore.jks
chConsolidate.keystoreCertificateAlias=demo-intermediary-key

chConsolidate.truststorePassword=demo-intermediary-truststore
chConsolidate.truststoreLocation=${user.home}/ojb-certs/intermediary/demo-intermediary-truststore.jks