# Open Justice Broker configuration file - identification_recording_service_adapter.cfg

# This file contains properties that are used by camel contexts in the OJB.
# Mostly it is used to define endpoint URLs

#####################################################
####  Rapback Data Store Adapter  Endpoints      ####
#####################################################

#Port number that service are hosted on
rapbackDatastoreAdapter.cxflogging=true

# Subscription Reporting Web Service Endpoint - Adapters (Mocks or hosted at partner agencies - called by Intermediary)
rapbackDatastoreAdapter.subscriptionReportingEndpoint=/adapter/subscriptionReportingAdapter
rapbackDatastoreAdapter.SubscriptionReportingInputDirectory=/tmp/ojb/adapter/rapback/subscriptionReporting

# Identification Recording Web Service Endpoint - Adapters (Mocks or hosted at partner agencies - called by Intermediary)
rapbackDatastoreAdapter.IdentificationRecordingEndpoint=/adapter/identificationRecordingAdapter

# Identification Response Handler Web Service Endpoint - Intermediary
rapbackDatastoreAdapter.identificationReportingResponseServiceEndpoint=/intermediary/identificationReportingResponseService

rapbackDatastoreAdapter.IdentificationRecordingInputDirectory=/tmp/ojb/adapter/rapback/identificationRecording

rapbackSearch.cxflogging=true

# Rapback Search Request Endpoint - OJB Adapter. 
rapbackDatastoreAdapter.rapbackSearchRequestEndpoint=/adapter/RapbackSearchRequestService

# Rapback Search Response Endpoint - OJB Intermediary.
rapbackDatastoreAdapter.rapbackSearchResponseEndpoint=https://localhost:8443/OJB/intermediary/RapbackSearchResultsService

# Identification Initial Results Query Request Endpoint - OJB Adapter. 
rapbackDatastoreAdapter.identificationInitialResultsRequestEndpoint=/adapter/IdentificationResultsQueryRequestService

# Identification Initial Results Query Response Endpoint - OJB Intermediary.
rapbackDatastoreAdapter.identificationInitialResultsQueryResponseEndpoint=https://localhost:8443/OJB/intermediary/IdentificationResultsQueryResultsService

# Criminal History Consolidation Request Endpoint - OJB Adapter. 
rapbackDatastoreAdapter.criminalHistoryConsolidationReportingSecureEndpoint=/adapter/CriminalHistoryConsolidationRequestService

rapbackDatastoreAdapter.CriminalHistoryConsolidationInputDirectory=/tmp/ojb/adapter/rapback/criminalHistoryConsoldation

# Rapback Search Response system name. 
system.searchResultsExceedThreshold=25000
system.name=HIJIS


################################
####  Database configuration ###
################################
rapbackDatastoreAdapter.dataSource.driverClass=org.h2.Driver
rapbackDatastoreAdapter.dataSource.jdbcUrl=jdbc:h2:tcp:localhost:49093/mem:rapback-datastore
rapbackDatastoreAdapter.dataSource.test.jdbcUrl=jdbc:h2:mem:rapback-datastore
rapbackDatastoreAdapter.dataSource.user=sa
rapbackDatastoreAdapter.dataSource.password=
rapbackDatastoreAdapter.dataSource.minPoolSize=5
rapbackDatastoreAdapter.dataSource.maxPoolSize=20

################################
####  Security Configuration ###
################################
#Trust configuration for SSL connections
rapbackDatastoreAdapter.truststorePassword=demo-adapter-truststore
rapbackDatastoreAdapter.truststoreLocation=${user.home}/ojb-certs/adapter/demo-adapter-truststore.jks

#Keystore used to sign messages
rapbackDatastoreAdapter.keystoreCertificateAlias=demo-adapter-key
rapbackDatastoreAdapter.keyPassword=demo-adapter-key
rapbackDatastoreAdapter.keystoreLocation=${user.home}/ojb-certs/adapter/demo-adapter-keystore.jks
rapbackDatastoreAdapter.keystorePassword=demo-adapter-keystore