incidentChargeReporting.incidentReportingServiceIntermediaryCxflogging=true
incidentChargeReporting.incidentReportingServiceEndpoint=https://localhost:8443/OJB/intermediary/IncidentReportingService

incidentChargeReporting.ConnectorFileDirectory=/tmp/ojb/incidentReport

#Certificate and keystore configuration
incidentChargeReporting.truststorePassword=demo-connector-truststore
incidentChargeReporting.truststoreLocation=${user.home}/ojb-certs/connector/demo-connector-truststore.jks

#Keystore used to sign messages (also needs trusted certs of intermediary for sig verification)
incidentChargeReporting.keystoreCertificateAlias=demo-connector-key
incidentChargeReporting.keyPassword=demo-connector-key
incidentChargeReporting.keystoreLocation=${user.home}/ojb-certs/connector/demo-connector-keystore.jks
incidentChargeReporting.keystorePassword=demo-connector-keystore