<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Person Search Logs Search Form</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
  </head>
  <body>
    <!-- Begin page content -->
    <th:block th:fragment="personSearchFormContent" id="personSearchFormContent">
	    <div class="card" id="searchTabs">
	        <div class="card-header">
	            <div class="pl-0" id="search-results-title">
	                PERSON SEARCH LOGS SEARCH
	            </div>
	        </div>
	        <div class="card-body" id="advancedSearchTab">
	            <form id='advancedSearchForm' th:object = '${auditPersonSearchRequest}'>
                    <th:block th:if="${errors?.hasGlobalErrors()}">
                        <div class="alert alert-danger" role="alert" th:each="globalError: ${errors.globalErrors}" 
                            th:text="${globalError.defaultMessage}">Global error message</div>
                    </th:block>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="row">
                        <div class="col-6">
                            <label class="searchSubHeader">PERSON SEARCH NAME</label>
                            <div class="alert alert-info" role="alert">
                                Use <span class="text-danger">*</span> any where in names for wild card search.   
                            </div>
                            <div class="form-group">
                                <input type="text" th:field="*{personFirstName}" class="form-control form-control-sm" placeholder="FIRST NAME" th:errorclass="is-invalid"/>
                            </div>
                            <div class="form-group">
                                <input type="text" th:field="*{personMiddleName}" class="form-control form-control-sm" placeholder="MIDDLE NAME" th:errorclass="is-invalid"/>
                            </div>
                            <div class="form-group">
                                <input type="text" th:field="*{personLastName}" class="form-control form-control-sm" placeholder="LAST NAME" th:errorclass="is-invalid"/>
                            </div>
                            <label class="searchSubHeader">Action Date Range</label>
                            <div class="form-group">
                                <input type="text" th:field="*{startDate}" class="datePicker mdate form-control-sm" placeholder="From" th:errorclass="is-invalid"/>
                                <input type="text" th:field="*{endDate}" class="datePicker mdate form-control-sm" placeholder="To" th:errorclass="is-invalid"/>
                                <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="invalid-feedback d-block error pl-2">Date Range error message</div>
                            </div>
                        </div>                          
                   </div>
                </form>
	        </div>
	        <div class="card-footer text-muted">
	            <button id="advanceSearchSubmitButton" class="btn btn-sm btn-primary">SEARCH</button>
	            <button id="advanceSearchClearButton" class="btn btn-sm btn-secondary ml-1">CLEAR</button>
	        </div>
	    </div>
		<script th:inline="javascript">
	        /*<![CDATA[*/
		        var context = /*[[@{/}]]*/ '';
	            var _csrf_token = /*[[${_csrf.token}]]*/ '';
	            var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
	        /*]]>*/
			$(function() {
			    //to prevent IE from caching search forms, this has the effect that the input values are not remembered
			    $.ajaxSetup({ cache: false });
			    ojbc.handlePlaceholders(); 
			    ojbc.handleEsc();
			      $( ".datePicker" ).datepicker({
			         showOn: "both",
			         buttonImage: context + 'images/Search Form/icon-calendar.png',
			         buttonImageOnly: true,
			         shortYearCutoff: "+10",
			         dateFormat: 'mm/dd/yy'
			      });
			      
			      $('#advanceSearchSubmitButton').click (function(){
			          ojbc.clearPlaceholders();
			          var formData = $('#advancedSearchForm').serialize();
			      
			          xhr = $.post(context + 'auditLogs/personSearchLogs',formData,function(data) {
			              $('#portalContent').html(data);
			          }).fail(ojbc.displayFailMessage);
			      });
			  
			     $("a[href='\\#advancedSearchTab']").click (function(){
			         $("#search-tab-title").html("ADVANCED SEARCH: PERSON SEARCH LOGS SEARCH");
			     });
			     
			      $('#advanceSearchClearButton').click (function(event){
			        $.get(context + 'auditLogs/personSearchForm?resetForm=true', function(data) {
			          $('#portalContent').html(data);
			          
			        }).fail(ojbc.displayFailMessage)
			      });
			
			      //This allows the input fields on the search form to submit form with enter key
			      $('#advancedSearchTab input').keyup(function(e) {
			          if (e.keyCode == 13) {
			              $('#advanceSearchSubmitButton').click();
			          }
			      });
			
			      //This allows the select fields on the search form to submit form with enter key            
			      $('#advancedSearchTab select').keyup(function(e) {
			          if (e.keyCode == 13) {
			              $('#advanceSearchSubmitButton').click();
			          }
			      });         
			
			});
		</script>
        
    </th:block>
  </body>
</html>
