#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<div id="juvenileSearchTab">
    <form id='juvenileSearchForm' >
        #if($errors.hasGlobalErrors())
            #foreach( $globalError in $errors.globalErrors )
                <div class="error"> $globalError.defaultMessage </div>
            #end
        #end
        
 		#springBind( "personSearchCommand.searchType" )
		<input type="hidden" name="${status.expression}" value="JUVENILE" /><br>
  		<table>
  			<tr>
  				<td>
			        <p class="searchSubHeader"> NAME</p>
			        <div>#springFormInput("personSearchCommand.advanceSearch.personGivenName" "placeholder='First Name'") </div>
			        <div class="radioButtonBar" >#springFormRadioButtons("personSearchCommand.advanceSearch.personGivenNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "" ) </div>   
			        <div>#springFormInput("personSearchCommand.advanceSearch.personMiddleName" "placeholder='Middle Name'")</div>
			        <div>#springFormInput("personSearchCommand.advanceSearch.personSurName" "placeholder='Last Name'")</div>
			        <div class="radioButtonBar" > #springFormRadioButtons("personSearchCommand.advanceSearch.personSurNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "") </div>
			           
			        <p class="searchSubHeader"> ALIAS</p>
			        <div>#springFormInput("personSearchCommand.advanceSearch.alias.givenName" "placeholder='First Name'") </div>
			        <div class="radioButtonBar" >#springFormRadioButtons("personSearchCommand.advanceSearch.alias.givenNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "" ) </div>   
			        <div>#springFormInput("personSearchCommand.advanceSearch.alias.middleName" "placeholder='Middle Name'")</div>
			        <div>#springFormInput("personSearchCommand.advanceSearch.alias.surName" "placeholder='Last Name'")</div>
			        <div class="radioButtonBar" > #springFormRadioButtons("personSearchCommand.advanceSearch.alias.surNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "") </div>   
			        
			        <div class="labelText" >
			        	DOB Range: #springFormInput("personSearchCommand.advanceSearch.personDateOfBirthRangeStart" "class='mdate' placeholder='From'")#springFormInput("personSearchCommand.advanceSearch.personDateOfBirthRangeEnd"  "class='mdate' placeholder='End'")
			        		#springBind("personSearchCommand.advanceSearch.personDateOfBirthRangeStart")
                         #springShowErrors( "<br/>" "error" )
			        </div>
			        
			        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.personSexCode" $genders "" ) </div>
			        
	        	</td>
	  			<td>
			        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.placement" $placements "" ) </div>
					<div>
					   #springFormInput("personSearchCommand.advanceSearch.personSocialSecurityNumber" "placeholder='SSN' class='ssn'")<br/> 
					   #springShowErrors( "<br/>" "error" )
					</div>
					<div>
					   #springFormInput("personSearchCommand.advanceSearch.personSID" "placeholder='SID #'")<br/>
					   #springShowErrors( "<br/>" "error" )
					</div>
					<div>
					   #springFormInput("personSearchCommand.advanceSearch.address.address1" "placeholder='Address'")<br/>
					   #springShowErrors( "<br/>" "error" )
					</div>
					<div>
					   #springFormInput("personSearchCommand.advanceSearch.address.city" "placeholder='City'")<br/>
					   #springShowErrors( "<br/>" "error" )
					</div>
			        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.address.stateCode" $states "" ) </div>
					<div>
					   #springFormInput("personSearchCommand.advanceSearch.address.zipCode" "placeholder='Zip Code' class='zipCode'")<br/>
					   #springShowErrors( "<br/>" "error" )
					</div>
			  		  
			        <p class="searchSubHeader"> PARENT</p>
			        <div>#springFormInput("personSearchCommand.advanceSearch.parentName.givenName" "placeholder='First Name'") </div>
			        <div class="radioButtonBar" >#springFormRadioButtons("personSearchCommand.advanceSearch.parentName.givenNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "" ) </div>   
			        <div>#springFormInput("personSearchCommand.advanceSearch.parentName.middleName" "placeholder='Middle Name'")</div>
			        <div>#springFormInput("personSearchCommand.advanceSearch.parentName.surName" "placeholder='Last Name'")</div>
			        <div class="radioButtonBar" > #springFormRadioButtons("personSearchCommand.advanceSearch.parentName.surNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "") </div>   
				</td>
        	<tr>
        </table>
        <div class="searchCancelSection" >
        	<a id="juvenileSearchSubmitButton" class="blueButton" ><img style="position:relative; top:4px; margin-right:6px;"src="#springUrl('/static/images/Search%20Form/icon-search.png')" alt="Search Icon"/> SEARCH</a>
        	<a id="juvenileSearchClearButton" class="grayButton"  >CLEAR</a>
        </div>
    </form>
</div>
