#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
<div id="juvenileSearchTab" class="tab-pane" role="tabpanel" >
	<div class="card">
		<div class="card-body">
	
		    <form id='juvenileSearchForm' >
		        #if($errors.hasGlobalErrors())
		            #foreach( $globalError in $errors.globalErrors )
		                <div class="alert alert-danger" role="alert"> $globalError.defaultMessage </div>
		            #end
		        #end
		        
		 		#springBind( "personSearchCommand.searchType" )
				<input type="hidden" name="${status.expression}" value="JUVENILE" /><br>
		  		<div class='row'>
		  			<div class='col-6'>
				        <p class="searchSubHeader"> NAME</p>
				        <div>#springFormInput("personSearchCommand.advanceSearch.personGivenName" "placeholder='First Name' class='form-control form-control-sm'") </div>
						<div class="form-check-inline">
						  <label class="form-check-label form-control-sm">
						    #springFormRadioButtons("personSearchCommand.advanceSearch.personGivenNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "class='form-check-input'" )
						  </label>
						</div>
				        <div class="radioButtonBar" > </div>   
				        <div>#springFormInput("personSearchCommand.advanceSearch.personMiddleName" "placeholder='Middle Name' class='form-control form-control-sm'")</div>
				        <div>#springFormInput("personSearchCommand.advanceSearch.personSurName" "placeholder='Last Name' class='form-control form-control-sm'")</div>
						<div class="form-check-inline">
						  <label class="form-check-label form-control-sm">
						    #springFormRadioButtons("personSearchCommand.advanceSearch.personSurNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "class='form-check-input'" )
						  </label>
						</div>
				           
				        <p class="searchSubHeader"> ALIAS</p>
				        <div>#springFormInput("personSearchCommand.advanceSearch.alias.givenName" "placeholder='First Name' class='form-control form-control-sm'") </div>
						<div class="form-check-inline">
						  <label class="form-check-label form-control-sm">
						    #springFormRadioButtons("personSearchCommand.advanceSearch.alias.givenNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "class='form-check-input'" )
						  </label>
						</div>
				        <div>#springFormInput("personSearchCommand.advanceSearch.alias.middleName" "placeholder='Middle Name' class='form-control form-control-sm'")</div>
				        <div>#springFormInput("personSearchCommand.advanceSearch.alias.surName" "placeholder='Last Name' class='form-control form-control-sm'")</div>
						<div class="form-check-inline">
						  <label class="form-check-label form-control-sm">
						    #springFormRadioButtons("personSearchCommand.advanceSearch.alias.surNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "class='form-check-input'" )
						  </label>
						</div>
				        <div class="labelText" >
				        	DOB
				        	 #springFormInput("personSearchCommand.advanceSearch.personDateOfBirthRangeStart" "class='mdate ml-2' placeholder='From'") #springFormInput("personSearchCommand.advanceSearch.personDateOfBirthRangeEnd"  "class='mdate ml-2' placeholder='End'")
		                     #springShowErrors( "<br/>" "error pl-2" )
				        </div>
				        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.personSexCode" $genders "class='form-control form-control-sm chosen-select'" ) </div>
					        
		        	</div>
			  		<div class='col-6'>
				        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.placement" $placements "class='form-control form-control-sm chosen-select'" ) </div>
						<div>
						   #springFormInput("personSearchCommand.advanceSearch.personSocialSecurityNumber" "placeholder='SSN' class='ssn form-control form-control-sm'") 
						   #springShowErrors( "" "error pl-2" )
						</div>
						<div>
						   #springFormInput("personSearchCommand.advanceSearch.personSID" "placeholder='SID #' class='form-control form-control-sm'")
						   #springShowErrors( "" "error pl-2" )
						</div>
						<div>
						   #springFormInput("personSearchCommand.advanceSearch.address.address1" "placeholder='Address' class='form-control form-control-sm'")
						   #springShowErrors( "" "error pl-2" )
						</div>
						<div>
						   #springFormInput("personSearchCommand.advanceSearch.address.city" "placeholder='City' class='form-control form-control-sm'")
						   #springShowErrors( "" "error pl-2" )
						</div>
				        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.address.stateCode" $states "class='form-control form-control-sm chosen-select'" ) </div>
						<div>
						   #springFormInput("personSearchCommand.advanceSearch.address.zipCode" "placeholder='Zip Code' class='zipCode form-control form-control-sm'")<br/>
						   #springShowErrors( "" "error pl-2" )
						</div>
				  		  
				        <p class="searchSubHeader"> PARENT</p>
				        <div>#springFormInput("personSearchCommand.advanceSearch.parentName.givenName" "placeholder='First Name' class='form-control form-control-sm'") </div>
						<div class="form-check-inline">
						  <label class="form-check-label form-control-sm">
						    #springFormRadioButtons("personSearchCommand.advanceSearch.parentName.givenNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "class='form-check-input'" )
						  </label>
						</div>
				        <div>#springFormInput("personSearchCommand.advanceSearch.parentName.middleName" "placeholder='Middle Name' class='form-control form-control-sm'")</div>
				        <div>#springFormInput("personSearchCommand.advanceSearch.parentName.surName" "placeholder='Last Name' class='form-control form-control-sm'")</div>
						<div class="form-check-inline">
						  <label class="form-check-label form-control-sm">
						    #springFormRadioButtons("personSearchCommand.advanceSearch.parentName.surNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "class='form-check-input'" )
						  </label>
						</div>
					</div>
		        </div>
		        <div>
		        </div>
		    </form>
	    </div>
	  	<div class="card-footer text-muted">
        	<button id="juvenileSearchSubmitButton" class="btn btn-sm btn-primary" >SEARCH</button>
        	<button id="juvenileSearchClearButton" class="btn btn-sm btn-secondary">CLEAR</a>
	    </div>
	</div>
</div>
