#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2015 Open Justice Broker Consortium
 *#
		<p class="headerText" style="margin-top:5px">DEMOGRAPHICS</p>
		<form id="filterForm"  class=filterFormClass>
	        <table cellpadding="0" cellspacing="0" style="height:100%" class="fieldText" >
	            <tr>
	            	<td id=demogErrors>
		            	#springBind("personFilterCommand.filterAgeRangeStart")
			  		    #springShowErrors( "<br />" "error" )
		            	#springBind("personFilterCommand.filterHeightInFeet")
			  		    #springShowErrors( "<br />" "error" )	
			  		    #springBind("personFilterCommand.filterWeight")
			  		    #springShowErrors( "<br />" "error" )
		  		    </td>
		  		</tr>	          
	          <tr >
	         	<td>
		        	<span>Age Range:
		  		     #springFormInput("personFilterCommand.filterAgeRangeStart" "class='shortDigit'") to #springFormInput("personFilterCommand.filterAgeRangeEnd" "class='shortDigit'")<span>
	            </td>	
	          </tr>        
	          <tr>
	         	<td>
	         		#springFormSingleSelect("personFilterCommand.filterPersonRaceCode" $races "" )             
	            </td>	
	          </tr>
	           <tr>
	         	<td>
	         		#springFormSingleSelect("personFilterCommand.filterPersonEyeColor" $eyeColors "" )             
	            </td>	
	          </tr>
	          <tr>
	         	<td>
	         		#springFormSingleSelect("personFilterCommand.filterPersonHairColor" $hairColors "" )             
	            </td>	
	          </tr>  
	          <tr>
				<td>
		        	<span>Height: #springFormInput("personFilterCommand.filterHeightInFeet" "class='shortDigit'")' #springFormInput("personFilterCommand.filterHeightInInches" "class='shortDigit'")" +/-#springFormInput("personFilterCommand.filterHeightTolerance" "class='shortDigit'")"</span> 
	      		</td>
	      	</tr> 
	      	<tr>
				<td>
		        	<span>Weight: #springFormInput("personFilterCommand.filterWeight" "class='shortDigit'")+/-#springFormInput("personFilterCommand.filterWeightTolerance" "class='shortDigit'")</span>
	      		</td>
	      	</tr>   
	        </table>
        </form>
		<input type="button" id="filterSearchResults" class="blueButton" value="FILTER RESULTS" >  </input>
		<input type="button" id="filterClear" class="blueButton" value="CLEAR" >  </input> 