#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2017 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
	  $(function() {
	      //to prevent IE from caching search forms, this has the effect that the input values are not remembered
          $.ajaxSetup({ cache: false });
 		  ojbc.handlePlaceholders(); 
			if (oTable !== undefined && oTable.fixedHeader !== undefined){
				oTable.fixedHeader.disable();
				oTable.destroy();
			}    	    	
 		  	$('html, body').animate({scrollTop:$('#banner').position().top}, 'slow');
    	    $('#personSearchTabs a[href="#${activeSearchTab}"]').tab('show')

    	    $( ".datePicker" ).datepicker({
    	       showOn: "both",
    	       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",
    	       buttonImageOnly: true,
    	       shortYearCutoff: "+10",
    	       dateFormat: 'mm/dd/yy',
      	       onClose: function(dateText, inst) {
          		$(this).datepicker('option', 'dateFormat', 'mm/dd/yy');      
    	       }
    	    });
    	    
    		$('#advanceSearchSubmitButton').click (function(){
            	ojbc.clearPlaceholders();
                var formData = $('#advancedSearchForm').serialize()+"&advanceSearch.sourceSystems="+ojbc.collectAllCheckBoxValues()+"&advanceSearch.purpose="+$('#purposeSelect').val()+"&advanceSearch.onBehalfOf="+$('#onBehalfOf').val()
            
	  	       	xhr = $.post("#springUrl('/people/advanceSearch')",formData,function(data) {
	  	       	    if (data.indexOf('id="advancedSearchTab"') === -1){
		  	       		$('#filterColumn').addClass('d-none');
	  	       		}
			        $('#portalContent').html(data);
		        }).fail(ojbc.displayFailMessage);
    		});

    		$('#juvenileSearchSubmitButton').click (
    			function(){
                	ojbc.clearPlaceholders();
                    var formData = $('#juvenileSearchForm').serialize()+"&advanceSearch.sourceSystems="+ojbc.collectAllCheckBoxValues()+"&advanceSearch.purpose="+$('#purposeSelect').val()+"&advanceSearch.onBehalfOf="+$('#onBehalfOf').val();
                
		  	       	xhr = $.post("#springUrl('/people/advanceSearch')",formData,function(data) {
		  	       	    if (data.indexOf('id="advancedSearchTab"') === -1){
			  	       		$('#filterColumn').addClass('d-none');
		  	       		}
				        $('#portalContent').html(data);
			        }).fail(ojbc.displayFailMessage);
    		  	}
    		);
    			
    		$('#simpleSearchSubmitButton').click (function(){
    		    ojbc.clearPlaceholders();
                var formData = $('#simpleSearchForm').serialize()+"&advanceSearch.sourceSystems="+ojbc.collectAllCheckBoxValues()+"&advanceSearch.purpose="+$('#purposeSelect').val()+"&advanceSearch.onBehalfOf="+$('#onBehalfOf').val();
		  		xhr = $.post("#springUrl('/people/simpleSearch')",formData,function(data) {
					if (data.indexOf('id="advancedSearchTab"') === -1){
						$('#filterColumn').addClass('d-none');
					}
				    $('#portalContent').html(data);
			    }).fail(ojbc.displayFailMessage);
		  	});
    	  
    	   $("a[href='\\#advancedSearchTab']").click (function(){
               $("#search-tab-title").html("ADVANCED SEARCH: PERSON");
           });
           
           $("a[href='\\#simpleSearchTab']").click (function(){
               $("#search-tab-title").html("SIMPLE SEARCH: PERSON");
           }); 
            
           $("a[href='\\#juvenileSearchTab']").click (function(){
               $("#search-tab-title").html("ADVANCED SEARCH: JUVENILE");
           });
            
			$('#sourceSystemsCheckBoxes').html($('#sourceSystems').html());
			$('#sourceSystemsCheckBoxesDisabled').html($('#sourceSystemsDisabled').html());
			
            #if( $personSearchCommand.advanceSearch.sourceSystems )
	   			$('#sourceSystemsCheckBoxes input').prop("checked", false); 
		        
		        #foreach($selectedSourceSystem in $personSearchCommand.advanceSearch.sourceSystems)
		        	$("#sourceSystemsCheckBoxes input[value='$selectedSourceSystem']").prop('checked',true);
		        #end
	        #else
	        	$('#sourceSystemsCheckBoxes input').prop("checked", true); 
			#end
                        
            $('#juvenileSearchClearButton').click (function(event){
              ojbc.clearSearchPurposeFields();
              ojbc.clearSearchResultsFilterFields();
              $.get("#springUrl('/people/searchForm?resetForm=true&activeSearchTab=juvenileSearchTab')", function(data) {
                $('#portalContent').html(data);
                
                
              }).fail(ojbc.displayFailMessage)
          	});
              
            $('#advanceSearchClearButton').click (function(event){
			  ojbc.clearSearchPurposeFields();
			  ojbc.clearSearchResultsFilterFields();
			  $.get("#springUrl('/people/searchForm?resetForm=true&activeSearchTab=advancedSearchTab')", function(data) {
			    $('#portalContent').html(data);
			    
			    
			  }).fail(ojbc.displayFailMessage)
          	});

            $('#simpleSearchClearButton').click (function(event){
                  
                  ojbc.clearSearchPurposeFields();
                  ojbc.clearSearchResultsFilterFields();
                  $.get("#springUrl('/people/searchForm?resetForm=true')", function(data) {
                    $('#portalContent').html(data);
                    
                    
                  }).fail(ojbc.displayFailMessage)
              });
              
              
            $("#simpleSearchForm").submit(function(event){
            	event.preventDefault();
		        $('#simpleSearchSubmitButton').click();
			});
			
			//This allows the input fields on the search form to submit form with enter key
			$('#advancedSearchTab input').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#advanceSearchSubmitButton').click();
			    }
			});

			//This allows the select fields on the search form to submit form with enter key			
			$('#advancedSearchTab select').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#advanceSearchSubmitButton').click();
			    }
			});			
			//This allows the input fields on the search form to submit form with enter key
			$('#juvenileSearchTab input').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#juvenileSearchSubmitButton').click();
			    }
			});

			//This allows the select fields on the search form to submit form with enter key			
			$('#juvenileSearchTab select').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#juvenileSearchSubmitButton').click();
			    }
			});			

    	    $('#demogFilterInfo').hide();    	       	    
	    	$('#sourceSystemsCheckBoxes > p > input').attr('disabled', false);
	    	$('#sourceSystemsCheckBoxes > p > span').removeClass("lightgrayX");    		
			$('#sourceSystemsCheckBoxes > p > span').addClass("fieldText");     				
       				    	    
	  });
  </script>

<div id="sourceSystems" style="display: none;">
	#parse('common/_systemsToQuery.vm')
</div>
<div id="sourceSystemsDisabled" style="display: none;">
	#parse('common/_systemsToQuery_disabled.vm')
</div>

<div id="searchTabs" class="py-3">
    <div class="row">
        <div class="col-12 mx-auto">
            <ul class="nav nav-tabs small justify-content-end" role="tablist" id="personSearchTabs">
		        <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#simpleSearchTab">SIMPLE SEARCH</a></li>
		        <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#advancedSearchTab">ADVANCED SEARCH</a></li>
		        #if($showJuvenileSearchTab)
		        	<li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#juvenileSearchTab">JUVENILE SEARCH</a></li>
		    	#end
            </ul>
            <div class="tab-content">
            	#parse('people/_simpleSearchTab.vm')
            	
			    <div id="advancedSearchTab" class="tab-pane" role="tabpanel" >
			    	<div class="card">
		  				<div class="card-body">
					  	    <form id='advancedSearchForm'>
					            #if($errors.hasGlobalErrors())
					                #foreach( $globalError in $errors.globalErrors )
					                    <div class="alert alert-danger" role="alert"> $globalError.defaultMessage </div>
					                #end
					            #end
					     
					     		#springBind( "personSearchCommand.searchType" )
								<input type="hidden" name="${status.expression}" value="ADVANCED" /><br>
						  		<div class='row'>
					  				<div class='col-12 col-md-6'>
								        <p class="searchSubHeader"> NAME</p>
								        <div>#springFormInput("personSearchCommand.advanceSearch.personGivenName" "placeholder='First Name' class='form-control form-control-sm'") #springShowErrors( "<br/>" "error pl-2" )</div>
										<div class="form-check-inline">
										  <label class="form-check-label form-control-sm">
										    #springFormRadioButtons("personSearchCommand.advanceSearch.personGivenNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "class='form-check-input'" )
										  </label>
										</div>
								        <div>#springFormInput("personSearchCommand.advanceSearch.personMiddleName" "placeholder='Middle Name' class='form-control form-control-sm'") #springShowErrors( "<br/>" "error pl-2" )</div>
								        <div>#springFormInput("personSearchCommand.advanceSearch.personSurName" "placeholder='Last Name' class='form-control form-control-sm'") #springShowErrors( "<br/>" "error pl-2" )</div>
										<div class="form-check-inline">
										  <label class="form-check-label form-control-sm">
										    #springFormRadioButtons("personSearchCommand.advanceSearch.personSurNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "class='form-check-input'" )
										  </label>
										</div>
								        
								        <div class="labelText" >
								        	DOB
								        	 #springFormInput("personSearchCommand.advanceSearch.personDateOfBirthRangeStart" "class='mdate ml-2' placeholder='From'") #springFormInput("personSearchCommand.advanceSearch.personDateOfBirthRangeEnd"  "class='mdate ml-2' placeholder='End'")
						                     #springShowErrors( "<br/>" "error pl-2" )
								        </div>
								        <div class="labelText" >
								        	Age Range
								  		     #springFormInput("personSearchCommand.ageRangeStart" "class='shortDigit ml-2'") to #springFormInput("personSearchCommand.ageRangeEnd" "class='shortDigit'")<br/> 
								        	 #springBind("personSearchCommand.ageRangeStart")
								        	 #springShowErrors( "<br/>" "error pl-2" )
								        </div>
								        <p class="searchSubHeader" >DEMOGRAPHICS</p>
								        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.personRaceCode" $races "class='form-control form-control-sm mb-2'" ) </div>
								        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.personSexCode" $genders "class='form-control form-control-sm mb-2'" ) </div>
								        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.personEyeColor" $eyeColors "class='form-control form-control-sm mb-2'" ) </div>
								        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.personHairColor" $hairColors "class='form-control form-control-sm mb-2'") </div>
								        
								        <div class="labelText" >
									        Height #springFormInput("personSearchCommand.heightInFeet" "class='shortDigit ml-2'")' #springFormInput("personSearchCommand.heightInInches" "class='shortDigit'")" +/-#springFormInput("personSearchCommand.heightTolerance" "class='shortDigit'")" 
									        &nbsp;
									        Weight #springFormInput("personSearchCommand.advanceSearch.personWeight" "class='shortDigit'")+/-#springFormInput("personSearchCommand.weightTolerance" "class='shortDigit'")
								        </div>
						        	</div>
						  			<div class='col-12 col-md-6'>
								  		  <p class="searchSubHeader" >IDENTIFIERS</p>
								  		  <div>
								  		     #springFormInput("personSearchCommand.advanceSearch.personSID" "placeholder='SID #' class='form-control form-control-sm'")
								  		     #springShowErrors( "<br/>" "error pl-2" )
								  		  </div>
								  		  <div>
								  		  	#springFormInput("personSearchCommand.advanceSearch.personFBINumber" "placeholder='FBI #' class='form-control form-control-sm'")
								  		  	#springShowErrors( "<br/>" "error pl-2" ) 
								  		  </div>
								  		  <div>
								  		     #springFormInput("personSearchCommand.advanceSearch.personSocialSecurityNumber" "placeholder='SSN (XXX-XX-XXXX)' class='ssn form-control form-control-sm'")
								  		     #springShowErrors( "<br/>" "error pl-2" )
								  		  </div>
								  		  <div>
								  		  	 #springFormInput("personSearchCommand.advanceSearch.personDriversLicenseNumber" "placeholder='DL/ID #' class='form-control form-control-sm'")
								  		  	 #springShowErrors( "<br/>" "error pl-2" )
								  		   </div>
								  		  <div>
								  		  	#springFormInput("personSearchCommand.advanceSearch.personDriversLicenseIssuer" "placeholder='Issuer' class='form-control form-control-sm'")
								  		  	#springShowErrors( "<br/>" "error pl-2" ) 
								  		  </div>
									</div>
						        </div>
						    </form>
					    </div>
					    <div class="card-footer">
				        	<button id="advanceSearchSubmitButton" class="btn btn-sm btn-primary">SEARCH</button>
				        	<button id="advanceSearchClearButton" class="btn btn-sm btn-secondary">CLEAR</button>
					    </div>
				    </div>
			    </div>
			    #if($showJuvenileSearchTab)
					#parse('people/_juvenileSearchTab.vm')
				#end
              </div>
        </div>
    </div>
</div>
