#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2015 Open Justice Broker Consortium
 *#
 <script type="text/javascript">
	  $(function() {
	      //to prevent IE from caching search forms, this has the effect that the input values are not remembered
          $.ajaxSetup({ cache: false });
 		  ojbc.handlePlaceholders(); 
 		  
    	    var index = $('#searchTabs a[href="#${activeSearchTab}"]').parent().index();
    	    $( "#searchTabs" ).tabs({ active: index});
    	    
    	    switch(index){
	            case 1:   
	            	$("#search-tab-title").html("ADVANCED SEARCH: PERSON");
	            	break; 
	            case 0:  
	                $("#search-tab-title").html("ADVANCED SEARCH: JUVENILE");
	                break; 
                default:
	                $("#search-tab-title").html("SIMPLE SEARCH: PERSON");
	                break; 
	       }        	  	    
    	    	
    	    $( ".datePicker" ).datepicker({
    	       showOn: "both",
    	       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",
    	       buttonImageOnly: true,
    	       shortYearCutoff: "+10",
    	       dateFormat: 'mm/dd/yy',
      	       onClose: function(dateText, inst) {
          		$(this).datepicker('option', 'dateFormat', 'mm/dd/yy');      
    	       }
    	    });
    	    
    		$('#advanceSearchSubmitButton').click (function(){
                var isValidate=$("#advancedSearchForm").valid();
                if(!isValidate){
                    alert("There are errors in your inputs, please correct them and try again");
                }else {
                	ojbc.clearPlaceholders();
                    var formData = $('#advancedSearchForm').serialize()+"&advanceSearch.sourceSystems="+ojbc.collectAllCheckBoxValues()+"&advanceSearch.purpose="+$('#purposeSelect').val()+"&advanceSearch.onBehalfOf="+$('#onBehalfOf').val()
                
		  	       	xhr = $.post("#springUrl('/people/advanceSearch')",formData,function(data) {
				        $('#portalContent').html(data);
			        }).fail(ojbc.displayFailMessage);
			    }
    		});

    		$('#juvenileSearchSubmitButton').click (
    			function(){
                	ojbc.clearPlaceholders();
                    var formData = $('#juvenileSearchForm').serialize()+"&advanceSearch.sourceSystems="+ojbc.collectAllCheckBoxValues()+"&advanceSearch.purpose="+$('#purposeSelect').val()+"&advanceSearch.onBehalfOf="+$('#onBehalfOf').val();
                
		  	       	xhr = $.post("#springUrl('/people/advanceSearch')",formData,function(data) {
				        $('#portalContent').html(data);
				        }).fail(ojbc.displayFailMessage);
    		  	}
    		);
    			
    		$('#simpleSearchSubmitButton').click (function(){
    		    ojbc.clearPlaceholders();
                var formData = $('#simpleSearchForm').serialize()+"&advanceSearch.sourceSystems="+ojbc.collectAllCheckBoxValues()+"&advanceSearch.purpose="+$('#purposeSelect').val()+"&advanceSearch.onBehalfOf="+$('#onBehalfOf').val();
		  		xhr = $.post("#springUrl('/people/simpleSearch')",formData,function(data) {
				      $('#portalContent').html(data);
			    }).fail(ojbc.displayFailMessage);
		  	});
    	  
    	   $("a[href='\\#advancedSearchTab']").click (function(){
               $("#search-tab-title").html("ADVANCED SEARCH: PERSON");
           });
           
           $("a[href='\\#simpleSearchTab']").click (function(){
               $("#search-tab-title").html("SIMPLE SEARCH: PERSON");
           }); 
            
           $("a[href='\\#juvenileSearchTab']").click (function(){
               $("#search-tab-title").html("ADVANCED SEARCH: JUVENILE");
           });
            
			$('#sourceSystemsCheckBoxes').html($('#sourceSystems').html());
			$('#sourceSystemsCheckBoxesDisabled').html($('#sourceSystemsDisabled').html());
			
            #if( $personSearchCommand.advanceSearch.sourceSystems )
	   			$('#sourceSystemsCheckBoxes input').prop("checked", false); 
		        
		        #foreach($selectedSourceSystem in $personSearchCommand.advanceSearch.sourceSystems)
		        	$("#sourceSystemsCheckBoxes input[value='$selectedSourceSystem']").prop('checked',true);
		        #end
	        #else
	        	$('#sourceSystemsCheckBoxes input').prop("checked", true); 
			#end
                        
            $('#juvenileSearchClearButton').click (function(event){
              ojbc.clearSearchPurposeFields();
              ojbc.clearSearchResultsFilterFields();
              $.get("#springUrl('/people/searchForm?resetForm=true&activeSearchTab=juvenileSearchTab')", function(data) {
                $('#portalContent').html(data);
                
                
              }).fail(ojbc.displayFailMessage)
          	});
              
            $('#advanceSearchClearButton').click (function(event){
			  ojbc.clearSearchPurposeFields();
			  ojbc.clearSearchResultsFilterFields();
			  $.get("#springUrl('/people/searchForm?resetForm=true&activeSearchTab=advancedSearchTab')", function(data) {
			    $('#portalContent').html(data);
			    
			    
			  }).fail(ojbc.displayFailMessage)
          	});

            $('#simpleSearchClearButton').click (function(event){
                  
                  ojbc.clearSearchPurposeFields();
                  ojbc.clearSearchResultsFilterFields();
                  $.get("#springUrl('/people/searchForm?resetForm=true')", function(data) {
                    $('#portalContent').html(data);
                    
                    
                  }).fail(ojbc.displayFailMessage)
              });
              
              
            $("#simpleSearchForm").submit(function(event){
            	event.preventDefault();
		        $('#simpleSearchSubmitButton').click();
			});
			
			//This allows the input fields on the search form to submit form with enter key
			$('#advancedSearchTab input').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#advanceSearchSubmitButton').click();
			    }
			});

			//This allows the select fields on the search form to submit form with enter key			
			$('#advancedSearchTab select').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#advanceSearchSubmitButton').click();
			    }
			});			
			//This allows the input fields on the search form to submit form with enter key
			$('#juvenileSearchTab input').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#juvenileSearchSubmitButton').click();
			    }
			});

			//This allows the select fields on the search form to submit form with enter key			
			$('#juvenileSearchTab select').keyup(function(e) {
			    if (e.keyCode == 13) {
			        $('#juvenileSearchSubmitButton').click();
			    }
			});			

    	    $('#demogFilterInfo').hide();    	       	    
	    	$('#sourceSystemsCheckBoxes > p > input').attr('disabled', false);
	    	$('#sourceSystemsCheckBoxes > p > span').removeClass("lightgrayX");    		
			$('#sourceSystemsCheckBoxes > p > span').addClass("fieldText");     				
       				    	    
	  });
  </script>

<div id="sourceSystems" style="display: none;">
	#parse('common/_systemsToQuery.vm')
</div>
<div id="sourceSystemsDisabled" style="display: none;">
	#parse('common/_systemsToQuery_disabled.vm')
</div>
<div id="searchTabs" class="contentBox">
    <div id="search-tab-title">ADVANCED SEARCH: PERSON</div>
    <ul>
        #if($showJuvenileSearchTab)
        	<li><a href="#juvenileSearchTab">JUVENILE SEARCH</a></li>
    	#end
        <li><a href="#advancedSearchTab">ADVANCED SEARCH</a></li>
        <li><a href="#simpleSearchTab">SIMPLE SEARCH</a></li>
    </ul>
	#parse('people/_simpleSearchTab.vm')
    <div id="advancedSearchTab">
  	    <form id='advancedSearchForm'>
            #if($errors.hasGlobalErrors())
                #foreach( $globalError in $errors.globalErrors )
                    <div class="error"> $globalError.defaultMessage </div>
                #end
            #end
     
     		#springBind( "personSearchCommand.searchType" )
			<input type="hidden" name="${status.expression}" value="ADVANCED" /><br>
    	  		<table>
    	  			<tr>
    	  				<td>
    				        <p class="searchSubHeader"> NAME</p>
    				        <div>#springFormInput("personSearchCommand.advanceSearch.personGivenName" "placeholder='First Name'") #springShowErrors( "<br/>" "error" )</div>
    				        <div class="radioButtonBar" >#springFormRadioButtons("personSearchCommand.advanceSearch.personGivenNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "" ) </div>   
    				        <div>#springFormInput("personSearchCommand.advanceSearch.personMiddleName" "placeholder='Middle Name'") #springShowErrors( "<br/>" "error" )</div>
    				        <div>#springFormInput("personSearchCommand.advanceSearch.personSurName" "placeholder='Last Name'") #springShowErrors( "<br/>" "error" )</div>
    				        <div class="radioButtonBar" > #springFormRadioButtons("personSearchCommand.advanceSearch.personSurNameMetaData" {"StartsWith": "Starts With", "ExactMatch": "Exact Match"} "" "") </div>   
    				        
    				        <div class="labelText" >
    				        	DOB From: 
    				        		#springFormInput("personSearchCommand.advanceSearch.personDateOfBirthRangeStart" "class='mdate'")<br>
    				        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#springFormInput("personSearchCommand.advanceSearch.personDateOfBirthRangeEnd"  "class='mdate'")
    				        		#springBind("personSearchCommand.advanceSearch.personDateOfBirthRangeStart")
                                 #springShowErrors( "<br/>" "error" )
    				        </div>
    				        
    				        <div class="labelText" >
    				        	Age Range:
        			  		     #springFormInput("personSearchCommand.ageRangeStart" "class='shortDigit'") to #springFormInput("personSearchCommand.ageRangeEnd" "class='shortDigit'")<br/> 
    				        	 #springBind("personSearchCommand.ageRangeStart")
    				        	 #springShowErrors( "<br/>" "error" )
    				        </div>
    				        <p class="searchSubHeader" >DEMOGRAPHICS</p>
    				        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.personRaceCode" $races "" ) </div>
    				        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.personSexCode" $genders "" ) </div>
    				        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.personEyeColor" $eyeColors "" ) </div>
    				        <div>#springFormSingleSelect("personSearchCommand.advanceSearch.personHairColor" $hairColors "") </div>
    				        
    				        <div class="labelText" >
        				        Height #springFormInput("personSearchCommand.heightInFeet" "class='shortDigit'")' #springFormInput("personSearchCommand.heightInInches" "class='shortDigit'")" +/-#springFormInput("personSearchCommand.heightTolerance" "class='shortDigit'")" 
        				        &nbsp;
        				        Weight #springFormInput("personSearchCommand.advanceSearch.personWeight" "class='shortDigit'")+/-#springFormInput("personSearchCommand.weightTolerance" "class='shortDigit'")
    				        </div>
    		        	</td>
    		  			<td>
        			  		  <p class="searchSubHeader" >IDENTIFIERS</p>
        			  		  <div>
        			  		     #springFormInput("personSearchCommand.advanceSearch.personSID" "placeholder='SID #'")
        			  		     #springShowErrors( "<br/>" "error" )
        			  		  </div>
        			  		  <div>
        			  		  	#springFormInput("personSearchCommand.advanceSearch.personFBINumber" "placeholder='FBI #'")
        			  		  	#springShowErrors( "<br/>" "error" ) 
        			  		  </div>
        			  		  <div>
        			  		     #springFormInput("personSearchCommand.advanceSearch.personSocialSecurityNumber" "placeholder='SSN (XXX-XX-XXXX)' class='ssn'")<br/> 
        			  		     #springShowErrors( "<br/>" "error" )
        			  		  </div>
        			  		  <div>
        			  		  	 #springFormInput("personSearchCommand.advanceSearch.personDriversLicenseNumber" "placeholder='DL/ID #'")
        			  		  	 #springShowErrors( "<br/>" "error" )
        			  		   </div>
        			  		  <div>
        			  		  	#springFormInput("personSearchCommand.advanceSearch.personDriversLicenseIssuer" "placeholder='Issuer'")
        			  		  	#springShowErrors( "<br/>" "error" ) 
        			  		  </div>
    					</td>
    	        	<tr>
    	        </table>
    	        <div class="searchCancelSection" >
    	        	<a id="advanceSearchSubmitButton" class="blueButton" ><img style="position:relative; top:4px; margin-right:6px;"src="#springUrl('/static/images/Search%20Form/icon-search.png')" alt="Search Icon"/> SEARCH</a>
    	        	<a id="advanceSearchClearButton" class="grayButton"  >CLEAR</a>
    	        </div>
		    </form>
        </div>
        #if($showJuvenileSearchTab)
  			#parse('people/_juvenileSearchTab.vm')
  		#end
  
</div>
