<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Arrest Detail</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    <!-- Begin page content -->
	    <div th:fragment="arrestDetail">
         <div id="loadingAjaxPane" ></div>
         <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
              <li class="breadcrumb-item"><a href="#" class="daArrest">Arrest Search Results</a></li>
              <li class="breadcrumb-item active" aria-current="page">Arrest Detail</li>
            </ol>
         </nav>
	       
	       <div class="card card-primary mt-4">
            <div class="card-header">
              <div class="row">
	               <div class="col-10">
	                 <H5>ARREST DETAIL</h5>
	               </div>
	               <div class="col-2" style="text-align:right;" sec:authorize="hasAuthority('CAN_SUBMIT')"> 
	                 <button type="button" class="btn-primary" id="presentArrest">Submit Arrest</button>
	               </div> 
              </div>
            </div>
					  <div class="card-body">
						     <p th:utext="${arrestDetailTransformed}" ></p>
			      </div>
   			 </div>
   			 <div id="modalDiv">
						<!-- The Modal -->
						<div class="modal ojbc-modal" id="dispositionModal">
              <div class="modalIframeSpinner" ></div>
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						      <!-- Modal Header -->
						      <div class="modal-header">
						        <h4 class="modal-title">Add/Edit Disposition</h4>
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						      </div>
						
						      <!-- Modal body -->
						      <div class="modal-body"/>
					
						      <!-- Modal footer -->
						      <div class="modal-footer"/>
			          </div>
					     </div>
				    </div>
				    
				    <!-- Submit arrest Modal -->
            <div class="modal fade ojbc-modal" id="submitArrestModal" tabindex="-1" role="dialog" aria-labelledby="submitArrestModalTitle" aria-hidden="true">
              <div class="modalIframeSpinner" ></div>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="submitArrestModalTitle">Submit Arrest</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="submitArrestModalContent">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmSubmitArrest">Confirm</button>
                  </div>
                </div>
              </div>
            </div>            
			   </div>
		     <script th:inline="javascript">
		        /*<![CDATA[*/
				      var dispoCodeMapping = [[${daDispoCodeMapping}]]; 
				      var filedChargeCodeMapping = [[${daFiledChargeCodeMapping}]]; 
				      var amendedChargeCodeMapping = [[${daAmendedChargeCodeMapping}]]; 
				      var alternateSentenceMapping = [[${daAlternateSentenceMapping}]]; 
				      var reasonsForDismissalMapping = [[${daReasonsForDismissalMapping}]]; 
				      var chargeSeverityCodeMapping = [[${chargeSeverityCodeMapping}]]; 
				      var daProvisionCodeMapping = [[${daProvisionCodeMapping}]]; 
				      var daGeneralOffenseDescMapping = [[${daGeneralOffenseDescMapping}]]; 
		          var submitArrestConfirmationMessage = [[${submitArrestConfirmationMessage}]];
		          
	            var _csrf_token = /*[[${_csrf.token}]]*/ '';
	            var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';

			      /*]]>*/
			       // Date between 1900 and 2099.
			       var date_regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/ ;
         	   var dispoTables = [];
             $(function(){
            	   $('[data-toggle="popover"]').popover(); 
            	   $('.date').mask('99/99/9999');
            	   $('.money').mask('000,000,000,000,000', {reverse: true});
            	   $.fn.dataTable.moment( 'MM/DD/YYYY' );
            	   
            	   $("#searchResultsTable").DataTable({
            		    responsive: true, 
                    dom: 'rt',
                    ordering: false,
                    columnDefs: [ 
                        {
                            "targets": [0, 1, 2, 3, 4],
                            "searchable": false
                        }]
            	   });
            	   
            	   $('table.dispositionsTable').each(function(){
                	 dispoTables[$(this).attr('id')] = $(this).DataTable({
                		 dom: 'rt',
                		 order: [ 1, "desc" ],
                     language: {
                         "emptyTable": "No disposition data on file"
                       },
                		 columnDefs: [ 
                        {
                            "targets": 0,
                            "searchable": false,
                            "orderable": false
                        },
                        {
                        	  "targets":1, 
                        	  "type":"date"
                        },
                        {
                             "targets": [2],
                             "render": function ( data, type, row, meta ) {
                            	   if (dispoCodeMapping.hasOwnProperty(data)){
                            		   return dispoCodeMapping[data];
                            	   }
                                 else if (data==='329'){
                                   return 'COURT DISPOSITION UNKNOWN';
                                 }
                                 else{
                                   return data;
                                 }
                             }
                        },
                        {
                             "targets": [6],
                             "render": function ( data, type, row, meta ) {
                            	   if (filedChargeCodeMapping.hasOwnProperty(data)){
                            		   return filedChargeCodeMapping[data];
                            	   }
                            	   else{
	                                 return data;
                            	   }
                             }
                        },
                        {
                            "targets": [7],
                            "render": function ( data, type, row, meta ) {
                                if (chargeSeverityCodeMapping.hasOwnProperty(data)){
                                  return chargeSeverityCodeMapping[data];
                                }
                                else{
                                  return data;
                                }
                            }
                        },
                        {
                             "targets": [8],
                             "render": function ( data, type, row, meta ) {
                            	   if (amendedChargeCodeMapping.hasOwnProperty(data)){
                            		   return amendedChargeCodeMapping[data];
                            	   }
                            	   else{
	                                 return data;
                            	   }
                             }
                        },
                        {
                             "targets": [9],
                             "render": function ( data, type, row, meta ) {
                            	   if (chargeSeverityCodeMapping.hasOwnProperty(data)){
                            		   return chargeSeverityCodeMapping[data];
                            	   }
                            	   else{
	                                 return data;
                            	   }
                             }
                        },
                        {
                             "targets": [21],
                             "render": function ( data, type, row, meta ) {
                           		   var presented = "";
                           		   data.split(",").forEach(function(entry){
	                            	   if (alternateSentenceMapping.hasOwnProperty(entry)){
	                            			 presented += alternateSentenceMapping[entry];
	                            	   }
	                            	   else{
	                            		   presented +=entry;
	                            	   }
                            			   presented +="<br>"
                            		  });
                            		   
                           		   return presented;
                             }
                        },
                        {
                             "targets": [22],
                             "render": function ( data, type, row, meta ) {
                            	   if (reasonsForDismissalMapping.hasOwnProperty(data)){
                            		   return reasonsForDismissalMapping[data];
                            	   }
                            	   else{
	                                 return data;
                            	   }
                             }
                        },
                        {
                             "targets": [23],
                             "render": function ( data, type, row, meta ) {
                            	   if (daProvisionCodeMapping.hasOwnProperty(data)){
                            		   return daProvisionCodeMapping[data];
                            	   }
                            	   else{
	                                 return data;
                            	   }
                             }
                        },
                			  {
                		      "targets": [10, 11, 20],
                		      "render": $.fn.dataTable.render.number( ',', '.', 0, '$' )
                		    }
                		  ]/* , 
                		  scrollX: true,
             			    fixedColumns: {
             			        leftColumns: 3
             			    } */
                	 });
                 });
            	   
                 $('#portalContent').on('click', '#presentArrest',function() {
                     xhr = $.get( context +"daArrests/summary", function(data) {
                       $('#submitArrestModalContent').html(data);
                       var dispositionTableCount = $(".dispositionsTable").length;
                       var emptyDispositionTableCount = $(".dispositionsTable .dataTables_empty").length
                       if (dispositionTableCount === emptyDispositionTableCount){
                         $("#confirmSubmitArrest").addClass("d-none");
                       }
                       else{
                         $("#confirmSubmitArrest").removeClass("d-none");
                       }
                       $('#submitArrestModal').modal('show');
                     }).fail(ojbc.displayFailMessage);
                  }); 
                  
                  $('#submitArrestModal').on('click', '#confirmSubmitArrest',function() {
                     chargeIds = []; 
                     $(".dispositionsTable:not(:has(.dataTables_empty))").each(function(){
                       chargeIds.push($(this).attr("id"));
                     }); 
                     var requestData = {
                         'arrestIdentification': $('#searchResultsTable').attr('arrestId'),
                         'chargeIds': chargeIds
                     };

                     console.log("requestData: "  + requestData);
                     console.log("requestData: "  + $.param(requestData));
                      
                     var contentArray = [];
                     emptyDispositionTableCount = $(".dispositionsTable .dataTables_empty").length
                     
                     if (emptyDispositionTableCount == 1){
                       contentArray.push({ p: {text: "One of the charges has no disposition. "}});
                     }
                     else if (emptyDispositionTableCount > 1){
                       contentArray.push({ p: {text: "Some of the charges have no dispositions. "}});
                     }
                     contentArray.push({ p: {text: submitArrestConfirmationMessage}});
                     contentArray.push({ p: {text: "Do you want to proceed?"}});
                     bootpopup({
                         title: "", 
                         showclose: false,
                         content: contentArray, 
                         no: function() {},
                         complete: function() {
                             $('#submitArrestModal').css('overflow-y', 'auto');
                         },
                         yes: function(data, array, event) {  
                             requestData[_csrf_param_name] = _csrf_token;
                             xhr = $.post( context +"daArrests/finalize", $.param(requestData), function(data) {
                                $("#submitArrestModal .close").click(); 
                                $("#portalContent").html(data);
                                $(".modal-backdrop").hide();
                             }).fail(ojbc.displayFailMessage); 
                         },
                     });
                  }); 
            	   
                 $('.dispositionsTable').on('click', 'a.addDisposition',function() {
                    var chargeId = $(this).closest("table").attr("id");
                    xhr = $.get( context +"daArrests/dispositionForm", {
                        arrestIdentification: $('#searchResultsTable').attr('arrestId'),
                        arrestChargeIdentification:chargeId, 
                        arrestOri:$('#arrestOri').text(),
                        arrestDate: $('#arrestDate').text() },  
                        function(data) {
		                    	$('#dispositionModal .modal-body').html(data);
		                    	$("#arrestChargeIdentification").append($(".chargeDropDown").html());
		                    	$('#arrestChargeIdentification').val(chargeId);
		                    	$('#dispositionModal .modal-title').html("Add Disposition");
		                    	$('#dispositionModal .modal-footer').html($("#saveDispositionButtons").html())
		                      $('#dispositionModal').modal('show');
 	                      }).fail(ojbc.displayFailMessage);
                 }); 
                 
                 $('.dispositionsTable tbody').on('click', 'a.editDisposition',function() {
                	 var chargeId = $(this).closest("table").attr("id");
                	 console.log("chargeId:" + chargeId);
                	 var rowData = dispoTables[chargeId].row($(this).closest("tr")).data(); 
                	 console.log(rowData);
                	 console.log(rowData[4]);
                	 console.log(rowData[5]);
                	 
                	 console.log($("#dispositionForm").serialize()+ "&amendedCharge=" + rowData[5]);
                   xhr = $.get( context +"daArrests/dispositionForm", {
		                	       arrestIdentification: $('#searchResultsTable').attr('arrestId'),
		                	       arrestChargeIdentification:chargeId, 
		                	       dispositionIdentification:$(this).closest("tr").attr("id"),
		                	       dispositionDate:rowData[1], 
		                	       dispositionCode:rowData[2], 
		                	       counts:rowData[3], 
		                	       courtCaseNumber:rowData[4], 
	                           arrestOri:$('#arrestOri').text(),
		                	       generalOffenseCode:daGeneralOffenseDescMapping[rowData[5]], 
		                	       filedCharge:rowData[6], 
		                	       chargeSeverityCode:rowData[7],
		                	       amendedCharge:rowData[8], 
		                	       amendedChargeSeverityCode:rowData[9],
		                	       fineAmount:rowData[10].split('.', 1).toString(),
		                	       fineSuspended:rowData[11].split('.', 1).toString(), 
		                	       jailYears:rowData[12], 
		                	       jailDays:rowData[13], 
		                	       prisonYears:rowData[14], 
		                	       prisonDays:rowData[15], 
		                	       suspendedYears:rowData[16], 
		                	       suspendedDays:rowData[17], 
		                	       deferredYears:rowData[18],
		                	       deferredDays:rowData[19],
		                	       restitution:rowData[20].split('.', 1).toString(),
		                	       alternateSentences:rowData[21],
		                	       reasonForDismissal:rowData[22],
		                	       provisionCode:rowData[23], 
		                	       arrestDate: $('#arrestDate').text()
                     		   },
                     		   function(data) {
				                      $('#dispositionModal .modal-body').html(data);
				                      $("#arrestChargeIdentification").append($(".chargeDropDown").html());
				                      $('#arrestChargeIdentification').val(chargeId);
				                      $('#dispositionModal .modal-title').html("Edit Disposition");
				                      $('#dispositionModal .modal-footer').html($("#saveDispositionButtons").html())
				                      $('#dispositionModal').modal('show');
				                   }).fail(ojbc.displayFailMessage);
                 });
                 
                 $('.dispositionsTable tbody').on('click', 'a.expungeDisposition',function() {
                     var chargeId = $(this).closest("table").attr("id");
                     var rowData = dispoTables[chargeId].row($(this).closest("tr")).data(); 

                     xhr = $.get( context +"daArrests/expungeDispositionForm", {
                           arrestIdentification: $('#searchResultsTable').attr('arrestId'),
                           arrestChargeIdentification:chargeId, 
                           dispositionIdentification:$(this).closest("tr").attr("id")},  
                           function(data) {
                        $('#dispositionModal .modal-body').html(data);
                        $('#dispositionModal .modal-title').html('Expunge Disposition <a href="#" data-toggle="popover" data-trigger="hover" data-content="Expunging a charge will remove the original plea and update the disposition to \'PLED NOT GUILTY, CASE DISMISSED\'. The arrest will remain the record. "><i class="fas fa-info-circle"></i></a>');
                        $('#dispositionModal .modal-footer').html($("#expungeDispositionButtons").html())
                        $('#dispositionModal').modal('show');
                     }).fail(ojbc.displayFailMessage);
                  });
                   
                 $('#dispositionModal').on('click', '#expungeDisposition', function(){
                     var formData = $("#expungeDispositionForm").serialize();
                      
                     var dispositionDateString = $('#dispositionDate').val();
                     if (dispositionDateString && date_regex.test(dispositionDateString)
                    		 && (new Date(dispositionDateString) <= new Date())){
                       $("#dispositionDate").removeClass("is-invalid").addClass("is-valid");
                    	 bootpopup.confirm("Please confirm that you would like to expunge this record.", "", function(ans) { if(ans){expungeDisposition(formData);} });
                     }
                     else{
                    	 $("#dispositionDate").removeClass("is-valid").addClass("is-invalid");
                    	 bootpopup.alert("Please enter non-future date in the format mm/dd/yyyy", "Error");   	 
                     }
                 });      

                 $('#dispositionModal').on('click', '#submitReferral', function(){
                   var formData = $("#referralForm").serialize();
                 	 bootpopup.confirm("Please confirm that you would like to refer this charge.", "",
               			 function(ans) { 
             	         if(ans){
                          chargeRef = $("a.card-link[aria-expanded = 'true']").attr("href");
                          xhr = $.post(context + "daArrests/referCharge",formData,function(data) {
                              /* console.log(formData); */
                            $("#dispositionModal .close").click();
                            $('#portalContent').html(data); 
                          }).fail(ojbc.displayFailMessage);
           	        	 } 
               			 });
                 });      

                 
                 $('#dispositionModal').on('click', '#saveDisposition', function(){
                	 var formData = $("#dispositionForm").serialize();
                	 
                	 var restitution = parseInt($("#restitution").val().replace(',', ''));
                	 var fineAmount = parseInt($("#fineAmount").val().replace(',', '')); 
                	 var jailYears = parseInt($("#jailYears").val()) || 0; 
                	 var jailDays = parseInt($("#jailDays").val()) || 0; 
                	 var suspendedYears = parseInt($("#suspendedYears").val()) || 0; 
                	 var suspendedDays = parseInt($("#suspendedDays").val()) || 0; 
                	 var suspendedTime = 360 * suspendedYears + suspendedDays; 
                	 var jailTime = 360 * jailYears + jailDays - suspendedTime;
                   var deferredYears = parseInt($("#deferredYears").val()) || 0; 
                   var deferredDays = parseInt($("#deferredDays").val()) || 0; 
                   var deferredTime = 360 * deferredYears + deferredDays; 
                   var prisonYears = parseInt($("#prisonYears").val()) || 0; 
                   var prisonDays = parseInt($("#prisonDays").val()) || 0; 
                   var prisonTime = 360 * prisonYears + prisonDays; 
                   var counts = parseInt($("#counts").val()) || 0; 

                   var dispositionDateWarning = false;
                   if ($('#dispositionCode').val() != '398'){
                       var dispositionDateString = $("#dispositionDate").val();
                       var dispositionDate = date_regex.test(dispositionDateString)? new Date(dispositionDateString):null;
                       var arrestDate = new Date($("#arrestDate").text());
                       if (dispositionDate < arrestDate){
                    	   dispositionDateWarning = true; 
                       }
                	 }
                	 var chargeSeverity = $('#amendedChargeSeverityCode').val() || $('#chargeSeverityCode').val(); 
                	 
                   var originalChargeRef = $("a.card-link[aria-expanded = 'true']").attr("href");
                   var newChargeRef = "#charge" + $("#arrestChargeIdentification").val();;

               	   if ( !(originalChargeRef === newChargeRef) || restitution > 5000 || fineAmount > 1000 || jailTime > 360  || 
               			   (chargeSeverity === 'M' && ( deferredTime > 360 || prisonTime > 0) ) || dispositionDateWarning){
               		   var contentArray = [];
               		   if (fineAmount > 1000) {
               			   contentArray.push({ p: {text: "The Fine Amount exceeds $1,000. "}});
               		   }
               		   if (restitution > 5000) {
                       contentArray.push({ p: {text: "The Restitution exceeds $5,000. "}});
               		   }
               		   
               		   if (jailTime > 360 && chargeSeverity === 'F'){
                       contentArray.push({ p: {text: "Jail Time exceeds one year."}});
               		   }
               		   
               		   if ((jailTime > 360 || deferredTime > 360 )&& chargeSeverity === 'M'){
                       contentArray.push({ p: {text: "The sentence exceeds one year on a misdemeanor offense."}});
               		   }
               		   
               		   if (prisonTime > 0 && chargeSeverity === 'M'){
               			   contentArray.push({ p: {text: "The sentence includes prison time on a misdemeanor offense. "}});
               		   }
               		   if (counts > 10){
               			   contentArray.push({ p: {text: "The counts exceeds 10. "}});
               		   }
               		   if (!(originalChargeRef === newChargeRef)){
                       contentArray.push({ p: {text: "The disposition will be saved to charge " + $('#arrestChargeIdentification option:selected').text() + " instead."}});
               		   }
               		   
               		   if (dispositionDateWarning){
                       contentArray.push({ p: {text: "The disposition date is before the arrest date."}});
               		   }
               		   
               		   contentArray.push({ p: {text: "Do you want to proceed?"}});
                     bootpopup({
                         title: "", 
                         showclose: false,
                         content: contentArray, 
                         no: function() {},
                         complete: function() {
                        	 $('#dispositionModal').css('overflow-y', 'auto');
                         },
                         yes: function(data, array, event) { 
                        	 saveDisposition(formData);
                       	 },
                     });

               	   }
               	   else{
               		   saveDisposition(formData);
               	   }
                 });

                 function expungeDisposition(formData){
                     chargeRef = $("a.card-link[aria-expanded = 'true']").attr("href");
                     xhr = $.post(context + "daArrests/expungeDisposition",formData,function(data) {
                         /* console.log(formData); */
                         
                         if ($(data).find('div.card').length > 0){
                           $("#dispositionModal .close").click();
                           $('#portalContent').html(data); 
                           $("a.card-link[href = '" + chargeRef + "']").click();
                         }
                         else{
                           $('#dispositionModal .modal-body').html(data);
                           $('#dispositionModal').modal('show');
                         }
                     }).fail(ojbc.displayFailMessage);
                 }

              function saveDisposition(formData){
                  xhr = $.post(context + "daArrests/saveDisposition",formData,function(data) {
                      var chargeId = $("#arrestChargeIdentification").val();
                      if ($(data).find('div.card').length > 0){
                     	 var chargeRef = "#charge" + chargeId;
                        $("#dispositionModal .close").click();
                        
                        $('#portalContent').html(data); 
                        $("a.card-link[href = '" + chargeRef + "']").click();
                      }
                      else{
                        $('#dispositionModal .modal-body').html(data);
                        $("#arrestChargeIdentification").append($(".chargeDropDown").html());
                        $('#arrestChargeIdentification').val(chargeId);
                      }
                    }).fail(ojbc.displayFailMessage);
              }
                 
              $('.dispositionsTable tbody').on('click', 'a.deleteDisposition',function() {
             	 var requestData = {
                    'arrestIdentification': $('#searchResultsTable').attr('arrestId'),
                    'arrestChargeIdentification': $(this).closest("table").attr("id"),
                    'dispositionIdentification': $(this).closest("tr").attr("id")
                };
                bootpopup({
                    title: "", 
                    showclose: false,
                    content: [
                          { p: {text: "Deleting a disposition will permanently remove any disposition information previously added.  The charge at arrest will remain unchanged. "}},
                          { p: {text: "Do you want to delete this disposition?"}}
                          ], 
                    no: function() {},
                    yes: function(data, array, event) {  
                        chargeRef = $("a.card-link[aria-expanded = 'true']").attr("href");
                        requestData[_csrf_param_name] = _csrf_token;
                        xhr = $.post(context + "daArrests/dispositions/delete", requestData, function(data) {
                            $('#portalContent').html(data); 
                            $("a.card-link[href = '" + chargeRef + "']").click();
                        }).fail(ojbc.displayFailMessage);
                    },
                });
              });
              
              $('#accordion').on('click', 'a.declineCharge',function() {
                var requestData = {
                     'arrestIdentification': $('#searchResultsTable').attr('arrestId'),
                     'arrestChargeIdentification': $(this).prev(".card-link").attr("href").slice(7),
                     'arrestChargeDescription': $(this).prev(".card-link").text()
                };
                
                chargeRef = $(this).prev(".card-link").attr("href");
                bootpopup({
                    title: "", 
                    showclose: false,
                    content: [
                          { p: {text: "Do you want to deline this charge?"}}
                          ], 
                    no: function() {},
                    yes: function(data, array, event) {  
                        requestData[_csrf_param_name] = _csrf_token;
                        xhr = $.post(context + "daArrests/charges/decline", requestData, function(data) {
                            $('#portalContent').html(data); 
                            $("a.card-link[href = '" + chargeRef + "']").click();
                        }).fail(ojbc.displayFailMessage);
                  },
                });
              });
              
              $('#accordion').on('click', 'a.referCharge',function() {
                  var chargeId = $(this).siblings(".card-link").attr("href").slice(7);
                  var chargeDescription = $(this).siblings(".card-link").text();

                  xhr = $.get( context +"arrests/chargeReferralForm", {
                        arrestIdentification: $('#searchResultsTable').attr('arrestId'),
                        arrestChargeIdentification:chargeId},  
                        function(data) {
                     $('#dispositionModal .modal-body').html(data);
                     $('#dispositionModal .modal-title').html('Refer Charge ' + chargeDescription);
                     $('#dispositionModal .modal-footer').html($("#referChargeButtons").html())
                     $('#referToDaRow').addClass('d-none');
                     $('#dispositionModal').modal('show');
                  }).fail(ojbc.displayFailMessage);
               });

            });
	      </script>
	      <div id="saveDispositionButtons" style="display:none;">
	          <button type="button" class="btn btn-primary" id="saveDisposition" sec:authorize="hasAuthority('CAN_SAVE')">Save</button>
	          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
	      </div>
	      <div id="expungeDispositionButtons" style="display:none;">
	          <button type="button" class="btn btn-primary" id="expungeDisposition">Submit</button>
	          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
	      </div>
	      <div id="referChargeButtons" style="display:none;">
	          <button type="button" class="btn btn-primary" id="submitReferral" disabled>Submit</button>
	          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
	      </div>
      </div>
      
	</body>
</html>
