<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Arrest Detail</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    <!-- Begin page content -->
	    <div th:fragment="arrestDetail">
         <div id="loadingAjaxPane" ></div>
         <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
              <li class="breadcrumb-item"><a href="#" class="daArrest">State Charges</a></li>
              <li class="breadcrumb-item active" aria-current="page">Arrest Detail</li>
            </ol>
         </nav>
	       
	       <div class="card card-primary mt-4">
            <div class="card-header">
              <div class="row">
	               <div class="col-10">
	                 <H5>ARREST DETAIL</h5>
	               </div>
	               <div class="col-2" style="text-align:right;" sec:authorize="hasAuthority('CAN_SUBMIT')"> 
	                 <button type="button" class="btn-primary" id="presentArrest">Submit Arrest</button>
	               </div> 
              </div>
            </div>
					  <div class="card-body">
						     <p th:utext="${arrestDetailTransformed}" ></p>
			      </div>
   			 </div>
   			 <div id="modalDiv">
						<!-- The Modal -->
						<div class="modal ojbc-modal" id="dispositionModal">
              <div class="modalIframeSpinner" ></div>
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						      <!-- Modal Header -->
						      <div class="modal-header">
						        <h4 class="modal-title">Add/Edit Disposition</h4>
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						      </div>
						
						      <!-- Modal body -->
						      <div class="modal-body"></div>
					
						      <!-- Modal footer -->
						      <div class="modal-footer"></div>
			          </div>
					     </div>
				    </div>
				    
				    <!-- Submit arrest Modal -->
            <div class="modal fade ojbc-modal" id="submitArrestModal" tabindex="-1" role="dialog" aria-labelledby="submitArrestModalTitle" aria-hidden="true">
              <div class="modalIframeSpinner" ></div>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="submitArrestModalTitle">Submit Arrest</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="submitArrestModalContent">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmSubmitArrest">Confirm</button>
                  </div>
                </div>
              </div>
            </div> 
                       
            <!-- Submit disposition Modal -->
            <div class="modal fade ojbc-modal draggable" id="submitDispositionModal" tabindex="-1" role="dialog" aria-labelledby="submitDispositionModalTitle" aria-hidden="true">
              <div class="modalIframeSpinner" ></div>
              <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header draggable-handler">
                    <h5 class="modal-title" id="submitDispositionModalTitle">Please Confirm Disposition Content</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="submitDispositioModalContent">
                    <p>The disposition that you are saving will be entered into the Criminal History Repository and will appear on the RAP Sheet. Please confirm that the information you entered is correct.</p>
                    
                    <table class="table table-striped table-bordered" style="width:100%" id="dispositionModalContent">
                      <tr>
                        <th>Charge at Arrest</th>
                        <td class="fieldValue" data-field="arrestChargeIdentification"></td>
                        <th>Court Name</th>
                        <td class="fieldValue" data-field="daCourtName"></td>
                      </tr>
                      <tr>
                        <th>Disposition Date</th>
                        <td class="fieldValue" data-field="dispositionDate"></td>
                        <th>Disposition</th>
                        <td class=" fieldValue" data-field="dispositionCode"></td>
                      </tr>
                      <tr>
                        <th>Counts</th>
                        <td class="fieldValue" data-field="counts"></td>
                        <th>Reason For Dismissal</th>
                        <td class="fieldValue" data-field="reasonForDismissal"></td>
                      </tr>
                      <tr>
                        <th>Filed Charge Literal</th>
                        <td class="fieldValue" data-field="filedChargeLiteral"></td>
                        <th>Filed Charge</th>
                        <td class=" fieldValue" data-field="filedCharge"></td>
                      </tr>
                      <tr>
                        <th>Filed Charge Severity</th>
                        <td class="fieldValue" data-field="chargeSeverityCode"></td>
                        <th>General Offense Code</th>
                        <td class="fieldValue" data-field="generalOffenseCode"></td>
                      </tr>
                      <tr>
                        <th>Amended Charge Literal</th>
                        <td class="fieldValue" data-field="amendedChargeLiteral"></td>
                        <th>Amended Charge</th>
                        <td class=" fieldValue" data-field="amendedCharge"></td>
                      </tr>
                      <tr>
                        <th>Amended Charge Severity</th>
                        <td class="fieldValue" data-field="amendedChargeSeverityCode"></td>
                        <th>Restitution</th>
                        <td class="fieldValue" data-field="restitution"></td>
                      </tr>
                      <tr>
                        <th>Fine Amount</th>
                        <td class="fieldValue" data-field="fineAmount"></td>
                        <th>Fine Suspended</th>
                        <td class=" fieldValue" data-field="fineSuspended"></td>
                      </tr>
                      <tr>
                        <th>Prison Years</th>
                        <td class="fieldValue" data-field="prisonYears"></td>
                        <th>Prison Days</th>
                        <td class=" fieldValue" data-field="prisonDays"></td>
                      </tr>
                      <tr>
                        <th>Jail Years</th>
                        <td class="fieldValue" data-field="jailYears"></td>
                        <th>Jail Days</th>
                        <td class=" fieldValue" data-field="jailDays"></td>
                      </tr>
                      <tr>
                        <th>Suspended Years</th>
                        <td class="fieldValue" data-field="suspendedYears"></td>
                        <th>Suspended Days</th>
                        <td class=" fieldValue" data-field="suspendedDays"></td>
                      </tr>
                      <tr>
                        <th>Deferred Years</th>
                        <td class="fieldValue" data-field="deferredYears"></td>
                        <th>Deferred Days</th>
                        <td class=" fieldValue" data-field="deferredDays"></td>
                      </tr>
                      <tr>
                        <th>Provision</th>
                        <td class=" fieldValue" data-field="provisionCode"></td>
                        <th>Additional Sentence</th>
                        <td class=" fieldValue" data-field="alternateSentences"></td>
                      </tr>
                      <tr>
                        <th>Court Case Number County</th>
                        <td class="fieldValue" data-field="county"></td>
                        <th>Court Case Number Case Type</th>
                        <td class="fieldValue" data-field="caseType"></td>
                      </tr>
                      <tr>
                        <th>Court Case Number Year</th>
                        <td class="fieldValue" data-field="year"></td>
                        <th>Case Number </th>
                        <td class="fieldValue" data-field="caseNumber"></td>
                      </tr>
                    </table>
                   </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmDispositionContent">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>            
			   </div>
		     <script th:inline="javascript">
		        /*<![CDATA[*/
				      var dispoCodeMapping = [[${daDispoCodeMapping}]]; 
				      var filedChargeCodeMapping = [[${daFiledChargeCodeMapping}]]; 
				      var amendedChargeCodeMapping = [[${daAmendedChargeCodeMapping}]]; 
				      var alternateSentenceMapping = [[${daAlternateSentenceMapping}]]; 
				      var reasonsForDismissalMapping = [[${daReasonsForDismissalMapping}]]; 
				      var chargeSeverityCodeMapping = [[${chargeSeverityCodeMapping}]]; 
				      var daProvisionCodeMapping = [[${daProvisionCodeMapping}]]; 
				      var daGeneralOffenseDescMapping = [[${daGeneralOffenseDescMapping}]]; 
		          var submitArrestConfirmationMessage = [[${submitArrestConfirmationMessage}]];
		          
	            var _csrf_token = /*[[${_csrf.token}]]*/ '';
	            var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';

			      /*]]>*/
			       // Date between 1900 and 2099.
			       var date_regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/ ;
         	   var dispoTables = [];
             $(function(){
            	   $('[data-toggle="popover"]').prop('tabIndex', -1).popover(); 
            	   $('.date').mask('99/99/9999');
            	   $('.money').mask('000,000,000,000,000', {reverse: true});
            	   $.fn.dataTable.moment( 'MM/DD/YYYY' );
            	   
            	   $("#searchResultsTable").DataTable({
            		    responsive: true, 
                    dom: 'rt',
                    ordering: false,
                    columnDefs: [ 
                        {
                            "targets": [0, 1, 2, 3, 4],
                            "searchable": false
                        }]
            	   });
            	   
            	   $('table.dispositionsTable').each(function(){
                	 dispoTables[$(this).attr('id')] = $(this).DataTable({
                		 dom: 'rt',
                		 order: [ 1, "desc" ],
                     language: {
                         "emptyTable": "No disposition data on file"
                       },
                		 columnDefs: [ 
                        {
                            "targets": 0,
                            "searchable": false,
                            "orderable": false
                        },
                        {
                        	  "targets":1, 
                        	  "type":"date"
                        },
                        {
                             "targets": [2],
                             "render": function ( data, type, row, meta ) {
                            	   if (dispoCodeMapping.hasOwnProperty(data)){
                            		   return dispoCodeMapping[data];
                            	   }
                                 else if (data==='329'){
                                   return 'COURT DISPOSITION UNKNOWN';
                                 }
                                 else{
                                   return data;
                                 }
                             }
                        },
                        {
                             "targets": [7],
                             "render": function ( data, type, row, meta ) {
                            	   if (filedChargeCodeMapping.hasOwnProperty(data)){
                            		   return filedChargeCodeMapping[data];
                            	   }
                            	   else{
	                                 return data;
                            	   }
                             }
                        },
                        {
                            "targets": [8],
                            "render": function ( data, type, row, meta ) {
                                if (chargeSeverityCodeMapping.hasOwnProperty(data)){
                                  return chargeSeverityCodeMapping[data];
                                }
                                else{
                                  return data;
                                }
                            }
                        },
                        {
                             "targets": [10],
                             "render": function ( data, type, row, meta ) {
                            	   if (amendedChargeCodeMapping.hasOwnProperty(data)){
                            		   return amendedChargeCodeMapping[data];
                            	   }
                            	   else{
	                                 return data;
                            	   }
                             }
                        },
                        {
                             "targets": [11],
                             "render": function ( data, type, row, meta ) {
                            	   if (chargeSeverityCodeMapping.hasOwnProperty(data)){
                            		   return chargeSeverityCodeMapping[data];
                            	   }
                            	   else{
	                                 return data;
                            	   }
                             }
                        },
                        {
                             "targets": [23],
                             "render": function ( data, type, row, meta ) {
                           		   var presented = "";
                           		   data.split(",").forEach(function(entry){
	                            	   if (alternateSentenceMapping.hasOwnProperty(entry)){
	                            			 presented += alternateSentenceMapping[entry];
	                            	   }
	                            	   else{
	                            		   presented +=entry;
	                            	   }
                            			   presented +="<br>"
                            		  });
                            		   
                           		   return presented;
                             }
                        },
                        {
                             "targets": [24],
                             "render": function ( data, type, row, meta ) {
                            	   if (reasonsForDismissalMapping.hasOwnProperty(data)){
                            		   return reasonsForDismissalMapping[data];
                            	   }
                            	   else{
	                                 return data;
                            	   }
                             }
                        },
                        {
                             "targets": [25],
                             "render": function ( data, type, row, meta ) {
                            	   if (daProvisionCodeMapping.hasOwnProperty(data)){
                            		   return daProvisionCodeMapping[data];
                            	   }
                            	   else{
	                                 return data;
                            	   }
                             }
                        },
                			  {
                		      "targets": [12, 13, 22],
                		      "render": $.fn.dataTable.render.number( ',', '.', 0, '$' )
                		    }
                		  ]/* , 
                		  scrollX: true,
             			    fixedColumns: {
             			        leftColumns: 3
             			    } */
                	 });
                 });
            	   
                 $('#portalContent').off('click', '#presentArrest').on('click', '#presentArrest',function() {
                     xhr = $.get( context +"daArrests/summary", function(data) {
                       $('#submitArrestModalContent').html(data);
                       
                       $('#submitArrestModalContent .dispositionCode').each(function(){
                           $(this).html(dispoCodeMapping[$(this).text()]);
                       }); 
                       $('#submitArrestModalContent .chargeDismissalCode').each(function(){
                           $(this).html(reasonsForDismissalMapping[$(this).text()]);
                       }); 
                       var dispositionTableCount = $(".dispositionsTable").length;
                       var emptyDispositionTableCount = $(".dispositionsTable .dataTables_empty").length
                       if (emptyDispositionTableCount > 0){
                    	   var message = "Please add disposition to, decline or refer the charge(s) before completing the arrest. ";  
                         if (emptyDispositionTableCount == 1){
                        	 $('#submitArrestModalContent').prepend('<div class="alert alert-danger" role="alert">There is one charge with no disposition. ' + message + '</div>');
                         }
                         else if (emptyDispositionTableCount > 1){
                        	 $('#submitArrestModalContent').prepend('<div class="alert alert-danger" role="alert">There are charges with no disposition. ' + message + '</div>');
                         }

                         $("#confirmSubmitArrest").addClass("d-none");
                       }
                       else{
                         $("#confirmSubmitArrest").removeClass("d-none");
                       }
                       $('#submitArrestModal').modal('show');
                     }).fail(ojbc.displayFailMessage);
                  }); 
                  
                  $('#submitArrestModal').off('click', '#confirmSubmitArrest').on('click', '#confirmSubmitArrest',function() {
                     chargeIds = []; 
                     $(".dispositionsTable:not(:has(.dataTables_empty))").each(function(){
                       chargeIds.push($(this).attr("id"));
                     }); 
                     var requestData = {
                         'arrestIdentification': $('#searchResultsTable').attr('arrestId'),
                         'chargeIds': chargeIds
                     };

                     //console.log("requestData: "  + requestData);
                     //console.log("requestData: "  + $.param(requestData));
                      
                     var contentArray = [];

                     contentArray.push({ p: {text: submitArrestConfirmationMessage}});
                     contentArray.push({ p: {text: "Do you want to proceed?"}});
                     bootpopup({
                         title: "", 
                         showclose: false,
                         content: contentArray, 
                         no: function() {},
                         complete: function() {
                             $('#submitArrestModal').css('overflow-y', 'auto');
                         },
                         yes: function(data, array, event) {  
                             requestData[_csrf_param_name] = _csrf_token;
                             xhr = $.post( context +"daArrests/finalize", $.param(requestData), function(data) {
                                $("#submitArrestModal .close").click(); 
                                $("#portalContent").html(data);
                                $(".modal-backdrop").hide();
                             }).fail(ojbc.displayFailMessage); 
                         },
                     });
                  }); 
            	   
                 $('.dispositionsTable').off('click', 'a.addDisposition').on('click', 'a.addDisposition',function() {
                    var chargeId = $(this).closest("table").attr("id");
                    var countyName = $(this).closest('div.card').find("span.countyName").html();
                    xhr = $.get( context +"daArrests/dispositionForm", {
                        arrestIdentification: $('#searchResultsTable').attr('arrestId'),
                        arrestChargeIdentification:chargeId, 
                        arrestOri:$('#arrestOri').text(),
                        arrestDate: $('#arrestDate').text(), 
                        daCourtName: countyName},  
                        function(data) {
		                    	$('#dispositionModal .modal-body').html(data);
		                    	$("#arrestChargeIdentification").append($(".chargeDropDown").html());
		                    	$('#arrestChargeIdentification').val(chargeId);
		                    	$('#dispositionModal .modal-title').html("Add Disposition");
		                    	$('#dispositionModal .modal-footer').html($("#saveDispositionButtons").html())
		                    	$('#saveDisposition').prop('disabled', false); 
		                      $('#dispositionModal').modal('show');
 	                      }).fail(ojbc.displayFailMessage);
                 }); 
                 
                 $('.dispositionsTable tbody').off('click', 'a.editDisposition').on('click', 'a.editDisposition',function() {
                	 var chargeId = $(this).closest("table").attr("id");
                	 //console.log("chargeId:" + chargeId);
                	 var rowData = dispoTables[chargeId].row($(this).closest("tr")).data(); 
/*                 	 console.log(rowData);
                	 console.log(rowData[4]);
                	 console.log(rowData[5]);
 */                   var countyName = $(this).closest('div.card').find("span.countyName").html();
                   var dataSource = $(this).closest("tr").attr("data-source");

                	 console.log($("#dispositionForm").serialize()+ "&amendedCharge=" + rowData[5]);
                   xhr = $.get( context +"daArrests/dispositionForm", {
		                	       arrestIdentification: $('#searchResultsTable').attr('arrestId'),
		                	       arrestChargeIdentification:chargeId, 
		                	       dispositionIdentification:$(this).closest("tr").attr("id"),
		                	       dispositionDate:rowData[1], 
		                	       dispositionCode:rowData[2], 
		                	       counts:rowData[3], 
		                	       courtCaseNumber:rowData[4], 
	                           arrestOri:$('#arrestOri').text(),
		                	       generalOffenseCode:daGeneralOffenseDescMapping[rowData[5]], 
		                	       filedChargeLiteral:rowData[6], 
		                	       filedCharge:rowData[7], 
		                	       chargeSeverityCode:rowData[8],
		                	       amendedChargeLiteral:rowData[9], 
		                	       amendedCharge:rowData[10], 
		                	       amendedChargeSeverityCode:rowData[11],
		                	       fineAmount:rowData[12].split('.', 1).toString(),
		                	       fineSuspended:rowData[13].split('.', 1).toString(), 
		                	       jailYears:rowData[14], 
		                	       jailDays:rowData[15], 
		                	       prisonYears:rowData[16], 
		                	       prisonDays:rowData[17], 
		                	       suspendedYears:rowData[18], 
		                	       suspendedDays:rowData[19], 
		                	       deferredYears:rowData[20],
		                	       deferredDays:rowData[21],
		                	       restitution:rowData[22].split('.', 1).toString(),
		                	       alternateSentences:rowData[23],
		                	       reasonForDismissal:rowData[24],
		                	       provisionCode:rowData[25], 
		                	       arrestDate: $('#arrestDate').text(),
		                	       daCourtName: countyName
                     		   },
                     		   function(data) {
				                      $('#dispositionModal .modal-body').html(data);
				                      $("#arrestChargeIdentification").append($(".chargeDropDown").html());
				                      $('#arrestChargeIdentification').val(chargeId);
				                      $('#dispositionModal .modal-title').html("Edit Disposition");
				                      $('#dispositionModal .modal-footer').html($("#saveDispositionButtons").html())
				                      if (dataSource !== 'RAPUP'){
			                          $('#saveDisposition').prop('disabled', true);
			                        }
				                      $('#dispositionModal').modal('show');
				                   }).fail(ojbc.displayFailMessage);
                 });
                 
                 $('.dispositionsTable tbody').off('click', 'a.expungeDisposition').on('click', 'a.expungeDisposition',function() {
                     var chargeId = $(this).closest("table").attr("id");
                     var rowData = dispoTables[chargeId].row($(this).closest("tr")).data(); 

                     xhr = $.get( context +"daArrests/expungeDispositionForm", {
                           arrestIdentification: $('#searchResultsTable').attr('arrestId'),
                           arrestChargeIdentification:chargeId, 
                           dispositionIdentification:$(this).closest("tr").attr("id")},  
                           function(data) {
                        $('#dispositionModal .modal-body').html(data);
                        $('#dispositionModal .modal-title').html('Expunge Disposition <a href="#" data-toggle="popover" data-trigger="hover" data-content="Expunging a charge will remove the original plea and update the disposition to \'PLED NOT GUILTY, CASE DISMISSED\'. The arrest will remain the record. "><i class="fas fa-info-circle"></i></a>');
                        $('#dispositionModal .modal-footer').html($("#expungeDispositionButtons").html())
                        $('#dispositionModal').modal('show');
                     }).fail(ojbc.displayFailMessage);
                  });
                   
                 $('#dispositionModal').on('click', '#expungeDisposition', function(){
                     var formData = $("#expungeDispositionForm").serialize();
                      
                     var dispositionDateString = $('#dispositionDate').val();
                     if (dispositionDateString && date_regex.test(dispositionDateString)
                    		 && (new Date(dispositionDateString) <= new Date())){
                       $("#dispositionDate").removeClass("is-invalid").addClass("is-valid");
                    	 bootpopup.confirm("Please confirm that you would like to expunge this record.", "", function(ans) { if(ans){expungeDisposition(formData);} });
                     }
                     else{
                    	 $("#dispositionDate").removeClass("is-valid").addClass("is-invalid");
                    	 bootpopup.alert("Please enter non-future date in the format mm/dd/yyyy", "Error");   	 
                     }
                 });      

                 $('#dispositionModal').on('click', '#submitReferral', function(){
                   var formData = $("#referralForm").serialize();
                 	 bootpopup.confirm("Please confirm that you would like to refer this charge.", "",
               			 function(ans) { 
             	         if(ans){
                          chargeRef = $("a.card-link[aria-expanded = 'true']").attr("href");
                          xhr = $.post(context + "daArrests/referCharge",formData,function(data) {
                              /* console.log(formData); */
                            $("#dispositionModal .close").click();
                            $('#portalContent').html(data); 
                          }).fail(ojbc.displayFailMessage);
           	        	 } 
               			 });
                 });      

                 
                 $('#dispositionModal').on('click', '#saveDisposition', function(){
                   if (($('#dispositionCode').val() === '84' || $('#dispositionCode').val() === '24') && 
                       $('#filedCharge').val() === ''){
                     var originalChargeDescription = $("a.card-link[aria-expanded = 'true']").text();
                     $('#filedChargeLiteral').val(originalChargeDescription); 
                   }
                         
                	 var restitution = parseInt($("#restitution").val().replace(',', ''));
                	 var fineAmount = parseInt($("#fineAmount").val().replace(',', '')); 
                	 var jailYears = parseInt($("#jailYears").val()) || 0; 
                	 var jailDays = parseInt($("#jailDays").val()) || 0; 
                	 var suspendedYears = parseInt($("#suspendedYears").val()) || 0; 
                	 var suspendedDays = parseInt($("#suspendedDays").val()) || 0; 
                	 var suspendedTime = 360 * suspendedYears + suspendedDays; 
                	 var jailTime = 360 * jailYears + jailDays - suspendedTime;
                   var deferredYears = parseInt($("#deferredYears").val()) || 0; 
                   var deferredDays = parseInt($("#deferredDays").val()) || 0; 
                   var deferredTime = 360 * deferredYears + deferredDays; 
                   var prisonYears = parseInt($("#prisonYears").val()) || 0; 
                   var prisonDays = parseInt($("#prisonDays").val()) || 0; 
                   var prisonTime = 360 * prisonYears + prisonDays; 
                   var counts = parseInt($("#counts").val()) || 0; 

                   var dispositionDateWarning = false;
                   if ($('#dispositionCode').val() != '398'){
                       var dispositionDateString = $("#dispositionDate").val();
                       var dispositionDate = date_regex.test(dispositionDateString)? new Date(dispositionDateString):null;
                       var arrestDate = new Date($("#arrestDate").text());
                       if (dispositionDate != null && dispositionDate < arrestDate){
                    	   dispositionDateWarning = true; 
                       }
                	 }
                   
                   var finalDispositionWarning = false;
                   var deferredYears = parseInt($("#deferredYears").val()) || 0; 
                   var deferredDays = parseInt($("#deferredDays").val()) || 0; 
                   var deferredTime = 360 * deferredYears + deferredDays; 
                   if (deferredTime > 0 && $('#alternateSentences').val().includes('121')){
                     finalDispositionWarning = true; 
                   }
                   
                   if (!!$('#amendedChargeSeverityCode').val()){
                	   var chargeSeverity = $('#amendedChargeSeverityCode option:selected').text();
                   }
                   else if (!!$('#chargeSeverityCode').val()){
                	   var chargeSeverity = $('#chargeSeverityCode option:selected').text();
                   }
                   var originalChargeRef = $("a.card-link[aria-expanded = 'true']").attr("href");
                   var newChargeRef = "#charge" + $("#arrestChargeIdentification").val();;

               	   if ( !(originalChargeRef === newChargeRef) || restitution > 5000 || fineAmount > 1000 || jailTime > 360  || 
               			   (chargeSeverity === 'Misdemeanor' && ( jailTime > 360 || deferredTime > 360 || prisonTime > 0) ) || dispositionDateWarning || 
               			   finalDispositionWarning || (jailTime > 90 && deferredTime> 0 &&  deferredTime < 3600) ){
               		   var contentArray = [];
               		   if (fineAmount > 1000) {
               			   contentArray.push({ p: {text: "The Fine Amount exceeds $1,000. "}});
               		   }
               		   if (restitution > 5000) {
                       contentArray.push({ p: {text: "The Restitution exceeds $5,000. "}});
               		   }
               		   
               		   if (jailTime > 360 && chargeSeverity === 'Felony'){
                       contentArray.push({ p: {text: "Jail Time exceeds one year."}});
               		   }
               		   
               		   if ((jailTime > 360 || deferredTime > 360 )&& chargeSeverity === 'Misdemeanor'){
                       contentArray.push({ p: {text: "The sentence exceeds one year on a misdemeanor offense and is in violation of the law."}});
               		   }
               		   
               		   if (jailTime > 90 && deferredTime > 0 && deferredTime < 3600 ){
               			   contentArray.push({ p: {text: "The jail itme is greater than 90 when deferred time is not empty. This is in violation of the law."}});
               		   }
               		   
               		   if (prisonTime > 0 && chargeSeverity === 'Misdemeanor'){
               			   contentArray.push({ p: {text: "The sentence includes prison time on a misdemeanor offense. "}});
               		   }
               		   if (counts > 10){
               			   contentArray.push({ p: {text: "The counts exceeds 10. "}});
               		   }
               		   if (!(originalChargeRef === newChargeRef)){
                       contentArray.push({ p: {text: "The disposition will be saved to charge " + $('#arrestChargeIdentification option:selected').text() + " instead."}});
               		   }
               		   
               		   if (dispositionDateWarning){
                       contentArray.push({ p: {text: "The disposition date is before the arrest date."}});
               		   }
                     if (finalDispositionWarning){
                       contentArray.push({ p: {text: '"Expungement Not Granted" can only be added to a disposition that contains a deferred sentence.  The statement will not print on the OSBI RAP sheet, but will remove this arrest from your list of pending arrests in the RAPUP program.  Do you wish to continue?'}});
                     }
               		   
               		   contentArray.push({ p: {text: "Do you want to proceed?"}});
                     bootpopup({
                         title: "", 
                         showclose: false,
                         content: contentArray, 
                         no: function() {},
                         complete: function() {
                        	 $('#dispositionModal').css('overflow-y', 'auto');
                         },
                         yes: function(data, array, event) { 
                        	 confirmDispositionContent();
                       	 },
                     });

               	   }
               	   else{
               		   confirmDispositionContent();
               	   }
                 });

                 
                 function confirmDispositionContent(){
                     var formData = $("#dispositionForm").serialize();
                     var fieldValues = $("#dispositionModalContent .fieldValue"); 
                     jQuery.each( fieldValues, function() {
                        relatedFieldId = $(this).attr("data-field");
                        relatedField = $('#' + relatedFieldId);
                        console.log(relatedField.val());
                        console.log(relatedField.is("select"));
                        if (relatedField.is("select")){
                          if (!!relatedField.val()){ 
                            selectedText = $('#' + relatedFieldId +' option:selected').toArray().map(item => item.text).join(', ');                           
                            $(this).html(selectedText);
                          }
                        }
                        else {
                            $(this).html(relatedField.val());
                        }
                     });
                     $('#submitDispositionModal').css('overflow-y', 'auto');
                     $('#submitDispositionModal').modal('show');
                     $('#submitDispositionModal')
                       .off('click', '#confirmDispositionContent')
                       .on('click', '#confirmDispositionContent',function() {
                          $('#submitDispositionModal .close').click();
                          $('#dispositionModal').css('overflow-y', 'auto');
                          saveDisposition(formData);
                     });
                 }
                 
                 function expungeDisposition(formData){
                     chargeRef = $("a.card-link[aria-expanded = 'true']").attr("href");
                     xhr = $.post(context + "daArrests/expungeDisposition",formData,function(data) {
                         /* console.log(formData); */
                         
                         if ($(data).find('div.card').length > 0){
                           $("#dispositionModal .close").click();
                           $('#portalContent').html(data); 
                           $("a.card-link[href = '" + chargeRef + "']").click();
                         }
                         else{
                           $('#dispositionModal .modal-body').html(data);
                           $('#dispositionModal').modal('show');
                         }
                     }).fail(ojbc.displayFailMessage);
                 }

              function saveDisposition(formData){
                  xhr = $.post(context + "daArrests/saveDisposition",formData,function(data) {
                      var chargeId = $("#arrestChargeIdentification").val();
                      if ($(data).find('div.card').length > 0){
                     	 var chargeRef = "#charge" + chargeId;
                        $("#dispositionModal .close").click();
                        
                        $('#portalContent').html(data); 
                        $("a.card-link[href = '" + chargeRef + "']").click();
                      }
                      else{
                        $('#dispositionModal .modal-body').html(data);
                        $("#arrestChargeIdentification").append($(".chargeDropDown").html());
                        $('#arrestChargeIdentification').val(chargeId);
                      }
                    }).fail(ojbc.displayFailMessage);
              }
                 
              $('.dispositionsTable tbody').off('click', 'a.deleteDisposition').on('click', 'a.deleteDisposition',function() {
             	 var requestData = {
                    'arrestIdentification': $('#searchResultsTable').attr('arrestId'),
                    'arrestChargeIdentification': $(this).closest("table").attr("id"),
                    'dispositionIdentification': $(this).closest("tr").attr("id")
                };
                bootpopup({
                    title: "", 
                    showclose: false,
                    content: [
                          { p: {text: "Deleting a disposition will permanently remove any disposition information previously added.  The charge at arrest will remain unchanged. "}},
                          { p: {text: "Do you want to delete this disposition?"}}
                          ], 
                    no: function() {},
                    yes: function(data, array, event) {  
                        chargeRef = $("a.card-link[aria-expanded = 'true']").attr("href");
                        requestData[_csrf_param_name] = _csrf_token;
                        xhr = $.post(context + "daArrests/dispositions/delete", requestData, function(data) {
                            $('#portalContent').html(data); 
                            $("a.card-link[href = '" + chargeRef + "']").click();
                        }).fail(ojbc.displayFailMessage);
                    },
                });
              });
              
              $('#accordion').off('click', 'a.declineCharge').on('click', 'a.declineCharge',function() {
                var requestData = {
                     'arrestIdentification': $('#searchResultsTable').attr('arrestId'),
                     'arrestChargeIdentification': $(this).siblings(".card-link").attr("href").slice(7),
                     'arrestChargeDescription': $(this).siblings(".card-link").text()
                };
                
                chargeRef = $(this).siblings(".card-link").attr("href");
                bootpopup({
                    title: "", 
                    showclose: false,
                    content: [
                          { p: {text: "Do you want to decline this charge?"}}
                          ], 
                    no: function() {},
                    yes: function(data, array, event) {  
                        requestData[_csrf_param_name] = _csrf_token;
                        xhr = $.post(context + "daArrests/charges/decline", requestData, function(data) {
                            $('#portalContent').html(data); 
                            $("a.card-link[href = '" + chargeRef + "']").click();
                        }).fail(ojbc.displayFailMessage);
                  },
                });
              });
              
              $('#accordion').off('click', 'a.referCharge').on('click', 'a.referCharge',function() {
                  var chargeId = $(this).siblings(".card-link").attr("href").slice(7);
                  var chargeDescription = $(this).siblings(".card-link").text();

                  xhr = $.get( context +"arrests/chargeReferralForm", {
                        arrestIdentification: $('#searchResultsTable').attr('arrestId'),
                        arrestChargeIdentification:chargeId},  
                        function(data) {
                     $('#dispositionModal .modal-body').html(data);
                     $('#dispositionModal .modal-title').html('Refer Charge ' + chargeDescription);
                     $('#dispositionModal .modal-footer').html($("#referChargeButtons").html())
                     $('#referToDaRow').addClass('d-none');
                     $('#dispositionModal').modal('show');
                  }).fail(ojbc.displayFailMessage);
               });

            });
	      </script>
	      <div id="saveDispositionButtons" style="display:none;">
	          <button type="button" class="btn btn-primary" id="saveDisposition" sec:authorize="hasAuthority('CAN_SAVE')">Save</button>
	          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
	      </div>
	      <div id="expungeDispositionButtons" style="display:none;">
	          <button type="button" class="btn btn-primary" id="expungeDisposition">Submit</button>
	          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
	      </div>
	      <div id="referChargeButtons" style="display:none;">
	          <button type="button" class="btn btn-primary" id="submitReferral" disabled>Submit</button>
	          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
	      </div>
      </div>
      
	</body>
</html>
