<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>OJBC Web Portal</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    <!-- Begin page content -->
	    <div th:fragment="resultsPage">
	      <div id="loadingAjaxPane" ></div>
        <h3>Arrest Search Results</h3>
        <form action="#" th:action="@{/daArrests/advancedSearch}" th:object="${arrestSearchRequest}" id="searchForm" method="post">
	        <div class="row" th:replace="arrest/arrestSearchForm.html :: arrestSearchFormContent"/>
        </form>
        <hr/>
        
        <div id="searchResultsList" th:fragment="resultsList" >
	        <p th:utext="${arrestSearchContent}" ></p>
	        <script th:inline="javascript">
              $(function(){
                  $('[data-toggle="popover"]').popover(); 
                  $.fn.dataTable.moment( 'MM/DD/YYYY' );

                  var table = $('#searchResultsTable').DataTable({
                	    responsive: true,
                	    fixedHeader: {header: true},
                      "columnDefs": [
                          { "orderable": false, "targets": 6 },
                          {
                              "targets":[2, 4], 
                              "type":"date"
                          },

                        ]
                  });
                  
                  $('[data-toggle="tooltip"]').tooltip(); 
                  
                  $('#searchResultsTable').on('click', 'a.editArrest',function() {
                      xhr = $.get( context +"daArrests/" + $(this).closest("tr").attr("id"), function(data) {
                        $('#portalContent').html(data);
                      }).fail(ojbc.displayFailMessage);
                  });
                  $('#searchResultsTable tbody').on('click', 'a.hideArrest',function() {
	                	  var arrestId = $(this).closest("tr").attr("id"); 
                      bootpopup({
                          title: "", 
                          size: "large",
                          showclose: false,
                          content: [
                                { p: {text: "Hiding an arrest will remove it from your list for 30 days. You will still be able to search for this arrest.  "}},
                                { p: {text: "Do you want to hide this arrest?"}}
                                ], 
                          cancel: function() {},
                          ok: function(data, array, event) {  
                              xhr = $.get( context +"daArrests/" + arrestId + "/hide", function(data) {
                                  $("#searchResultsList").replaceWith(data);
                                }).fail(ojbc.displayFailMessage);
                          },
                      });
                  });
                  $('#searchResultsTable tbody').on('click', 'a.unhideArrest',function() {
	                	  var arrestId = $(this).closest("tr").attr("id"); 
                      xhr = $.get( context +"daArrests/" + arrestId + "/unhide", function(data) {
                          $("#searchResultsList").replaceWith(data);
                      }).fail(ojbc.displayFailMessage);
                  });
                  $('#searchResultsTable tbody').on('click', 'a.referArrest',function() {
                      var arrestId = $(this).closest("tr").attr("id");
                      bootpopup({
                    	  title: "", 
                    	  size: "large",
                    	  showclose: false,
                    	  content: [
                    	        { p: {text: "Referring an arrest to the Municipal Court will permanently remove the arrest from the county’s charge list.  If both the DA and municipal court refer this arrest, the disposition will be updated to 'NO CHARGES FILED' in OSBI’s criminal history records."}},
                    	        { p: {text: "Do you want to refer this arrest to the Municipal Court?"}}
                    	        ], 
              	        cancel: function() {},
               	        ok: function(data, array, event) {  
               	        	xhr = $.get( context +"daArrests/" + arrestId  + "/refer", function(data) {
                            $("#searchResultsList").replaceWith(data);
                          }).fail(ojbc.displayFailMessage); 
              	        },
                      });
                  }); 
             }); 
          </script>
        </div>
 		    <script th:inline="javascript">
	        /*<![CDATA[*/
            var context = [[@{/}]];
 	        /*]]>*/

	        $(function(){
	            
              $('#arrestDateRangeStartDate').datepicker({
                    uiLibrary: 'bootstrap4', size: 'small'
              });
              $('#arrestDateRangeEndDate').datepicker({
                    uiLibrary: 'bootstrap4', size: 'small'
              });
              $('#dob').datepicker({
                    uiLibrary: 'bootstrap4', size: 'small'
              });
              $('.date').mask('99/99/9999');
              
              $('#searchForm input').keypress(function (e) {
            	  if (e.which == 13) {
            	    $('#submit').click();
            	    return false;    
            	  }
            	});
              
              $('#submit').click (function(){
                var formData = $('#searchForm').serialize();
                 
                xhr = $.post(context + "daArrests/advancedSearch",formData,function(data) {
              	  $('#searchResultsList').replaceWith(data);
             	  }).fail();
              });
              
            }); 
	
	        </script>
	    </div>
	
	</body>
</html>
