<!--

    Unless explicitly acquired and licensed from Licensor under another license, the contents of
    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
    versions as allowed by the RPL, and You may not copy or use this file in either source code
    or executable form, except in compliance with the terms and conditions of the RPL

    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
    governing rights and limitations under the RPL.

    http://opensource.org/licenses/RPL-1.5

    Copyright 2012-2017 Open Justice Broker Consortium

-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Disposition Form</title>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.2.0/css/all.css}" />
		<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    <!-- Begin page content -->
  <div th:fragment="dispositionForm">
    
    <form action="#" th:action="@{/daArrests/saveDisposition}" th:object="${disposition}" id="dispositionForm" method="post">
      <input type="hidden" th:field="*{arrestIdentification}" />
      <input type="hidden" th:field="*{arrestChargeIdentification}" />
      <input type="hidden" th:field="*{dispositionIdentification}" />
      <input type="hidden" th:field="*{arrestDate}" />
         <div class="form-row">
           <div class="col-md-3 mb-3">
             <label>Disposition Date *</label>
             <input type="text" th:field="*{dispositionDate}" placeholder="mm/dd/yyyy" class="date form-control" th:errorclass="is-invalid"/>
             <div th:if="${#fields.hasErrors('dispositionDate')}" th:errors="*{dispositionDate}" class="invalid-feedback">Disposition Date error message</div>
           </div>
           <div class="col-md-4 mb-4">
             <label for="dispositionCode">Disposition Code *</label>
             <select th:field="*{dispositionCode}" class="form-control chosen-select" th:errorclass="is-invalid">
                <option value="" >Please select ...</option>
						    <option th:each="item: ${daDispoCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
             </select>
             <div th:if="${#fields.hasErrors('dispositionCode')}" th:errors="*{dispositionCode}" class="invalid-feedback">Disposition Code error message</div>
           </div>
           <div class="col-md-2 mb-2">
             <label for="counts">Counts *</label>
             <input type="number" min="1" max="999" th:field="*{counts}" width="1" class="form-control" th:errorclass="is-invalid"/>
             <div th:if="${#fields.hasErrors('counts')}" th:errors="*{counts}" class="invalid-feedback">Counts error message</div>
           </div>
           <div class="col-md-3 mb-3">
              <label>Reason For Dismissal</label>
	            <select th:field="*{reasonForDismissal}" class="form-control chosen-select" th:errorclass="is-invalid" disabled>
	               <option value="" >Please select ...</option>
	               <option th:each="item: ${daReasonsForDismissalMapping}" th:value="${item.key}" th:text="${item.value}" />
	            </select>
              <div th:if="${#fields.hasErrors('reasonForDismissal')}" th:errors="*{reasonForDismissal}" class="invalid-feedback">Reason for dismissal error message</div>
           </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-4">
              <label>Filed Charge *</label>
            <select th:field="*{filedCharge}" class="form-control chosen-select" th:errorclass="is-invalid">
               <option value="" >Please select ...</option>
               <option th:each="item: ${daFiledChargeCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
            </select>
              <div th:if="${#fields.hasErrors('filedCharge')}" th:errors="*{filedCharge}" class="invalid-feedback">Filed charge error message</div>
            </div>
            <div class="col-md-6 mb-4">
              <label>Amended Charge</label>
              <select th:field="*{amendedCharge}" class="form-control chosen-select" th:errorclass="is-invalid" disabled>
                 <option value="" >Please select ...</option>
                 <option th:each="item: ${daAmendedChargeCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
              </select>
              <div th:if="${#fields.hasErrors('amendedCharge')}" th:errors="*{amendedCharge}" class="invalid-feedback">Amended charge error message</div>
            </div>
          </div>
          <div class="form-row">
	          <div class="col-md-3 mb-2">
	            <label for="chargeSeverityCode">Filed Charge Severity</label>
	            <select th:field="*{chargeSeverityCode}" class="form-control chosen-select" th:errorclass="is-invalid" disabled>
	               <option value="" >Please select ...</option>
	               <option th:each="item: ${chargeSeverityCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
	            </select>
	          </div>
	          <div class="col-md-3 mb-2">
	            <label for="filedGeneralOffenseCode">General Offense Code</label>
	          </div>
	          <div class="col-md-3 mb-2">
	            <label for="amendedChargeSeverityCode">Amended Charge Severity</label>
	            <select th:field="*{amendedChargeSeverityCode}" class="form-control chosen-select" th:errorclass="is-invalid" disabled>
	               <option value="" >Please select ...</option>
	               <option th:each="item: ${chargeSeverityCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
	            </select>
	          </div>
	          <div class="col-md-3 mb-2">
	            <label for="amendedGeneralOffenseCode">General Offense Code</label>
	          </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-4">
              <label>Fine Amount</label>
              <input type="text" th:field="*{fineAmount}" width="250" class="money form-control" th:errorclass="is-invalid"/>
              <div th:if="${#fields.hasErrors('fineAmount')}" th:errors="*{fineAmount}" class="invalid-feedback">Fine amount error message</div>
            </div>
            <div class="col-md-4 mb-4">
              <label>Fine Suspended <small id="fineSuspendedHelp" class="text-muted">&le; Fine Amount</small></label>
              <input type="text" th:field="*{fineSuspended}" width="250" class="money form-control" th:errorclass="is-invalid"/>
              <div th:if="${#fields.hasErrors('fineSuspended')}" th:errors="*{fineSuspended}" class="invalid-feedback">Fine suspended error message</div>
            </div>
            <div class="col-md-4 mb-4">
               <label>Restitution</label>
               <input type="text" th:field="*{restitution}" width="10" class="money form-control" th:errorclass="is-invalid"/>
               <div th:if="${#fields.hasErrors('restitution')}" th:errors="*{restitution}" class="invalid-feedback">Restitution error message</div>
             </div>                         
            
          </div>
          <div class="form-row">
            <span class="col-md-3 mb-3">Jail</span>
            <span class="col-md-3 mb-3">
              <label>Prison</label>
            </span>
            <span class="col-md-3 mb-3">
              <label>Suspended</label>
            </span>
            <span class="col-md-3 mb-3">
              <label>Deferred</label>
            </span>
          </div>
          <div class="form-row">
            <div class="col-md-3 mb-3">
              <label>Years</label>
              <input type="number" min="1" max="100" th:field="*{jailYears}" width="1" class="form-control" th:errorclass="is-invalid"/>
              <div th:if="${#fields.hasErrors('jailYears')}" th:errors="*{jailYears}" class="invalid-feedback">Jail years error message</div>
              <label>Days</label>
              <input type="number" min="1" max="359" th:field="*{jailDays}" width="3" class="form-control" th:errorclass="is-invalid"/>
              <div th:if="${#fields.hasErrors('jailDays')}" th:errors="*{jailDays}" class="invalid-feedback">Jail days error message</div>
            </div>
            <div class="col-md-3 mb-3">
              <label>Years</label>
              <input type="number" min="1" max="100" th:field="*{prisonYears}" width="1" class="form-control" th:errorclass="is-invalid"/>
              <div th:if="${#fields.hasErrors('jailYears')}" th:errors="*{prisonYears}" class="invalid-feedback">Prison years error message</div>
              <label>Days</label>
              <input type="number" min="1" max="359" th:field="*{prisonDays}" width="3" class="form-control" th:errorclass="is-invalid"/>
              <div th:if="${#fields.hasErrors('prisonDays')}" th:errors="*{prisonDays}" class="invalid-feedback">Prison days error message</div>
            </div>
            <div class="col-md-3 mb-3">
              <label>Years</label>
              <input type="number" min="1" max="100" th:field="*{suspendedYears}" width="1" class="form-control" th:errorclass="is-invalid" disabled/>
              <div th:if="${#fields.hasErrors('suspendedYears')}" th:errors="*{suspendedYears}" class="invalid-feedback">Suspended years error message</div>
              <label>Days</label>
              <input type="number" min="1" max="359" th:field="*{suspendedDays}" width="3" class="form-control" th:errorclass="is-invalid"/>
              <div th:if="${#fields.hasErrors('suspendedDays')}" th:errors="*{suspendedDays}" class="invalid-feedback">Suspended days error message</div>
            </div>
            <div class="col-md-3 mb-3">
              <label>Years</label>
              <input type="number" min="1" max="100" th:field="*{deferredYears}" width="1" class="form-control" th:errorclass="is-invalid"/>
              <div th:if="${#fields.hasErrors('deferredYears')}" th:errors="*{deferredYears}" class="invalid-feedback">Deferred years error message</div>
              <label>Days</label>
              <input type="number" min="1" max="359" th:field="*{deferredDays}" width="3" class="form-control" th:errorclass="is-invalid"/>
              <div th:if="${#fields.hasErrors('deferredDays')}" th:errors="*{deferredDays}" class="invalid-feedback">Deferred days error message</div>
            </div>
          </div>
          <div class="form-row">
	           <div class="col-md-6 mb-4">
	             <label>Provision</label>
	             <select th:field="*{provisionCode}" class="form-control chosen-select" th:errorclass="is-invalid">
	               <option value="" >Please select ...</option>
	               <option th:each="item: ${daProvisionCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
	             </select>
	             <div th:if="${#fields.hasErrors('provisionCode')}" th:errors="*{provisionCode}" class="invalid-feedback">Provision error message</div>
	           </div>                         
             <div class="col-md-6 mb-4">
               <label>Alternate Sentence</label>
	             <select th:field="*{alternateSentence}" class="form-control chosen-select" th:errorclass="is-invalid">
	               <option value="" >Please select ...</option>
	               <option th:each="item: ${daAlternateSentenceMapping}" th:value="${item.key}" th:text="${item.value}" />
	             </select>
               <div th:if="${#fields.hasErrors('alternateSentence')}" th:errors="*{alternateSentence}" class="invalid-feedback">Alternate sentence error message</div>
             </div>		
           </div>			                
           <div class="form-row">
              <div class="col-md-3 mb-3">
	             <label>Court Case Number* </label>
              </div>
              <div class="col-md-2 mb-2">
               <label>County </label>
	             <input type="text" th:field="*{county}" class="form-control" th:errorclass="is-invalid" readonly/>
	             <div th:if="${#fields.hasErrors('county')}" th:errors="*{county}" class="invalid-feedback">County error message</div>
              </div>
              <div class="col-md-3 mb-2">
               <label>Case Type </label>
	             <select th:field="*{caseType}" class="form-control chosen-select" th:errorclass="is-invalid">
	                <option value="" >Please select ...</option>
	                <option th:each="item: ${daCaseTypeCodeMapping}" th:value="${item.key}" th:text="${item.value}" />
               </select>
               <div th:if="${#fields.hasErrors('caseType')}" th:errors="*{caseType}" class="invalid-feedback">Case Type error message</div>
              </div>
              <div class="col-md-2 mb-2">
               <label>Year </label>
               <input type="text" th:field="*{year}" class="form-control" th:errorclass="is-invalid"/>
               <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="invalid-feedback">Year error message</div>
              </div>
              <div class="col-md-2 mb-2">
               <label>Case Number </label>
               <input type="text" th:field="*{caseNumber}" class="form-control" th:errorclass="is-invalid"/>
               <div th:if="${#fields.hasErrors('caseNumber')}" th:errors="*{caseNumber}" class="invalid-feedback">Case Number error message</div>
              </div>
           </div>					                
      </form>
    <script th:inline="javascript">
	      $(function(){
	    	  $(".chosen-select").chosen(); 
					$('.date').mask('99/99/9999');
					$('.money').mask('0,000,000,000,000', {reverse: true});
			    $('#county').mask('99');
			    $('#year').mask('99');
			    $('#caseNumber').mask('99999');
					
					$("#dispositionForm").on("focus", "#dispositionDate", function(){
		          $('#dispositionDate').datepicker({
		              uiLibrary: 'bootstrap4', size: 'small'
		           });
					});
					//348 - Found guilty of different charge
					//376 - pled guilty of other charge
					//520 - Nolo contendere to different charge
					var dispoCodesForAmendedCharge = ['348', '376', '520'];
					var dispoCodesForDismissalReason = ['305']; //305-charge dismissal
          var dispoCodesForChargeSeverity = ['310', '348', '356', '357', '376', '520'];
          
					if (dispoCodesForAmendedCharge.includes($('#dispositionCode').val())){
					 $('#amendedCharge').prop('disabled', false).trigger("chosen:updated");
					}
					
					if ($("#amendedCharge").val()){
						$('#amendedChargeSeverityCode').prop('disabled', false).trigger("chosen:updated");
					}
	     	   
					if (dispoCodesForDismissalReason.includes($('#dispositionCode').val())){
					 $('#reasonForDismissal').prop('disabled', false).trigger("chosen:updated");
					}
	     	   
					if (dispoCodesForChargeSeverity.includes($('#dispositionCode').val())){
					 $('#chargeSeverityCode').prop('disabled', false).trigger("chosen:updated");
					}
	     	   
					toggleSentenceInfo();
					
					if ($('#jailYears').val() > 0){
					 	$('#suspendedYears').prop('disabled', false); 
			      $('#suspendedDays').prop('disabled', false); 
            $('#deferredYears').val(''); 
            $('#deferredDays').val(''); 
					 	$('#deferredYears').prop('disabled', true); 
					 	$('#deferredDays').prop('disabled', true); 
					}
					
					if ($('#jailDays').val() > 0){
            $('#suspendedDays').prop('disabled', false); 
            $('#deferredYears').val(''); 
            $('#deferredDays').val(''); 
            $('#deferredYears').prop('disabled', true); 
            $('#deferredDays').prop('disabled', true); 
					}
					
					if ($('#prisonYears').val() > 0  || $('#prisonDays').val() > 0 ){
						
						if ($('#prisonYears').val() > 0){
		           $('#suspendedYears').prop('disabled', false); 
	             $('#suspendedDays').prop('disabled', false); 
						}
            $('#deferredYears').val(''); 
            $('#deferredDays').val(''); 
            $('#deferredYears').prop('disabled', true); 
            $('#deferredDays').prop('disabled', true); 
          }
					
          $("#dispositionForm").on("change", "#jailYears", function(){
              if ($('#jailYears').val() > '0'){
                  $('#suspendedYears').prop('disabled', false); 
                  $('#suspendedDays').prop('disabled', false); 
                  $('#deferredYears').val(''); 
                  $('#deferredDays').val(''); 
                  $('#deferredYears').prop('disabled', true); 
                  $('#deferredDays').prop('disabled', true); 
              }
              else{
            	    if (!($('#prisonYears').val() > 0)){ //TODO confirm with Andrew 
	                  $('#suspendedYears').val(''); 
	                  $('#suspendedYears').prop('disabled', true);
            	    }
                  
                  if (!($('#prisonYears').val() > 0  || $('#prisonDays').val() > 0)){
                	  toggleDefferredYearsDays();              
                  }
              }
          });
					
          $("#dispositionForm").on("change", "#prisonYears", function(){
              if ($('#prisonYears').val() > '0'){
                  $('#suspendedYears').prop('disabled', false); //TODO confirm with Andrew 
                  $('#suspendedDays').prop('disabled', false);  //TODO confirm with Andrew 
                  $('#deferredYears').val(''); 
                  $('#deferredDays').val(''); 
                  $('#deferredYears').prop('disabled', true); 
                  $('#deferredDays').prop('disabled', true); 
              }
              else{
	            	  if (!($('#jailYears').val() > 0)){
	                  $('#suspendedYears').val(''); //TODO confirm with Andrew 
	                  $('#suspendedYears').prop('disabled', true);//TODO confirm with Andrew
	            	  }
                  
                  if (!($('#jailYears').val() > 0  || $('#prisonDays').val() > 0)){
                	  toggleDefferredYearsDays();              
                  }
              }
          });
					
          $("#dispositionForm").on("change", "#jailDays", function(){
              if ($('#jailDays').val() > 0){
                  $('#suspendedDays').prop('disabled', false); 
              }
              else{
            	  if (!($('#jailYears').val() > 0)){
                  $('#suspendedDays').val(''); 
                  $('#suspendedDays').prop('disabled', true);
            	  }
              }
          });
					
          $("#dispositionForm").on("change", "#amendedCharge", function(){
              if ($("#amendedCharge").val()){
                $('#amendedChargeSeverityCode').prop('disabled', false).trigger("chosen:updated");
              }
              else{
            	  $('#amendedChargeSeverityCode').val('');
            	  $('#amendedChargeSeverityCode').prop('disabled', true).trigger("chosen:updated");
              }
          });
					
          $("#dispositionForm").on("change", "#prisonDays", function(){
              if ($('#prisonDays').val() > 0){
                  $('#suspendedDays').prop('disabled', false); //TODO confirm with Andrew 
                  $('#deferredYears').val(''); 
                  $('#deferredYears').prop('disabled', true); 
                  $('#deferredDays').val(''); 
                  $('#deferredDays').prop('disabled', true); 
              }
              else{
            	   if (!($('#prisonYears').val() > 0)){  //TODO confirm with Andrew.  prison and suspended info relationship.
	                  $('#suspendedDays').val(''); 
	                  $('#suspendedDays').prop('disabled', true);
            	   }
                 if (!($('#jailYears').val() > 0  || $('#prisonYears').val() > 0)){
                     toggleDefferredYearsDays();              
                 }
              }
          });
					
		  	  $("#dispositionForm").on("change", "#dispositionCode", function(){
		          if (dispoCodesForAmendedCharge.includes($('#dispositionCode').val())){
		            $('#amendedCharge').prop('disabled', false).trigger("chosen:updated");
	            }
		          else{
		        	  $('#amendedCharge').val('');
		        	  $('#amendedCharge').prop('disabled', true).trigger("chosen:updated");
		        	  $('#amendedChargeSeverityCode').val('');
		        	  $('#amendedChargeSeverityCode').prop('disabled', true).trigger("chosen:updated");
		          }
		          
		          if (dispoCodesForDismissalReason.includes($('#dispositionCode').val())){
		        	  $('#reasonForDismissal').prop('disabled', false).trigger("chosen:updated");
		          }
		          else{
		        	  $('#reasonForDismissal').val('');
		        	  $('#reasonForDismissal').prop('disabled', true).trigger("chosen:updated");
		          }
		          
		          if (dispoCodesForChargeSeverity.includes($('#dispositionCode').val())){
		        	  $('#chargeSeverityCode').prop('disabled', false).trigger("chosen:updated");
		          }
		          else{
		        	  $('#chargeSeverityCode').val('');
		        	  $('#chargeSeverityCode').prop('disabled', true).trigger("chosen:updated");
		          }
		          
		          toggleSentenceInfo();
		  	  });
		  	  
          $('#dispositionForm input').keypress(function (e) {
              if (e.which == 13) {
                $('#saveDisposition').click();
                return false;    
              }
          });


        });
	      
	      function toggleDefferredYearsDays(){
	          var dispoCodesWithoutDeferredYearsDays = ['380', '388'];

            if (dispoCodesWithoutDeferredYearsDays.includes($('#dispositionCode').val())){
                $('#deferredYears').val('');
                $('#deferredYears').prop('disabled', true);
                $('#deferredDays').val('');
                $('#deferredDays').prop('disabled', true);
            }
            else{
                $('#deferredYears').prop('disabled', false);
                $('#deferredDays').prop('disabled', false);
            }
	      }
	      
        function toggleSentenceInfo(){
           var dispoCodesWithoutSentence = ['301', '302', '305', '306', '307', '314', '320', '331', '377', 
                '390', '398', '505', '510', '511', '524', '530', '537','539', '540', '541','542'];
           if (dispoCodesWithoutSentence.includes($('#dispositionCode').val())){
                $('#fineAmount').val('');
                $('#fineAmount').prop('disabled', true);
                $('#fineSuspended').val('');
                $('#fineSuspended').prop('disabled', true);
                $('#jailYears').val('');
                $('#jailYears').prop('disabled', true);
                $('#jailDays').val('');
                $('#jailDays').prop('disabled', true);
                $('#prisonYears').val('');
                $('#prisonYears').prop('disabled', true);
                $('#prisonDays').val('');
                $('#prisonDays').prop('disabled', true);
                $('#suspendedYears').val('');
                $('#suspendedYears').prop('disabled', true);
                $('#suspendedDays').val('');
                $('#suspendedDays').prop('disabled', true);
                $('#deferredYears').val('');
                $('#deferredYears').prop('disabled', true);
                $('#deferredDays').val('');
                $('#deferredDays').prop('disabled', true);
                $('#restitution').val('');
                $('#restitution').prop('disabled', true);
                $('#alternateSentence').val('');
                $('#alternateSentence').prop('disabled', true).trigger("chosen:updated");
                $('#provisionCode').val('');
                $('#provisionCode').prop('disabled', true).trigger("chosen:updated");
          }
          else{
                $('#fineAmount').prop('disabled', false);
                $('#fineSuspended').prop('disabled', false);
                $('#jailYears').prop('disabled', false);
                $('#jailDays').prop('disabled', false);
                $('#prisonYears').prop('disabled', false);
                $('#prisonDays').prop('disabled', false);
                $('#suspendedDays').prop('disabled', false);
                toggleDefferredYearsDays();
                $('#restitution').prop('disabled', false);
                $('#alternateSentence').prop('disabled', false).trigger("chosen:updated");
                $('#provisionCode').prop('disabled', false).trigger("chosen:updated");
          }
        }
    </script>
  </div>
	</body>
</html>

