<script type="text/javascript">
	  $(function() {	
	  
	      	      		    		    			  		    			
    	    $(".datePicker").datepicker({
    	       showOn: "both",
    	       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",
    	       buttonImageOnly: true
    	    });	
    	    
    		// note hacked beforeShow property is a function to return false (ignores clicks and prevents 
    		// displaying DatePicker - due to DatePicker limitation that doesn't honor readonly property.  DatePicker
    		// allows being disabled but that prevents the html field value from being sent to the server when the form 
    		// is serialized	    	   		    			
    	    $(".disabledDatePicker").datepicker({
    	       showOn: "both",
    	       buttonImage: "#springUrl('/static/images/Search Form/icon-calendar.png')",    	  
    	       buttonImageOnly: true,
    	       beforeShow: function(i) {  return false; } 
    	    });     	    
    	    	    	        	            	    		       			       				    	   
	  });	  
</script>

				
<div>
	<input id="stateIdInput" placeholder="SID Number" value="${subscriptionEditCommand.subscriptionEditRequest.stateId}" readonly/>
</div>

<div>	
	<!-- note since not linked with a spring pojo, this value will be appended to the url of the http request 
	 	when the subscription is saved -->
	<select id="personNameSelect">		
		<option value="" selected>Name</option>			
	</select> 
</div>


<table style="white-space:nowrap;">
	<tr>
		<td style="text-align:right;vertical-align:middle;">
			<label for="datepickerStart">Start Date:</label>
		</td>
		<td>
			#if(${isStartDateEditable})
				#springFormInput("subscriptionEditCommand.subscriptionEditRequest.subscriptionStartDate" "style='width:110px' class='datePicker' placeholder='From'")
			#else
				#springFormInput("subscriptionEditCommand.subscriptionEditRequest.subscriptionStartDate" "style='width:110px' class='disabledDatePicker' placeholder='From' readonly='readonly'")
			#end			
		</td>
	</tr>
	<tr>
		<td style="text-align:right;vertical-align:middle;">
			<label for="datepickerEnd">End Date:</label>
		</td>
		<td>
			#springFormInput("subscriptionEditCommand.subscriptionEditRequest.subscriptionEndDate" "style='width:110px' class='datePicker' placeholder='No End Date'")
		</td>
	</tr>
</table>


<div>
	<!-- fix object being mapped to from list to something else or use regular html instead of velocity spring macro -->
	#springFormInput("subscriptionEditCommand.subscriptionEditRequest.emailList[0]" "placeholder='Email Address 1'")
	#springBind("subscriptionEditCommand.subscriptionEditRequest.emailList[0]")
</div>

<div>
	#springFormInput("subscriptionEditCommand.subscriptionEditRequest.emailList[1]" "placeholder='Email Address 2'")
	#springBind("subscriptionEditCommand.subscriptionEditRequest.emailList[1]")
</div>

<div>
	#springFormInput("subscriptionEditCommand.subscriptionEditRequest.emailList[2]" "placeholder='Email Address 3'")
	#springBind("subscriptionEditCommand.subscriptionEditRequest.emailList[2]")
</div>
	       	    	        
