<!DOCTYPE html>
 <script type="text/javascript">
	  $(function() {	
	  	  		
			if(!${initializationSucceeded}){
				$("#editSubscriptionDialog").dialog('close');
				alert('Failed retrieving subscription for edit window');
				return;
			}	  	  		
	  	  		
	  	  	if( '${subscriptionEditCommand.subscriptionEditRequest.subscriptionType}'  == '{http://ojbc.org/wsn/topics}:person/arrest'){
	  	  		populateNamesDropDown();
	  	  	}	  	  		

    		$('#editSubModalSaveLink').click(
    			function(){
    			    			       			    						
					if('${subscriptionEditCommand.subscriptionEditRequest.subscriptionType}'  == '{http://ojbc.org/wsn/topics}:person/arrest'){						
					
						saveArrestSubscription();																						
					
					}else if('${subscriptionEditCommand.subscriptionEditRequest.subscriptionType}'  == '{http://ojbc.org/wsn/topics}:person/incident'){
							
						saveIncidentSubscription();				  						
					}else{
						alert('Subscription type must be specified');
					} 			  				  					
    			}
    		)
    		
    		
    		$('#editSubModalCancelLink').click(
    			function(){
    				$("#editSubscriptionDialog").dialog('close');
    			}
    		)
    		
	  });	
	
	
	  
	function saveIncidentSubscription(){
						  					  		
		var subType = '${subscriptionEditCommand.subscriptionEditRequest.subscriptionType}';						  					  		
		
		var firstName = document.getElementById('subscriptionEditRequest.firstName').value;	  		  	
	  	var lastName = document.getElementById('subscriptionEditRequest.lastName').value;
	  	
	  	// note we don't have a full name field, so just concatenate first & last with a space
	  	var fullName = firstName + ' ' + lastName;
						  					  					  				 									
		//TODO remove serialize()  b/c it's not doing anything (or get it working w/mvc)
		var formData = $('#subscriptionForm').serialize() + "&subscriptionEditRequest.subscriptionType=" + subType + "&subscriptionEditRequest.systemId=" + '${subscriptionEditCommand.subscriptionEditRequest.systemId}' + "&subscriptionEditRequest.fullName=" + fullName;    				
		    			    			    				
  		$.get("#springUrl('/subscriptions/updateSubscription')", 
  			formData,
  			function(data){	
  						  						  			
  				var errorString = '';			
  				
  				if(data != null && data != ''){
					$.each(JSON.parse(data), function( index, value ) {												
						errorString += '\n ' + value;																											
					});
					alert(errorString);				  							  				
  				}else{
					refreshAfterSaveSubscription();
				}
						  				  				
  			},
  			"text"
  		).fail(ojbc.displayFailMessage);		
	}
	  
	  
	function saveArrestSubscription(){
							   	    			    				    	
	    //TODO reference elements w/jquery instead of regular js				    				
		var personNameEl = document.getElementById('personNameSelect');
		var personNameVal = personNameEl.options[personNameEl.selectedIndex].value;
		
		var topicSelectEl = document.getElementById('topicSelect');
		var topicVal = topicSelectEl.options[topicSelectEl.selectedIndex].value;  
			  					  				
		var stateIdVal = document.getElementById('stateIdInput').value;	  		  				 							
		
		//TODO remove serialize()  b/c it's not doing anything (or get it working w/mvc)
		var formData = $('#subscriptionForm').serialize() + "&subscriptionEditRequest.fullName=" + personNameVal + "&subscriptionEditRequest.subscriptionType=" + topicVal + "&subscriptionEditRequest.stateId=" + stateIdVal + "&subscriptionEditRequest.systemId=" + '${subscriptionEditCommand.subscriptionEditRequest.systemId}';    				
		    				
  		$.get("#springUrl('/subscriptions/updateSubscription')", 
  			formData,
  			function(data){	
  						  						  			
  				var errorString = '';			
  				
  				if(data != null && data != ''){
					$.each(JSON.parse(data), function( index, value ) {												
						errorString += '\n ' + value;																											
					});
					alert(errorString);				  							  				
  				}else{
					refreshAfterSaveSubscription();
				}
						  				  				
  			},
  			"text"
  		).fail(ojbc.displayFailMessage);			
	}  
	 
	 
  	function populateNamesDropDown(){ 
  					
		var nameHtml = '<option value="">Name</option>';
			
		var jsonNamesData = '${subscriptionEditCommand.subscriptionEditRequest.personNamesJsonArray}';						
			  		
		//var indexToSelect = 0;	  		
			  					  							  					  							  				
		$.each(JSON.parse(jsonNamesData), function( index, value ) {
				
			var bSelectName = false;	
				
		    // TODO fullName should be renamed, it doesn't represent that but rather it's being used here 
		    // to know which name was selected		
			if(value == '${subscriptionEditCommand.subscriptionEditRequest.fullName}'){
				bSelectName = true;
				//indexToSelect = index;							
			}	

			/* 
				// TODO - investigate why these preferable options of setting the selection do not work:	
				// ? maybe jquery has to be up in the $function () at the top		
				//$('#personNameSelect').options[$('#personNameSelect').selectedIndex].value = '${subscriptionEditCommand.subscriptionEditRequest.fullName}';
				//$('#personNameSelect').selectedIndex = '"' + indexToSelect + '"';				
				//$('#personNameSelect').value = '${subscriptionEditCommand.subscriptionEditRequest.fullName}';					
				// Since they weren't working - multiple if statements were used to build the option differently		
			*/				
								
			if(value == '${originalName}'){						
				if(bSelectName == true){
					nameHtml += '<option value="' + value + '" selected>' + value + '</option>';
				}else{
					nameHtml += '<option value="' + value + '">' + value + '</option>';
				}							
			}else{
				// (A) for alternate name				
				if(bSelectName == true){
					nameHtml += '<option value="' + value + '" selected>' + value + ' (A) </option>';				
				}else{									
					nameHtml += '<option value="' + value + '">' + value + ' (A) </option>';				
				}
			}																																													
		});
										  								  						
		$('#personNameSelect').html(nameHtml);		

	}
	
		  
	  function refreshAfterSaveSubscription(){
	  
  		$("#editSubscriptionDialog").dialog('close');
  		
  		// redisplay subscription results having the new subscription 
		$.post("#springUrl('/subscriptions/subscriptionResults')", 
			function(data) {										
		      $('#portalContent').html(data);					      
			}
		).fail(ojbc.displayFailMessage);  
	  }
	  
</script>



<!-- TODO see why w/h style was ignored when in css file, had to put it in html -->
<div style="width:230px;height:400px;" id="subFormDiv">
	<form id="subscriptionForm">  	
							
		#if(${subscriptionEditCommand.subscriptionEditRequest.subscriptionType}  == '{http://ojbc.org/wsn/topics}:person/arrest')	
		
			<div>
				<select disabled id="topicSelect">
					<option selected="selected" value="{http://ojbc.org/wsn/topics}:person/arrest">Arrest</option>
				</select>
			</div> 		
								
			#parse("subscriptions/editSubscriptionDialog/_arrestForm.vm")	
											
		#elseif(${subscriptionEditCommand.subscriptionEditRequest.subscriptionType} == '{http://ojbc.org/wsn/topics}:person/incident')	
		
			<div>
				<select disabled id="topicSelect">
					<option selected="selected" value="{http://ojbc.org/wsn/topics}:person/incident">Incident</option>
				</select> 		
			</div>
						
			#parse("subscriptions/editSubscriptionDialog/_incidentForm.vm")				
		#end
					    	        
	</form>
</div>
  
<div style="vertical-align:bottom" id="subscriptionModalButtonBar" >         
 	<div id="subModalButtonDiv">
        <a  id="editSubModalCancelLink" class="grayButton" href="#">CANCEL</a>
        <a  id="editSubModalSaveLink" class="blueButton" href="#">SAVE</a>
    </div>            
</div>	  

