#*
 * Unless explicitly acquired and licensed from Licensor under another license, the contents of
 * this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
 * versions as allowed by the RPL, and You may not copy or use this file in either source code
 * or executable form, except in compliance with the terms and conditions of the RPL
 *
 * All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
 * WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
 * WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
 * governing rights and limitations under the RPL.
 *
 * http://opensource.org/licenses/RPL-1.5
 *
 * Copyright 2012-2015 Open Justice Broker Consortium
 *#
<!DOCTYPE html>
 <script type="text/javascript">
	  $(function() {	
	  	  		
			if(!${initializationSucceeded}){
			
				$("#editSubscriptionDialog").dialog('close');
				alert('Failed retrieving subscription for edit window');
				return;
			}	  	  		
	  	  		
	  	  	if( '${subscription.topic}'  === '{http://ojbc.org/wsn/topics}:person/arrest' ){
	  	  		populateNamesDropDown();
	  	  	}	  	  		

	  	  	if( '${subscription.topic}'  === '{http://ojbc.org/wsn/topics}:person/rapback'){
	  	  		$(".ui-dialog").width("700");
	  	  	}	  	  		

    		$('#editSubModalSaveLink').click(
    			function(){
    			    			    			       			    						
					if('${subscription.topic}'  === '{http://ojbc.org/wsn/topics}:person/arrest'){						
					
						saveArrestSubscription();																						
					
					}else if('${subscription.topic}'  === '{http://ojbc.org/wsn/topics}:person/rapback'){						
					
						saveRapbackSubscription();																						
					
					}else if('${subscription.topic}'  === '{http://ojbc.org/wsn/topics}:person/incident'){
												
						saveIncidentSubscription();	
						
					}else if('${subscription.topic}'  === '{http://ojbc.org/wsn/topics}:person/criminalHistoryCycleTrackingIdentifierAssignment'){
						
						saveChCycleSubscription();			
						  				
					}else{					
						alert('Subscription type must be specified');
					} 			  				  					
    			}
    		)
    		
    		
    		$('#editSubModalCancelLink').click(
    			function(){
    				$("#editSubscriptionDialog").dialog('close');
    			}
    		)
    		
	  });	
	
		  		  		  
	function saveChCycleSubscription(){
						  					  		
		var subType = '${subscription.topic}';						  					  		
		 			
		var firstName = $('#firstName').val();			  	
	  	
	  	var lastName = $('#lastName').val();
	  	
	  	// note we don't have a full name field, so just concatenate first & last with a space
	  	var fullName = firstName + ' ' + lastName;
						  					  					  				 									
		// serialize() generates get request string for springforminput html fields
		var formData = $('#subscriptionForm').serialize() + "&topic=" + subType + "&systemId=" + '${subscription.systemId}' + "&fullName=" + fullName;  
								    				    			    			    				
  		$.get("#springUrl('/subscriptions/updateSubscription')", 
  			formData,
  			function(data){	  						  						  			
				handleDisplayAfterSave(data);						  				  				
  			},
  			"text"
  		).fail(ojbc.displayFailMessage);		
	}
		  
		  
	function saveIncidentSubscription(){
						  					  		
		var subType = '${subscription.topic}';						  					  		
		 			
		var firstName = $('#firstName').val();			  	
	  	
	  	var lastName = $('#lastName').val();
	  	
	  	// note we don't have a full name field, so just concatenate first & last with a space
	  	var fullName = firstName + ' ' + lastName;
						  					  					  				 									
		// serialize() generates get request string for <springforminput> html fields
		var formData = $('#subscriptionForm').serialize() + "&topic=" + subType + "&systemId=" + '${subscription.systemId}' + "&fullName=" + fullName;  
								    				    			    			    				
  		$.get("#springUrl('/subscriptions/updateSubscription')", 
  			formData,
  			function(data){	
  				handleDisplayAfterSave(data);						  				  				
  			},
  			"text"
  		).fail(ojbc.displayFailMessage);		
	}
	  
	  
	function saveArrestSubscription(){
							   	    			    				    		
		var personNameVal = $('#personNameSelect').val();
		  		
		var topicVal = $('#topicSelect').val();
			  					  						
		var  stateIdVal = $('#stateIdInput').val(); 		  				 							
		
		// serialize() generates get request string for <springforminput> html fields 
		var formData = $('#subscriptionForm').serialize() + "&fullName=" + personNameVal + "&topic=" + topicVal + "&stateId=" + stateIdVal + "&systemId=" + '${subscription.systemId}';    				
		    								    					    				
  		$.get("#springUrl('/subscriptions/updateSubscription')", 
  			formData,
  			function(data){	  						  						  			
				handleDisplayAfterSave(data);						  				  				
  			},
  			"text"
  		).fail(ojbc.displayFailMessage);			
	}  
	 
	function saveRapbackSubscription(){
							   	    			    				    		
		var personNameVal = $('#personNameSelect').val();
		  		
		var topicVal = $('#topicSelect').val();
			  					  						
		var  stateIdVal = $('#stateIdInput').val(); 		  				 							
		
		// serialize() generates get request string for <springforminput> html fields 
		var formData = $('#subscriptionForm').serialize() + "&fullName=" + personNameVal + "&topic=" + topicVal + "&stateId=" + stateIdVal + "&systemId=" + '${subscription.systemId}';    				
		    								    					    				
  		$.get("#springUrl('/subscriptions/updateSubscription')", 
  			formData,
  			function(data){	  						  						  			
				handleDisplayAfterSave(data);						  				  				
  			},
  			"text"
  		).fail(ojbc.displayFailMessage);			
	}  
	 
	  function handleDisplayAfterSave(messagesJson){
	  
	  		var messagesJsFromSubscribeJson = ''; 
			var errorsArray = '';
			var warningsArray = '';
			var displayMessage = '';  					  		  	
				  		  	
			if(messagesJson != null && messagesJson != ''){  				  				
			  messagesJsFromSubscribeJson = JSON.parse(messagesJson);  					  					  					
			}				
			if(messagesJsFromSubscribeJson != null && messagesJsFromSubscribeJson != ''){
			  errorsArray = messagesJsFromSubscribeJson.errors;
			  warningsArray = messagesJsFromSubscribeJson.warnings;	
			}								
			if(errorsArray != null && errorsArray != ''){
				$.each(errorsArray, function( index, value ) {												
				  displayMessage += '\n ' + value;																											
				});
				
				alert(displayMessage);				                            
			}else{				
			  if(warningsArray != null && warningsArray != ''){
				    $.each(warningsArray, function( index, value ) {												
				    	displayMessage += '\n ' + value;																											
				  	});
				  	alert(displayMessage);
			   }				
			   refreshAfterSaveSubscription();
			}		  	  
	  }
	  
	  	 
  	function populateNamesDropDown(){ 
  					
		var nameHtml = '<option value="">Name</option>';
			
		var jsonNamesData = '${subscription.personNamesJsonArray}';						
			  		 					  					  							  					  							  			
		$.each(JSON.parse(jsonNamesData), function( index, value ) {
															
			if(value == '${originalName}'){						
				nameHtml += '<option value="' + value + '">' + value + '</option>';							
			}else{
				// (A) for alternate name											
				nameHtml += '<option value="' + value + '">' + value + ' (A) </option>';				
			}																																													
		});
										  								  						
		$('#personNameSelect').html(nameHtml);	
		
		//fullName represents user-selected name(possibly an alias)		
		$('#personNameSelect').val('${subscription.fullName}');			
	}
	
		  
	  function refreshAfterSaveSubscription(){
	  
		$("#editSubscriptionDialog").dialog('close');
		
		// redisplay subscription results having the new subscription 
		$.post("#springUrl('/subscriptions/subscriptionResults')", 
			function(data) {										
		      $('#portalContent').html(data);					      
			}
		).fail(ojbc.displayFailMessage);  
	  }
	  
</script>



<!-- TODO see why w/h style was ignored when in css file, had to put it in html -->
<div style="width:230px;height:460px;" id="subFormDiv">
	<form id="subscriptionForm">  	
							
		#if(${subscription.topic}  == '{http://ojbc.org/wsn/topics}:person/arrest')	
			<div>
				<select disabled id="topicSelect">
					<option selected="selected" value="{http://ojbc.org/wsn/topics}:person/arrest">Arrest</option>
				</select>
			</div> 		
								
			#parse("subscriptions/editSubscriptionDialog/_arrestForm.vm")	
											
		#elseif(${subscription.topic}  == '{http://ojbc.org/wsn/topics}:person/rapback')	
			<div>
				<select disabled id="topicSelect">
					<option selected="selected" value="{http://ojbc.org/wsn/topics}:person/rapback">Rapback</option>
				</select>
			</div> 		
								
			#parse("subscriptions/editSubscriptionDialog/_rapbackForm.vm")	
											
		#elseif(${subscription.topic} == '{http://ojbc.org/wsn/topics}:person/incident')	
		
			<div>
				<select disabled id="topicSelect">
					<option selected="selected" value="{http://ojbc.org/wsn/topics}:person/incident">Incident</option>
				</select> 		
			</div>
						
			#parse("subscriptions/editSubscriptionDialog/_incidentForm.vm")	
				
		#elseif(${subscription.topic} == '{http://ojbc.org/wsn/topics}:person/criminalHistoryCycleTrackingIdentifierAssignment')	
		
			<div>
				<select disabled id="topicSelect">
					<option selected="selected" value='{http://ojbc.org/wsn/topics}:person/criminalHistoryCycleTrackingIdentifierAssignment'>ATN Assignment</option>
				</select> 		
			</div>
						
			#parse("subscriptions/editSubscriptionDialog/_chCycleForm.vm")					
		#end
					    	        
	</form>
</div>
  
<div style="vertical-align:bottom" id="subscriptionModalButtonBar" >         
 	<div id="subModalButtonDiv">
        <a  id="editSubModalCancelLink" class="grayButton" href="#">CANCEL</a>
        <a  id="editSubModalSaveLink" class="blueButton" href="#">SAVE</a>
    </div>            
</div>	  
